Repository InsightSoftwareConsortium/ITK, pull requests merged in 2018-11, with the labels that each got.

#88 BUG: Remove apt-get install's from macOS Azure Pipeline's configuration
  Testing/ContinuousIntegration/AzurePipelinesMacOS.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
Labels: type:Infrastructure

#122 ENH: Use Release CMAKE_BUILD_TYPE for macOS Python CI builds
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
Labels: temp

#95 ENH: Stop abort on first failure.
  Modules/Filtering/ImageFilterBase/test/itkCastImageFilterTest.cxx
Labels: type:Style

#154 BUG: Default commit message fixed for =delete modernization
  Utilities/ITKv5Preparation/modernize-use-equals-delete.sh
Labels: area:Documentation, status:Confirmed

#158 COMP: Update vxl 200 regression
  Modules/ThirdParty/VNL/src/vxl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_math.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_math.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_sse.h
  Modules/ThirdParty/VNL/src/vxl/core/vxl_version.h
  Modules/ThirdParty/VNL/src/vxl/v3p/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/vcl/vcl_compiler.h.in
Labels: type:Bug, type:Compiler

#163 ENH: Provide consistency with C++11 core guidelines
  Modules/Core/Common/include/itkMacro.h
Labels: type:Style

#179 BUG: Missing default argment override
  Modules/IO/DCMTK/include/itkDCMTKFileReader.h
Labels: type:Bug

#216 DOC: Suggest using 72 characters or less in commit hooks
  Utilities/Hooks/prepare-commit-msg
Labels: area:Documentation

#227 COMP: added const qualifier for returning type DeformationFieldType * in itkMultiResolutionPDEDeformableRegistration.h
  Modules/Registration/PDEDeformable/include/itkMultiResolutionPDEDeformableRegistration.h
Labels: area:Registration, type:Compiler

#229 BUG: Ensure that itkSampleToHistogramFilterTests fail on errors
  Modules/Numerics/Statistics/test/itkSampleToHistogramFilterTest.cxx
  Modules/Numerics/Statistics/test/itkSampleToHistogramFilterTest2.cxx
  Modules/Numerics/Statistics/test/itkSampleToHistogramFilterTest3.cxx
  Modules/Numerics/Statistics/test/itkSampleToHistogramFilterTest6.cxx
  Modules/Numerics/Statistics/test/itkSampleToHistogramFilterTest7.cxx
Labels: area:Examples, area:Testing
