Repository InsightSoftwareConsortium/ITK, pull requests merged in 2019-08, with the labels that each got.

#1142 ENH: Deprecate Neuralnetwork module
  Modules/Remote/NeuralNetworks.remote.cmake
Labels: area:Documentation

#883 Itk obj mesh io m number of point pixels default
  Modules/IO/MeshOBJ/src/itkOBJMeshIO.cxx
  Modules/IO/MeshOBJ/test/Baseline/bunny.obj.sha512
  Modules/IO/MeshOBJ/test/CMakeLists.txt
Labels: area:IO

#1139 Revert "Merge pull request #1039 from samuelgerber/MultithreadPointSe…
  Modules/Numerics/Statistics/include/itkVectorContainerToListSampleAdaptor.h
  Modules/Registration/Metricsv4/include/itkEuclideanDistancePointSetToPointSetMetricv4.h
  Modules/Registration/Metricsv4/include/itkExpectationBasedPointSetToPointSetMetricv4.h
  Modules/Registration/Metricsv4/include/itkJensenHavrdaCharvatTsallisPointSetToPointSetMetricv4.h
  Modules/Registration/Metricsv4/include/itkPointSetToPointSetMetricv4.h
  Modules/Registration/Metricsv4/include/itkPointSetToPointSetMetricv4.hxx
Labels: type:Bug, type:Testing

#1143 STYLE: Remove deprecated support for ITK_WRAP_PYTHON_LEGACY
  Wrapping/Generators/Python/CMakeLists.txt
  Wrapping/Generators/Python/ModuleLoader.py.in
Labels: area:Python wrapping

#1156 DOC: Fix spelling typo VeriyInput -> VerifyInput
  Modules/Filtering/ImageCompose/include/itkJoinSeriesImageFilter.h
  Modules/Filtering/ImageGrid/include/itkChangeInformationImageFilter.h
  Modules/Filtering/ImageGrid/include/itkInterpolateImagePointsFilter.h
  Modules/Filtering/ImageGrid/include/itkPasteImageFilter.h
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.h
  Modules/Filtering/ImageGrid/include/itkTileImageFilter.h
  Modules/Filtering/ImageGrid/include/itkWarpImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkHistogramMatchingImageFilter.h
  Modules/Registration/PDEDeformable/include/itkDemonsRegistrationFilter.h
  Modules/Registration/PDEDeformable/include/itkMultiResolutionPDEDeformableRegistration.h
Labels: area:Documentation

#1155 ENH: added missing symbols to JPEG mangling header
  Modules/ThirdParty/JPEG/src/itkjpeg/itk_jpeg_mangle.h
Labels: area:ThirdParty

#1159 DOC: Minor release documentation updates
  Documentation/Maintenance/Release.md
Labels: area:Documentation

#1158 ENH: Support numpy.asarray for itk.Image
  Modules/Core/Common/wrapping/test/CMakeLists.txt
  Modules/Core/Common/wrapping/test/itkImageTest.py
  Wrapping/Generators/Python/CMakeLists.txt
  Wrapping/Generators/Python/PyBase/pyBase.i
Labels: area:Python wrapping

#1170 ENH: Allow histogram matching with reference histogram
  Modules/Filtering/ImageIntensity/include/itkHistogramMatchingImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkHistogramMatchingImageFilter.hxx
  Modules/Filtering/ImageIntensity/test/itkHistogramMatchingImageFilterTest.cxx
Labels: type:Enhancement

#1067 BUG: Remove Windows Python 2.7 hypot workaround
  Modules/Bridge/NumPy/include/itkPyBuffer.h
  Modules/Bridge/NumPy/include/itkPyVnl.h
  Modules/Bridge/NumPy/wrapping/PyBuffer.i.in
  Modules/Bridge/NumPy/wrapping/PyVnlVectorBuffer.i.in
  Wrapping/Generators/Python/CMakeLists.txt
  Wrapping/Generators/Python/PatchedPython27pyconfig.h
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/PyUtils/itkPyCommand.h
  Wrapping/Generators/Python/PyUtils/itkPyImageFilter.h
  Wrapping/Generators/Python/main_module_ext.i.in
  Wrapping/Generators/Python/module_ext.i.in
Labels: area:Python wrapping

#1189 COMP: Remove One Definition Rule conflict
  Modules/Numerics/Statistics/test/itkWeightedCovarianceSampleFilterTest.cxx
  Modules/Numerics/Statistics/test/itkWeightedCovarianceSampleFilterTest2.cxx
Labels: type:Testing
