Repository InsightSoftwareConsortium/ITK, pull requests merged in 2019-04, with the labels that each got.

#666 ENH: Bump remote modules.
  Modules/Remote/AnisotropicDiffusionLBR.remote.cmake
  Modules/Remote/BioCell.remote.cmake
  Modules/Remote/BoneMorphometry.remote.cmake
  Modules/Remote/FixedPointInverseDisplacementField.remote.cmake
  Modules/Remote/GenericLabelInterpolator.remote.cmake
  Modules/Remote/HigherOrderAccurateGradient.remote.cmake
  Modules/Remote/IOMeshSTL.remote.cmake
  Modules/Remote/IOOpenSlide.remote.cmake
  Modules/Remote/IOTransformDCMTK.remote.cmake
  Modules/Remote/IsotropicWavelets.remote.cmake
  Modules/Remote/LesionSizingToolkit.remote.cmake
  Modules/Remote/MinimalPathExtraction.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/NeuralNetworks.remote.cmake
  Modules/Remote/ParabolicMorphology.remote.cmake
  Modules/Remote/PerformanceBenchmarking.remote.cmake
  Modules/Remote/PrincipalComponentsAnalysis.remote.cmake
  Modules/Remote/RLEImage.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/SubdivisionQuadEdgeMeshFilter.remote.cmake
  Modules/Remote/TextureFeatures.remote.cmake
  Modules/Remote/Thickness3D.remote.cmake
  Modules/Remote/TwoProjectionRegistration.remote.cmake
  Modules/Remote/VariationalRegistration.remote.cmake
  Modules/Remote/WikiExamples.remote.cmake
Labels: area:Remotes, type:Enhancement

#187 Remove hash map
  Documentation/ITK5MigrationGuide.md
  Modules/Core/Common/include/itkEquivalencyTable.h
  Modules/Core/Common/test/itkHashTableTest.cxx
  Modules/Core/Mesh/include/itkAutomaticTopologyMeshSource.h
  Modules/Filtering/ImageStatistics/include/itkAdaptiveEqualizationHistogram.h
  Modules/Filtering/ImageStatistics/include/itkLabelOverlapMeasuresImageFilter.h
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkLaplacianDeformationQuadEdgeMeshFilter.h
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkLaplacianDeformationQuadEdgeMeshFilterWithSoftConstraints.h
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkLaplacianDeformationQuadEdgeMeshFilterWithSoftConstraints.hxx
  Modules/Nonunit/Review/include/itkLabelGeometryImageFilter.h
  Modules/Numerics/Statistics/include/itkKdTreeBasedKmeansEstimator.h
  Modules/Numerics/Statistics/include/itkKdTreeBasedKmeansEstimator.hxx
  Modules/Numerics/Statistics/include/itkMembershipSample.h
  Modules/Segmentation/ConnectedComponents/include/itkRelabelComponentImageFilter.hxx
  Modules/Segmentation/ConnectedComponents/test/itkRelabelComponentImageFilterTest.cxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationTermBase.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationTermContainer.h
  Modules/Segmentation/Watersheds/include/itkOneWayEquivalencyTable.h
  Modules/Segmentation/Watersheds/include/itkWatershedBoundary.h
  Modules/Segmentation/Watersheds/include/itkWatershedSegmentTable.h
  Modules/Segmentation/Watersheds/include/itkWatershedSegmentTreeGenerator.h
  Modules/Segmentation/Watersheds/include/itkWatershedSegmenter.h
  Modules/Segmentation/Watersheds/test/Baseline/itkIsolatedWatershedImageFilterTest.png.md5
  Modules/Segmentation/Watersheds/test/Baseline/itkIsolatedWatershedImageFilterTest.png.sha512
Labels: area:Segmentation, type:Compiler

#750 COMP: Fix Software Guide line length too long warnings
  Examples/SpatialObjects/SceneSpatialObject.cxx
  Examples/SpatialObjects/SpatialObjectTransforms.cxx
Labels: area:Documentation, area:Examples, type:Style
