Repository InsightSoftwareConsortium/ITK, pull requests merged in 2019-02, with the labels that each got.

#397 Hdf5 update
  Modules/ThirdParty/HDF5/UpdateFromUpstream.sh
  Modules/ThirdParty/HDF5/src/itkhdf5/CMakeInstallation.cmake
  Modules/ThirdParty/HDF5/src/itkhdf5/CMakeLists.txt
  Modules/ThirdParty/HDF5/src/itkhdf5/README.txt
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/Makefile.am
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/Makefile.in
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/cpp_doc_config
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/h5c++.in
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake/HDF518_Examples.cmake.in
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake/HDF5UseFortran.cmake
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake/HDF5_Examples.cmake.in
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake/HDFCompilerFlags.cmake
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake/libh5cc.in
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake/scripts/CTestScript.cmake
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake/scripts/HDF5config.cmake
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake/scripts/HDF5options.cmake
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake_ext_mod/ConfigureChecks.cmake
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake_ext_mod/HDFLibMacros.cmake
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake_ext_mod/HDFMacros.cmake
  Modules/ThirdParty/HDF5/src/itkhdf5/hl/c++/src/Makefile.am
  Modules/ThirdParty/HDF5/src/itkhdf5/hl/c++/src/Makefile.in
  Modules/ThirdParty/HDF5/src/itkhdf5/hl/src/H5DS.c
  Modules/ThirdParty/HDF5/src/itkhdf5/hl/src/Makefile.am
  Modules/ThirdParty/HDF5/src/itkhdf5/hl/src/Makefile.in
  Modules/ThirdParty/HDF5/src/itkhdf5/src/CMakeLists.txt
  Modules/ThirdParty/HDF5/src/itkhdf5/src/H5Dmpio.c
  Modules/ThirdParty/HDF5/src/itkhdf5/src/H5MF.c
  Modules/ThirdParty/HDF5/src/itkhdf5/src/H5detect.c
  Modules/ThirdParty/HDF5/src/itkhdf5/src/H5make_libsettings.c
  Modules/ThirdParty/HDF5/src/itkhdf5/src/H5public.h
  Modules/ThirdParty/HDF5/src/itkhdf5/src/Makefile.am
  Modules/ThirdParty/HDF5/src/itkhdf5/src/Makefile.in
  Modules/ThirdParty/HDF5/src/itkhdf5/src/hdf5-lin.lnt
  Modules/ThirdParty/HDF5/src/itkhdf5/src/hdf5-win.lnt
  Modules/ThirdParty/HDF5/src/itkhdf5/src/hdf5.lnt
  Modules/ThirdParty/HDF5/src/itkhdf5/src/itk_hdf5_mangle.h
Labels: type:Infrastructure

#501 ENH: Conform to GitHub PR and issue template guidelines.
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Labels: type:Infrastructure

#498 ENH: Add test result analysis to Azure Pipelines web interface
  Testing/ContinuousIntegration/AzurePipelinesLinux.yml
  Testing/ContinuousIntegration/AzurePipelinesLinuxPython.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOS.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
  Testing/ContinuousIntegration/AzurePipelinesWindows.yml
  Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml
Labels: type:Infrastructure

#516 ENH: Wrap TriangleMeshToBinaryImageFilter
  Modules/Core/Mesh/include/itkTriangleMeshToBinaryImageFilter.hxx
  Modules/Core/Mesh/test/CMakeLists.txt
  Modules/Core/Mesh/wrapping/itkMeshSource.wrap
  Modules/Core/Mesh/wrapping/itkTriangleMeshToBinaryImageFilter.wrap
Labels: area:Python wrapping

#525 STYLE: Transition GitHub community template filenames to lowercase.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: type:Style

#535 DOC: Change GitHub community template guidelines to HTML comment markup.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: type:Infrastructure

#536 ENH: Add new GitHub community issue templates.
  .github/ISSUE_TEMPLATE/coding_style_inconsistency_report.md
  .github/ISSUE_TEMPLATE/compiler_support_report.md
  .github/ISSUE_TEMPLATE/coverage_impact_report.md
  .github/ISSUE_TEMPLATE/data_addition_request.md
  .github/ISSUE_TEMPLATE/design_impact_report.md
  .github/ISSUE_TEMPLATE/documentation_impact_report.md
  .github/ISSUE_TEMPLATE/infrastructure_impact_report.md
  .github/ISSUE_TEMPLATE/performance_impact_report.md
  .github/ISSUE_TEMPLATE/regression_bug_report.md
Labels: type:Infrastructure

#556 STYLE: Improve coverage issue template name wording.
  .github/ISSUE_TEMPLATE/coverage_impact_report.md
Labels: type:Infrastructure, type:Style
