Repository InsightSoftwareConsortium/ITK, pull requests merged in 2019-10, with the labels that each got.

#1284 DOC: Update Examples/README.md
  Examples/GUI/CMakeLists.txt
  Examples/README.md
  Examples/Wrapping/CMakeLists.txt
Labels: area:Documentation

#1251 BUG: Support Numpy inputs in keywords that include "image"
  Modules/Filtering/ImageIntensity/wrapping/test/itkImageFilterNumPyInputsTest.py
  Wrapping/Generators/Python/itkHelpers.py
  Wrapping/Generators/Python/itkTemplate.py
Labels: area:Python wrapping

#1283 BUG: Remove WrapITK external project initialization
  Wrapping/Generators/Python/itkBase.py
Labels: area:Python wrapping

#1282 N4minor optimization
  Modules/Filtering/BiasCorrection/include/itkN4BiasFieldCorrectionImageFilter.h
  Modules/Filtering/BiasCorrection/include/itkN4BiasFieldCorrectionImageFilter.hxx
  Modules/Filtering/BiasCorrection/test/itkN4BiasFieldCorrectionImageFilterTest.cxx
Labels: type:Performance

#1274 itk.meshread, itk.meshwrite
  Modules/Core/Mesh/wrapping/test/CMakeLists.txt
  Wrapping/Generators/Python/Tests/CMakeLists.txt
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itkExtras.py
  Wrapping/Generators/Python/itkTemplate.py
Labels: area:Python wrapping

#1252 ENH: Add itk.__version__
  Wrapping/Generators/Python/CMakeLists.txt
  Wrapping/Generators/Python/itk/__init__.py.in
Labels: area:Python wrapping

#1360 BUG: Warning macros for ITK_LEGACY_SILENT are wrong
  Modules/Core/Common/include/itkMacro.h
Labels: type:Bug
