Repository InsightSoftwareConsortium/ITK, pull requests merged in 2019-05, with the labels that each got.

#821 BUG: itkConfigure.h defines ITK_DEFAULT_MAX_THREADS
  Modules/Core/Common/include/itkThreadSupport.h
Labels: type:Bug

#826 COMP: Intel required static variable
  Modules/Core/Common/src/itkTBBMultiThreader.cxx
Labels: type:Compiler

#781 ENH: Add a script to apply another script to all remotes
  Utilities/Maintenance/ApplyScriptToRemotes.sh
Labels: area:Remotes, type:Enhancement, type:Infrastructure

#859 DOC: Modify the CoC breach reporting procedure
  Documentation/CodeOfConduct/Enforcement.md
  Documentation/CodeOfConduct/Reporting.md
Labels: area:Documentation

#971 ENH: Update SphinxExamples to lastest master branch
  Modules/Remote/SphinxExamples.remote.cmake
Labels: area:Documentation, area:Examples
