Repository InsightSoftwareConsortium/ITK, pull requests merged in 2020-03, with the labels that each got.

#1262 COMP: remove Eigen3 shadow warnings with GCC 4.8.5
  Modules/ThirdParty/Eigen3/src/itkeigen/Eigen/src/Geometry/AlignedBox.h
  Modules/ThirdParty/Eigen3/src/itkeigen/Eigen/src/Geometry/AngleAxis.h
  Modules/ThirdParty/Eigen3/src/itkeigen/Eigen/src/Geometry/ParametrizedLine.h
  Modules/ThirdParty/Eigen3/src/itkeigen/Eigen/src/Geometry/Quaternion.h
  Modules/ThirdParty/Eigen3/src/itkeigen/Eigen/src/Geometry/Transform.h
  Modules/ThirdParty/Eigen3/src/itkeigen/Eigen/src/Geometry/Translation.h
Labels: area:ThirdParty, type:Compiler

#1682 ENH: Wrap ExhaustiveOptimizerv4
  Modules/Numerics/Optimizersv4/wrapping/itkExhaustiveOptimizerv4.wrap
Labels: area:Python wrapping

#1702 COMP: Conditional python3 package finding
  CMake/ITKModuleExternal.cmake
  CMake/ITKSetPython3Vars.cmake
  CMakeLists.txt
Labels: area:Remotes

#1709 DOC: Fix typos in progress reporter classes
  Modules/Core/Common/include/itkProgressReporter.h
  Modules/Core/Common/include/itkTotalProgressReporter.h
Labels: area:Documentation

#1719 BUG: Fix threshold variable type/value in histogram threshold calc classes
  Modules/Filtering/Thresholding/include/itkMaximumEntropyThresholdCalculator.hxx
  Modules/Filtering/Thresholding/include/itkMomentsThresholdCalculator.hxx
  Modules/Filtering/Thresholding/include/itkShanbhagThresholdCalculator.hxx
  Modules/Filtering/Thresholding/include/itkYenThresholdCalculator.hxx
Labels: area:Filtering, type:Bug

#1733 ENH: Change ivar name in `itk::IntermodesThresholdImageFilter`
  Modules/Filtering/Thresholding/include/itkIntermodesThresholdImageFilter.h
Labels: area:Filtering, type:Enhancement

#1732 ENH: Avoid duplicated code in `itk::HistogramThresholdImageFilter`
  Modules/Filtering/Thresholding/include/itkHistogramThresholdImageFilter.h
  Modules/Filtering/Thresholding/include/itkHistogramThresholdImageFilter.hxx
Labels: area:Filtering, type:Enhancement

#1734 ENH: Make the histogram generator set up method private
  Modules/Filtering/Thresholding/include/itkHistogramThresholdImageFilter.h
Labels: area:Filtering, type:Enhancement

#511 ENH: Improve Thresholding module filters' coverage.
  Modules/Filtering/Thresholding/test/Baseline/itkHuangThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkIntermodesThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkIntermodesThresholdImageFilterTestNoInterMode.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkIsoDataThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkKappaSigmaThresholdImageFilterTest01.png.md5
  Modules/Filtering/Thresholding/test/Baseline/itkKappaSigmaThresholdImageFilterTest01.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkKappaSigmaThresholdImageFilterTest02.png.md5
  Modules/Filtering/Thresholding/test/Baseline/itkKappaSigmaThresholdImageFilterTest02.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkKittlerIllingworthThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkLiThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkMaximumEntropyThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkMomentsThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkOtsuMultipleThresholdsImageFilterTest2.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkOtsuThresholdImageFilterTest.png.md5
  Modules/Filtering/Thresholding/test/Baseline/itkOtsuThresholdImageFilterTest.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkOtsuThresholdImageFilterTestFlipInsideOut.png.md5
  Modules/Filtering/Thresholding/test/Baseline/itkOtsuThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkOtsuThresholdImageFilterTestShort.png.md5
  Modules/Filtering/Thresholding/test/Baseline/itkOtsuThresholdImageFilterTestShort.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkRenyiEntropyThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkShanbhagThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkTriangleThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/Baseline/itkYenThresholdImageFilterTestNoAutoMinMax.png.sha512
  Modules/Filtering/Thresholding/test/CMakeLists.txt
  Modules/Filtering/Thresholding/test/itkBinaryThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkBinaryThresholdImageFilterTest2.cxx
  Modules/Filtering/Thresholding/test/itkBinaryThresholdProjectionImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkBinaryThresholdSpatialFunctionTest.cxx
  Modules/Filtering/Thresholding/test/itkHuangMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkHuangThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkIntermodesMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkIntermodesThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkIsoDataMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkIsoDataThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkKappaSigmaThresholdImageCalculatorTest.cxx
  Modules/Filtering/Thresholding/test/itkKappaSigmaThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkKittlerIllingworthMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkKittlerIllingworthThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkLiMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkLiThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkMaximumEntropyMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkMaximumEntropyThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkMomentsMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkMomentsThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkOtsuMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkOtsuMultipleThresholdsCalculatorTest.cxx
  Modules/Filtering/Thresholding/test/itkOtsuMultipleThresholdsImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkOtsuThresholdCalculatorTest.cxx
  Modules/Filtering/Thresholding/test/itkOtsuThresholdCalculatorVersusOtsuMultipleThresholdsCalculatorTest.cxx
  Modules/Filtering/Thresholding/test/itkOtsuThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkRenyiEntropyMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkRenyiEntropyThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkShanbhagMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkShanbhagThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkThresholdLabelerImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkTriangleMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkTriangleThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkYenMaskedThresholdImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkYenThresholdImageFilterTest.cxx
Labels: type:Coverage
