Repository InsightSoftwareConsortium/ITK, pull requests merged in 2020-05, with the labels that each got.

#1793 ENH: Add test to monitor metric result value
  Modules/Registration/Metricsv4/test/itkMattesMutualInformationImageToImageMetricv4Test.cxx
Labels: type:Testing

#1820 COMP: Fix warning in PointSetToPointSetMetricv4
  Modules/Registration/Metricsv4/include/itkPointSetToPointSetMetricv4.hxx
Labels: action:ApplyClangFormat

#1792 DOC: Add NumFOCUS-related contents to README
  .github/FUNDING.yml
  GOVERNANCE.md
  README.md
Labels: area:Documentation
