Repository InsightSoftwareConsortium/ITK, pull requests merged in 2020-08, with the labels that each got.

#1946 ENH: Update `Montage` remote module
  Modules/Remote/Montage.remote.cmake
Labels: area:Remotes, type:Enhancement

#1947 COMP: Fix SW Guide examples multi-line comment warnings
  Examples/Segmentation/GeodesicActiveContourImageFilter.cxx
  Examples/Segmentation/GeodesicActiveContourShapePriorLevelSetImageFilter.cxx
  Examples/Segmentation/IsolatedConnectedImageFilter.cxx
  Examples/Segmentation/VectorConfidenceConnected.cxx
Labels: area:Examples, type:Compiler

#1956 COMP: Fix ~FunctionCommand implicit override warning
  Modules/Core/Common/include/itkCommand.h
Labels: type:Compiler

#1968 COMP: fix error on IBM POWER9 ppcle64 arch
  Modules/IO/BMP/test/itkBMPImageIOTestExtension.cxx
Labels: type:Compiler
