Repository InsightSoftwareConsortium/ITK, pull requests merged in 2020-10, with the labels that each got.

#2019 ENH: Use strongly typed enums for the `Algorithm` type in math morphology
  Modules/Filtering/MathematicalMorphology/CMakeLists.txt
  Modules/Filtering/MathematicalMorphology/include/itkBlackTopHatImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkBlackTopHatImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleDilateImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleDilateImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleErodeImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleErodeImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleMorphologicalClosingImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleMorphologicalClosingImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleMorphologicalOpeningImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleMorphologicalOpeningImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkMathematicalMorphologyEnums.h
  Modules/Filtering/MathematicalMorphology/include/itkMorphologicalGradientImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkMorphologicalGradientImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkWhiteTopHatImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkWhiteTopHatImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/itk-module.cmake
  Modules/Filtering/MathematicalMorphology/src/CMakeLists.txt
  Modules/Filtering/MathematicalMorphology/src/itkMathematicalMorphologyEnums.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleDilateImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleErodeImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleMorphologicalClosingImageFilterTest2.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMapGrayscaleDilateImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMapGrayscaleErodeImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMapGrayscaleMorphologicalClosingImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMapGrayscaleMorphologicalOpeningImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMorphologicalGradientImageFilterTest2.cxx
  Modules/Filtering/MathematicalMorphology/test/itkTopHatImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/wrapping/itkMathematicalMorphologyEnums.wrap
Labels: area:Filtering, type:Enhancement

#2029 BUG: Fix math morphology strongly typed `enum` scope-resolution
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleMorphologicalOpeningImageFilterTest2.cxx
Labels: area:Filtering, type:Bug

#2030 ENH: Test streaming math morphology `enum class` types
  Modules/Filtering/MathematicalMorphology/test/CMakeLists.txt
  Modules/Filtering/MathematicalMorphology/test/itkMathematicalMorphologyEnumsTest.cxx
Labels: area:Filtering, type:Testing

#2035 COMP: Remove dynamic exception specifications in tests
  Modules/Numerics/Optimizersv4/test/itkAmoebaOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkConjugateGradientLineSearchOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkExhaustiveOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkGradientDescentLineSearchOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkGradientDescentOptimizerBasev4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkGradientDescentOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkGradientDescentOptimizerv4Test2.cxx
  Modules/Numerics/Optimizersv4/test/itkLBFGS2Optimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkLBFGSBOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkLBFGSOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkMultiGradientOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkMultiStartOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkObjectToObjectMetricBaseTest.cxx
  Modules/Numerics/Optimizersv4/test/itkObjectToObjectOptimizerBaseTest.cxx
  Modules/Numerics/Optimizersv4/test/itkOnePlusOneEvolutionaryOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkPowellOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkRegistrationParameterScalesEstimatorTest.cxx
  Modules/Numerics/Optimizersv4/test/itkRegistrationParameterScalesFromIndexShiftTest.cxx
  Modules/Numerics/Optimizersv4/test/itkRegistrationParameterScalesFromJacobianTest.cxx
  Modules/Numerics/Optimizersv4/test/itkRegistrationParameterScalesFromPhysicalShiftTest.cxx
  Modules/Numerics/Optimizersv4/test/itkRegularStepGradientDescentOptimizerv4Test.cxx
  Modules/Video/Core/test/itkTemporalProcessObjectTest.cxx
Labels: std20

#2034 Update vnl
  Modules/ThirdParty/VNL/src/vxl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/config/cmake/config/VXLIntrospectionConfig.cmake
  Modules/ThirdParty/VNL/src/vxl/config/cmake/config/vxl_utils.cmake
  Modules/ThirdParty/VNL/src/vxl/core/vnl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_matrix_fixed_ref.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_matrix_fixed_ref.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_rational.h
Labels: std20

#2037 COMP: Avoid Dimension < 3 in FrustumSpatialFunction
  Modules/Core/Common/include/itkFrustumSpatialFunction.hxx
  Modules/Nonunit/IntegratedTest/test/itkCommonPrintTest.cxx
Labels: action:ApplyClangFormat

#2033 COMP: Fix warning -Wdeprecated-copy in itkQuadEdgeMeshBaseIterator
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshBaseIterator.h
Labels: action:ApplyClangFormat

#2031 COMP: Fix missing initialization braces warnings
  Modules/Filtering/ImageGrid/test/itkPasteImageFilterGTest.cxx
Labels: area:Filtering, type:Compiler
