Repository InsightSoftwareConsortium/ITK, pull requests merged in 2020-02, with the labels that each got.

#1615 Update GDCM
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmImageCodec.cxx
Labels: area:IO, area:ThirdParty

#1638 BUG: Wrap TriangleMeshToBinaryImageFilter for float types
  Modules/Core/Mesh/wrapping/itkTriangleMeshToBinaryImageFilter.wrap
Labels: area:Python wrapping

#1656 ENH: Provide rating scale for ITK Remote modules
  CMake/ITKModuleRemote.cmake
  Modules/Remote/AnalyzeObjectMapIO.remote.cmake
  Modules/Remote/CMakeLists.txt
  Modules/Remote/Deprecated/NeuralNetworks.remote.cmake
  Modules/Remote/README.md
  Modules/Remote/SphinxExamples.remote.cmake
Labels: type:Infrastructure
