Repository InsightSoftwareConsortium/ITK, pull requests merged in 2020-12, with the labels that each got.

#2150 ENH: Update kwiml code upstream
  Modules/ThirdParty/KWIML/src/itkkwiml/CMakeLists.txt
  Modules/ThirdParty/KWIML/src/itkkwiml/Copyright.txt
  Modules/ThirdParty/KWIML/src/itkkwiml/include/kwiml/abi.h
  Modules/ThirdParty/KWIML/src/itkkwiml/include/kwiml/int.h
  Modules/ThirdParty/KWIML/src/itkkwiml/src/version.h.in
  Modules/ThirdParty/KWIML/src/itkkwiml/test/CMakeLists.txt
  Modules/ThirdParty/KWIML/src/itkkwiml/test/test_int_format.h
Labels: area:ThirdParty

#2179 DOC: Fix verbatim block in `UpdatingThirdParty` doc file
  Documentation/Maintenance/UpdatingThirdParty.md
Labels: area:Documentation

#2176 COMP: Avoid compiler warnings with IPO
  Modules/Core/Common/include/itkHexahedronCell.h
  Modules/Core/Common/include/itkHexahedronCell.hxx
Labels: type:Compiler

#2178 STYLE: Make indentation in `itk::ContourSpatialObject.h` conform to ITK
  Modules/Core/SpatialObjects/include/itkContourSpatialObject.h
Labels: type:Style

#2193 ENH: Print all `itk::DCMTKSeriesFileNames` ivars in `PrintSelf`
  Modules/IO/DCMTK/src/itkDCMTKSeriesFileNames.cxx
Labels: area:IO, type:Enhancement

#2192 BUG: Fix `itk::DCMTKSeriesFileNames::GetOutputFileNames()` returned ivar
  Modules/IO/DCMTK/src/itkDCMTKSeriesFileNames.cxx
Labels: area:IO, type:Bug

#2197 ENH: Improve coverage for `itk::InverseDisplacementFieldImageFilter` class
  Modules/Filtering/DisplacementField/test/itkInverseDisplacementFieldImageFilterTest.cxx
Labels: area:Filtering, type:Enhancement

#2195 ENH: Improve coverage for `itk::RayCastInterpolateImageFunction` class
  Modules/Core/ImageFunction/test/itkRayCastInterpolateImageFunctionTest.cxx
Labels: area:Core, type:Enhancement

#2194 ENH: Improve coverage for `itk::DCMTKSeriesFileNames` class
  Modules/IO/DCMTK/test/itkDCMTKSeriesReadImageWrite.cxx
  Modules/IO/DCMTK/test/itkDCMTKSeriesStreamReadImageWrite.cxx
Labels: area:IO, type:Enhancement

#2198 ENH: Effectively test filename values causing exceptions
  Modules/IO/DCMTK/test/itkDCMTKSeriesReadImageWrite.cxx
Labels: area:IO, type:Enhancement

#2196 ENH: Improve coverage for `MathematicalMorphology` module classes.
  Modules/Filtering/MathematicalMorphology/test/itkClosingByReconstructionImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleConnectedClosingImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleConnectedOpeningImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkOpeningByReconstructionImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkOpeningByReconstructionImageFilterTest2.cxx
Labels: area:Filtering, type:Enhancement

#2200 DOC: Correct ITKExamples Python package testing command
  Documentation/Maintenance/Release.md
Labels: area:Documentation

#2207 STYLE: Improve `itk::ImageSeriesWriter` class test file style
  Modules/IO/ImageBase/test/itkImageSeriesWriterTest.cxx
Labels: area:IO, type:Style, type:Testing

#2208 COMP: Fix `itk::DCMTKSeriesFileNames` compilation issues
  Modules/IO/DCMTK/src/itkDCMTKSeriesFileNames.cxx
  Modules/IO/DCMTK/test/itkDCMTKSeriesReadImageWrite.cxx
  Modules/IO/DCMTK/test/itkDCMTKSeriesStreamReadImageWrite.cxx
Labels: area:IO, type:Compiler

#2206 ENH: Improve coverage for `itk::GDCMSeriesFileNames` class
  Modules/IO/GDCM/test/itkGDCMSeriesStreamReadImageWriteTest.cxx
Labels: area:IO, type:Coverage, type:Testing

#2209 ENH: Add test for `itk::MeshFileReader` class
  Modules/IO/MeshBase/test/CMakeLists.txt
  Modules/IO/MeshBase/test/itkMeshFileReaderTest.cxx
Labels: area:IO, type:Coverage, type:Testing
