Repository InsightSoftwareConsortium/ITK, pull requests merged in 2021-05, with the labels that each got.

#2519 COMP: Address braces around initializer warning.
  Modules/Filtering/LabelMap/test/itkStatisticsLabelMapFilterGTest.cxx
Labels: area:Filtering, type:Compiler, type:Testing

#2523 ENH: Add further regexes to PR labeler config file
  .github/labeler.yml
Labels: type:Enhancement

#2521 ENH: Propagate StatisticsLabelMapFilter's default NumberOfBins
  Modules/Filtering/LabelMap/include/itkBinaryImageToStatisticsLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkLabelImageToStatisticsLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkStatisticsLabelMapFilter.h
Labels: area:Filtering, type:Enhancement

#2524 BUG: Ellipsis is not iterable
  Wrapping/Generators/SwigInterface/igenerator.py
Labels: area:Python wrapping, type:Bug

#2522 BUG: Fix Python wrapping labeler action regex
  .github/labeler.yml
Labels: type:Bug, type:Infrastructure

#2526 COMP: Update KWStyle to fix compile warnings on Ubuntu 20.04
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Compiler, type:Infrastructure

#2527 COMP: Update KWStyle to fix compile warnings on Ubuntu 20.04
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Compiler

#2515 BUG: Fix initializing FixedImageMarginalPDF with garbage
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4GetValueAndDerivativeThreader.hxx
Labels: type:Bug

#2525 BUG: Fixes for median calculation
  Modules/Filtering/LabelMap/ITKKWStyleOverwrite.txt
  Modules/Filtering/LabelMap/include/itkBinaryImageToStatisticsLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkLabelImageToStatisticsLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkStatisticsLabelMapFilter.h
  Modules/Filtering/LabelMap/include/itkStatisticsLabelMapFilter.hxx
  Modules/Filtering/LabelMap/test/CMakeLists.txt
  Modules/Filtering/LabelMap/test/itkStatisticsLabelMapFilterGTest.cxx
Labels: type:Bug

#2532 DOC: Fix usage information in ImageReadExtractWrite example
  Examples/IO/ImageReadExtractWrite.cxx
Labels: area:Examples

#2530 Fix HDF5 installed find package
  Modules/ThirdParty/HDF5/CMakeLists.txt
  Modules/ThirdParty/HDF5/itk-module-init.cmake
Labels: area:ThirdParty, type:Infrastructure

#2538 ENH: Bump TubeTK to TubeTK 0.9.0 rc1
  Modules/Remote/TubeTK.remote.cmake
Labels: area:Remotes, type:Enhancement

#2535 STYLE: Improve style in miscellaneous files
  Modules/Core/Common/include/itkAnnulusOperator.h
  Modules/Core/SpatialObjects/include/itkMeshSpatialObject.h
  Modules/Filtering/DisplacementField/include/itkLandmarkDisplacementFieldSource.hxx
  Modules/Filtering/DistanceMap/include/itkContourDirectedMeanDistanceImageFilter.h
  Modules/Filtering/DistanceMap/include/itkContourDirectedMeanDistanceImageFilter.hxx
  Modules/Filtering/DistanceMap/include/itkDanielssonDistanceMapImageFilter.h
  Modules/Filtering/DistanceMap/include/itkDirectedHausdorffDistanceImageFilter.h
  Modules/Filtering/ImageGrid/include/itkPadImageFilterBase.h
  Modules/Filtering/ImageStatistics/include/itkImagePCAShapeModelEstimator.h
  Modules/Filtering/ImageStatistics/include/itkImagePCAShapeModelEstimator.hxx
  Modules/Filtering/ImageStatistics/include/itkImageShapeModelEstimatorBase.h
  Modules/Numerics/FEM/include/itkFEMObjectSpatialObject.h
  Modules/Registration/Common/include/itkCompareHistogramImageToImageMetric.h
  Modules/Registration/Common/include/itkCompareHistogramImageToImageMetric.hxx
  Modules/Segmentation/Classifiers/include/itkImageGaussianModelEstimator.h
  Modules/Segmentation/Classifiers/include/itkImageGaussianModelEstimator.hxx
  Modules/Segmentation/Classifiers/include/itkImageKmeansModelEstimator.h
  Modules/Segmentation/Classifiers/include/itkImageKmeansModelEstimator.hxx
  Modules/Segmentation/Classifiers/include/itkScalarImageKmeansImageFilter.hxx
Labels: area:Core, area:Filtering, area:Numerics, area:Registration, area:Segmentation, type:Style

#2491 STYLE: Combine code `MatrixOffsetTransformBase` constructors
  Modules/Core/Transform/include/itkMatrixOffsetTransformBase.h
  Modules/Core/Transform/include/itkMatrixOffsetTransformBase.hxx
  Modules/Core/Transform/test/itkMatrixOffsetTransformBaseGTest.cxx
Labels: area:Core, type:Style, type:Testing

#2537 DOC: Improve documentation in `Common` operator classes
  Modules/Core/Common/include/itkAnnulusOperator.h
  Modules/Core/Common/include/itkGaussianDerivativeOperator.h
  Modules/Core/Common/include/itkGaussianOperator.h
  Modules/Core/Common/include/itkImageKernelOperator.h
  Modules/Core/Common/include/itkLaplacianOperator.h
  Modules/Core/Common/include/itkNeighborhoodOperator.h
  Modules/Core/Common/include/itkSobelOperator.h
Labels: area:Core

#2534 STYLE: Make test style more consistent
  Modules/Filtering/ImageGradient/test/itkVectorGradientMagnitudeImageFilterTest1.cxx
  Modules/IO/MINC/test/itkMINCImageIOTest_2D.cxx
  Modules/IO/MINC/test/itkMINCImageIOTest_4D.cxx
  Modules/IO/MINC/test/itkMINCImageIOTest_Labels.cxx
  Modules/IO/MRC/test/itkMRCImageIOTest.cxx
  Modules/IO/MRC/test/itkMRCImageIOTest2.cxx
  Modules/IO/MeshFreeSurfer/test/itkMeshFileReadWriteTest.cxx
  Modules/IO/MeshGifti/test/itkMeshFileReadWriteTest.cxx
  Modules/IO/MeshOBJ/test/itkMeshFileReadWriteTest.cxx
  Modules/IO/MeshOFF/test/itkMeshFileReadWriteTest.cxx
  Modules/IO/MeshVTK/test/itkMeshFileReadWriteTest.cxx
  Modules/IO/Meta/test/itkMetaImageIOTest2.cxx
  Modules/IO/NRRD/test/itkNrrdImageReadWriteTest.cxx
  Modules/IO/RAW/test/itkRawImageIOTest3.cxx
  Modules/IO/RAW/test/itkRawImageIOTest4.cxx
  Modules/IO/RAW/test/itkRawImageIOTest5.cxx
  Modules/Nonunit/Review/test/itkVoxBoCUBImageIOTest.cxx
Labels: area:Filtering, area:IO, type:Style, type:Testing

#2533 DOC: Document members in header methods
  Modules/Filtering/DisplacementField/include/itkLandmarkDisplacementFieldSource.h
  Modules/Filtering/DisplacementField/include/itkLandmarkDisplacementFieldSource.hxx
  Modules/Filtering/DistanceMap/include/itkDanielssonDistanceMapImageFilter.h
  Modules/Filtering/DistanceMap/include/itkDanielssonDistanceMapImageFilter.hxx
  Modules/Filtering/ImageStatistics/include/itkImagePCAShapeModelEstimator.h
  Modules/Filtering/ImageStatistics/include/itkImagePCAShapeModelEstimator.hxx
  Modules/Filtering/ImageStatistics/include/itkImageShapeModelEstimatorBase.h
  Modules/Filtering/ImageStatistics/include/itkImageShapeModelEstimatorBase.hxx
  Modules/Filtering/LabelMap/include/itkBinaryNotImageFilter.h
  Modules/IO/MINC/include/itkMINCImageIO.h
  Modules/IO/MINC/src/itkMINCImageIO.cxx
  Modules/Numerics/FEM/include/itkFEMObjectSpatialObject.h
  Modules/Numerics/FEM/include/itkFEMObjectSpatialObject.hxx
  Modules/Numerics/Statistics/include/itkVectorContainerToListSampleAdaptor.h
  Modules/Numerics/Statistics/include/itkVectorContainerToListSampleAdaptor.hxx
  Modules/Registration/PDEDeformable/include/itkLevelSetMotionRegistrationFilter.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkSyNImageRegistrationMethod.h
  Modules/Registration/RegistrationMethodsv4/include/itkSyNImageRegistrationMethod.hxx
  Modules/Segmentation/Classifiers/include/itkImageGaussianModelEstimator.h
  Modules/Segmentation/Classifiers/include/itkImageGaussianModelEstimator.hxx
  Modules/Segmentation/Classifiers/include/itkImageKmeansModelEstimator.h
  Modules/Segmentation/Classifiers/include/itkImageKmeansModelEstimator.hxx
  Modules/Segmentation/ConnectedComponents/include/itkThresholdMaximumConnectedComponentsImageFilter.h
  Modules/Segmentation/ConnectedComponents/include/itkThresholdMaximumConnectedComponentsImageFilter.hxx
Labels: action:ApplyClangFormat, area:Filtering, area:IO, area:Numerics, area:Registration, area:Segmentation

#2545 ENH: Add missing getter method to `itk::GaussianDerivativeOperator` ivar
  Modules/Core/Common/include/itkGaussianDerivativeOperator.h
Labels: area:Core, type:Enhancement

#2544 ENH: Add RTTI information to `itk::GaussianDerivativeOperator`
  Modules/Core/Common/include/itkGaussianDerivativeOperator.h
Labels: area:Core, type:Enhancement

#2542 BUG: Call Specialized Curvature Computation for 3D
  Modules/Segmentation/LevelSets/include/itkLevelSetFunction.hxx
Labels: area:Segmentation, type:Bug

#2546 COMP: Use C99 int types over libtiff's
  Modules/IO/LSM/src/itkLSMImageIO.cxx
  Modules/IO/TIFF/src/itkTIFFImageIO.cxx
  Modules/IO/TIFF/src/itkTIFFReaderInternal.cxx
Labels: area:IO, type:Compiler

#2552 no global mp lock
  Wrapping/Generators/Python/itk/support/lazy.py
Labels: area:Core, area:Filtering, area:IO, area:Python wrapping, area:ThirdParty, type:Infrastructure, type:Testing

#2549 COMP: Change ::uint32_t to std::uint32_t, uint32 to uint32_t, etc.
  Modules/Core/Common/include/itkIntTypes.h
  Modules/Filtering/ImageNoise/include/itkAdditiveGaussianNoiseImageFilter.hxx
  Modules/IO/DCMTK/src/itkDCMTKImageIO.cxx
  Modules/IO/TIFF/src/itkTIFFImageIO.cxx
Labels: area:Core, area:Filtering, area:IO, type:Compiler

#2550 ENH: Increase pixel type alias consistency in common operators
  Modules/Core/Common/include/itkAnnulusOperator.h
  Modules/Core/Common/include/itkDerivativeOperator.h
  Modules/Core/Common/include/itkLaplacianOperator.h
Labels: area:Core, type:Enhancement

#2547 ENH: Add missing getter method to `itk::LaplacianOperator` ivar
  Modules/Core/Common/include/itkLaplacianOperator.h
Labels: area:Core, type:Enhancement

#2556 ENH: Add RTTI information to `Common` operator classes
  Modules/Core/Common/include/itkBackwardDifferenceOperator.h
  Modules/Core/Common/include/itkDerivativeOperator.h
  Modules/Core/Common/include/itkForwardDifferenceOperator.h
  Modules/Core/Common/include/itkLaplacianOperator.h
Labels: area:Core, type:Enhancement

#2543 DOC: Remove indication NarrowBandCurvesLevelSetImageFilter not wrapped
  Modules/Segmentation/LevelSets/wrapping/wrap_itkNarrowBandCurvesLevelSetImageFilter.cmake.notwrapped
Labels: area:Python wrapping, area:Segmentation

#2554 BUG: add support for long long pixel types in PyBuffer
  Modules/Bridge/NumPy/wrapping/PyBuffer.i.init
  Modules/Bridge/NumPy/wrapping/itkPyBuffer.wrap
Labels: area:Bridge, area:Python wrapping, type:Bug

#2562 BUG: Add run-time type information to FFT filter base classes
  Modules/Filtering/FFT/include/itkForwardFFTImageFilter.h
  Modules/Filtering/FFT/include/itkHalfHermitianToRealInverseFFTImageFilter.h
  Modules/Filtering/FFT/include/itkInverseFFTImageFilter.h
  Modules/Filtering/FFT/include/itkRealToHalfHermitianForwardFFTImageFilter.h
Labels: area:Filtering, type:Bug
