Repository InsightSoftwareConsortium/ITK, pull requests merged in 2021-12, with the labels that each got.

#2915 DOC: Fix typos and improve grammar
  Modules/Core/Common/include/itkImageBase.h
  Modules/Core/ImageAdaptors/include/itkImageAdaptor.h
  Modules/Core/Mesh/include/itkTriangleMeshToBinaryImageFilter.h
Labels: area:Core

#2900 ENH: add a new ContinuousIntegration build: LinuxLegacyRemoved
  Testing/ContinuousIntegration/AzurePipelinesLinux.yml
Labels: type:Enhancement, type:Testing

#2905 STYLE: Use keyword style for HeaderTest target_link_libraries
  CMake/ITKModuleHeaderTest.cmake
Labels: type:Infrastructure, type:Style

#2921 ENH: Update remote modules using a script
  Modules/Remote/BoneEnhancement.remote.cmake
  Modules/Remote/CudaCommon.remote.cmake
  Modules/Remote/Montage.remote.cmake
  Modules/Remote/PerformanceBenchmarking.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/Strain.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
Labels: type:Enhancement, area:Examples, area:Remotes

#2923 ENH: Avoid setting a negative spacing to test exception
  Modules/Registration/Metricsv4/test/itkImageToImageMetricv4Test.cxx
Labels: type:Enhancement, type:Testing, area:Registration

#2924 BUG: Remove declared but undefined method
  Modules/Registration/Common/include/itkGradientDifferenceImageToImageMetric.h
Labels: type:Bug, area:Registration

#2922 ENH: Add wrapping for `itk::GradientDifferenceImageToImageMetric`
  Modules/Registration/Common/wrapping/itkGradientDifferenceImageToImageMetric.wrap
Labels: type:Enhancement, area:Python wrapping, area:Registration

#2918 BUG: negative spacing is not supported, but check did not enforce that
  Modules/Core/Common/include/itkImageBase.hxx
Labels: type:Bug, area:Core

#2919 BUG: Wrong inverse matrix in MatrixOffsetTransformBase::ComputeInverseJacobianWithRespectToPosition
  Modules/Core/Transform/include/itkMatrixOffsetTransformBase.h
  Modules/Core/Transform/include/itkMatrixOffsetTransformBase.hxx
  Modules/Core/Transform/test/itkAffineTransformTest.cxx
Labels: type:Bug, type:Testing, area:Core

#2929 mesh default cell data
  Modules/Core/Mesh/include/itkMesh.hxx
  Modules/Core/Mesh/test/itkMeshCellDataTest.cxx
Labels: type:Testing, area:Core

#2920 ENH: Wrap PointSet To PointSet Metric and RegistrationMethod
  Modules/Registration/Common/wrapping/itkPointSetToPointSetMetric.wrap
  Modules/Registration/Common/wrapping/itkPointSetToPointSetRegistrationMethod.wrap
Labels: type:Enhancement, area:Python wrapping, area:Registration

#2911 ENH: Increase `itk::ImageBase` coverage
  Modules/Core/Common/test/itkImageBaseGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core, type:Coverage

#2937 ENH: Load and execute modules __init__ file
  Wrapping/Generators/Python/itk/__init__.py
Labels: type:Enhancement, area:Python wrapping

#2935 Update vxl
  Modules/ThirdParty/VNL/src/vxl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/algo/tests/test_determinant.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/algo/vnl_levenberg_marquardt.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/algo/vnl_svd.hxx
Labels: type:Infrastructure, area:ThirdParty

#2945 COMP: Fix `abs` method not being found
  Modules/Numerics/FEM/src/dsrc2c.c
  Modules/Numerics/FEM/src/itkFEMElement3DC0LinearHexahedron.cxx
Labels: type:Compiler, area:Numerics

#2944 STYLE: Use local include syntax to include ITK files
  Modules/Core/Common/include/itkSTLConstContainerAdaptor.h
  Modules/Core/GPUCommon/include/itkGPUContextManager.h
  Modules/Core/GPUCommon/include/itkGPUImageDataManager.h
  Modules/Core/GPUCommon/include/itkGPUKernelManager.h
  Modules/Core/GPUCommon/include/itkOpenCLUtil.h
  Modules/Core/SpatialObjects/include/itkCastSpatialObjectFilter.h
  Modules/Core/SpatialObjects/test/itkImageMaskSpatialObjectTest4.cxx
  Modules/Filtering/ImageFrequency/include/itkFrequencyBandImageFilter.h
  Modules/Filtering/ImageFrequency/include/itkFrequencyBandImageFilter.hxx
  Modules/Filtering/ImageFrequency/include/itkUnaryFrequencyDomainFilter.h
  Modules/Filtering/ImageFrequency/include/itkUnaryFrequencyDomainFilter.hxx
  Modules/Filtering/ImageFrequency/test/itkFrequencyFFTLayoutImageRegionIteratorWithIndexTest.cxx
  Modules/Filtering/ImageGrid/test/itkSliceImageFilterTest.cxx
  Modules/Filtering/ImageIntensity/test/itkEqualTest.cxx
  Modules/Filtering/LabelMap/include/itkLabelMapFilter.hxx
  Modules/Filtering/MathematicalMorphology/test/itkFlatStructuringElementTest2.cxx
  Modules/Filtering/Smoothing/test/itkRecursiveGaussianScaleSpaceTest1.cxx
  Modules/IO/BMP/test/itkBMPImageIOTestExtension.cxx
  Modules/IO/ImageBase/test/itkImageFileReaderPositiveSpacingTest.cxx
  Modules/IO/MINC/src/itkMINCImageIO.cxx
  Modules/IO/MeshBYU/src/itkBYUMeshIO.cxx
  Modules/IO/MeshBase/include/itkMeshFileReader.hxx
  Modules/IO/MeshBase/include/itkMeshFileTestHelper.h
  Modules/IO/MeshFreeSurfer/src/itkFreeSurferAsciiMeshIO.cxx
  Modules/IO/MeshFreeSurfer/src/itkFreeSurferBinaryMeshIO.cxx
  Modules/IO/MeshGifti/src/itkGiftiMeshIO.cxx
  Modules/IO/MeshOBJ/src/itkOBJMeshIO.cxx
  Modules/IO/MeshOFF/src/itkOFFMeshIO.cxx
  Modules/IO/MeshVTK/src/itkVTKPolyDataMeshIO.cxx
  Modules/IO/Meta/test/itkMetaTestLongFilename.cxx
  Modules/IO/Meta/test/testMetaImage.cxx
  Modules/IO/TransformHDF5/test/itkThinPlateTransformWriteReadTest.cxx
  Modules/Numerics/Optimizersv4/include/itkRegularStepGradientDescentOptimizerv4.h
  Modules/Numerics/Statistics/include/itkExpectationMaximizationMixtureModelEstimator.h
  Modules/Segmentation/DeformableMesh/include/itkDeformableSimplexMesh3DGradientConstraintForceFilter.h
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Segmentation, type:Style, area:Numerics

#2941 COMP: Remove implicit conversions
  Modules/Filtering/MathematicalMorphology/include/itkSharedMorphologyUtilities.hxx
Labels: type:Compiler, type:Infrastructure, area:Filtering

#2938 COMP: GetCell before SetCell to avoid memory leak
  Modules/Core/Mesh/test/itkTriangleMeshCurvatureCalculatorTest.cxx
Labels: type:Compiler, type:Testing, area:Core

#2940 STYLE: Use exit return codes consistently in tests
  Modules/Core/Common/test/itkOctreeTest.cxx
  Modules/Filtering/BinaryMathematicalMorphology/test/itkBinaryDilateImageFilterTest.cxx
  Modules/Filtering/BinaryMathematicalMorphology/test/itkBinaryErodeImageFilterTest.cxx
  Modules/Filtering/BinaryMathematicalMorphology/test/itkErodeObjectMorphologyImageFilterTest.cxx
  Modules/Filtering/Convolution/test/itkNormalizedCorrelationImageFilterTest.cxx
  Modules/Filtering/ImageCompare/test/itkSTAPLEImageFilterTest.cxx
  Modules/Filtering/ImageFeature/test/itkLaplacianRecursiveGaussianImageFilterTest.cxx
  Modules/Filtering/ImageFilterBase/test/itkMaskNeighborhoodOperatorImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkChangeInformationImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkOrientImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkPasteImageFilterTest.cxx
  Modules/Filtering/ImageIntensity/test/itkPromoteDimensionImageTest.cxx
  Modules/Filtering/ImageIntensity/test/itkShiftScaleImageFilterTest.cxx
  Modules/Filtering/ImageIntensity/test/itkVectorIndexSelectionCastImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleDilateImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleErodeImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleFunctionDilateImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleFunctionErodeImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMapGrayscaleDilateImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMapGrayscaleErodeImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMapGrayscaleMorphologicalClosingImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMapGrayscaleMorphologicalOpeningImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMapMaskedRankImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMapRankImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkMaskedRankImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkRankImageFilterTest.cxx
  Modules/Filtering/Smoothing/test/itkBoxMeanImageFilterTest.cxx
  Modules/Filtering/Smoothing/test/itkBoxSigmaImageFilterTest.cxx
  Modules/Filtering/Smoothing/test/itkRecursiveGaussianImageFiltersOnTensorsTest.cxx
  Modules/Filtering/Smoothing/test/itkRecursiveGaussianImageFiltersOnVectorImageTest.cxx
  Modules/IO/ImageBase/test/itkNoiseImageFilterTest.cxx
  Modules/Registration/PDEDeformable/test/itkMultiResolutionPDEDeformableRegistrationTest.cxx
  Modules/Segmentation/LevelSets/test/itkVectorThresholdSegmentationLevelSetImageFilterTest.cxx
  Modules/Segmentation/RegionGrowing/test/itkConfidenceConnectedImageFilterTest.cxx
  Modules/Segmentation/RegionGrowing/test/itkConnectedThresholdImageFilterTest.cxx
  Modules/Segmentation/RegionGrowing/test/itkIsolatedConnectedImageFilterTest.cxx
  Modules/Segmentation/RegionGrowing/test/itkNeighborhoodConnectedImageFilterTest.cxx
  Modules/Segmentation/RegionGrowing/test/itkVectorConfidenceConnectedImageFilterTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style

#2946 COMP: Allow use of older system vxl
  Modules/Core/Common/include/itkMath.h
Labels: type:Compiler, area:Core

#2951 STYLE: Allow use of clang-tidy as part of cmake compilation
  .clang-tidy
  CMake/ITKClangTidySetup.cmake
  CMakeLists.txt
Labels: type:Infrastructure, type:Style

#2955 BUG: Do not unconditionally assume SSE2 when building on i386
  Modules/Core/Common/src/itkConfigure.h.in
Labels: type:Bug, area:Core

#2933 BUG: fixed undefined behaviour with corrupted JPEG file
  Modules/IO/JPEG/include/itkJPEGImageIO.h
  Modules/IO/JPEG/src/itkJPEGImageIO.cxx
  Modules/IO/JPEG/test/CMakeLists.txt
  Modules/IO/JPEG/test/Input/corrupted_image.jpg.sha512
  Modules/IO/JPEG/test/itkJPEGImageIODegenerateCasesTest.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:IO, type:Data

#2953 ENH: Python Wrapping for Array PixelType in Mesh
  Modules/Core/Common/wrapping/itkDefaultStaticMeshTraits.wrap
  Modules/Core/Common/wrapping/itkPointSet.wrap
  Modules/Core/Common/wrapping/itkVectorContainer.wrap
  Modules/Core/Mesh/wrapping/itkMeshBase.wrap
Labels: type:Enhancement, area:Python wrapping, area:Core

#2952 STYLE: Do not use double underscore defines
  Examples/DataRepresentation/Mesh/MeshCellVisitor.cxx
  Examples/DataRepresentation/Mesh/MeshCellVisitor2.cxx
  Modules/Core/Common/include/VNLIterativeSparseSolverTraits.h
  Modules/Core/Common/include/VNLSparseLUSolverTraits.h
  Modules/Core/ImageFunction/test/makeRandomImageBsplineInterpolator.h
  Modules/Filtering/ImageGrid/include/itkOrientImageFilter.hxx
  Modules/IO/NIFTI/test/BigEndian_hdr.h
  Modules/IO/NIFTI/test/BigEndian_img.h
  Modules/IO/NIFTI/test/LittleEndian_hdr.h
  Modules/IO/NIFTI/test/LittleEndian_img.h
  Modules/Nonunit/IntegratedTest/test/itkShrinkImagePreserveObjectPhysicalLocations.cxx
  Modules/Video/BridgeVXL/include/vidl_itk_istream.hxx
  Wrapping/Generators/Explicit/Explicit.cxx.in
  Wrapping/Generators/SwigInterface/igenerator.py
Labels: area:Examples, area:Python wrapping, type:Testing, area:Core, area:Filtering, area:IO, area:Video, type:Style

#2962 Fix vxl debug test failure
  Modules/ThirdParty/VNL/src/vxl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/algo/vnl_levenberg_marquardt.cxx
Labels: type:Infrastructure, area:ThirdParty

#2965 COMP: Duplicate symbol name with #define
  Examples/DataRepresentation/Mesh/MeshCellVisitor.cxx
  Examples/DataRepresentation/Mesh/MeshCellVisitor2.cxx
Labels: type:Compiler, area:Examples

#2957 ENH: Adding Test for Array PixelType in Mesh Wrapping
  Modules/Core/Mesh/wrapping/test/CMakeLists.txt
  Modules/Core/Mesh/wrapping/test/itkMeshArrayPixelTypeTest.py
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Core

#2966 BUG: Conditional python 3.8 code optional
  Modules/Filtering/Smoothing/wrapping/test/MedianImageFilterTest.py
Labels: type:Bug, area:Python wrapping, type:Testing, area:Filtering

#2968 ENH: reduce code duplication by reusing code from ImageIOBase
  Modules/IO/Meta/src/itkMetaImageIO.cxx
Labels: type:Enhancement, area:IO

#2969 Reserved identifier
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/include/itkMultiThreaderBase.h
Labels: area:Core

#2970 COMP: Use itk.ULL in Windows Platform
  Modules/Core/Mesh/wrapping/test/itkMeshArrayPixelTypeTest.py
Labels: type:Compiler, area:Python wrapping, type:Testing, area:Core

#2973 ENH: GetMatrixFromArray to accept ArrayLike sequences
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Enhancement, area:Python wrapping, type:Testing

#2979 ENH: Adding Python wrapping for CellInterface VectorContainer
  Modules/Core/Mesh/wrapping/itkMeshBase.wrap
Labels: type:Enhancement, area:Python wrapping, area:Core

#2980 BUG: GDCM IO: reset internal variables
  Modules/IO/GDCM/src/itkGDCMImageIO.cxx
Labels: type:Bug, area:IO

#2977 COMP: seems all use of kwiml is no longer actually needed, removed it.
  Modules/IO/LSM/src/itkLSMImageIO.cxx
  Modules/ThirdParty/TIFF/src/itktiff/tif_config.h.in
Labels: type:Compiler, area:IO, area:ThirdParty

#2942 BUG: PNG IO fails on corrupt file
  Modules/IO/PNG/include/itkPNGImageIO.h
  Modules/IO/PNG/src/itkPNGImageIO.cxx
  Modules/IO/PNG/test/CMakeLists.txt
  Modules/IO/PNG/test/Input/corrupted.png.sha512
Labels: type:Bug, type:Infrastructure, area:IO, type:Data

#2975 BUG: updated JPEG IO
  Modules/IO/JPEG/src/itkJPEGImageIO.cxx
Labels: type:Bug, area:IO

#2983 ENH: Make Parameters empty, do not warn in Transform default-constructor
  Modules/Core/Transform/include/itkTransform.h
  Modules/Core/Transform/include/itkTransform.hxx
  Modules/Core/Transform/test/CMakeLists.txt
  Modules/Core/Transform/test/itkTransformGTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core

#2880 mesh read write
  Modules/IO/MeshBase/include/itkMeshFileReader.h
  Modules/IO/MeshBase/include/itkMeshFileWriter.h
  Modules/IO/MeshBase/test/CMakeLists.txt
  Modules/IO/MeshBase/test/itkMeshFileReaderWriterTest.cxx
Labels: type:Infrastructure, type:Testing, area:IO

#2981 ENH: JPEG IO test another damaged file
  Modules/IO/JPEG/test/CMakeLists.txt
  Modules/IO/JPEG/test/Input/corrupted2.jpg.sha512
  Modules/IO/JPEG/test/itkJPEGImageIOBrokenCasesTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:IO, type:Data

#2984 BUG: Runge-Kutta wrong TimeBounds implementation
  Modules/Filtering/DisplacementField/include/itkTimeVaryingVelocityFieldIntegrationImageFilter.h
  Modules/Filtering/DisplacementField/include/itkTimeVaryingVelocityFieldIntegrationImageFilter.hxx
  Modules/Filtering/DisplacementField/test/itkTimeVaryingVelocityFieldIntegrationImageFilterTest.cxx
Labels: type:Bug, type:Testing, area:Filtering

#2996 DOC: Fix `itk::BuildInformation` class documentation typo
  Modules/Core/Common/include/itkBuildInformation.h
Labels: area:Core

#2990 ENH: Add RTTI to `itk::InvertDisplacementFieldImageFilter`
  Modules/Filtering/DisplacementField/include/itkInvertDisplacementFieldImageFilter.h
  Modules/Filtering/DisplacementField/test/itkInvertDisplacementFieldImageFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Filtering

#2992 BUG: Fix class names in `itkTypeMacro`
  Modules/Segmentation/Watersheds/include/itkWatershedBoundary.h
  Modules/Segmentation/Watersheds/include/itkWatershedBoundaryResolver.h
  Modules/Segmentation/Watersheds/include/itkWatershedEquivalenceRelabeler.h
  Modules/Segmentation/Watersheds/include/itkWatershedRelabeler.h
  Modules/Segmentation/Watersheds/include/itkWatershedSegmentTable.h
  Modules/Segmentation/Watersheds/include/itkWatershedSegmentTree.h
  Modules/Segmentation/Watersheds/include/itkWatershedSegmentTreeGenerator.h
  Modules/Segmentation/Watersheds/include/itkWatershedSegmenter.h
Labels: type:Bug, area:Segmentation

#2993 COMP: Use and move ITK_DISALLOW_COPY_AND_MOVE calls to public section
  Modules/Segmentation/Watersheds/include/itkWatershedBoundary.h
  Modules/Segmentation/Watersheds/include/itkWatershedBoundaryResolver.h
  Modules/Segmentation/Watersheds/include/itkWatershedEquivalenceRelabeler.h
  Modules/Segmentation/Watersheds/include/itkWatershedSegmentTree.h
  Modules/Segmentation/Watersheds/include/itkWatershedSegmentTreeGenerator.h
Labels: type:Compiler, area:Segmentation

#2995 ENH: Add boolean macros to miscellaneous boolean ivars
  Modules/Filtering/DisplacementField/include/itkInvertDisplacementFieldImageFilter.h
  Modules/Filtering/DisplacementField/test/CMakeLists.txt
  Modules/Filtering/DisplacementField/test/itkInvertDisplacementFieldImageFilterTest.cxx
  Modules/Filtering/DistanceMap/include/itkContourMeanDistanceImageFilter.h
  Modules/Filtering/DistanceMap/test/CMakeLists.txt
  Modules/Filtering/DistanceMap/test/itkContourMeanDistanceImageFilterTest.cxx
  Modules/Filtering/ImageFeature/include/itkHessianRecursiveGaussianImageFilter.h
  Modules/Filtering/ImageFeature/test/CMakeLists.txt
  Modules/Filtering/ImageFeature/test/itkHessianRecursiveGaussianFilterTest.cxx
  Modules/Filtering/ImageGradient/include/itkGradientMagnitudeRecursiveGaussianImageFilter.h
  Modules/Filtering/ImageGradient/test/CMakeLists.txt
  Modules/Filtering/ImageGradient/test/itkGradientMagnitudeRecursiveGaussianFilterTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Filtering

#2989 ENH: Use `itkPrintSelfObjectMacro` to print objects that can be null
  Modules/Filtering/DisplacementField/include/itkTimeVaryingVelocityFieldIntegrationImageFilter.hxx
  Modules/Video/IO/include/itkVideoFileReader.hxx
Labels: type:Enhancement, area:Filtering, area:Video

#2988 JPEG IO: handle CMYK correctly
  Modules/IO/JPEG/include/itkJPEGImageIO.h
  Modules/IO/JPEG/src/itkJPEGImageIO.cxx
  Modules/IO/JPEG/test/CMakeLists.txt
  Modules/IO/JPEG/test/Input/cmyk.jpg.sha512
  Modules/IO/JPEG/test/itkJPEGImageIOCMYKTest.cxx
Labels: type:Infrastructure, type:Testing, area:IO, type:Data

#2985 STYLE: Use the `itkNameOfTestExecutableMacro` macro in tests
  Modules/Core/Common/test/itkCMakeConfigurationTest.cxx
  Modules/Core/ImageFunction/test/itkCentralDifferenceImageFunctionOnVectorSpeedTest.cxx
  Modules/Core/ImageFunction/test/itkCentralDifferenceImageFunctionSpeedTest.cxx
  Modules/Filtering/ImageFeature/test/itkMaskFeaturePointSelectionFilterTest.cxx
  Modules/Filtering/ImageFeature/test/itkUnsharpMaskImageFilterTest.cxx
  Modules/Filtering/ImageGradient/test/itkGradientRecursiveGaussianFilterSpeedTest.cxx
  Modules/Filtering/ImageGrid/test/itkMirrorPadImageFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkDiscreteGaussianCurvatureQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkDiscreteMaximumCurvatureQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkDiscreteMeanCurvatureQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkDiscreteMinimumCurvatureQuadEdgeMeshFilterTest.cxx
  Modules/IO/DCMTK/test/itkDCMTKMultiFrame4DTest.cxx
  Modules/IO/ImageBase/test/itkImageFileReaderDimensionsTest.cxx
  Modules/IO/MeshVTK/test/itkMeshFileWriteReadTensorTest.cxx
  Modules/IO/Meta/test/itkMetaImageIOMetaDataTest.cxx
  Modules/Registration/Common/test/itkBlockMatchingImageFilterTest.cxx
  Modules/Video/IO/test/itkFileListVideoIOFactoryTest.cxx
Labels: type:Infrastructure, type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Video, type:Style

#2986 STYLE: Use `Transform` default-constructor instead of `Transform(0)`
  Modules/Core/Transform/include/itkIdentityTransform.h
  Modules/Filtering/ImageGrid/test/itkResampleImageTest8.cxx
  Modules/IO/TransformMINC/include/itkMINCTransformAdapter.h
Labels: type:Testing, area:Core, area:Filtering, area:IO, type:Style

#2998 Use new cmake paradigms
  CMakeLists.txt
Labels: type:Infrastructure

#3001 ENH: Add boolean macros to `itk::SpatialObjectWriter` boolean ivars
  Modules/IO/SpatialObjects/include/itkSpatialObjectWriter.h
  Modules/IO/SpatialObjects/test/itkReadWriteSpatialObjectTest.cxx
Labels: type:Enhancement, type:Testing, area:IO

#3005 ENH: Remove TestDriver duplicate macro for Nonunit tests
  CMake/ITKModuleTest.cmake
  Modules/Core/TestKernel/include/itkTestDriverIncludeBuiltInIOFactories.h
  Modules/Nonunit/IntegratedTest/test/CMakeLists.txt
  Modules/Nonunit/Review/test/CMakeLists.txt
Labels: type:Infrastructure, type:Testing, area:Core

#3010 ENH: Query class name rather than subclass in test macro
  Modules/Core/TestKernel/include/itkTestingMacros.h
Labels: type:Enhancement, type:Testing, area:Core

#3012 STYLE: Remove remaining `void` from empty function parameter lists
  Modules/Core/Common/include/itkSingleton.h
  Modules/Core/Common/src/itkSingleton.cxx
  Modules/Core/Common/src/itkStreamingProcessObject.cxx
  Modules/Filtering/FFT/include/itkInverse1DFFTImageFilter.h
  Modules/Numerics/Optimizers/src/itkSPSAOptimizer.cxx
Labels: area:Core, area:Filtering, type:Style, area:Numerics

#3011 ENH: Ignore RuntimeErrors when import `from distributed.protocol`
  Modules/Bridge/NumPy/wrapping/PyBuffer.i.init
  Modules/Bridge/NumPy/wrapping/test/itkPyBufferTest.py
Labels: type:Enhancement, area:Python wrapping, type:Testing, area:Bridge

#2887 ENH: use the new CMake mechanism to specify MSVC's static or DLL CRT
  CMake/ITKConfig.cmake.in
  CMake/ITKModuleExternal.cmake
  CMake/UseITK.cmake
  CMakeLists.txt
  Modules/ThirdParty/DCMTK/CMakeLists.txt
  Modules/ThirdParty/Expat/src/expat/CMakeLists.txt
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/CMakeLists.txt
Labels: type:Infrastructure, type:Enhancement, area:ThirdParty

#3015 BUG: warning in TIFFImageIO with component bit depth reduction
  Modules/IO/TIFF/src/itkTIFFImageIO.cxx
Labels: type:Bug, area:IO
