Repository InsightSoftwareConsortium/ITK, pull requests merged in 2021-03, with the labels that each got.

#2346 BUG: memory leak in LSMImageIOTest
  Modules/IO/LSM/test/itkLSMImageIOTest.cxx
Labels: area:IO, type:Bug

#2345 BUG: Fix uninitialized variable use in `ANTS` neighborhood correlation metric
  Modules/Registration/Metricsv4/include/itkANTSNeighborhoodCorrelationImageToImageMetricv4GetValueAndDerivativeThreader.hxx
Labels: area:Registration, type:Bug

#2347 BUG: Initialize member variables
  Modules/Filtering/DistanceMap/include/itkDirectedHausdorffDistanceImageFilter.hxx
  Modules/Filtering/ImageStatistics/include/itkImagePCAShapeModelEstimator.h
  Modules/Nonunit/Review/include/itkMultiphaseSparseFiniteDifferenceImageFilter.h
Labels: area:Filtering, type:Bug

#2381 COMP: Fix deduced type initialization warning and operand mismatch error
  Modules/Filtering/Path/include/itkContourExtractor2DImageFilter.h
Labels: type:Compiler

#2386 COMP: Fix image pointer casting error
  Modules/Core/FiniteDifference/include/itkDenseFiniteDifferenceImageFilter.hxx
Labels: area:Filtering, type:Bug

#2377 STYLE: Move `DCMTK` test baselines to `IO` folder
  Modules/IO/DCMTK/test/Baseline/itkDCMTKColorImage.png.md5
  Modules/IO/DCMTK/test/Baseline/itkDCMTKColorImage.png.sha512
  Modules/IO/DCMTK/test/Baseline/itkDCMTKNonSquare.nii.gz.md5
  Modules/IO/DCMTK/test/Baseline/itkDCMTKNonSquare.nii.gz.sha512
  Modules/IO/DCMTK/test/Baseline/itkDCMTKSeriesImageOrientationWrite1.mha.md5
  Modules/IO/DCMTK/test/Baseline/itkDCMTKSeriesImageOrientationWrite1.mha.sha512
  Modules/IO/DCMTK/test/CMakeLists.txt
Labels: area:IO, type:Infrastructure, type:Testing

#2378 DOC: Remove duplicate `README` file from `Review` module test folder
  Modules/Nonunit/Review/test/README.txt
Labels: area:Documentation

#2393 COMP: Fix missing initializer warning
  Modules/Core/Common/include/itkImage.hxx
Labels: area:Core, type:Compiler

#2399 DOC: fix MutexLock-related broken links in the migration guide
  Documentation/ITK5MigrationGuide.md
Labels: area:Documentation

#2404 BUG: Checkout full depths for clang-format-linter
  .github/workflows/clang-format-linter.yml
Labels: type:Bug

#2420 COMP: Avoid creating a copy variable
  Modules/Core/Common/test/itkShapedImageNeighborhoodRangeGTest.cxx
Labels: area:Core, type:Compiler

#2431 COMP: Fix unreachable code warning
  Modules/Filtering/MathematicalMorphology/test/itkTopHatImageFilterTest.cxx
Labels: area:Filtering, type:Compiler

#2439 ENH: Label PRs on filenames
  .github/labeler.yml
Labels: type:Infrastructure

#2438 ENH: Trigger PR labeler workflows from forks
  .github/workflows/label-pr.yml
Labels: type:Infrastructure

#2437 ENH: Increase code coverage
  Modules/Filtering/DistanceMap/test/itkHausdorffDistanceImageFilterTest.cxx
  Modules/Nonunit/Review/test/itkScalarChanAndVeseSparseLevelSetImageFilterTest1.cxx
Labels: area:Filtering, type:Coverage, type:Testing
