Repository InsightSoftwareConsortium/ITK, pull requests merged in 2021-09, with the labels that each got.

#2710 ENH: Declare Filled and operator[] of Index, Size, FixedArray constexpr
  Modules/Core/Common/include/itkFixedArray.h
  Modules/Core/Common/include/itkFixedArray.hxx
  Modules/Core/Common/include/itkIndex.h
  Modules/Core/Common/include/itkSize.h
  Modules/Core/Common/test/itkFixedArrayGTest.cxx
  Modules/Core/Common/test/itkIndexGTest.cxx
  Modules/Core/Common/test/itkSizeGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#2709 ENH: Replace GetNumberOfWeights() by static constexpr `NumberOfWeights`
  Documentation/ITK5MigrationGuide.md
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.hxx
  Modules/Core/Common/test/itkBSplineInterpolationWeightFunctionTest.cxx
  Modules/Core/Transform/include/itkBSplineBaseTransform.h
  Modules/Core/Transform/include/itkBSplineBaseTransform.hxx
  Modules/Core/Transform/include/itkBSplineDeformableTransform.hxx
  Modules/Core/Transform/include/itkBSplineTransform.hxx
  Modules/Core/Transform/test/itkBSplineDeformableTransformTest.cxx
  Modules/Core/Transform/test/itkBSplineTransformGTest.cxx
  Modules/Core/Transform/test/itkBSplineTransformTest.cxx
  Modules/Registration/Common/include/itkImageToImageMetric.hxx
Labels: type:Enhancement, area:Documentation, type:Testing, area:Core, area:Registration

#2711 ENH: Replace BSpline GetSupportSize() by static constexpr `SupportSize`
  Documentation/ITK5MigrationGuide.md
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.hxx
  Modules/Core/Common/test/itkBSplineInterpolationWeightFunctionTest.cxx
  Modules/Core/Transform/include/itkBSplineDeformableTransform.hxx
Labels: type:Enhancement, area:Documentation, type:Testing, area:Core

#2715 BUG: BSplineInterpolationWeightFunction should not print NumberOfWeights
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.hxx
Labels: type:Bug, area:Core

#2712 PERF: Use FixedArray for BSplineInterpolationWeightFunction OutputType
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.hxx
  Modules/Core/Common/test/itkBSplineInterpolationWeightFunctionTest.cxx
  Modules/Core/Common/wrapping/itkFunctionBase.wrap
  Modules/Core/Transform/include/itkBSplineBaseTransform.h
  Modules/Core/Transform/include/itkBSplineBaseTransform.hxx
  Modules/Core/Transform/include/itkBSplineDeformableTransform.hxx
  Modules/Core/Transform/include/itkBSplineTransform.hxx
  Modules/Core/Transform/test/itkBSplineDeformableTransformTest.cxx
  Modules/Core/Transform/test/itkBSplineTransformTest.cxx
  Modules/Registration/Common/include/itkImageToImageMetric.hxx
  Wrapping/WrapITKTypes.cmake
Labels: type:Performance, area:Python wrapping, type:Testing, area:Core, area:Registration

#2718 slicer content link
  CMake/ITKExternalData.cmake
Labels: type:Infrastructure

#2716 PERF: `BSplineKernelFunction::FastEvaluate(u)`: a faster way to evaluate BSplineKernelFunction
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.hxx
  Modules/Core/Common/include/itkBSplineKernelFunction.h
Labels: type:Performance, area:Core

#2723 ENH: Rename ResampleInPlaceImage to TransformGeometryImageFilter
  Modules/Core/Transform/include/itkTransformGeometryImageFilter.h
  Modules/Core/Transform/include/itkTransformGeometryImageFilter.hxx
  Modules/Core/Transform/test/CMakeLists.txt
  Modules/Core/Transform/test/itkTransformGeometryImageFilterTest.cxx
  Modules/Core/Transform/wrapping/CMakeLists.txt
  Modules/Core/Transform/wrapping/itkTransformGeometryImageFilter.wrap
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Core

#2727 COMP: Bump KWStyle to address Boost warnings with GCC 11.2
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Compiler, type:Infrastructure

#2724 STYLE: Use modern C++ `TRealValueType{ x }` syntax
  Modules/Core/Common/include/itkBSplineDerivativeKernelFunction.h
  Modules/Core/Common/include/itkBSplineKernelFunction.h
  Modules/Core/Common/include/itkGaussianKernelFunction.h
  Modules/Filtering/ImageGrid/include/itkCoxDeBoorBSplineKernelFunction.hxx
  Modules/Filtering/ImageSources/include/itkGaborKernelFunction.h
Labels: area:Core, area:Filtering, type:Style

#2721 PERF: Use FixedArray for table within BSplineInterpolationWeightFunction
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.hxx
Labels: type:Performance, area:Core

#2729 BUG: Improve dimension-dependent BSplineInterpolationWeightFunction wrapping
  Modules/Core/Common/wrapping/itkBSplineInterpolationWeightFunction.wrap
  Modules/Core/Common/wrapping/itkFunctionBase.wrap
  Wrapping/WrapITKTypes.cmake
Labels: type:Bug, area:Python wrapping, area:Core

#2728 Refactor TransformGeometryImageFilter
  Modules/Core/Transform/include/itkTransformGeometryImageFilter.h
  Modules/Core/Transform/include/itkTransformGeometryImageFilter.hxx
  Modules/Core/Transform/test/itkTransformGeometryImageFilterTest.cxx
Labels: type:Testing, area:Core

#2720 COMP: Avoid Superclass type alias GCC compile errors
  Modules/Core/TestKernel/include/itkTestingMacros.h
Labels: type:Compiler, type:Testing, area:Core

#2730 Further ITK MPL cleanup (IsSame etc)
  Documentation/ITK5MigrationGuide.md
  Modules/Core/Common/include/itkInPlaceImageFilter.h
  Modules/Core/Common/include/itkInPlaceImageFilter.hxx
  Modules/Core/Common/include/itkIsBaseOf.h
  Modules/Core/Common/include/itkIsConvertible.h
  Modules/Core/Common/include/itkIsSame.h
  Modules/Core/Common/include/itkVariableLengthVector.h
  Modules/Core/Common/include/itkVariableLengthVector.hxx
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkIsBaseOf.cxx
  Modules/Core/Common/test/itkIsConvertible.cxx
  Modules/Core/Common/test/itkMetaProgrammingLibraryTest.cxx
  Modules/Core/Common/test/itkPromoteType.cxx
  Utilities/Maintenance/BuildHeaderTest.py
Labels: type:Infrastructure, area:Documentation, area:Python wrapping, type:Testing, area:Core

#2732 BUG: Respect UseImageSpacing flag in LaplacianImageFilter
  Modules/Filtering/ImageFeature/include/itkLaplacianImageFilter.hxx
  Modules/Filtering/ImageFeature/test/Baseline/itkLaplacianImageFilterTestBaseline.png.sha512
  Modules/Filtering/ImageFeature/test/Baseline/itkLaplacianImageFilterWithSpacingTestBaseline.png.sha512
  Modules/Filtering/ImageFeature/test/CMakeLists.txt
  Modules/Filtering/ImageFeature/test/itkLaplacianImageFilterTest.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:Filtering

#2733 ENH: Add ITKShape as a remote module
  Modules/Remote/Shape.remote.cmake
Labels: type:Enhancement, area:Remotes

#2737 BUG: Disable all floating point exceptions
  Modules/Core/Common/src/itkFloatingPointExceptions_unix.cxx
Labels: type:Bug, area:Core

#2739 PERF: Remove unnecessary `IdentityTransform::m_ZeroJacobian`
  Modules/Core/Transform/include/itkIdentityTransform.h
Labels: type:Performance, area:Core

#2742 COMP: Copy BSplineInterpolationWeightFunction::SupportSize within lambda
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
Labels: type:Compiler, area:Core

#2747 PERF: Remove protected `itk::Transform` data member `m_DirectionChange`
  Modules/Core/Transform/include/itkTransform.h
Labels: type:Performance, area:Core

#2749 ENH: Update FFTW to 3.3.10
  CMake/itkExternal_FFTW.cmake
Labels: type:Infrastructure, type:Enhancement

#2750 BUG: Fix ImageRegionSplitters with zero sized image
  Modules/Core/Common/src/itkImageRegionSplitterDirection.cxx
  Modules/Core/Common/src/itkImageRegionSplitterSlowDimension.cxx
  Modules/Core/Common/test/itkImageRegionSplitterDirectionTest.cxx
  Modules/Core/Common/test/itkImageRegionSplitterSlowDimensionTest.cxx
  Modules/Filtering/LabelMap/test/itkLabelImageToLabelMapFilterTest.cxx
Labels: type:Bug, type:Testing, area:Core, area:Filtering

#2748 COMP: Fix missing initialization braces warning
  Modules/Filtering/ImageFeature/test/itkLaplacianImageFilterTest.cxx
Labels: type:Compiler, type:Testing, area:Filtering

#2751 BUG: Provide missing template parameter to superclass
  Modules/Nonunit/Review/test/itkMultiphaseDenseFiniteDifferenceImageFilterTest.cxx
Labels: type:Bug, type:Testing

#2753 COMP: fixed compile errors due to incorrect superclass identification
  Modules/Nonunit/Review/test/itkMultiphaseSparseFiniteDifferenceImageFilterTest.cxx
Labels: type:Compiler, type:Testing

#2756 COMP: Fix missing initialization braces warning
  Modules/Filtering/ImageFeature/test/itkLaplacianImageFilterTest.cxx
  Modules/Filtering/LabelMap/test/itkLabelImageToLabelMapFilterTest.cxx
Labels: type:Compiler, type:Testing, area:Filtering

#2758 ENH: Test NIFTI I/O with small voxels
  Modules/IO/NIFTI/test/CMakeLists.txt
  Modules/IO/NIFTI/test/Input/SmallVoxels.nii.gz.sha512
  Modules/IO/NIFTI/test/Input/SmallVoxels_noqform.nii.gz.sha512
  Modules/IO/NIFTI/test/Input/SmallVoxels_nosform.nii.gz.sha512
  Modules/IO/NIFTI/test/itkNiftiReadWriteDirectionTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:IO

#2755 ENH: Update libexpat files
  Modules/ThirdParty/Expat/src/expat/CMakeLists.txt
  Modules/ThirdParty/Expat/src/expat/COPYING
  Modules/ThirdParty/Expat/src/expat/ConfigureChecks.cmake
  Modules/ThirdParty/Expat/src/expat/ascii.h
  Modules/ThirdParty/Expat/src/expat/asciitab.h
  Modules/ThirdParty/Expat/src/expat/expat.h
  Modules/ThirdParty/Expat/src/expat/expat_config.h.cmake
  Modules/ThirdParty/Expat/src/expat/expat_external.h
  Modules/ThirdParty/Expat/src/expat/iasciitab.h
  Modules/ThirdParty/Expat/src/expat/internal.h
  Modules/ThirdParty/Expat/src/expat/itk_expat_mangle.h
  Modules/ThirdParty/Expat/src/expat/latin1tab.h
  Modules/ThirdParty/Expat/src/expat/nametab.h
  Modules/ThirdParty/Expat/src/expat/siphash.h
  Modules/ThirdParty/Expat/src/expat/utf8tab.h
  Modules/ThirdParty/Expat/src/expat/winconfig.h
  Modules/ThirdParty/Expat/src/expat/xmlparse.c
  Modules/ThirdParty/Expat/src/expat/xmlrole.c
  Modules/ThirdParty/Expat/src/expat/xmlrole.h
  Modules/ThirdParty/Expat/src/expat/xmltok.c
  Modules/ThirdParty/Expat/src/expat/xmltok.h
  Modules/ThirdParty/Expat/src/expat/xmltok_impl.c
  Modules/ThirdParty/Expat/src/expat/xmltok_impl.h
  Modules/ThirdParty/Expat/src/expat/xmltok_ns.c
Labels: type:Infrastructure, type:Enhancement, area:ThirdParty
