Repository InsightSoftwareConsortium/ITK, pull requests merged in 2021-11, with the labels that each got.

#2851 COMP: Update suppress for KWSYS change
  CMake/InsightValgrind-Ubuntu2004.supp
Labels: type:Compiler, type:Infrastructure

#2852 ENH: Update Windows MKL path and prioritize user path if supplied
  CMake/FindFFTW.cmake
Labels: type:Infrastructure, type:Enhancement

#2856 ENH: add CudaCommon remote module
  Modules/Remote/CudaCommon.remote.cmake
Labels: type:Enhancement, area:Remotes

#2855 ENH: CircleCI use large resource class
  .circleci/config.yml
Labels: type:Enhancement

#2857 ENH: Update SimpleITKFilters remote module
  Modules/Remote/SimpleITKFilters.remote.cmake
Labels: type:Enhancement, area:Remotes

#2854 COMP: Fix bit shift overflow warning
  Modules/Filtering/LabelMap/include/itkStatisticsLabelMapFilter.h
  Modules/Filtering/LabelMap/include/itkStatisticsLabelMapFilter.hxx
Labels: type:Compiler, area:Filtering

#2836 ENH: Select Forward1DFFTImageFilter backend with object factory
  CMake/UseITK.cmake
  CMake/itkFFTImageFilterFactoryRegisterManager.h.in
  CMakeLists.txt
  Modules/Filtering/FFT/CMakeLists.txt
  Modules/Filtering/FFT/include/itkFFTWForward1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkForward1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkForward1DFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkVnlForward1DFFTImageFilter.h
  Modules/Filtering/FFT/itk-module.cmake
  Modules/Filtering/FFT/src/CMakeLists.txt
  Modules/Filtering/FFT/src/itkFFTWForward1DFFTImageFilterFactory.cxx
  Modules/Filtering/FFT/src/itkVnlForward1DFFTImageFilterFactory.cxx
  Modules/Filtering/FFT/test/itkFFT1DImageFilterTest.cxx
  Modules/Filtering/FFT/wrapping/itkFFTWForward1DFFTImageFilter.wrap
  Modules/Filtering/FFT/wrapping/itkVnlForward1DFFTImageFilter.wrap
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Filtering

#2861 ENH: Add ANTSNeighborhoodCorrelation metric wrapping
  Modules/Registration/Metricsv4/include/itkANTSNeighborhoodCorrelationImageToImageMetricv4.h
  Modules/Registration/Metricsv4/wrapping/itkANTSNeighborhoodCorrelationImageToImageMetricv4.wrap
Labels: type:Enhancement, area:Python wrapping, area:Registration

#2829 ENH: pickle serialization for itk images (issue 1091)
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/support/extras.py
  Wrapping/Generators/Python/itk/support/helpers.py
Labels: type:Enhancement, area:Python wrapping, type:Testing

#1584 ENH: Wrap SynImageRegistrationMethod
  Modules/Registration/RegistrationMethodsv4/wrapping/itkBSplineSyNImageRegistrationMethod.wrap
  Modules/Registration/RegistrationMethodsv4/wrapping/itkImageRegistrationMethodv4.wrap
  Modules/Registration/RegistrationMethodsv4/wrapping/itkSyNImageRegistrationMethod.wrap
  Wrapping/Generators/SwigInterface/igenerator.py
Labels: area:Python wrapping, area:Registration

#2859 BUG: Fix constexpr linkage issue
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.hxx
Labels: type:Bug, area:Core

#2865 STYLE: Do not do `return;` directly after throwing an exception
  Modules/Bridge/VTK/include/itkVTKImageImport.hxx
  Modules/Core/Common/include/itkByteSwapper.hxx
  Modules/Core/Common/include/itkImageDuplicator.hxx
  Modules/Core/Common/include/itkResourceProbesCollectorBase.hxx
  Modules/Core/Common/include/itkSmapsFileParser.hxx
  Modules/Core/Common/include/itkStreamingImageFilter.hxx
  Modules/Core/Common/src/itkPlatformMultiThreaderPosix.cxx
  Modules/Core/Common/src/itkPlatformMultiThreaderSingle.cxx
  Modules/Core/Common/src/itkPlatformMultiThreaderWindows.cxx
  Modules/Core/ImageFunction/include/itkRayCastInterpolateImageFunction.hxx
  Modules/Core/Mesh/include/itkVTKPolyDataWriter.hxx
  Modules/Core/SpatialObjects/include/itkSpatialObjectDuplicator.hxx
  Modules/Core/TestKernel/include/itkTestingStretchIntensityImageFilter.hxx
  Modules/Core/Transform/include/itkBSplineTransformInitializer.hxx
  Modules/Filtering/ImageIntensity/include/itkRescaleIntensityImageFilter.hxx
  Modules/Filtering/ImageIntensity/include/itkVectorRescaleIntensityImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkAnchorErodeDilateImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkAnchorOpenCloseImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkVanHerkGilWermanErodeDilateImageFilter.hxx
  Modules/Filtering/Smoothing/include/itkRecursiveGaussianImageFilter.hxx
  Modules/Filtering/Thresholding/include/itkIntermodesThresholdCalculator.hxx
  Modules/Filtering/Thresholding/include/itkThresholdImageFilter.hxx
  Modules/IO/ImageBase/include/itkImageFileReader.hxx
  Modules/IO/ImageBase/include/itkImageSeriesWriter.hxx
  Modules/IO/MeshBase/include/itkMeshFileReader.hxx
  Modules/Nonunit/Review/include/itkConformalFlatteningMeshFilter.hxx
  Modules/Numerics/Optimizersv4/src/itkObjectToObjectOptimizerBase.cxx
  Modules/Registration/Common/include/itkBSplineTransformParametersAdaptor.hxx
  Modules/Registration/Common/include/itkCenteredTransformInitializer.hxx
  Modules/Registration/Common/include/itkConstantVelocityFieldTransformParametersAdaptor.hxx
  Modules/Registration/Common/include/itkDisplacementFieldTransformParametersAdaptor.hxx
  Modules/Registration/Common/include/itkLandmarkBasedTransformInitializer.hxx
  Modules/Registration/Common/include/itkTimeVaryingVelocityFieldTransformParametersAdaptor.hxx
  Modules/Registration/GPUPDEDeformable/include/itkGPUPDEDeformableRegistrationFilter.hxx
  Modules/Segmentation/Classifiers/include/itkBayesianClassifierImageFilter.hxx
  Modules/Segmentation/Classifiers/include/itkClassifierBase.hxx
  Modules/Video/IO/include/itkVideoFileReader.hxx
Labels: type:Testing, area:Bridge, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, area:Video, type:Style, area:Numerics

#2866 BUG: Fix 1D FFT doxygen groups
  Modules/Filtering/FFT/include/itkComplexToComplex1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWComplexToComplex1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWInverse1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkForward1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkInverse1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlComplexToComplex1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlForward1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlInverse1DFFTImageFilter.h
Labels: type:Bug, area:Filtering

#2867 Fix minor style
  Modules/Core/Common/test/itkBSplineInterpolationWeightFunctionTest.cxx
Labels: type:Testing, area:Core

#2870 ENH: Allow users to have a CMakeUserPresets.json file
  .gitignore
Labels: type:Enhancement

#2871 STYLE: Address clang-tidy warnings in file
  Modules/Core/Common/test/itkNumericTraitsTest.cxx
Labels: type:Testing, area:Core, type:Style

#2869 COMP: Remove unreachable code
  Modules/Core/GPUCommon/include/itkGPUReduction.hxx
  Modules/Filtering/FFT/test/itkComplexToComplexFFTImageFilterTest.cxx
  Modules/IO/MINC/test/itkMINCImageIOTest_2D.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest.h
  Modules/IO/TransformMINC/include/itkMINCTransformAdapter.h
Labels: type:Compiler, type:Testing, area:Core, area:Filtering, area:IO

#2878 DOC: Remove lingering Ultrasound dependency
  Modules/Filtering/FFT/include/itkFFTWCommonExtended.h
Labels: area:Filtering

#2863 ENH: Adding python wrapping for ConjugateGradientLineSearchOptimizerv4
  Modules/Numerics/Optimizersv4/wrapping/itkConjugateGradientLineSearchOptimizerv4.wrap
  Modules/Numerics/Optimizersv4/wrapping/itkGradientDescentLineSearchOptimizerv4.wrap
Labels: type:Enhancement, area:Python wrapping, area:Numerics

#2881 BUG: Add an else clause for DCMTK_USE_ICU variable to overwrite the DCMTK configuration when set to false
  Modules/ThirdParty/DCMTK/CMakeLists.txt
Labels: type:Bug, type:Infrastructure, area:ThirdParty

#2862 ENH: Added template parameter for texture mask type
  Modules/Numerics/Statistics/include/itkScalarImageToCooccurrenceMatrixFilter.h
  Modules/Numerics/Statistics/include/itkScalarImageToCooccurrenceMatrixFilter.hxx
  Modules/Numerics/Statistics/include/itkScalarImageToTextureFeaturesFilter.h
  Modules/Numerics/Statistics/include/itkScalarImageToTextureFeaturesFilter.hxx
  Modules/Numerics/Statistics/test/itkScalarImageToTextureFeaturesFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Numerics

#2879 COMP: No longer delete (`= delete`) PreFillDirection() function template
  Modules/IO/NIFTI/test/itkNiftiImageIOTest.h
Labels: type:Compiler, type:Testing, area:IO

#2882 BUG: Remove duplicate required input in BlockMatchingImageFilter
  Modules/Registration/Common/include/itkBlockMatchingImageFilter.hxx
Labels: type:Bug, area:Registration

#2886 COMP: Fix sign comparison to unsigned warning
  Modules/Filtering/LabelMap/include/itkStatisticsLabelMapFilter.hxx
Labels: type:Compiler, area:Filtering

#2894 COMP: fix WorkUnitInfo shadow warning
  Modules/Core/Common/src/itkMultiThreaderBase.cxx
Labels: type:Compiler, area:Core

#2883 ENH: Adding Gaussian Curvature Calculator in ITK Mesh with tests
  Modules/Core/Mesh/include/itkTriangleMeshCurvatureCalculator.h
  Modules/Core/Mesh/include/itkTriangleMeshCurvatureCalculator.hxx
  Modules/Core/Mesh/src/CMakeLists.txt
  Modules/Core/Mesh/src/itkTriangleMeshCurvatureCalculator.cxx
  Modules/Core/Mesh/test/CMakeLists.txt
  Modules/Core/Mesh/test/itkTriangleMeshCurvatureCalculatorTest.cxx
  Modules/Core/Mesh/wrapping/itkTriangleMeshCurvatureCalculator.wrap
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Core

#2895 ENH: Removing relative header imports from multiple cxx files
  Modules/Core/Common/src/itkGaussianDerivativeOperator.cxx
  Modules/Core/QuadEdgeMesh/src/itkQuadEdgeMeshEulerOperatorFlipEdgeFunction.cxx
  Modules/Core/SpatialObjects/src/itkContourSpatialObject.cxx
  Modules/Core/TestKernel/src/itkTestingHashImageFilter.cxx
  Modules/Filtering/FFT/src/itkComplexToComplexFFTImageFilter.cxx
  Modules/Filtering/FastMarching/src/itkFastMarchingBase.cxx
  Modules/Filtering/FastMarching/src/itkFastMarchingImageFilter.cxx
  Modules/Filtering/FastMarching/src/itkFastMarchingReachedTargetNodesStoppingCriterion.cxx
  Modules/Filtering/ImageFeature/src/itkMultiScaleHessianBasedMeasureImageFilter.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/src/itkBorderQuadEdgeMeshFilter.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/src/itkLaplacianDeformationQuadEdgeMeshFilter.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/src/itkNormalQuadEdgeMeshFilter.cxx
  Modules/Numerics/Statistics/src/itkExpectationMaximizationMixtureModelEstimator.cxx
  Modules/Registration/FEM/src/itkFEMRegistrationFilter.cxx
  Modules/Registration/PDEDeformable/src/itkESMDemonsRegistrationFunction.cxx
  Modules/Registration/PDEDeformable/test/itkESMDemonsRegistrationFunctionTest.cxx
  Modules/Registration/RegistrationMethodsv4/src/itkImageRegistrationMethodv4.cxx
  Modules/Segmentation/DeformableMesh/src/itkDeformableSimplexMesh3DGradientConstraintForceFiler.cxx
  Modules/Segmentation/MarkovRandomFieldsClassifiers/src/itkMRFImageFilter.cxx
  Modules/Segmentation/RegionGrowing/src/itkConnectedThresholdImageFilter.cxx
Labels: type:Enhancement, type:Testing, area:Core, area:Filtering, area:Registration, area:Segmentation, area:Numerics

#2888 ENH: Use latest `checkout` release in `clang-format linter` workflow
  .github/workflows/clang-format-linter.yml
Labels: type:Infrastructure, type:Enhancement

#2889 BUG: Add missing single argument ImageAdaptor Transform member functions
  Modules/Core/ImageAdaptors/include/itkImageAdaptor.h
  Modules/Core/ImageAdaptors/test/CMakeLists.txt
  Modules/Core/ImageAdaptors/test/itkImageAdaptorGTest.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:Core

#2782 ENH: Added interface files for wrapped Python classes and methods.
  Wrapping/Generators/SwigInterface/CMakeLists.txt
  Wrapping/Generators/SwigInterface/igenerator.py
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping

#2898 COMP: Use modern macro name for GetModifiableObjectMacro
  Modules/Core/Mesh/include/itkTriangleMeshCurvatureCalculator.h
  Modules/Core/Mesh/test/itkTriangleMeshCurvatureCalculatorTest.cxx
Labels: type:Compiler, type:Testing, area:Core

#2896 STYLE: Remove `TimeStamp` default-constructor, assignment (Rule of Zero)
  Modules/Core/Common/include/itkTimeStamp.h
  Modules/Core/Common/test/itkTimeStampTest.cxx
Labels: type:Testing, area:Core, type:Style

#2904 STYLE: Remove dead code (#else...#endif) BSplineInterpolateImageFunction
  Modules/Core/ImageFunction/include/itkBSplineInterpolateImageFunction.hxx
Labels: area:Core, type:Style

#2901 PERF: Use the faster `TransformPhysicalPointToContinuousIndex` overload
  Modules/Core/Common/include/itkImageAlgorithm.hxx
  Modules/Core/ImageFunction/include/itkBSplineInterpolateImageFunction.h
  Modules/Core/ImageFunction/include/itkExtrapolateImageFunction.h
  Modules/Core/ImageFunction/include/itkGaussianBlurImageFunction.hxx
  Modules/Core/ImageFunction/include/itkImageFunction.h
  Modules/Core/ImageFunction/include/itkInterpolateImageFunction.h
  Modules/Core/ImageFunction/include/itkVectorInterpolateImageFunction.h
  Modules/Core/Mesh/include/itkTriangleMeshToBinaryImageFilter.hxx
  Modules/Core/Transform/include/itkBSplineBaseTransform.hxx
  Modules/Core/Transform/include/itkBSplineDeformableTransform.hxx
  Modules/Core/Transform/include/itkBSplineTransform.hxx
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldToBSplineImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldTransform.hxx
  Modules/Filtering/ImageGrid/include/itkWarpImageFilter.hxx
  Modules/Numerics/Optimizersv4/include/itkRegistrationParameterScalesFromIndexShift.hxx
  Modules/Registration/Common/include/itkImageToImageMetric.hxx
  Modules/Registration/Common/include/itkKappaStatisticImageToImageMetric.hxx
  Modules/Registration/Common/include/itkMeanReciprocalSquareDifferencePointSetToImageMetric.hxx
  Modules/Registration/Common/include/itkMeanSquaresPointSetToImageMetric.hxx
  Modules/Registration/Common/include/itkNormalizedCorrelationImageToImageMetric.hxx
  Modules/Registration/Common/include/itkNormalizedCorrelationPointSetToImageMetric.hxx
Labels: type:Performance, area:Core, area:Filtering, area:Registration, area:Numerics

#2899 ENH: Adding Python Wrapping for itkImageRegistrationMethodv4 with Mesh
  Modules/Registration/RegistrationMethodsv4/wrapping/itkImageRegistrationMethodv4.wrap
Labels: type:Enhancement, area:Python wrapping, area:Registration

#2906 COMP: Read Only access to GaussCurvatureData
  Modules/Core/Mesh/include/itkTriangleMeshCurvatureCalculator.h
  Modules/Core/Mesh/test/itkTriangleMeshCurvatureCalculatorTest.cxx
Labels: type:Compiler, type:Testing, area:Core

#2907 Move `BSplineInterpolateImageFunction` member function definitions into class, use `unique_ptr`
  Modules/Core/ImageFunction/include/itkBSplineInterpolateImageFunction.h
  Modules/Core/ImageFunction/include/itkBSplineInterpolateImageFunction.hxx
Labels: area:Core, type:Style

#2897 STYLE: Use `unique_ptr` for `ImageToImageMetric` data members
  Modules/Registration/Common/include/itkImageToImageMetric.h
  Modules/Registration/Common/include/itkImageToImageMetric.hxx
Labels: area:Registration, type:Style
