Repository InsightSoftwareConsortium/ITK, pull requests merged in 2021-07, with the labels that each got.

#2625 STYLE: enable git blame to use ignoreRevsFile by default
  Utilities/SetupForDevelopment.sh
Labels: type:Infrastructure, type:Style

#2622 STYLE: Add default member initializer `true` to `m_LetArrayManageMemory`
  Modules/Core/Common/include/itkArray.h
  Modules/Core/Common/include/itkArray.hxx
Labels: area:Core, type:Style

#2607 ENH: Add wrappings for video IO
  Modules/Video/IO/wrapping/itkFileListVideoIO.wrap
  Modules/Video/IO/wrapping/itkVideoFileReader.wrap
  Modules/Video/IO/wrapping/itkVideoFileWriter.wrap
  Modules/Video/IO/wrapping/itkVideoIOBase.wrap
Labels: area:Python wrapping, area:Video, type:Enhancement

#2608 STYLE: Apply "black -l 88" to format Python
  Examples/RegistrationITKv4/ImageRegistration3.py
  Modules/Bridge/NumPy/wrapping/test/itkPyBufferTest.py
  Modules/Bridge/NumPy/wrapping/test/itkPyVectorContainerTest.py
  Modules/Bridge/NumPy/wrapping/test/itkPyVnlTest.py
  Modules/Filtering/ImageIntensity/wrapping/test/itkImageFilterNumPyInputsTest.py
  Modules/Filtering/Smoothing/wrapping/test/MedianImageFilterTest.py
  Wrapping/Generators/Python/ExternalProjectConfig.py.in
  Wrapping/Generators/Python/Tests/PythonTypeTest.py
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/__init__.py
  Wrapping/Generators/Python/itk/support/ModuleConfig.py.in
  Wrapping/Generators/Python/itk/support/extras.py
  Wrapping/Generators/Python/itk/support/lazy.py
  Wrapping/Generators/Python/itk/support/types.py
  Wrapping/Generators/Python/itkConfig.py.in
  pyproject.toml
Labels: area:Bridge, area:Examples, area:Filtering, area:Python wrapping, type:Style, type:Testing

#2628 STYLE: Add Python-formatting commit's hash to .git-blame-ignore-revs.
  .git-blame-ignore-revs
Labels: type:Style

#2632 ENH: Ignore more bulk changes for git blame
  .git-blame-ignore-revs
Labels: type:Enhancement

#2627 BUG: Similarity3DTransform::SetScale should recompute m_Offset
  Modules/Core/Transform/include/itkSimilarity3DTransform.hxx
  Modules/Core/Transform/test/CMakeLists.txt
  Modules/Core/Transform/test/itkSimilarityTransformGTest.cxx
Labels: area:Core, type:Infrastructure, type:Testing

#2636 ENH: Python wrapping reads VLV pixel type correctly
  Wrapping/Generators/Python/Tests/CMakeLists.txt
  Wrapping/Generators/Python/Tests/readWriteVLV.py
  Wrapping/Generators/Python/itk/support/extras.py
  Wrapping/images/TestVLV.seg.nrrd.sha512
Labels: area:Python wrapping, type:Enhancement, type:Infrastructure, type:Testing

#2639 COMP: add missing wrapping for MeshFileWriter
  Modules/Core/Mesh/wrapping/itkMeshToMeshFilter.wrap
  Modules/Core/Mesh/wrapping/itkTransformMeshFilter.wrap
  Modules/IO/MeshBase/wrapping/itkMeshFileWriter.wrap
Labels: area:Core, area:IO, area:Python wrapping, type:Compiler

#2633 ENH: Add MakePoint, MakeVector, MakeIndex, MakeSize function templates
  Modules/Core/Common/include/itkIndex.h
  Modules/Core/Common/include/itkPoint.h
  Modules/Core/Common/include/itkSize.h
  Modules/Core/Common/include/itkVector.h
  Modules/Core/Common/test/itkIndexGTest.cxx
  Modules/Core/Common/test/itkPointGTest.cxx
  Modules/Core/Common/test/itkSizeGTest.cxx
  Modules/Core/Common/test/itkVectorGTest.cxx
Labels: area:Core, type:Enhancement, type:Testing

#2641 STYLE: Use MakePoint, MakeVector, MakeIndex, MakeSize from itk namespace
  Modules/Core/Transform/test/itkBSplineTransformGTest.cxx
  Modules/Filtering/ImageGrid/test/itkSliceImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkTileImageFilterGTest.cxx
  Modules/Filtering/LabelMap/test/itkShapeLabelMapFilterGTest.cxx
  Modules/Segmentation/ConnectedComponents/test/itkConnectedComponentImageFilterGTest.cxx
  Modules/Segmentation/ConnectedComponents/test/itkRelabelComponentImageFilterGTest.cxx
Labels: area:Core, area:Filtering, area:Segmentation, type:Style, type:Testing

#2635 ENH: Add ImageToVideoFilter and accompanying wrappings
  Modules/Video/Core/include/itkImageToVideoFilter.h
  Modules/Video/Core/include/itkImageToVideoFilter.hxx
  Modules/Video/Core/include/itkTemporalRegion.h
  Modules/Video/Core/include/itkVideoSource.h
  Modules/Video/Core/test/Baseline/HeadMRVolume_Frame0.mha.sha512
  Modules/Video/Core/test/CMakeLists.txt
  Modules/Video/Core/test/itkImageToVideoFilterTest.cxx
  Modules/Video/Core/wrapping/itkImageToVideoFilter.wrap
  Modules/Video/Core/wrapping/itkTemporalProcessObject.wrap
  Modules/Video/Core/wrapping/itkVideoSource.wrap
Labels: area:Python wrapping, area:Video, type:Enhancement, type:Infrastructure, type:Testing

#2643 COMP: Update KWStyle's version to avoid compile errors with C++23
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Compiler, type:Infrastructure

#2646 BUG: Resolve warnings with MakeIndex and MakePoint
  Modules/Filtering/LabelMap/test/itkStatisticsLabelMapFilterGTest.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest12.cxx
  Modules/Video/Core/test/itkImageToVideoFilterTest.cxx
Labels: area:Filtering, area:IO, area:Video, type:Bug, type:Testing

#2644 STYLE: Remove `Make` functions from itk::GTest::TypedefsAndConstructors
  Modules/Core/TestKernel/include/itkGTestTypedefsAndConstructors.h
  Modules/Core/TestKernel/test/itkGoogleTest.cxx
Labels: area:Core, type:Style, type:Testing

#2647 Update VNL to 2021-07-15 (d8888fd5)
  Modules/ThirdParty/VNL/src/vxl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_matrix.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_matrix_fixed.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_matrix.hxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_matrix_fixed.hxx
  Modules/ThirdParty/VNL/src/vxl/vcl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/vcl/compilers/VXL_COMPILER_INFO_AppleClang_CXX.h
  Modules/ThirdParty/VNL/src/vxl/vcl/compilers/VXL_COMPILER_INFO_Clang_CXX.h
  Modules/ThirdParty/VNL/src/vxl/vcl/compilers/VXL_COMPILER_INFO_GNU_CXX.h
  Modules/ThirdParty/VNL/src/vxl/vcl/compilers/VXL_COMPILER_INFO_Intel_CXX.h
  Modules/ThirdParty/VNL/src/vxl/vcl/compilers/VXL_COMPILER_INFO_MSVC_CXX.h
  Modules/ThirdParty/VNL/src/vxl/vcl/compilers/VXL_COMPILER_INFO_SunPro_CXX.h
  Modules/ThirdParty/VNL/src/vxl/vcl/vcl_compiler.h.in
  Modules/ThirdParty/VNL/src/vxl/vcl/vcl_compiler_detection.h
Labels: area:ThirdParty, type:Infrastructure

#2648 ENH: Add vector image support to VideoStream and ImageToVideoFilter
  Modules/Video/Core/include/itkImageToVideoFilter.h
  Modules/Video/Core/include/itkImageToVideoFilter.hxx
  Modules/Video/Core/include/itkVideoStream.h
  Modules/Video/Core/include/itkVideoStream.hxx
  Modules/Video/Core/test/Baseline/RGBTestImage_Slice0.png.sha512
  Modules/Video/Core/test/CMakeLists.txt
  Modules/Video/Core/test/itkVectorImageToVideoTest.cxx
  Modules/Video/Core/wrapping/itkImageToVideoFilter.wrap
  Modules/Video/Core/wrapping/itkVideoSource.wrap
  Modules/Video/Core/wrapping/itkVideoStream.wrap
Labels: area:Python wrapping, area:Video, type:Enhancement, type:Infrastructure, type:Testing

#2564 Update GTest to `master` in order to "Live at Head"
  Modules/ThirdParty/GoogleTest/UpdateFromUpstream.sh
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/CMakeLists.txt
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/CMakeLists.txt
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/cmake/gtest.pc.in
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/cmake/gtest_main.pc.in
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/cmake/internal_utils.cmake
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-death-test.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-matchers.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-message.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-param-test.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-printers.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-spi.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-test-part.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-typed-test.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest_pred_impl.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest_prod.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/custom/README.md
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/custom/gtest-port.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/custom/gtest-printers.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/custom/gtest.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-death-test-internal.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-filepath.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-internal.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-param-util.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-port-arch.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-port.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-string.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-type-util.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-type-util.h.pump
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-death-test.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-filepath.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-internal-inl.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-matchers.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-port.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-printers.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-test-part.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-typed-test.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest_main.cc
Labels: area:ThirdParty, type:Infrastructure, type:Testing

#2650 Cmake320policies use language directly Extends #2573
  Modules/Core/Common/include/itkBufferedImageNeighborhoodPixelAccessPolicy.h
  Modules/Core/Common/include/itkConnectedImageNeighborhoodShape.h
  Modules/Core/Common/include/itkConstantBoundaryImageNeighborhoodPixelAccessPolicy.h
  Modules/Core/Common/include/itkImageBufferRange.h
  Modules/Core/Common/include/itkImageRegion.h
  Modules/Core/Common/include/itkImageRegionRange.h
  Modules/Core/Common/include/itkIndexRange.h
  Modules/Core/Common/include/itkMapContainer.h
  Modules/Core/Common/include/itkMath.h
  Modules/Core/Common/include/itkNeighborhoodAllocator.h
  Modules/Core/Common/include/itkRectangularImageNeighborhoodShape.h
  Modules/Core/Common/include/itkShapedImageNeighborhoodRange.h
  Modules/Core/Common/include/itkVectorContainer.h
  Modules/Core/Common/include/itkZeroFluxNeumannImageNeighborhoodPixelAccessPolicy.h
  Modules/Core/Common/test/itkCommonTypeTraitsGTest.cxx
  Modules/Core/Common/test/itkImageNeighborhoodOffsetsGTest.cxx
  Modules/Core/Common/test/itkNeighborhoodAllocatorGTest.cxx
  Modules/Filtering/ImageGradient/include/itkVectorGradientMagnitudeImageFilter.h
Labels: area:Core, area:Filtering, type:Testing

#2654 COMP: test fails to compile when legacy support is removed
  Modules/Core/Common/test/itkMetaProgrammingLibraryTest.cxx
Labels: area:Core, type:Compiler, type:Testing

#2649 ENH: fix Python multi-processing hang on unix
  Modules/Core/Common/include/itkThreadPool.h
  Modules/Core/Common/src/itkThreadPool.cxx
Labels: area:Core, type:Enhancement

#2655 Update VNL to 2021-07-19 (22f874db)
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_math.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_na.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_quaternion.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_rational.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_rotation_matrix.cxx
Labels: area:ThirdParty

#2656 COMP: directly use [[deprecated]] in itkLegacyMacro - C++14 allows that
  Modules/Core/Common/include/itkMacro.h
Labels: area:Core, type:Compiler

#2653 ENH: Increase `Review` module classes' code coverage
  Modules/Nonunit/Review/test/itkAreaClosingImageFilterTest.cxx
  Modules/Nonunit/Review/test/itkAreaOpeningImageFilterTest.cxx
  Modules/Nonunit/Review/test/itkConformalFlatteningMeshFilterTest.cxx
  Modules/Nonunit/Review/test/itkLabelGeometryImageFilterTest.cxx
  Modules/Nonunit/Review/test/itkOptMattesMutualInformationImageToImageMetricThreadsTest1.cxx
  Modules/Nonunit/Review/test/itkScalarChanAndVeseDenseLevelSetImageFilterTest2.cxx
  Modules/Nonunit/Review/test/itkScalarChanAndVeseDenseLevelSetImageFilterTest4.cxx
  Modules/Nonunit/Review/test/itkScalarChanAndVeseSparseLevelSetImageFilterTest2.cxx
  Modules/Nonunit/Review/test/itkStochasticFractalDimensionImageFilterTest.cxx
Labels: type:Coverage, type:Enhancement, type:Testing

#2658 COMP: Remove comparison to FixedArray in MatrixOffsetTransformBase GTest
  Modules/Core/Transform/test/itkMatrixOffsetTransformBaseGTest.cxx
Labels: area:Core, type:Compiler, type:Testing

#2660 BUG: Initialize member in `itk::AttributeLabelObject`
  Modules/Filtering/LabelMap/include/itkAttributeLabelObject.h
Labels: area:Filtering, type:Bug

#2659 ENH: Bump `MetaIO`
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaArrow.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaBlob.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaContour.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaDTITube.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaEllipse.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaFEMObject.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaGaussian.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaGroup.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaImage.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaLandmark.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaLine.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaMesh.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaScene.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaSurface.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaTransform.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaTube.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaTubeGraph.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaUtils.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaUtils.h
Labels: area:ThirdParty, type:Enhancement

#2662 COMP: add ITK_ prefix in itkStochasticFractalDimensionImageFilterTest
  Modules/Nonunit/Review/test/itkStochasticFractalDimensionImageFilterTest.cxx
Labels: type:Compiler, type:Testing

#2666 COMP: Do not enable remote module examples when building Doxygen docs
  CMake/ITKModuleMacros.cmake
Labels: type:Compiler, type:Infrastructure
