Repository InsightSoftwareConsortium/ITK, pull requests merged in 2021-08, with the labels that each got.

#2675 ENH: Wrap itkAdaptiveHistogramEqualizationImageFilter for Python.
  Modules/Filtering/ImageStatistics/wrapping/itkAdaptiveHistogramEqualizationImageFilter.wrap
Labels: type:Enhancement

#2667 ENH: Wrap itkAdaptiveHistogramEqualizationImageFilter for Python.
  Modules/Filtering/ImageStatistics/wrapping/itkAdaptiveHistogramEqualizationImageFilter.wrap
Labels: area:Filtering, area:Python wrapping, type:Enhancement

#2671 BUG: Write spatial object color
  Modules/Core/SpatialObjects/include/itkMetaSceneConverter.hxx
Labels: area:Core, type:Bug

#2670 BUG: TubeSpatialObject missing CopyInformation
  Modules/Core/SpatialObjects/include/itkTubeSpatialObject.h
  Modules/Core/SpatialObjects/include/itkTubeSpatialObject.hxx
Labels: area:Core, type:Bug

#2669 BUG: TubeSpatialObject didn't preserver Artery flag
  Modules/Core/SpatialObjects/include/itkMetaVesselTubeConverter.hxx
Labels: area:Core, type:Bug

#2678 COMP: Use mallinfo2 when available
  Modules/Core/Common/CMake/itkCheckHasMallinfo2.cxx
  Modules/Core/Common/CMakeLists.txt
  Modules/Core/Common/include/itkMemoryUsageObserver.h
  Modules/Core/Common/src/itkConfigure.h.in
  Modules/Core/Common/src/itkMemoryUsageObserver.cxx
Labels: type:Compiler, type:Infrastructure, area:Core

#2679 COMP: Fix compilation for ITK_FUTURE_LEGACY=ON
  Modules/Remote/AdaptiveDenoising.remote.cmake
Labels: type:Compiler, area:Remotes

#2677 STYLE: TransformInitializers constructors = default; default-member-init
  Modules/Core/Transform/include/itkBSplineTransformInitializer.h
  Modules/Core/Transform/include/itkBSplineTransformInitializer.hxx
  Modules/Registration/Common/include/itkCenteredTransformInitializer.h
  Modules/Registration/Common/include/itkCenteredTransformInitializer.hxx
  Modules/Registration/Common/include/itkCenteredVersorTransformInitializer.h
  Modules/Registration/Common/include/itkCenteredVersorTransformInitializer.hxx
  Modules/Registration/Common/include/itkLandmarkBasedTransformInitializer.h
  Modules/Registration/Common/include/itkLandmarkBasedTransformInitializer.hxx
  Modules/Registration/Common/test/CMakeLists.txt
  Modules/Registration/Common/test/itkTransformInitializersGTest.cxx
Labels: type:Infrastructure, type:Testing, area:Core, area:Registration, type:Style

#2682 GoogleTest 2021-08-06 (aefb4546)
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-death-test.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-message.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-param-test.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-printers.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-spi.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-test-part.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-typed-test.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest_pred_impl.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest_prod.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-death-test-internal.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-filepath.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-internal.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-param-util.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-port.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-string.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-type-util.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-death-test.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest.cc
Labels: type:Testing, area:ThirdParty

#2680 COMP: Update SpatialObjects to correct const-ness
  Modules/Core/SpatialObjects/include/itkMetaSceneConverter.h
  Modules/Core/SpatialObjects/include/itkMetaSceneConverter.hxx
  Modules/Core/SpatialObjects/include/itkSpatialObject.h
  Modules/Core/SpatialObjects/include/itkSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkSurfaceSpatialObjectPoint.h
  Modules/Core/SpatialObjects/include/itkSurfaceSpatialObjectPoint.hxx
  Modules/Core/SpatialObjects/test/itkSurfaceSpatialObjectTest.cxx
  Modules/Core/SpatialObjects/wrapping/itkSpatialObjectBase.wrap
  Modules/IO/SpatialObjects/include/itkSpatialObjectWriter.h
Labels: type:Compiler, area:Python wrapping, type:Testing, area:Core, area:IO

#2686 numpy 1.21.1 testing
  Testing/ContinuousIntegration/AzurePipelinesLinuxPython.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
  Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml
Labels: type:Testing

#2688 COMP: Add missing template exports to ResampleInPlace,N4Bias,Py ImageFilters
  Modules/Core/Transform/include/itkResampleInPlaceImageFilter.h
  Modules/Filtering/BiasCorrection/include/itkN4BiasFieldCorrectionImageFilter.h
  Wrapping/Generators/Python/PyUtils/itkPyImageFilter.h
Labels: type:Compiler, area:Core, area:Filtering

#2687 COMP: Add missing template export macro to SLICImageFilter
  Modules/Segmentation/SuperPixel/include/itkSLICImageFilter.h
Labels: type:Compiler, area:Segmentation

#2691 BUG: Initialize C++ standard for remote modules
  CMake/ITKInitializeCXXStandard.cmake
  CMake/ITKModuleExternal.cmake
  CMakeLists.txt
Labels: type:Bug, type:Infrastructure

#2692 ENH: Made a few slow tests run serially, so they won't timeout
  Modules/IO/Meta/test/CMakeLists.txt
  Modules/IO/TIFF/test/CMakeLists.txt
  Modules/Registration/Common/test/RegistrationITKv3/test/CMakeLists.txt
  Modules/Registration/RegistrationMethodsv4/test/CMakeLists.txt
Labels: type:Infrastructure, type:Enhancement, area:IO, area:Registration

#2694 DOC: Improve Apple Clang error to include C++14 requirement
  Modules/Core/Common/include/itkMacro.h
Labels: area:Core

#2697 COMP: update KWStyle (so it reports its version number)
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Compiler, type:Infrastructure

#2698 ENH: Update remote modules using the script
  Modules/Remote/GrowCut.remote.cmake
  Modules/Remote/IsotropicWavelets.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
Labels: type:Enhancement, area:Examples, area:Remotes

#2701 BUG: Fix matrix check rejecting NIFTI sform for small voxels
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
Labels: type:Bug, area:IO

#2702 BUG: Missed wrapping of itkResampleInPlaceImageFilter
  Modules/Core/Transform/wrapping/CMakeLists.txt
Labels: type:Bug, type:Infrastructure, area:Python wrapping, area:Core

#2704 ENH: Wrap `itk::TransformToDisplacementFieldFilter` for Python
  Modules/Filtering/DisplacementField/include/itkTransformToDisplacementFieldFilter.hxx
  Modules/Filtering/DisplacementField/wrapping/itkTransformToDisplacementFieldFilter.wrap
Labels: type:Enhancement, area:Python wrapping, area:Filtering

#2707 BUG: fixed reference leak when SWIG passing tuples or lists
  Wrapping/Generators/Python/PyBase/pyBase.i
Labels: type:Bug, area:Python wrapping
