Repository InsightSoftwareConsortium/ITK, pull requests merged in 2021-06, with the labels that each got.

#2536 ENH: Increase `Common` operators' code coverage
  Modules/Core/Common/test/itkAnnulusOperatorTest.cxx
  Modules/Core/Common/test/itkDerivativeOperatorTest.cxx
  Modules/Core/Common/test/itkGaussianDerivativeOperatorTest.cxx
  Modules/Core/Common/test/itkNeighborhoodOperatorTest.cxx
Labels: area:Core, type:Coverage, type:Enhancement, type:Testing

#2563 ENH: Upgrade ITK from C++11 to C++14
  CMake/itkCompilerChecks.cmake
  CMakeLists.txt
  Documentation/SupportedCompilers.md
  Modules/Core/Common/include/itkMacro.h
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: area:Core, area:Documentation, type:Enhancement, type:Infrastructure

#2577 COMP: Bump TubeTK to version the fixes linux CI
  Modules/Remote/TubeTK.remote.cmake
Labels: area:Remotes, type:Compiler

#2574 STYLE: Replace `new` by C++14 `std::make_unique`
  Modules/Core/Common/include/itkOptimizerParameters.h
  Modules/Filtering/DistanceMap/include/itkSignedMaurerDistanceMapImageFilter.hxx
  Modules/Filtering/ImageFilterBase/include/itkTernaryGeneratorImageFilter.hxx
  Modules/IO/TransformHDF5/src/itkHDF5TransformIO.cxx
  Modules/Numerics/Optimizersv4/include/itkLBFGSOptimizerBasev4.hxx
  Modules/Numerics/Optimizersv4/src/itkLBFGSBOptimizerv4.cxx
Labels: area:Core, area:Filtering, area:IO, area:Numerics, type:Style

#2580 STYLE: Use C++14 <type_traits> template aliases instead of nested types
  Modules/Core/Common/include/itkImageBufferRange.h
  Modules/Core/Common/include/itkImageRegionRange.h
  Modules/Core/Common/include/itkIndexRange.h
  Modules/Core/Common/include/itkShapedImageNeighborhoodRange.h
  Modules/Core/Common/include/itkSymmetricEigenAnalysis.h
  Modules/Core/Common/include/itkThreadPool.h
  Modules/Core/Common/test/itkNeighborhoodAllocatorGTest.cxx
  Modules/Core/Transform/include/itkTransform.h
  Modules/Core/Transform/include/itkTransform.hxx
  Modules/Filtering/ImageFilterBase/include/itkCastImageFilter.h
  Modules/Filtering/ImageFilterBase/include/itkCastImageFilter.hxx
  Modules/Filtering/ImageFilterBase/test/itkCastImageFilterTest.cxx
  Modules/Filtering/ImageGrid/include/itkBinShrinkImageFilter.h
  Modules/IO/ImageBase/include/itkImageFileWriter.h
Labels: area:Core, area:Filtering, area:IO, type:Style, type:Testing

#2576 STYLE: Use C++14 `make_reverse_iterator` inside `CoLexicographicCompare`
  Modules/Core/Common/include/itkLexicographicCompare.h
Labels: area:Core, type:Style

#2581 DOC: Fix description of SpatialObjectToImage registration
  Modules/Registration/Common/include/itkImageToSpatialObjectMetric.h
  Modules/Registration/Common/include/itkImageToSpatialObjectRegistrationMethod.h
Labels: area:Registration

#2578 ENH: Add numbers to the three `itkPyBufferMemoryLeakTest` print messages
  Modules/Bridge/NumPy/wrapping/test/itkPyBufferMemoryLeakTest.py
Labels: area:Bridge, area:Python wrapping, type:Enhancement, type:Testing

#2579 STYLE: C++14 auto return type for ConnectedImageNeighborhoodShapeOffsets
  Modules/Core/Common/include/itkConnectedImageNeighborhoodShape.h
Labels: area:Core, type:Style

#2569 STYLE: Prefer implicitly deriving array size in test
  Modules/Core/Common/test/itkNeighborhoodOperatorTest.cxx
Labels: area:Core, type:Style, type:Testing

#2584 ENH: Add support for long long pixel types to ImageDuplicator wrapping
  Modules/Core/Common/wrapping/itkImageDuplicator.wrap
Labels: area:Core, area:Python wrapping, type:Enhancement

#2560 DOC: Fix enum class name in documentation
  Modules/Filtering/MathematicalMorphology/include/itkMathematicalMorphologyEnums.h
Labels: area:Filtering

#2587 ci external data version
  Testing/ContinuousIntegration/AzurePipelinesBatch.yml
  Testing/ContinuousIntegration/AzurePipelinesLinux.yml
  Testing/ContinuousIntegration/AzurePipelinesLinuxPython.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOS.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
  Testing/ContinuousIntegration/AzurePipelinesWindows.yml
  Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml
Labels: type:Testing

#2528 ENH: Wrap ITKVideoStream
  Modules/Video/Core/include/itkVideoStream.h
  Modules/Video/Core/include/itkVideoStream.hxx
  Modules/Video/Core/wrapping/CMakeLists.txt
  Modules/Video/Core/wrapping/itkRingBuffer.wrap
  Modules/Video/Core/wrapping/itkTemporalDataObject.wrap
  Modules/Video/Core/wrapping/itkTemporalRegion.wrap
  Modules/Video/Core/wrapping/itkVideoStream.wrap
Labels: area:Python wrapping, area:Video, type:Enhancement, type:Infrastructure

#2585 COMP: Support non-EqualityComparable pixels Image template instantiation
  Modules/Core/Common/include/itkImage.h
  Modules/Core/Common/test/itkImageGTest.cxx
Labels: area:Core, type:Compiler, type:Testing

#2595 BUG: Correct stop condition description
  Modules/Numerics/Optimizersv4/include/itkOnePlusOneEvolutionaryOptimizerv4.hxx
Labels: area:Numerics, type:Bug

#2588 COMP: Increased min cmake from 3.10.2 to 3.16.3
  .circleci/config.yml
  CMake/ITKModuleTest.cmake
  CMake/ITKSetPython3Vars.cmake
  CMake/ITKSetStandardCompilerFlags.cmake
  CMakeLists.txt
  Examples/Installation/CMakeLists.txt
  Modules/Bridge/NumPy/CMakeLists.txt
  Modules/Core/Common/CMake/itkCheckPrivateDynamicCast.cmake
  Modules/Core/GPUCommon/CMakeLists.txt
  Modules/Core/GPUFiniteDifference/CMakeLists.txt
  Modules/Filtering/GPUAnisotropicSmoothing/CMakeLists.txt
  Modules/Filtering/GPUImageFilterBase/CMakeLists.txt
  Modules/Filtering/GPUSmoothing/CMakeLists.txt
  Modules/Numerics/FEM/CMakeLists.txt
  Modules/ThirdParty/Eigen3/src/itkeigen/CMakeLists.txt
  Modules/ThirdParty/NIFTI/src/nifti/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/config/cmake/config/vxl_shared_link_test/CMakeLists.txt
  Modules/Video/BridgeOpenCV/CMakeLists.txt
  Testing/TestExternal/CMakeLists.txt
  Wrapping/CMakeLists.txt
  Wrapping/Generators/Python/CMakeLists.txt
Labels: area:Bridge, area:Core, area:Examples, area:Filtering, area:Numerics, area:ThirdParty, area:Video, type:Compiler, type:Infrastructure, type:Testing

#2594 BUG: Use consistent ITK_USE_CLANG_FORMAT variable name
  CMake/ITKClangFormatSetup.cmake
Labels: type:Bug, type:Infrastructure

#2597 STYLE: Use `ITK_UNEQUAL_OPERATOR_MEMBER_FUNCTION` in Modules/Core
  Modules/Core/Common/include/itkImageRegion.h
  Modules/Core/ImageAdaptors/include/itkBluePixelAccessor.h
  Modules/Core/ImageAdaptors/include/itkGreenPixelAccessor.h
  Modules/Core/ImageAdaptors/include/itkRedPixelAccessor.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshBaseIterator.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshFrontIterator.h
Labels: area:Core, type:Style

#2599 vtk version
  Modules/Bridge/VtkGlue/CMakeLists.txt
  Modules/Bridge/VtkGlue/itk-module-init.cmake
  Wrapping/Generators/Python/Tests/verifyGetOutputAPIConsistency.py
Labels: area:Bridge, area:Python wrapping, type:Infrastructure, type:Testing

#2598 COMP: Require Python 3.7 or newer
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/SwigInterface/igenerator.py
Labels: area:Python wrapping, type:Compiler, type:Testing

#2600 STYLE: ITK_UNEQUAL_OPERATOR_MEMBER_FUNCTION when `==` just returns true
  Modules/Filtering/Convolution/include/itkMaskedFFTNormalizedCorrelationImageFilter.hxx
  Modules/Filtering/Deconvolution/include/itkInverseDeconvolutionImageFilter.h
  Modules/Filtering/Deconvolution/include/itkLandweberDeconvolutionImageFilter.h
  Modules/Filtering/Deconvolution/include/itkTikhonovDeconvolutionImageFilter.h
  Modules/Filtering/Deconvolution/include/itkWienerDeconvolutionImageFilter.h
  Modules/Filtering/DiffusionTensorImage/include/itkTensorFractionalAnisotropyImageFilter.h
  Modules/Filtering/DiffusionTensorImage/include/itkTensorRelativeAnisotropyImageFilter.h
  Modules/Filtering/ImageCompare/include/itkAbsoluteValueDifferenceImageFilter.h
  Modules/Filtering/ImageCompare/include/itkSquaredDifferenceImageFilter.h
  Modules/Filtering/ImageCompose/include/itkJoinImageFilter.h
  Modules/Filtering/ImageFilterBase/include/itkCastImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkAbsImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkAcosImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkArithmeticOpsFunctors.h
  Modules/Filtering/ImageIntensity/include/itkAsinImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkAtan2ImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkAtanImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkBinaryMagnitudeImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkBitwiseOpsFunctors.h
  Modules/Filtering/ImageIntensity/include/itkBoundedReciprocalImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkComplexToImaginaryImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkComplexToModulusImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkComplexToPhaseImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkComplexToRealImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkConstrainedValueAdditionImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkConstrainedValueDifferenceImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkCosImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkEdgePotentialImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkExpImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkLog10ImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkLogImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkLogicOpsFunctors.h
  Modules/Filtering/ImageIntensity/include/itkMagnitudeAndPhaseToComplexImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkMaskImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkMaskNegatedImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkMaximumImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkMinimumImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkNaryAddImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkNaryMaximumImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkPowImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkRGBToLuminanceImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkRoundImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkSinImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkSqrtImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkSquareImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkSymmetricEigenAnalysisImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkTanImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkTernaryMagnitudeImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkTernaryMagnitudeSquaredImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkVectorMagnitudeImageFilter.h
  Modules/Filtering/LabelMap/include/itkBinaryNotImageFilter.h
  Modules/Segmentation/ConnectedComponents/include/itkVectorConnectedComponentImageFilter.h
Labels: area:Filtering, area:Python wrapping, area:Segmentation, type:Style

#2593 ENH: Add `float` wrapping for itkSymmetricSecondRankTensor
  Modules/Core/Common/wrapping/itkImageSource.wrap
  Modules/Core/Common/wrapping/itkImageToImageFilterB.wrap
  Modules/Filtering/ImageSources/wrapping/itkGenerateImageSource.wrap
  Wrapping/WrapITKTypes.cmake
Labels: area:Core, area:Filtering, area:Python wrapping, type:Enhancement

#2606 BUG: Remove unused virtual operator!=, operator== from ColormapFunction
  Modules/Filtering/Colormap/include/itkColormapFunction.h
Labels: area:Filtering, type:Bug

#2615 COMP: Add missing `#include <iostream>` to Deprecated module test
  Modules/Compatibility/Deprecated/test/itkSimpleFastMutexLockTest.cxx
Labels: type:Compiler, type:Testing

#2610 COMP: Restore generation of static runtime library on MSVC
  CMakeLists.txt
Labels: type:Compiler

#2609 COMP: Restore generation of static runtime library on MSVC
  CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#2611 COMP: Remove MultiThreaderBase pixelCount
  Modules/Core/Common/src/itkMultiThreaderBase.cxx
Labels: area:Core, type:Compiler

#2614 COMP: Use numpy==1.20.3 for CI testing
  Testing/ContinuousIntegration/AzurePipelinesLinuxPython.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
  Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml
Labels: type:Compiler

#2618 COMP: Update GDCM
  .gitattributes
  Modules/ThirdParty/GDCM/UpdateFromUpstream.sh
  Modules/ThirdParty/GDCM/src/gdcm/.gitattributes
  Modules/ThirdParty/GDCM/src/gdcm/CMakeLists.txt
  Modules/ThirdParty/GDCM/src/gdcm/Source/Common/gdcmLegacyMacro.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/Common/gdcmTrace.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataDictionary/gdcmCSAHeaderDefaultDicts.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataDictionary/gdcmDefaultDicts.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataDictionary/gdcmDefaultGroupNames.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataDictionary/gdcmDicts.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataDictionary/gdcmDicts.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataDictionary/gdcmPrivateDefaultDicts.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataStructureAndEncodingDefinition/gdcmCSAHeader.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataStructureAndEncodingDefinition/gdcmElement.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataStructureAndEncodingDefinition/gdcmFileMetaInformation.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataStructureAndEncodingDefinition/gdcmMrProtocol.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataStructureAndEncodingDefinition/gdcmPDBHeader.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataStructureAndEncodingDefinition/gdcmReader.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataStructureAndEncodingDefinition/gdcmSequenceOfItems.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmBitmap.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmCurve.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmDICOMDIRGenerator.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmDataSetHelper.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmDictPrinter.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmDirectionCosines.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmEmptyMaskGenerator.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmFileChangeTransferSyntax.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmFileDerivation.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmFileStreamer.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmIPPSorter.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmImage.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmImageChangePhotometricInterpretation.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmImageChangePhotometricInterpretation.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmImageCodec.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmImageHelper.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmJPEG2000Codec.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmJPEG2000Codec.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmJPEGBITSCodec.hxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmJPEGCodec.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmJPEGLSCodec.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmJPEGLSCodec.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmJSON.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmLookupTable.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmOverlay.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmRLECodec.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmRescaler.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmSegmentedPaletteColorLookupTable.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmXMLPrinter.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MessageExchangeDefinition/gdcmFindPatientRootQuery.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MessageExchangeDefinition/gdcmFindStudyRootQuery.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MessageExchangeDefinition/gdcmModalityPerformedProcedureStepCreateQuery.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MessageExchangeDefinition/gdcmModalityPerformedProcedureStepSetQuery.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MessageExchangeDefinition/gdcmMovePatientRootQuery.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MessageExchangeDefinition/gdcmMoveStudyRootQuery.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MessageExchangeDefinition/gdcmNCreateMessages.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MessageExchangeDefinition/gdcmNSetMessages.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MessageExchangeDefinition/gdcmServiceClassUser.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MessageExchangeDefinition/gdcmULConnectionManager.cxx
Labels: area:ThirdParty, type:Compiler, type:Infrastructure

#2612 COMP: Provide default values for floating point macros
  Modules/Core/Common/src/itkFloatingPointExceptions_unix.cxx
Labels: area:Core, type:Compiler

#2586 ENH: add support for direction in VTK image
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/support/extras.py
Labels: area:Python wrapping, type:Enhancement, type:Testing

#2616 ENH: Add `ITK_EXPERIMENTAL_CXX20_REWRITTEN_UNEQUAL_OPERATOR` macro
  Modules/Compatibility/Deprecated/include/itkTreeIteratorClone.h
  Modules/Core/Common/include/itkConstShapedNeighborhoodIterator.h
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/include/itkWeakPointer.h
Labels: area:Core, type:Enhancement

#2621 ENH: update remote modules using the maintenance script
  Modules/Remote/AnisotropicDiffusionLBR.remote.cmake
  Modules/Remote/BSplineGradient.remote.cmake
  Modules/Remote/BoneEnhancement.remote.cmake
  Modules/Remote/BoneMorphometry.remote.cmake
  Modules/Remote/Cuberille.remote.cmake
  Modules/Remote/HigherOrderAccurateGradient.remote.cmake
  Modules/Remote/IOFDF.remote.cmake
  Modules/Remote/IOScanco.remote.cmake
  Modules/Remote/IsotropicWavelets.remote.cmake
  Modules/Remote/MinimalPathExtraction.remote.cmake
  Modules/Remote/Montage.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SimpleITKFilters.remote.cmake
  Modules/Remote/SkullStrip.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/Strain.remote.cmake
  Modules/Remote/TextureFeatures.remote.cmake
  Modules/Remote/Thickness3D.remote.cmake
  Modules/Remote/TotalVariation.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
Labels: area:Examples, area:Remotes, type:Enhancement
