Repository InsightSoftwareConsortium/ITK, pull requests merged in 2021-04, with the labels that each got.

#2487 DOC: Improve `itk::ResampleInPlaceImageFilter` documentation
  Modules/Core/Transform/include/itkResampleInPlaceImageFilter.h
Labels: area:Core, area:Documentation

#2486 ENH: Improve `itk::ResampleInPlaceImageFilter` coverage
  Modules/Core/Transform/test/itkResampleInPlaceImageFilterTest.cxx
Labels: area:Core, type:Coverage, type:Enhancement, type:Testing

#2488 ENH: Add Python wrapping for `itk::ResampleInPlaceImageFilter`
  Modules/Core/Transform/wrapping/itkResampleInPlaceImageFilter.wrap
Labels: area:Core, area:Python wrapping, type:Enhancement

#2512 COMP: Make floating point exceptions a no-op with MUSL, Linux, ARMv8
  Modules/Core/Common/src/itkFloatingPointExceptions_unix.cxx
Labels: type:Compiler

#2509 ENH: Bump labeler action version
  .github/workflows/label-pr.yml
Labels: type:Enhancement

#2513 BUG: Fix wrong argument count comparison in ResampleImageFilter example
  Examples/Filtering/ResampleImageFilter.cxx
Labels: type:Bug

#2516 BUG: Fix labeler action file regexes
  .github/labeler.yml
Labels: type:Bug

#2517 COMP: Replace np.bool with np.bool8
  Wrapping/Generators/Python/itk/support/types.py
Labels: type:Compiler
