Repository InsightSoftwareConsortium/ITK, pull requests merged in 2021-10, with the labels that each got.

#2765 COMP: Update CircleCI image to cimg/python:3.9
  .circleci/config.yml
Labels: type:Compiler

#2770 COMP: Initialize CXX standard in ITK_USE_FILE
  CMake/UseITK.cmake
Labels: type:Compiler, type:Infrastructure

#2752 Remove (ITK_FUTURE_LEGACY_REMOVE) itkStaticConstMacro and itkGetStaticConstMacro
  Modules/Core/Common/include/itkImageSink.h
  Modules/Core/Common/include/itkMacro.h
  Modules/Filtering/ImageFilterBase/include/itkBinaryGeneratorImageFilter.h
  Modules/Filtering/ImageGrid/test/itkResampleImageTest8.cxx
Labels: type:Testing, area:Core, area:Filtering

#2764 BUG #2762
  Modules/IO/DCMTK/wrapping/itkDCMTKImageIO.wrap
Labels: area:Python wrapping, area:IO

#2768 STYLE: Improve `itk::SimilarityIndexImageFilter` class test file style
  Modules/Filtering/ImageCompare/test/itkSimilarityIndexImageFilterTest.cxx
Labels: type:Testing, area:Filtering, type:Style

#2769 ENH: Add further label regexes for labeler
  .github/labeler.yml
Labels: type:Infrastructure, type:Enhancement

#2774 ENH: Improve KLCompareHistogramImageToImageMetric coverage
  Modules/Registration/Common/test/itkCompareHistogramImageToImageMetricTest.cxx
Labels: type:Enhancement, type:Testing, area:Registration, type:Coverage

#2773 STYLE: Remove unnecessary implementation file manual instantiation guard
  Modules/Core/Common/include/itkNeighborhood.h
Labels: area:Core, type:Style

#2775 STYLE: Make `itkLabelImageToLabelMapFilterTest` style consistent
  Modules/Filtering/LabelMap/test/itkLabelImageToLabelMapFilterTest.cxx
Labels: type:Testing, area:Filtering, type:Style

#2772 STYLE: Improve the ivar printing in `PrintSelf` methods
  Modules/Core/Common/include/itkNeighborhood.hxx
  Modules/Filtering/Convolution/include/itkConvolutionImageFilterBase.hxx
  Modules/Filtering/DisplacementField/include/itkLandmarkDisplacementFieldSource.hxx
  Modules/Filtering/FFT/include/itkFFTPadImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkPadImageFilterBase.hxx
  Modules/Filtering/ImageStatistics/include/itkImageShapeModelEstimatorBase.hxx
  Modules/Numerics/FEM/include/itkFEMObjectSpatialObject.hxx
  Modules/Numerics/Statistics/include/itkVectorContainerToListSampleAdaptor.hxx
  Modules/Registration/Common/include/itkCompareHistogramImageToImageMetric.hxx
  Modules/Registration/PDEDeformable/include/itkLevelSetMotionRegistrationFilter.hxx
  Modules/Segmentation/Classifiers/include/itkClassifierBase.hxx
  Modules/Segmentation/LevelSets/include/itkNarrowBandCurvesLevelSetImageFilter.hxx
Labels: area:Core, area:Filtering, area:Registration, area:Segmentation, type:Style, area:Numerics

#2779 ENH: Improve KLCompareHistogramImageToImageMetric coverage
  Modules/Registration/Common/test/itkCompareHistogramImageToImageMetricTest.cxx
Labels: type:Enhancement, type:Testing, area:Registration, type:Coverage
