Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-09, with the labels that each got.

#3594 COMP: Fix build with ITK_USE_SYSTEM_HDF5=ON
  Modules/ThirdParty/HDF5/CMakeLists.txt
  Modules/ThirdParty/HDF5/itk-module-init.cmake
Labels: type:Compiler, type:Infrastructure, area:ThirdParty

#3597 BUG: Fix variable typo `MultiphaseDenseFiniteDifferenceImageFilter` test
  Modules/Nonunit/Review/test/itkMultiphaseDenseFiniteDifferenceImageFilterTest.cxx
Labels: type:Bug, type:Testing

#3596 STYLE: More make_unique_for_overwrite, less delete[], on local variables
  Modules/Core/Common/include/itkSymmetricEigenAnalysis.hxx
  Modules/Filtering/DistanceMap/include/itkFastChamferDistanceImageFilter.hxx
  Modules/Filtering/GPUAnisotropicSmoothing/include/itkGPUScalarAnisotropicDiffusionFunction.hxx
  Modules/Filtering/ImageCompare/include/itkSTAPLEImageFilter.hxx
  Modules/IO/MeshBase/include/itkMeshFileWriter.hxx
  Modules/IO/MeshBase/include/itkMeshIOBase.h
  Modules/IO/MeshFreeSurfer/include/itkFreeSurferAsciiMeshIO.h
  Modules/IO/MeshFreeSurfer/include/itkFreeSurferBinaryMeshIO.h
  Modules/IO/MeshOFF/include/itkOFFMeshIO.h
  Modules/IO/MeshVTK/include/itkVTKPolyDataMeshIO.h
  Modules/Numerics/Statistics/include/itkHistogramToTextureFeaturesFilter.hxx
  Modules/Numerics/Statistics/include/itkScalarImageToRunLengthFeaturesFilter.hxx
  Modules/Segmentation/Classifiers/include/itkImageKmeansModelEstimator.hxx
  Modules/Segmentation/ConnectedComponents/include/itkHardConnectedComponentImageFilter.hxx
  Modules/Segmentation/LabelVoting/include/itkMultiLabelSTAPLEImageFilter.hxx
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.hxx
  Modules/Segmentation/Voronoi/include/itkVoronoiDiagram2DGenerator.hxx
  Modules/Video/IO/include/itkVideoFileReader.hxx
Labels: area:Core, area:Filtering, area:IO, area:Segmentation, area:Video, type:Style, area:Numerics

#3604 STYLE: Let Operator Fill allocate temp_slice on the stack, without `new`
  Modules/Core/Common/include/itkAnnulusOperator.hxx
  Modules/Core/Common/include/itkImageKernelOperator.hxx
  Modules/Core/Common/include/itkLaplacianOperator.hxx
  Modules/Core/Common/include/itkNeighborhoodOperator.hxx
Labels: area:Core, type:Style

#3601 STYLE: Use unique_ptr and make_unique_for_overwrite in Review module
  Modules/Nonunit/Review/include/itkAttributeMorphologyBaseImageFilter.h
  Modules/Nonunit/Review/include/itkAttributeMorphologyBaseImageFilter.hxx
  Modules/Nonunit/Review/include/itkDirectFourierReconstructionImageToImageFilter.hxx
Labels: type:Style

#3605 ENH: Increase `itk::UniformRandomSpatialNeighborSubsampler` coverage
  Modules/Numerics/Statistics/test/itkUniformRandomSpatialNeighborSubsamplerTest.cxx
Labels: type:Enhancement, type:Testing, type:Coverage, area:Numerics

#3609 ENH: Increase `itk::STAPLEImageFilter` coverage
  Modules/Filtering/ImageCompare/test/CMakeLists.txt
  Modules/Filtering/ImageCompare/test/itkSTAPLEImageFilterTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Filtering, type:Coverage

#3606 STYLE: Allocate local variables (cells) Mesh on the stack, without `new`
  Modules/Core/Mesh/include/itkMesh.hxx
Labels: area:Core, type:Style

#3612 STYLE: Allocate `Directory::m_Internal` without `new`
  Modules/Core/Common/include/itkDirectory.h
  Modules/Core/Common/src/itkDirectory.cxx
Labels: area:Core, type:Style

#3613 STYLE: Declare `RGBGibbsPriorFilter` data members as `unique_ptr<T[]>`
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.h
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.hxx
Labels: area:Segmentation, type:Style

#3614 STYLE: Declare `ImageGaussianModelEstimator::m_Covariance` as unique_ptr
  Modules/Segmentation/Classifiers/include/itkImageGaussianModelEstimator.h
  Modules/Segmentation/Classifiers/include/itkImageGaussianModelEstimator.hxx
Labels: area:Segmentation, type:Style

#3617 ENH: Bump TubeTK to v1.3.3
  Modules/Remote/TubeTK.remote.cmake
Labels: type:Enhancement, area:Remotes

#3616 Declare metric "per thread" data members as `unique_ptr<T[]>`, remove `mutable`
  Modules/Registration/Common/include/itkMattesMutualInformationImageToImageMetric.h
  Modules/Registration/Common/include/itkMattesMutualInformationImageToImageMetric.hxx
  Modules/Registration/Common/include/itkMeanSquaresImageToImageMetric.h
  Modules/Registration/Common/include/itkMeanSquaresImageToImageMetric.hxx
  Modules/Registration/Metricsv4/include/itkCorrelationImageToImageMetricv4GetValueAndDerivativeThreader.h
  Modules/Registration/Metricsv4/include/itkCorrelationImageToImageMetricv4GetValueAndDerivativeThreader.hxx
  Modules/Registration/Metricsv4/include/itkCorrelationImageToImageMetricv4HelperThreader.h
  Modules/Registration/Metricsv4/include/itkCorrelationImageToImageMetricv4HelperThreader.hxx
  Modules/Registration/Metricsv4/include/itkImageToImageMetricv4GetValueAndDerivativeThreaderBase.h
  Modules/Registration/Metricsv4/include/itkImageToImageMetricv4GetValueAndDerivativeThreaderBase.hxx
  Modules/Registration/Metricsv4/include/itkJointHistogramMutualInformationComputeJointPDFThreaderBase.h
  Modules/Registration/Metricsv4/include/itkJointHistogramMutualInformationComputeJointPDFThreaderBase.hxx
  Modules/Registration/Metricsv4/include/itkJointHistogramMutualInformationGetValueAndDerivativeThreader.h
  Modules/Registration/Metricsv4/include/itkJointHistogramMutualInformationGetValueAndDerivativeThreader.hxx
Labels: area:Registration

#3633 ENH: Increase coverage for `itk::ImageRegistrationMethodv4`
  Modules/Registration/RegistrationMethodsv4/test/itkSimpleImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSimpleImageRegistrationTest2.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSimplePointSetRegistrationTest.cxx
Labels: type:Enhancement, type:Testing, area:Registration, type:Coverage

#3627 ENH: Increase `itk::MultiLabelSTAPLEImageFilter` coverage
  Modules/Segmentation/LabelVoting/test/itkMultiLabelSTAPLEImageFilterTest.cxx
Labels: type:Bug, type:Enhancement, area:Documentation, type:Testing, area:Segmentation, type:Style, type:Coverage

#3619 Remove unreachable code from GE5ImageIO and use unique_ptr
  Modules/IO/GE/src/itkGE5ImageIO.cxx
Labels: area:IO

#3626 BUG: Fix `itk::STAPLEImageFilter` test argument order
  Modules/Filtering/ImageCompare/test/CMakeLists.txt
Labels: type:Bug, type:Infrastructure, area:Filtering

#3629 BUG: `Object::InvokeEvent` should not use a dangling Observer pointer
  Modules/Core/Common/src/itkObject.cxx
Labels: type:Bug, area:Core

#3634 STYLE: Remove `const` overload of `SubjectImplementation::AddObserver`
  Modules/Core/Common/src/itkObject.cxx
Labels: area:Core, type:Style

#3630 ENH: Use `itkPrintSelfObjectMacro` to print objects that can be null
  Modules/Registration/PDEDeformable/include/itkESMDemonsRegistrationFunction.hxx
  Modules/Segmentation/LabelVoting/include/itkMultiLabelSTAPLEImageFilter.hxx
Labels: type:Enhancement, area:Registration, area:Segmentation

#3624 BUG: Fix OutputWindow thread-safety GetInstance
  Modules/Core/Common/src/itkOutputWindow.cxx
Labels: type:Bug, area:Core

#3645 COMP: Work around GCC <= 9.1 "error: invalid application of ‘sizeof’..."
  Modules/Core/Common/include/itkObject.h
Labels: type:Compiler, area:Core

#3635 Update nifti clib 2022-09-19 (8f7ecce7)
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1.h
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_io.c
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_io.h
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_tool.c
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_tool.h
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti_tester001.c
  Modules/ThirdParty/NIFTI/src/nifti/znzlib/znzlib.h
Labels: area:ThirdParty

#3637 COMP: Fix comparison of integer expressions of different signedness
  Modules/IO/MeshVTK/src/itkVTKPolyDataMeshIO.cxx
Labels: type:Compiler, area:IO

#3642 STYLE: Declare lambda's created for Singleton `const`, but non-static
  Modules/Core/Common/include/itkSingletonMacro.h
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
Labels: area:Core, type:Style

#3646 STYLE: Method local variables should not have `m_` prefix
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
  Modules/Core/Mesh/include/itkConnectedRegionsMeshFilter.hxx
  Modules/IO/GDCM/src/itkGDCMSeriesFileNames.cxx
Labels: area:Core, area:IO, type:Style

#3652 ENH: Use `itkPrintSelfObjectMacro` to print objects that can be null
  Modules/IO/ImageBase/include/itkImageFileWriter.hxx
  Modules/IO/ImageBase/include/itkImageSeriesWriter.hxx
Labels: type:Enhancement, area:IO

#3650 DOC: Fix miscellaneous Doxygen warnings
  Modules/Filtering/BiasCorrection/include/itkMRASlabIdentifier.h
  Modules/IO/MeshOBJ/include/itkOBJMeshIO.h
  Modules/IO/NIFTI/include/itkNiftiImageIO.h
Labels: type:Documentation, area:Filtering, area:IO

#3653 ENH: Fix the `Documentation` PR title identification
  .github/ISSUE_TEMPLATE/documentation_impact_report.md
  .github/labeler.yml
Labels: type:Infrastructure, type:Enhancement

#3661 ENH: Clamp `STAPLEImageFilter` maximum iterations
  Modules/Filtering/ImageCompare/include/itkSTAPLEImageFilter.h
Labels: type:Enhancement, area:Filtering

#3649 DOC: Link groups in Doxygen in module description
  CMake/ITKGroups.cmake
  Modules/Filtering/AnisotropicSmoothing/itk-module.cmake
  Modules/Filtering/GPUAnisotropicSmoothing/itk-module.cmake
  Modules/Filtering/GPUSmoothing/itk-module.cmake
  Modules/Filtering/Smoothing/itk-module.cmake
  Modules/Registration/Common/itk-module.cmake
  Modules/Segmentation/Classifiers/itk-module.cmake
  Modules/Segmentation/ConnectedComponents/itk-module.cmake
  Modules/Segmentation/KLMRegionGrowing/itk-module.cmake
  Modules/Segmentation/LabelVoting/itk-module.cmake
  Modules/Segmentation/MarkovRandomFieldsClassifiers/itk-module.cmake
  Modules/Segmentation/RegionGrowing/itk-module.cmake
Labels: type:Infrastructure, type:Documentation, area:Filtering, area:Registration, area:Segmentation

#3664 STYLE: Remove space between class and member names (follow-up)
  Modules/Core/Common/src/itkHexahedronCellTopology.cxx
  Modules/Core/Common/src/itkQuadraticTriangleCellTopology.cxx
  Modules/Core/Common/src/itkQuadrilateralCellTopology.cxx
  Modules/Core/Common/src/itkSmapsFileParser.cxx
  Modules/Core/Common/src/itkTetrahedronCellTopology.cxx
  Modules/Core/Common/src/itkTriangleCellTopology.cxx
  Modules/Core/Common/src/itkXMLFileOutputWindow.cxx
  Modules/Filtering/FFT/src/itkFFTWGlobalConfiguration.cxx
  Modules/Filtering/Path/src/itkChainCodePath2D.cxx
  Modules/IO/DCMTK/src/itkDCMTKFileReader.cxx
  Modules/IO/DCMTK/src/itkDCMTKImageIO.cxx
  Modules/IO/DCMTK/src/itkDCMTKSeriesFileNames.cxx
  Modules/IO/GE/src/itkGE4ImageIO.cxx
  Modules/IO/GE/src/itkGE5ImageIO.cxx
  Modules/IO/GIPL/src/itkGiplImageIO.cxx
  Modules/IO/HDF5/src/itkHDF5ImageIO.cxx
  Modules/IO/IPL/src/itkIPLCommonImageIO.cxx
  Modules/IO/JPEG2000/src/itkJPEG2000ImageIO.cxx
  Modules/IO/MRC/src/itkMRCImageIO.cxx
  Modules/IO/MeshBYU/src/itkBYUMeshIO.cxx
  Modules/IO/MeshBYU/src/itkBYUMeshIOFactory.cxx
  Modules/IO/MeshFreeSurfer/src/itkFreeSurferAsciiMeshIO.cxx
  Modules/IO/MeshFreeSurfer/src/itkFreeSurferBinaryMeshIO.cxx
  Modules/IO/MeshOBJ/src/itkOBJMeshIO.cxx
  Modules/IO/MeshOBJ/src/itkOBJMeshIOFactory.cxx
  Modules/IO/MeshOFF/src/itkOFFMeshIO.cxx
  Modules/IO/MeshOFF/src/itkOFFMeshIOFactory.cxx
  Modules/IO/MeshVTK/src/itkVTKPolyDataMeshIO.cxx
  Modules/IO/MeshVTK/src/itkVTKPolyDataMeshIOFactory.cxx
  Modules/IO/Meta/src/itkMetaImageIO.cxx
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
  Modules/IO/PhilipsREC/src/itkPhilipsRECImageIO.cxx
  Modules/Nonunit/Review/src/itkVoxBoCUBImageIO.cxx
  Modules/Numerics/FEM/src/itkFEMElement2DC0LinearTriangular.cxx
  Modules/Numerics/FEM/src/itkFEMElement3DC0LinearTriangular.cxx
  Modules/Numerics/Optimizers/src/itkFRPROptimizer.cxx
  Modules/Numerics/Optimizers/src/itkLBFGSBOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkLBFGSOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkMultipleValuedVnlCostFunctionAdaptor.cxx
  Modules/Numerics/Optimizers/src/itkSPSAOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkSingleValuedVnlCostFunctionAdaptor.cxx
  Modules/Numerics/Optimizersv4/src/itkAmoebaOptimizerv4.cxx
  Modules/Numerics/Optimizersv4/src/itkLBFGSBOptimizerv4.cxx
  Modules/Numerics/Optimizersv4/src/itkLBFGSOptimizerv4.cxx
  Modules/Numerics/Optimizersv4/src/itkSingleValuedNonLinearVnlOptimizerv4.cxx
  Modules/Numerics/Optimizersv4/src/itkSingleValuedVnlCostFunctionAdaptorv4.cxx
  Modules/Numerics/Statistics/src/itkChiSquareDistribution.cxx
  Modules/Numerics/Statistics/src/itkDenseFrequencyContainer2.cxx
  Modules/Numerics/Statistics/src/itkGaussianDistribution.cxx
  Modules/Numerics/Statistics/src/itkSparseFrequencyContainer2.cxx
  Modules/Numerics/Statistics/src/itkTDistribution.cxx
  Modules/Segmentation/KLMRegionGrowing/src/itkKLMSegmentationBorder.cxx
  Modules/Segmentation/KLMRegionGrowing/src/itkKLMSegmentationRegion.cxx
  Modules/Video/IO/src/itkFileListVideoIO.cxx
Labels: area:Core, area:Filtering, area:IO, area:Segmentation, area:Video, type:Style, area:Numerics

#3663 STYLE: Declare `m_VnlOptimizer` from Optimizers as unique_ptr
  Modules/Numerics/Optimizers/include/itkAmoebaOptimizer.h
  Modules/Numerics/Optimizers/include/itkConjugateGradientOptimizer.h
  Modules/Numerics/Optimizers/include/itkLBFGSBOptimizer.h
  Modules/Numerics/Optimizers/include/itkLBFGSOptimizer.h
  Modules/Numerics/Optimizers/include/itkLevenbergMarquardtOptimizer.h
  Modules/Numerics/Optimizers/src/itkAmoebaOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkConjugateGradientOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkLBFGSBOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkLBFGSOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkLevenbergMarquardtOptimizer.cxx
  Modules/Numerics/Optimizersv4/include/itkAmoebaOptimizerv4.h
  Modules/Numerics/Optimizersv4/src/itkAmoebaOptimizerv4.cxx
Labels: type:Style, area:Numerics

#3665 STYLE: Make OverRideMap, ObjectFactoryBasePrivate private nested classes
  Modules/Core/Common/include/itkObjectFactoryBase.h
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
Labels: area:Core, type:Style

#3651 DOC: Use Doxygen syntax to create automatic links to members
  Modules/Core/Common/include/itkImageToImageFilter.h
  Modules/Core/Common/include/itkProcessObject.h
  Modules/IO/ImageBase/include/itkStreamingImageIOBase.h
Labels: type:Documentation, area:Core, area:IO

#3668 COMP: Fix typo (compile error) in `PhilipsRECImageIO` constructor
  Modules/IO/PhilipsREC/src/itkPhilipsRECImageIO.cxx
Labels: type:Compiler, area:IO

#3667 DOC: Fix ITK class namespace spelling in `Core` group description
  CMake/ITKGroups.cmake
Labels: type:Infrastructure, type:Documentation

#3618 ENH: Enable HDF5_ENABLE_THREADSAFE
  Modules/ThirdParty/HDF5/src/CMakeLists.txt
Labels: type:Infrastructure, type:Enhancement, area:ThirdParty
