Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-12, with the labels that each got.

#3784 COMP: zlib crc32_braid.c cast to smaller integer type
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/crc32_braid.c
Labels: type:Compiler, area:ThirdParty

#3783 STYLE: Do not suppress clang "-Wfloat-equal" inside `itkSetObjectMacro`
  Modules/Core/Common/include/itkMacro.h
Labels: area:Core, type:Style

#3793 BUG: Use hashes instead of tags for remote modules
  Modules/Remote/MinimalPathExtraction.remote.cmake
  Modules/Remote/README.md
  Modules/Remote/TubeTK.remote.cmake
Labels: type:Bug, area:Remotes

#3796 BUG: fixed valgrind defect in FreeSurfer mesh test
  Modules/IO/MeshFreeSurfer/test/CMakeLists.txt
  Modules/IO/MeshFreeSurfer/test/itkFreeSurferMeshIOTest.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:IO

#3799 BUG: pointset_type_from_wasm_type return a PointSet
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/support/helpers.py
Labels: type:Bug, area:Python wrapping, type:Testing

#3800 COMP: Use newer CastXML binary for latest versions of Windows 10
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#3792 STYLE: Replace `for` loops SetPointIds(PointIdConstIterator) by copy_n
  Modules/Core/Common/include/itkHexahedronCell.hxx
  Modules/Core/Common/include/itkLineCell.hxx
  Modules/Core/Common/include/itkPolyLineCell.hxx
  Modules/Core/Common/include/itkPolygonCell.hxx
  Modules/Core/Common/include/itkQuadraticEdgeCell.hxx
  Modules/Core/Common/include/itkQuadraticTriangleCell.hxx
  Modules/Core/Common/include/itkQuadrilateralCell.hxx
  Modules/Core/Common/include/itkTetrahedronCell.hxx
  Modules/Core/Common/include/itkTriangleCell.hxx
  Modules/Core/Common/include/itkVertexCell.hxx
Labels: area:Core, type:Style

#3803 DOC: Include links to updated remote modules in release notes
  Utilities/Maintenance/AuthorsChangesSince.py
Labels: type:Infrastructure, type:Documentation, area:Python wrapping

#3804 DOC: Add links to previous versions in the Doxygen footer
  Documentation/Doxygen/DoxygenFooter.html
Labels: type:Documentation, area:Documentation

#3807 DOC: Add a reminder to update API docs link to older version
  Documentation/Maintenance/Release.md
Labels: type:Documentation, area:Documentation

#3808 DOC: Improve doxygen footer formatting
  Documentation/Doxygen/DoxygenFooter.html
Labels: type:Documentation, area:Documentation

#3810 ENH: Bump Azure Testing ExternalDataVersion to 5.3.0
  Testing/ContinuousIntegration/AzurePipelinesBatch.yml
  Testing/ContinuousIntegration/AzurePipelinesLinux.yml
  Testing/ContinuousIntegration/AzurePipelinesLinuxPython.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOS.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
  Testing/ContinuousIntegration/AzurePipelinesWindows.yml
  Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml
Labels: type:Infrastructure, type:Enhancement, type:Testing

#3812 DOC: Add archives of 5.3 release notes
  Documentation/ReleaseNotes/5.3.md
  Documentation/ReleaseNotes/5.3rc01.md
  Documentation/ReleaseNotes/5.3rc02.md
  Documentation/ReleaseNotes/5.3rc03.md
  Documentation/ReleaseNotes/5.3rc04.md
Labels: type:Documentation, area:Documentation

#3815 STYLE: Convert a tab indent into spaces in BuildHeaderTest.py
  Utilities/Maintenance/BuildHeaderTest.py
Labels: type:Infrastructure, area:Python wrapping, type:Testing, type:Style

#3816 DOC: Add link to 5.3 documentation in Doxygen footer
  Documentation/Doxygen/DoxygenFooter.html
Labels: type:Documentation, area:Documentation

#3814 STYLE: Add missing `<< indent` insertions to `PrintSelf` implementations
  Modules/Bridge/VTK/include/itkVTKImageImport.hxx
  Modules/Core/SpatialObjects/include/itkBoxSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkEllipseSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkGaussianSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkMeshSpatialObject.hxx
  Modules/Filtering/DisplacementField/include/itkInvertDisplacementFieldImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkCannyEdgeDetectionImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkHessianRecursiveGaussianImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkLaplacianRecursiveGaussianImageFilter.hxx
  Modules/Filtering/ImageGradient/include/itkGradientMagnitudeRecursiveGaussianImageFilter.hxx
  Modules/Filtering/ImageGradient/include/itkGradientRecursiveGaussianImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkTileImageFilter.hxx
  Modules/Filtering/ImageStatistics/include/itkAdaptiveHistogramEqualizationImageFilter.hxx
  Modules/Filtering/Smoothing/include/itkRecursiveGaussianImageFilter.hxx
  Modules/Filtering/Thresholding/include/itkOtsuMultipleThresholdsImageFilter.hxx
  Modules/IO/CSV/include/itkCSVArray2DDataObject.hxx
  Modules/Numerics/Optimizers/src/itkMultipleValuedNonLinearVnlOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkSingleValuedNonLinearVnlOptimizer.cxx
  Modules/Numerics/Optimizersv4/include/itkWindowConvergenceMonitoringFunction.hxx
  Modules/Numerics/Optimizersv4/src/itkSingleValuedNonLinearVnlOptimizerv4.cxx
  Modules/Numerics/Statistics/include/itkScalarImageToHistogramGenerator.hxx
  Modules/Registration/Common/include/itkBSplineTransformParametersAdaptor.hxx
  Modules/Registration/Common/include/itkMeanReciprocalSquareDifferenceImageToImageMetric.hxx
  Modules/Registration/Common/include/itkMeanReciprocalSquareDifferencePointSetToImageMetric.hxx
  Modules/Registration/Common/include/itkMultiResolutionPyramidImageFilter.hxx
  Modules/Registration/Common/include/itkTimeVaryingBSplineVelocityFieldTransformParametersAdaptor.hxx
  Modules/Segmentation/LevelSets/include/itkGeodesicActiveContourLevelSetImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkGeodesicActiveContourShapePriorLevelSetImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkNarrowBandThresholdSegmentationLevelSetImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkThresholdSegmentationLevelSetImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkVectorThresholdSegmentationLevelSetImageFilter.hxx
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.hxx
Labels: area:Bridge, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style, area:Numerics

#3813 STYLE: Replace `*x.begin()` with `x.front()`
  Modules/Core/Common/include/itkPolygonCell.hxx
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshPolygonCell.h
  Modules/Filtering/ImageFeature/include/itkZeroCrossingImageFilter.hxx
  Modules/IO/TransformBase/src/itkTransformFileWriterSpecializations.cxx
  Modules/Numerics/Statistics/test/itkMaximumRatioDecisionRuleTest.cxx
  Modules/Segmentation/RegionGrowing/include/itkIsolatedConnectedImageFilter.hxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Segmentation, type:Style, area:Numerics

#3802 STYLE: Chain consecutive insertions (`<<`) to the same output stream
  Modules/Core/Common/include/itkSimpleFilterWatcher.h
  Modules/Core/Common/src/itkXMLFilterWatcher.cxx
  Modules/Core/GPUCommon/include/itkGPUReduction.hxx
  Modules/Core/GPUCommon/src/itkOpenCLUtil.cxx
  Modules/Core/Mesh/include/itkVTKPolyDataWriter.hxx
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshScalarDataVTKPolyDataWriter.hxx
  Modules/Core/SpatialObjects/include/itkSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkSurfaceSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkTubeSpatialObject.hxx
  Modules/Core/Transform/include/itkTransform.hxx
  Modules/Filtering/GPUAnisotropicSmoothing/include/itkGPUGradientNDAnisotropicDiffusionFunction.hxx
  Modules/Filtering/GPUImageFilterBase/include/itkGPUCastImageFilter.hxx
  Modules/Filtering/GPUSmoothing/include/itkGPUMeanImageFilter.hxx
  Modules/Filtering/GPUThresholding/include/itkGPUBinaryThresholdImageFilter.hxx
  Modules/IO/CSV/include/itkCSVNumericObjectFileWriter.hxx
  Modules/IO/ImageBase/include/itkImageFileReader.hxx
  Modules/IO/ImageBase/include/itkImageFileWriter.hxx
  Modules/IO/JPEG2000/src/itkJPEG2000ImageIO.cxx
  Modules/IO/MeshBYU/src/itkBYUMeshIO.cxx
  Modules/IO/MeshBase/include/itkMeshFileReader.hxx
  Modules/IO/MeshBase/include/itkMeshFileWriter.hxx
  Modules/IO/MeshOBJ/src/itkOBJMeshIO.cxx
  Modules/IO/MeshVTK/include/itkVTKPolyDataMeshIO.h
  Modules/IO/PhilipsREC/src/itkPhilipsRECImageIO.cxx
  Modules/IO/TransformBase/src/itkTransformFileReader.cxx
  Modules/IO/TransformBase/src/itkTransformFileWriterSpecializations.cxx
  Modules/IO/TransformHDF5/src/itkHDF5TransformIO.cxx
  Modules/IO/TransformInsightLegacy/src/itkTxtTransformIO.cxx
  Modules/IO/VTK/src/itkVTKImageIO.cxx
  Modules/Nonunit/Review/src/itkVoxBoCUBImageIO.cxx
  Modules/Numerics/FEM/include/itkFEMImageMetricLoad.hxx
  Modules/Numerics/Optimizers/src/itkExhaustiveOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkOnePlusOneEvolutionaryOptimizer.cxx
  Modules/Numerics/Optimizersv4/include/itkCommandIterationUpdatev4.h
  Modules/Numerics/Optimizersv4/include/itkExhaustiveOptimizerv4.hxx
  Modules/Numerics/Optimizersv4/include/itkOnePlusOneEvolutionaryOptimizerv4.hxx
  Modules/Registration/Common/include/itkCommandIterationUpdate.h
  Modules/Registration/Common/include/itkCommandVnlIterationUpdate.h
  Modules/Segmentation/KLMRegionGrowing/src/itkKLMSegmentationBorder.cxx
  Modules/Segmentation/KLMRegionGrowing/src/itkKLMSegmentationRegion.cxx
Labels: area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style, area:Numerics

#3811 STYLE: Make data of PixelReferenceWrapper (in ImageBufferRange) private
  Modules/Core/Common/include/itkImageBufferRange.h
Labels: area:Core, type:Style

#3817 STYLE: In-class default-member-initialization in Command derived classes and VTKImageImport
  Modules/Bridge/VTK/include/itkVTKImageImport.h
  Modules/Bridge/VTK/include/itkVTKImageImport.hxx
  Modules/Core/Common/include/itkCommand.h
Labels: area:Bridge, area:Core, type:Style

#3824 DOC: add Homebrew instructions
  README.md
Labels: type:Documentation

#3823 VXL 2022-12-23 (8169cc76)
  Modules/ThirdParty/VNL/src/vxl/vcl/tests/test_include.cxx
  Modules/ThirdParty/VNL/src/vxl/vcl/vcl_deprecated.cxx
Labels: area:ThirdParty

#3818 COMP: Threads package is required by TBB
  Modules/ThirdParty/TBB/CMakeLists.txt
  Modules/ThirdParty/TBB/itk-module-init.cmake
Labels: type:Compiler, type:Infrastructure, area:ThirdParty

#3826 STYLE: Prefer using exception macros in tests
  Modules/Core/Mesh/test/itkParametricSpaceToImageSpaceMeshFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleGeodesicErodeDilateImageFilterTest.cxx
  Modules/Numerics/Optimizersv4/test/itkLBFGSBOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkPowellOptimizerv4Test.cxx
  Modules/Registration/Common/test/itkImageToSpatialObjectRegistrationTest.cxx
  Modules/Registration/Metricsv4/test/itkANTSNeighborhoodCorrelationImageToImageMetricv4Test.cxx
  Modules/Segmentation/LevelSets/test/itkParallelSparseFieldLevelSetImageFilterTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:Registration, area:Segmentation, type:Style, area:Numerics

#3827 ENH: Use `itkPrintSelfObjectMacro` to print objects that can be null
  Modules/Registration/Metricsv4/include/itkPointSetFunction.hxx
Labels: type:Enhancement, area:Registration

#3828 BUG: Fix input argument indices in test
  Modules/Numerics/Statistics/test/itkKdTreeBasedKmeansEstimatorTest.cxx
Labels: type:Bug, type:Testing, area:Numerics

#3831 DOC: Release process updates for 5.3.0
  Documentation/Maintenance/Release.md
  Utilities/Maintenance/DownloadLinksCookieCutter/cookiecutter.json
  Utilities/Maintenance/DownloadLinksCookieCutter/{{cookiecutter.output_directory}}/ReleaseDownloadLinks.html
Labels: type:Infrastructure, type:Documentation, area:Documentation
