Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-01, with the labels that each got.

#3017 COMP: Fix testing macro call and array initialization errors
  Modules/Core/Transform/test/itkRigid3DPerspectiveTransformTest.cxx
  Modules/Filtering/FastMarching/test/itkFastMarchingTest.cxx
Labels: type:Compiler, type:Testing, area:Core, area:Filtering

#3019 DOC: Add comment for `SetNumberOfWorkUnits` to correct documentation.
  Modules/Filtering/Smoothing/include/itkSmoothingRecursiveGaussianImageFilter.h
Labels: area:Filtering

#3016 MINC 2021-12-23 (728d19e8)
  Modules/ThirdParty/MINC/UpdateFromUpstream.sh
  Modules/ThirdParty/MINC/src/libminc/CMakeLists.txt
  Modules/ThirdParty/MINC/src/libminc/libcommon/restructure.c
  Modules/ThirdParty/MINC/src/libminc/libsrc2/convert.c
  Modules/ThirdParty/MINC/src/libminc/libsrc2/hyper.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Include/volume_io/alloc.h
  Modules/ThirdParty/MINC/src/libminc/volume_io/Include/volume_io/arrays.h
  Modules/ThirdParty/MINC/src/libminc/volume_io/Include/volume_io/vol_io_prototypes.h
  Modules/ThirdParty/MINC/src/libminc/volume_io/Prog_utils/alloc.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Prog_utils/arrays.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Prog_utils/print.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Volumes/input_mgh.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Volumes/input_nifti.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Volumes/input_nrrd.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Volumes/multidim_arrays.c
Labels: type:Infrastructure, area:ThirdParty

#3024 COMP: Modernize searching in list
  Wrapping/TypedefMacros.cmake
Labels: type:Compiler

#3025 STYLE: Disable MSVC settings for non-MSVC
  CMakeLists.txt
Labels: type:Infrastructure, type:Style

#3027 STYLE: Clean-up default-constructed local `inputRegion` variables
  Modules/Core/Common/include/itkImageSink.hxx
  Modules/Filtering/Convolution/include/itkMaskedFFTNormalizedCorrelationImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkInverseDisplacementFieldImageFilter.hxx
  Modules/Video/Core/include/itkVideoToVideoFilter.hxx
  Modules/Video/Filtering/include/itkFrameAverageVideoFilter.hxx
  Modules/Video/Filtering/include/itkFrameDifferenceVideoFilter.hxx
Labels: area:Core, area:Filtering, area:Video, type:Style

#3034 STYLE: OpenJPEG: removed outdated comment
  Modules/ThirdParty/OpenJPEG/itk-module.cmake
Labels: area:ThirdParty, type:Style

#3035 COMP: fix warning triggered by setjmp
  Modules/IO/JPEG/src/itkJPEGImageIO.cxx
Labels: type:Compiler, area:IO

#3020 BUG: fixed thread safety errors found by Thread Sanitizer
  Modules/Core/FiniteDifference/include/itkDenseFiniteDifferenceImageFilter.h
  Modules/Core/FiniteDifference/include/itkFiniteDifferenceImageFilter.h
  Modules/Core/FiniteDifference/include/itkFiniteDifferenceImageFilter.hxx
  Modules/Core/FiniteDifference/include/itkFiniteDifferenceSparseImageFilter.h
  Modules/Core/FiniteDifference/include/itkFiniteDifferenceSparseImageFilter.hxx
  Modules/Core/GPUFiniteDifference/include/itkGPUFiniteDifferenceImageFilter.h
  Modules/Core/GPUFiniteDifference/include/itkGPUFiniteDifferenceImageFilter.hxx
  Modules/Nonunit/Review/include/itkMultiphaseFiniteDifferenceImageFilter.h
  Modules/Nonunit/Review/include/itkMultiphaseFiniteDifferenceImageFilter.hxx
  Modules/Numerics/NarrowBand/include/itkNarrowBandImageFilterBase.h
  Modules/Numerics/NarrowBand/include/itkNarrowBandImageFilterBase.hxx
  Modules/Segmentation/LevelSets/include/itkParallelSparseFieldLevelSetImageFilter.h
Labels: type:Bug, area:Core, area:Segmentation, area:Numerics

#3036 STYLE: Declare local zero-filled `Index` variables `constexpr`
  Modules/Core/Common/include/itkBresenhamLine.hxx
  Modules/Core/Common/include/itkConstNeighborhoodIterator.hxx
  Modules/Core/Common/include/itkConstNeighborhoodIteratorWithOnlyIndex.hxx
  Modules/Core/Common/include/itkConstantBoundaryCondition.hxx
  Modules/Core/ImageFunction/include/itkLinearInterpolateImageFunction.h
  Modules/Core/SpatialObjects/include/itkMetaImageConverter.hxx
  Modules/Core/TestKernel/include/itkRandomImageSource.hxx
  Modules/Filtering/Convolution/include/itkMaskedFFTNormalizedCorrelationImageFilter.hxx
  Modules/Filtering/FastMarching/include/itkFastMarchingImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkRegionOfInterestImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkSliceImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkTileImageFilter.hxx
  Modules/Filtering/Path/include/itkExtractOrthogonalSwath2DImageFilter.hxx
  Modules/Filtering/Path/include/itkPathToImageFilter.hxx
  Modules/IO/ImageBase/include/itkImageFileReader.hxx
  Modules/IO/ImageBase/include/itkImageSeriesReader.hxx
  Modules/Numerics/Statistics/include/itkImageToNeighborhoodSampleAdaptor.hxx
  Modules/Registration/Common/include/itkImageRegistrationMethodImageSource.h
  Modules/Registration/Common/include/itkMattesMutualInformationImageToImageMetric.hxx
  Modules/Registration/Metricsv4/include/itkJointHistogramMutualInformationImageToImageMetricv4.hxx
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4GetValueAndDerivativeThreader.hxx
  Modules/Segmentation/Classifiers/include/itkImageClassifierBase.hxx
  Modules/Segmentation/ConnectedComponents/include/itkHardConnectedComponentImageFilter.hxx
  Modules/Segmentation/KLMRegionGrowing/include/itkKLMRegionGrowImageFilter.hxx
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkMRFImageFilter.hxx
  Modules/Segmentation/Voronoi/include/itkVoronoiSegmentationRGBImageFilter.hxx
  Modules/Video/IO/include/itkVideoFileReader.hxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, area:Video, type:Style, area:Numerics

#3038 DOC: Fix possessive "its" usage
  CMake/ITKModuleRemote.cmake
  Documentation/ITK5MigrationGuide.md
  Documentation/ReleaseNotes/3.12.md
  Documentation/ReleaseNotes/3.18.md
  Modules/Core/Common/include/itkDataObject.h
  Modules/Core/Common/include/itkGaussianDerivativeOperator.hxx
  Modules/Core/Common/include/itkImageBase.h
  Modules/Core/Common/include/itkResourceProbesCollectorBase.hxx
  Modules/Core/Common/src/itkTBBMultiThreader.cxx
  Modules/Core/QuadEdgeMesh/include/itkGeometricalQuadEdge.h
  Modules/Core/QuadEdgeMesh/include/itkGeometricalQuadEdge.hxx
  Modules/Core/QuadEdgeMesh/include/itkQuadEdge.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshBoundaryEdgesMeshFunction.hxx
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshEulerOperatorSplitFacetFunction.hxx
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshZipMeshFunction.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshZipMeshFunction.hxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorFlipTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorJoinVertexTest.cxx
  Modules/Core/TestKernel/include/itkPipelineMonitorImageFilter.hxx
  Modules/Core/Transform/include/itkIdentityTransform.h
  Modules/Core/Transform/include/itkTransform.h
  Modules/Core/Transform/test/itkBSplineTransformInitializerTest2.cxx
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldTransform.h
  Modules/Filtering/LabelMap/include/itkShapeLabelObject.h
  Modules/IO/GE/src/itkGE5ImageIO.cxx
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
  Modules/IO/TransformHDF5/test/itkIOTransformHDF5Test.cxx
  Modules/IO/TransformInsightLegacy/test/itkIOTransformTxtTest.cxx
  Modules/IO/TransformMINC/test/itkIOTransformMINCTest.cxx
  Modules/IO/TransformMINC/test/itkMINCTransformAdapterTest.cxx
  Modules/IO/TransformMatlab/test/itkIOTransformMatlabTest.cxx
  Modules/IO/XML/include/itkXMLFile.h
  Modules/Segmentation/SuperPixel/include/itkSLICImageFilter.h
  Modules/Segmentation/Watersheds/include/itkTobogganImageFilter.hxx
  Modules/Video/Core/include/itkVideoToVideoFilter.hxx
  Utilities/ITKv5Preparation/replaceClassWithTypename.py
  Wrapping/Generators/Python/itk/support/base.py
Labels: type:Infrastructure, area:Documentation, area:Python wrapping, type:Testing, area:Core, area:Filtering, area:IO, area:Segmentation, area:Video

#3040 STYLE: Code clean-up initializing local `ImageRegion` variables
  Modules/Core/Common/include/itkConstNeighborhoodIterator.hxx
  Modules/Core/Common/include/itkConstNeighborhoodIteratorWithOnlyIndex.hxx
  Modules/Core/Common/include/itkConstantBoundaryCondition.hxx
  Modules/Core/SpatialObjects/include/itkMetaImageConverter.hxx
  Modules/Core/TestKernel/include/itkRandomImageSource.hxx
  Modules/Filtering/Convolution/include/itkMaskedFFTNormalizedCorrelationImageFilter.hxx
  Modules/Filtering/FastMarching/include/itkFastMarchingImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkRegionOfInterestImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkSliceImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkTileImageFilter.hxx
  Modules/Filtering/Path/include/itkExtractOrthogonalSwath2DImageFilter.hxx
  Modules/Filtering/Path/include/itkPathToImageFilter.hxx
  Modules/IO/ImageBase/include/itkImageFileReader.hxx
  Modules/IO/ImageBase/include/itkImageSeriesReader.hxx
  Modules/Numerics/Statistics/include/itkImageToNeighborhoodSampleAdaptor.hxx
  Modules/Registration/Common/include/itkImageRegistrationMethodImageSource.h
  Modules/Registration/Common/include/itkMattesMutualInformationImageToImageMetric.hxx
  Modules/Registration/Metricsv4/include/itkJointHistogramMutualInformationImageToImageMetricv4.hxx
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4GetValueAndDerivativeThreader.hxx
  Modules/Segmentation/Classifiers/include/itkImageClassifierBase.hxx
  Modules/Segmentation/ConnectedComponents/include/itkHardConnectedComponentImageFilter.hxx
  Modules/Segmentation/KLMRegionGrowing/include/itkKLMRegionGrowImageFilter.hxx
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkMRFImageFilter.hxx
  Modules/Segmentation/Voronoi/include/itkVoronoiSegmentationRGBImageFilter.hxx
  Modules/Video/IO/include/itkVideoFileReader.hxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, area:Video, type:Style, area:Numerics

#3046 ENH: Use literate identifiers in Dask serialization.
  Wrapping/Generators/Python/itk/support/helpers.py
Labels: type:Enhancement, area:Python wrapping

#3047 ENH: Add MeshToPolyData remote module
  Modules/Remote/MeshToPolyData.remote.cmake
Labels: type:Enhancement, area:Remotes

#3053 BUG: Condition FFT wrappings on complex types
  Modules/Filtering/FFT/wrapping/itkForward1DFFTImageFilter.wrap
  Modules/Filtering/FFT/wrapping/itkInverse1DFFTImageFilter.wrap
  Modules/Filtering/FFT/wrapping/itkVnlForward1DFFTImageFilter.wrap
Labels: type:Bug, area:Python wrapping, area:Filtering

#3054 STYLE: ConstNeighborhoodIterator in-class default member initializers
  Modules/Core/Common/include/itkConstNeighborhoodIterator.h
  Modules/Core/Common/include/itkConstNeighborhoodIterator.hxx
  Modules/Core/Common/include/itkConstNeighborhoodIteratorWithOnlyIndex.h
  Modules/Core/Common/include/itkConstNeighborhoodIteratorWithOnlyIndex.hxx
Labels: area:Core, type:Style

#3055 BUG: Enable using only FFT Factory Register Manager
  CMake/UseITK.cmake
Labels: type:Bug, type:Infrastructure

#3039 COMP: Initialized derivs array to zero.
  Modules/Core/Common/include/itkHexahedronCell.hxx
Labels: type:Compiler, area:Core

#3061 DOC: Fix Insight Journal reference typos
  Modules/IO/ImageBase/include/itkStreamingImageIOBase.h
  Modules/IO/VTK/include/itkVTKImageIO.h
Labels: area:Documentation, area:IO

#3063 ENH: Use `itkPrintSelfObjectMacro` to print objects that can be null
  Modules/Filtering/ImageFeature/include/itkGradientVectorFlowImageFilter.hxx
  Modules/IO/MeshBase/include/itkMeshFileReader.hxx
Labels: type:Enhancement, area:Filtering, area:IO

#3066 BUG: Do not print non-self member variables in `PrintSelf`
  Modules/Numerics/Optimizersv4/src/itkLBFGSBOptimizerv4.cxx
Labels: type:Bug, area:Numerics

#3067 STYLE: Use strongly typed enum class ostream overload in `PrintSelf`
  Modules/Numerics/Optimizersv4/include/itkObjectToObjectMetricBase.hxx
Labels: type:Style, area:Numerics

#3060 ENH: Add RTTI to `itk::DisplacementFieldToBSplineImageFilter`
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldToBSplineImageFilter.h
  Modules/Filtering/DisplacementField/test/itkDisplacementFieldToBSplineImageFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Filtering

#3052 Better progress reporting
  Modules/Core/Common/include/itkProcessObject.h
  Modules/Core/Common/src/itkProgressReporter.cxx
  Modules/Core/Common/src/itkTotalProgressReporter.cxx
Labels: area:Core

#3068 COMP: removed obsolete option for Objective-C++ flags
  CMake/itkApple.cmake
Labels: type:Compiler, type:Infrastructure

#3058 ENH: Simplify LabelMapToLabelImageFilter slightly
  Modules/Filtering/LabelMap/include/itkLabelMapToLabelImageFilter.h
  Modules/Filtering/LabelMap/include/itkLabelMapToLabelImageFilter.hxx
Labels: type:Enhancement, area:Filtering

#3073 ENH: Use UTC timestamp in CONFIGURE_DATE.
  Modules/Core/Common/src/CMakeLists.txt
Labels: type:Infrastructure, type:Enhancement, area:Core

#3064 STYLE: Use the `itkNameOfTestExecutableMacro` macro in tests
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkBorderQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkBorderQuadEdgeMeshFilterTest2.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkCleanQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkDelaunayConformingQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkLaplacianDeformationQuadEdgeMeshFilterWithHardConstraintsTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkLaplacianDeformationQuadEdgeMeshFilterWithSoftConstraintsTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkParameterizationQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkQuadricDecimationQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkSmoothingQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkSquaredEdgeLengthDecimationQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/Smoothing/test/itkDiscreteGaussianImageFilterTest2.cxx
  Modules/IO/XML/test/itkDOMTest2.cxx
  Modules/IO/XML/test/itkDOMTest3.cxx
  Modules/IO/XML/test/itkDOMTest4.cxx
  Modules/IO/XML/test/itkDOMTest5.cxx
  Modules/IO/XML/test/itkDOMTest8.cxx
  Modules/Segmentation/LevelSetsv4/test/itkBinaryImageToMalcolmSparseLevelSetAdaptorTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkBinaryImageToShiSparseLevelSetAdaptorTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkBinaryImageToWhitakerSparseLevelSetAdaptorTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkSingleLevelSetDenseAdvectionImage2DTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkSingleLevelSetDenseImage2DTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkSingleLevelSetMalcolmImage2DTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkSingleLevelSetShiImage2DTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkSingleLevelSetWhitakerImage2DTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkTwoLevelSetDenseImage2DTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkTwoLevelSetMalcolmImage2DTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkTwoLevelSetShiImage2DTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkTwoLevelSetWhitakerImage2DTest.cxx
Labels: type:Testing, area:Filtering, area:IO, area:Segmentation, type:Style

#3074 COMP: Enable filtering group for Windows Python CI
  Modules/Filtering/FFT/itk-module.cmake
  Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml
Labels: type:Bug, type:Testing, area:Filtering

#3065 STYLE: Use recursive FFT registration for N to 1
  Modules/Filtering/FFT/include/itkFFTImageFilterFactory.h
Labels: area:Filtering, type:Style

#3076 STYLE: Use the superclass name in itkTypeMacro
  Modules/Numerics/Optimizersv4/include/itkMultiGradientOptimizerv4.h
  Modules/Numerics/Optimizersv4/test/itkMultiGradientOptimizerv4Test.cxx
Labels: type:Testing, type:Style, area:Numerics

#3085 BUG: Fix superclass name in itkTypeMacro
  Modules/Core/Common/include/itkLogger.h
  Modules/IO/TransformBase/include/itkTransformFileReader.h
Labels: type:Bug, area:Core, area:IO

#3079 COMP: Fix spline order return type in getter macro
  Modules/Core/ImageFunction/include/itkBSplineDecompositionImageFilter.h
  Modules/Core/ImageFunction/include/itkBSplineInterpolateImageFunction.h
  Modules/Nonunit/Review/include/itkComplexBSplineInterpolateImageFunction.h
Labels: type:Compiler, area:Core

#3082 COMP: Added mangling for 3 HDF5 functions that were missed
  Modules/ThirdParty/HDF5/src/itkhdf5/src/itk_hdf5_mangle.h
Labels: type:Compiler, area:ThirdParty

#3086 BUG: Guarantee array contains enough elements for access in loop
  Modules/Filtering/Thresholding/include/itkThresholdLabelerImageFilter.hxx
Labels: type:Bug, area:Filtering

#3081 ENH: Adding Module dependency for Windows Python CI
  Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml
Labels: type:Enhancement, type:Testing

#3059 ENH: Separate factory registration code to separate file
  CMake/ITKConfig.cmake.in
  CMake/ITKFactoryRegistration.cmake
  CMake/UseITK.cmake
  CMakeLists.txt
  Modules/IO/ImageBase/include/itkImageFileReader.h
  Modules/IO/ImageBase/include/itkImageFileWriter.h
  Modules/IO/MeshBase/include/itkMeshFileReader.h
  Modules/IO/MeshBase/include/itkMeshFileWriter.h
  Modules/IO/TransformBase/include/itkTransformFileReader.h
  Modules/IO/TransformBase/include/itkTransformFileWriter.h
Labels: type:Infrastructure, type:Enhancement, area:IO

#3071 BUG: Synchronize the object factory across Python modules
  Modules/Core/Common/include/itkObjectFactoryBase.h
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
  Modules/Filtering/Convolution/wrapping/test/CMakeLists.txt
  Modules/Filtering/Convolution/wrapping/test/FFTConvolutionImageFilterTest.py
  Modules/Filtering/FFT/src/itkFFTWFFTImageFilterFactories.cxx
  Modules/Filtering/FFT/src/itkVnlFFTImageFilterFactories.cxx
  Modules/Filtering/FFT/wrapping/test/CMakeLists.txt
  Modules/Filtering/FFT/wrapping/test/FFTObjectFactoryTest.py
  Wrapping/Generators/Python/CMakeLists.txt
  Wrapping/Generators/Python/itkPyITKCommonCAPI.h
Labels: type:Bug, type:Infrastructure, area:Python wrapping, type:Testing, area:Core, area:Filtering

#3089 PERF: Use binary search for threshold in ThresholdLabelerImageFilter
  Modules/Filtering/Thresholding/include/itkThresholdLabelerImageFilter.h
Labels: type:Performance, area:Filtering

#3091 STYLE: Remove old FFT 1D implementation includes
  Modules/Filtering/FFT/include/itkComplexToComplex1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkForward1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkInverse1DFFTImageFilter.h
Labels: area:Filtering, type:Style

#3022 BUG: Fix testing macro for unix platforms and uncomment FFT checks
  Modules/Core/TestKernel/include/itkTestingMacros.h
  Modules/Filtering/FFT/test/itkComplexToComplex1DFFTImageFilterTest.cxx
  Modules/Filtering/FFT/test/itkComplexToComplexFFTImageFilterTest.cxx
  Modules/Filtering/FFT/test/itkVnlComplexToComplexFFTImageFilterTest.cxx
Labels: type:Bug, type:Testing, area:Core, area:Filtering

#3092 STYLE: Standardize parameter names to argc and *argv[], replace ac/av
  Modules/Core/TestKernel/src/itkTestDriver.cxx
  Modules/Core/TestKernel/src/itkTestDriverInclude.cxx
  Modules/Core/TestKernel/src/itkTestDriverIncludeRequiredFactories.cxx
  Modules/Filtering/AnisotropicSmoothing/test/itkGradientAnisotropicDiffusionImageFilterTest2.cxx
  Modules/Filtering/ImageFeature/test/itkBilateralImageFilterTest2.cxx
  Modules/Filtering/ImageFeature/test/itkBilateralImageFilterTest3.cxx
  Modules/Filtering/ImageGradient/test/itkVectorGradientMagnitudeImageFilterTest2.cxx
  Modules/Filtering/ImageGradient/test/itkVectorGradientMagnitudeImageFilterTest3.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleMorphologicalClosingImageFilterTest2.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleMorphologicalOpeningImageFilterTest2.cxx
  Modules/IO/ImageBase/test/itkImageFileReaderTest1.cxx
  Modules/IO/ImageBase/test/itkImageFileWriterTest2.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest.h
  Modules/IO/NIFTI/test/itkNiftiImageIOTest10.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest11.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest12.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest2.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest3.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest4.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest5.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest6.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest7.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest8.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest9.cxx
  Modules/Nonunit/Review/test/itkFastApproximateRankImageFilterTest.cxx
  Modules/Numerics/FEM/test/itkFEMElementTest.cxx
  Modules/Numerics/FEM/test/itkFEMSolverHyperbolicTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, type:Style, area:Numerics

#3087 ENH: Add `itkFactoryOnlyNewMacro` to selectively catch factory instantiation failures
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkObjectFactoryOnlyNewTest.cxx
  Modules/Filtering/FFT/include/itkComplexToComplex1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkComplexToComplex1DFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkComplexToComplexFFTImageFilter.h
  Modules/Filtering/FFT/include/itkComplexToComplexFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkForward1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkForward1DFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkForwardFFTImageFilter.h
  Modules/Filtering/FFT/include/itkForwardFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkHalfHermitianToRealInverseFFTImageFilter.h
  Modules/Filtering/FFT/include/itkHalfHermitianToRealInverseFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkInverse1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkInverse1DFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkInverseFFTImageFilter.h
  Modules/Filtering/FFT/include/itkInverseFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkRealToHalfHermitianForwardFFTImageFilter.h
  Modules/Filtering/FFT/include/itkRealToHalfHermitianForwardFFTImageFilter.hxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core, area:Filtering

#3094 COMP: add C++11 override to various HDF5 methods that indeed override
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5ArrayType.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5AtomType.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5Attribute.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5CompType.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5DaccProp.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5DataSet.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5DataSpace.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5DataType.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5DcreatProp.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5DxferProp.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5EnumType.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5FaccProp.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5FcreatProp.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5File.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5FloatType.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5IntType.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5LaccProp.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5LcreatProp.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5OcreatProp.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5PredType.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5PropList.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5StrType.h
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5VarLenType.h
Labels: type:Compiler, area:ThirdParty

#3095 COMP: Disable Eigen3 warning Wused-but-marked-unused
  Modules/ThirdParty/Eigen3/src/itkeigen/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:ThirdParty

#3096 Fixes ITK factory registration CMake
  CMake/ITKFactoryRegistration.cmake
  CMake/ITKModuleMacros.cmake
  CMake/UseITK.cmake
Labels: type:Infrastructure

#3098 BUG: Provide consistent shape on Fortran-order np.ndarray views
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/Tests/extras.py
Labels: type:Bug, area:Python wrapping, type:Testing

#3101 COMP: Fix variable type and syntax errors
  Modules/Filtering/ImageCompare/test/itkTestingComparisonImageFilterTest.cxx
  Modules/Registration/Metricsv4/test/itkMattesMutualInformationImageToImageMetricv4Test.cxx
Labels: type:Compiler, type:Testing, area:Filtering, area:Registration

#3100 COMP: Fix missing initialization braces warning
  Modules/Filtering/DisplacementField/test/itkDisplacementFieldJacobianDeterminantFilterTest.cxx
Labels: type:Compiler, type:Testing, area:Filtering

#3105 COMP: fixed -Wset-but-unused warning building in Release
  Modules/Core/Mesh/include/itkConnectedRegionsMeshFilter.hxx
Labels: type:Compiler, area:Core

#3104 ENH: Add getter macro to ivar
  Modules/Registration/Common/include/itkCompareHistogramImageToImageMetric.h
  Modules/Registration/Common/test/itkCompareHistogramImageToImageMetricTest.cxx
Labels: type:Enhancement, type:Testing, area:Registration

#3103 ENH: Add missing getter/boolean macro methods
  Modules/Core/Mesh/include/itkImageToParametricSpaceFilter.h
  Modules/Core/Mesh/test/itkImageToParametricSpaceFilterTest.cxx
  Modules/Core/TestKernel/include/itkTestingComparisonImageFilter.h
  Modules/Filtering/ImageCompare/test/CMakeLists.txt
  Modules/Filtering/ImageCompare/test/itkTestingComparisonImageFilterTest.cxx
  Modules/Numerics/Optimizers/include/itkFRPROptimizer.h
  Modules/Numerics/Optimizers/test/itkFRPROptimizerTest.cxx
  Modules/Numerics/Optimizersv4/include/itkOnePlusOneEvolutionaryOptimizerv4.h
  Modules/Numerics/Optimizersv4/include/itkPowellOptimizerv4.h
  Modules/Numerics/Optimizersv4/test/CMakeLists.txt
  Modules/Numerics/Optimizersv4/test/itkOnePlusOneEvolutionaryOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkPowellOptimizerv4Test.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core, area:Filtering, area:Numerics

#3109 ENH: Increase coverage for miscellaneous classes
  Modules/Core/ImageFunction/test/itkRayCastInterpolateImageFunctionTest.cxx
  Modules/Numerics/Statistics/test/itkImageToHistogramFilterTest.cxx
  Modules/Segmentation/LabelVoting/test/itkMultiLabelSTAPLEImageFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Core, area:Segmentation, type:Coverage, area:Numerics

#3112 COMP: Update CastXML x86_64 binaries for LLVM 13.0.0
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#3106 STYLE: Default (`= default`) special member functions of `Neighborhood`
  Modules/Core/Common/include/itkNeighborhood.h
  Modules/Core/Common/include/itkNeighborhood.hxx
Labels: area:Core, type:Style

#3115 BUG: fixed simultaneous read/write access of same ivar by different t…
  Modules/Core/Common/include/itkMultiThreaderBase.h
Labels: type:Bug, area:Core

#3107 STYLE: Remove private `ImageScanlineConstIterator` member `Increment()`
  Modules/Core/Common/include/itkImageScanlineConstIterator.h
  Modules/Core/Common/include/itkImageScanlineConstIterator.hxx
Labels: area:Core, type:Style

#3118 BUG: Initialize `itk::ExhaustiveOptimizer::m_MinimumMetricValue`
  Modules/Numerics/Optimizers/include/itkExhaustiveOptimizer.h
Labels: type:Bug, area:Numerics

#3120 COMP: Remove use of deprecated functions
  Modules/Core/TestKernel/include/itkTestingMacros.h
  Modules/Filtering/ImageCompare/test/itkTestingComparisonImageFilterTest.cxx
Labels: type:Compiler, type:Testing, area:Core, area:Filtering

#3123 BUG: Protect itk::OutputWindow cerr usage with a mutex
  Modules/Core/Common/include/itkOutputWindow.h
  Modules/Core/Common/src/itkOutputWindow.cxx
Labels: type:Bug, area:Core

#3119 ENH: Update DCMTK to more modern codebase
  Modules/ThirdParty/DCMTK/CMakeLists.txt
  Modules/ThirdParty/DCMTK/DCMTKGitTag.cmake
Labels: type:Infrastructure, type:Enhancement, area:ThirdParty

#3125 PERF: Combine conditions in ImageRegion::IsInside(index).
  Modules/Core/Common/include/itkImageRegion.h
Labels: type:Performance, area:Core

#3126 BUG: Do not let HDF5 set the CMAKE_INSTALL_PREFIX
  Modules/ThirdParty/HDF5/src/itkhdf5/config/cmake_ext_mod/HDFMacros.cmake
Labels: type:Bug, area:ThirdParty

#3127 BUG: Do not use git call-outs to obtain Nifti version
  Modules/ThirdParty/NIFTI/src/nifti/CMakeLists.txt
Labels: type:Bug, type:Infrastructure, area:ThirdParty

#3129 COMP: added override keyword on a dtor
  Modules/ThirdParty/HDF5/src/itkhdf5/c++/src/H5Location.h
Labels: type:Compiler, area:ThirdParty

#3133 COMP: Update eigen3.4 fix warning supressions
  Modules/ThirdParty/Eigen3/src/itkeigen/Eigen/src/Core/util/DisableStupidWarnings.h
Labels: type:Compiler, area:ThirdParty

#3141 py image filter update output information
  Wrapping/Generators/Python/PyUtils/itkPyImageFilter.h
  Wrapping/Generators/Python/PyUtils/itkPyImageFilter.hxx
  Wrapping/Generators/Python/Tests/PyImageFilterTest.py
Labels: area:Python wrapping, type:Testing

#3144 STYLE: Change `constexpr static` to `static constexpr`.
  Modules/Core/Common/include/itkCellInterface.h
  Modules/Core/Common/include/itkImageBufferRange.h
  Modules/Core/Common/include/itkIndexRange.h
  Modules/Core/Common/test/ClientTestLibraryA.cxx
  Modules/Core/Common/test/ClientTestLibraryB.cxx
  Modules/Core/Common/test/ClientTestLibraryC.cxx
  Modules/Filtering/MathematicalMorphology/test/itkFlatStructuringElementTest2.cxx
  Modules/Registration/Common/include/itkLandmarkBasedTransformInitializer.h
Labels: type:Testing, area:Core, area:Filtering, area:Registration, type:Style

#3110 BUG: region.IsInside(zeroSizedRegion) should always return false
  Modules/Core/Common/include/itkImageRegion.h
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkImageRegionGTest.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:Core

#3121 ENH: Add `FFTDiscreteGaussianImageFilter`
  Modules/Filtering/Smoothing/include/itkDiscreteGaussianImageFilter.h
  Modules/Filtering/Smoothing/include/itkDiscreteGaussianImageFilter.hxx
  Modules/Filtering/Smoothing/include/itkFFTDiscreteGaussianImageFilter.h
  Modules/Filtering/Smoothing/include/itkFFTDiscreteGaussianImageFilter.hxx
  Modules/Filtering/Smoothing/include/itkFFTDiscreteGaussianImageFilterFactory.h
  Modules/Filtering/Smoothing/itk-module.cmake
  Modules/Filtering/Smoothing/src/CMakeLists.txt
  Modules/Filtering/Smoothing/src/itkFFTDiscreteGaussianImageFilter.cxx
  Modules/Filtering/Smoothing/test/Baseline/DiscreteGaussianImageFilter3DComparisonTestOutput.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/DiscreteGaussianImageFilter3DComparisonTestOutput2.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/DiscreteGaussianImageFilterComparisonTestOutput.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/DiscreteGaussianImageFilterNonunitImageComparisonTestOutput.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilter3DComparisonTestOutput.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilter3DComparisonTestOutput2.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilter3DImageSourceTestOutput.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilter3DVolumeTestOutput.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilterComparisonTestOutput.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilterNonunitImageComparisonTestOutput.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilterTestImageSourceOutput.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilterTestKernelDimensionalityOutput.mha.sha512
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilterTestOutput.mha.sha512
  Modules/Filtering/Smoothing/test/CMakeLists.txt
  Modules/Filtering/Smoothing/test/Input/itkDiscreteGaussianImageFilterTestNonNullOriginInput.mha.sha512
  Modules/Filtering/Smoothing/test/itkDiscreteGaussianImageFilterTest.cxx
  Modules/Filtering/Smoothing/test/itkDiscreteGaussianImageFilterTest2.cxx
  Modules/Filtering/Smoothing/test/itkFFTDiscreteGaussianImageFilterFactoryTest.cxx
  Modules/Filtering/Smoothing/test/itkFFTDiscreteGaussianImageFilterTest.cxx
  Modules/Filtering/Smoothing/wrapping/itkFFTDiscreteGaussianImageFilter.wrap
  Modules/Filtering/Smoothing/wrapping/itkFFTDiscreteGaussianImageFilterFactory.wrap
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Filtering, type:Data
