Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-11, with the labels that each got.

#3712 DOC: Update donation link to Open Collective
  .github/FUNDING.yml
  README.md
Labels: type:Infrastructure, type:Documentation

#3710 STYLE: Use `{}` as `MeasurementVectorTraits::IsResizable` argument
  Modules/Numerics/Statistics/include/itkDistanceMetric.h
  Modules/Numerics/Statistics/include/itkDistanceMetric.hxx
  Modules/Numerics/Statistics/include/itkImageToListSampleFilter.hxx
  Modules/Numerics/Statistics/include/itkMembershipFunctionBase.h
  Modules/Numerics/Statistics/include/itkSample.h
Labels: type:Style, area:Numerics

#3711 `VectorNeighborhoodInnerProduct`: Move pixel retrieval out of its inner loops and zero-initialize its `sum` by `{}`
  Modules/Core/Common/include/itkVectorNeighborhoodInnerProduct.hxx
Labels: area:Core

#3705 Libminc 2022 10 26
  Modules/ThirdParty/MINC/UpdateFromUpstream.sh
  Modules/ThirdParty/MINC/src/libminc/AUTHORS
  Modules/ThirdParty/MINC/src/libminc/README
  Modules/ThirdParty/MINC/src/libminc/README.release
  Modules/ThirdParty/MINC/src/libminc/libsrc2/volume.c
Labels: area:ThirdParty

#3708 PERF: Use smaller (16x16) images in KullbackLeibler metric test
  Modules/Registration/Common/test/itkKullbackLeiblerCompareHistogramImageToImageMetricTest.cxx
Labels: type:Performance, type:Testing, area:Registration

#3714 STYLE: Use `{}` instead of dummy as `NumericTraits::GetLength` argument
  Modules/Core/Common/include/itkImage.hxx
  Modules/Filtering/ImageCompose/include/itkComposeImageFilter.hxx
  Modules/Numerics/Statistics/include/itkCovarianceSampleFilter.hxx
  Modules/Numerics/Statistics/include/itkDistanceMetric.h
  Modules/Numerics/Statistics/include/itkDistanceMetric.hxx
  Modules/Numerics/Statistics/include/itkImageToListSampleFilter.hxx
  Modules/Numerics/Statistics/include/itkMeanSampleFilter.hxx
  Modules/Numerics/Statistics/include/itkMeasurementVectorTraits.h
  Modules/Numerics/Statistics/include/itkMembershipFunctionBase.h
  Modules/Numerics/Statistics/include/itkSample.h
  Modules/Numerics/Statistics/include/itkStandardDeviationPerComponentSampleFilter.hxx
Labels: area:Core, area:Filtering, type:Style, area:Numerics

#3716 ENH: Pin Python version in non-Python Azure pipelines
  Testing/ContinuousIntegration/AzurePipelinesBatch.yml
  Testing/ContinuousIntegration/AzurePipelinesLinux.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOS.yml
  Testing/ContinuousIntegration/AzurePipelinesWindows.yml
Labels: type:Enhancement, type:Testing

#3722 COMP: Ensure client project can find externally build ITK module
  CMake/ITKModuleExternal.cmake
Labels: type:Compiler, type:Infrastructure

#3723 BUG: fixed issue with DCMTK build
  Modules/ThirdParty/DCMTK/CMakeLists.txt
  Modules/ThirdParty/DCMTK/DCMTKGitTag.cmake
Labels: type:Bug, type:Infrastructure, area:ThirdParty

#3724 ENH: Increase coverage for `itk::SobelOperator`
  Modules/Core/Common/test/Baseline/itkSobelOperatorImageHorizTest.png.sha512
  Modules/Core/Common/test/Baseline/itkSobelOperatorImageVertTest.png.sha512
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkSobelOperatorImageConvolutionTest.cxx
  Modules/Core/Common/test/itkSobelOperatorImageFilterTest.cxx
  Modules/Core/Common/test/itkSobelOperatorTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core, type:Coverage, type:Data

#3721 ENH: Increase coverage for `itk::RoundImageFilter`
  Modules/Filtering/ImageIntensity/test/CMakeLists.txt
  Modules/Filtering/ImageIntensity/test/itkRoundImageFilterTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Filtering, type:Coverage

#3718 ENH: Increase coverage for `itk::RandomImageSource`
  Modules/Core/TestKernel/test/Baseline/itkRandomImageSourceValuesTest.mha.sha512
  Modules/Core/TestKernel/test/CMakeLists.txt
  Modules/Core/TestKernel/test/itkRandomImageSourceAttributesTest.cxx
  Modules/Core/TestKernel/test/itkRandomImageSourceValuesTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core, type:Coverage, type:Data

#3715 ENH: Increase coverage for miscellaneous classes
  Modules/Core/Common/test/itkNumericTraitsTest.cxx
  Modules/Core/Common/test/itkPointSetTest.cxx
  Modules/Core/Common/test/itkRealTimeIntervalTest.cxx
  Modules/Core/Common/test/itkRealTimeStampTest.cxx
Labels: type:Enhancement, type:Testing, area:Core, type:Coverage

#3725 DOC: Clarify Python release documentation
  Documentation/Maintenance/Release.md
Labels: type:Documentation, area:Documentation

#3726 zlib-ng 2022-11-01 (b3dcf11b)
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/CMakeLists.txt
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/README.md
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/adler32_fold.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/adler32_neon.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/arm_features.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/chunkset_neon.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/compare256_neon.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/crc32_acle.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/neon_intrins.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/slide_hash_neon.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/dfltcc_inflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_ssse3_p.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/crc32_fold_pclmulqdq.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/crc32_fold_pclmulqdq_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/x86_features.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/x86_features.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/detect-intrinsics.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/toolchain-mingw-i686.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/toolchain-mingw-x86_64.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/crc32_fold.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/deflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/fallback_builtins.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/infback.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inftrees.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zbuild.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zconf.h.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zutil_p.h
Labels: type:Infrastructure, area:ThirdParty

#3729 COMP: Do not depend on castxml target when using system version
  Wrapping/macro_files/itk_auto_load_submodules.cmake
Labels: type:Compiler

#3140 DOC: warning for calling GetImageViewFromArray on non-contiguous array
  Modules/Bridge/NumPy/wrapping/PyBuffer.i.in
  Wrapping/Generators/Python/itk/support/extras.py
Labels: area:Python wrapping, area:Bridge

#3734 ENH: Add FPFH as remote module
  Modules/Remote/FPFH.remote.cmake
Labels: type:Enhancement, area:Remotes

#3733 ENH: Add RANSAC as ITK remote module
  Modules/Remote/RANSAC.remote.cmake
Labels: type:Enhancement, area:Remotes

#3731 COMP: Fix missing initialization braces warnings
  Modules/Core/Common/test/itkSobelOperatorTest.cxx
  Modules/Core/TestKernel/test/itkRandomImageSourceAttributesTest.cxx
Labels: type:Compiler, type:Testing, area:Core

#3737 DOC: sudo required in ARM wheel builds
  Documentation/Maintenance/Release.md
Labels: type:Documentation, area:Documentation

#3728 ENH: Add DistanceThreshold parameter in EuclideanDistance Metricv4
  Modules/Registration/Metricsv4/include/itkEuclideanDistancePointSetToPointSetMetricv4.h
  Modules/Registration/Metricsv4/include/itkEuclideanDistancePointSetToPointSetMetricv4.hxx
  Modules/Registration/Metricsv4/test/CMakeLists.txt
  Modules/Registration/Metricsv4/test/itkEuclideanDistancePointSetMetricTest3.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Registration

#3736 COMP: Add includes for uint32_t in wrapping
  Modules/Core/Common/include/itkProcessObject.h
Labels: area:Core

#3741 BUG: add SetNumberOfWorkUnits to SetMaximumNumberOfWorkUnits
  Modules/Registration/Metricsv4/include/itkImageToImageMetricv4.hxx
Labels: type:Bug, area:Registration

#3746 BUG: Use unique names for `itk::SobelOperator` test output files
  Modules/Core/Common/test/CMakeLists.txt
Labels: type:Bug, type:Infrastructure, area:Core

#3748 ENH: less memory pressure in itkNiftiLargeImageRegionReadTest
  Modules/IO/NIFTI/test/itkNiftiLargeImageRegionReadTest.cxx
Labels: type:Enhancement, type:Testing, area:IO

#3752 BUG: use DICOM for reading directories only if imageio is not specified
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Bug, area:Python wrapping

#3738 STYLE: Remove obsolete `__GNUC__` macro checks for GCC version 4
  Modules/Core/Common/include/itkFixedArray.h
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/test/itkMatrixGTest.cxx
Labels: type:Testing, area:Core, type:Style

#3756 BUG: fixed memory leak in itkMeshTest
  Modules/Core/Mesh/test/itkMeshTest.cxx
Labels: type:Bug, type:Testing, area:Core

#3709 COMP: Set `DOWNLOAD_EXTRACT_TIMESTAMP` to `TRUE` in wrapping modules
  Wrapping/Generators/CastXML/CMakeLists.txt
  Wrapping/Generators/SwigInterface/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#3759 COMP: Bump CastXML for Linux ARM build
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#3761 ENH: Testing data content links for 5.3.0
  Modules/Core/Common/test/Baseline/itkSobelOperatorImageHorizTest.png.md5
  Modules/Core/Common/test/Baseline/itkSobelOperatorImageVertTest.png.md5
  Modules/Core/TestKernel/test/Baseline/itkRandomImageSourceValuesTest.mha.md5
  Modules/IO/MeshVTK/test/Baseline/hollow_test.vtk.md5
  Modules/IO/NIFTI/test/Input/ChickenEgg-zeros.nii.gz.md5
  Testing/Data/Input/itkNiftisform2DirectionDef.nii.gz.md5
  Wrapping/images/r16slice.nii.gz.md5
  Wrapping/images/sourceImage.nii.gz.md5
  Wrapping/images/warp2D.nii.gz.md5
  Wrapping/images/warp3D.nii.gz.md5
Labels: type:Enhancement, type:Testing, area:Core, area:IO, type:Data

#3742 ENH: Add check if optimizer supports scales
  Modules/Numerics/Optimizers/include/itkLBFGSBOptimizer.h
  Modules/Numerics/Optimizers/include/itkSingleValuedNonLinearVnlOptimizer.h
  Modules/Numerics/Optimizersv4/include/itkLBFGSBOptimizerv4.h
  Modules/Numerics/Optimizersv4/include/itkObjectToObjectOptimizerBase.h
  Modules/Registration/RegistrationMethodsv4/include/itkImageRegistrationMethodv4.hxx
Labels: type:Enhancement, area:Registration, area:Numerics

#3762 DOC: Update .zenodo for 5.3.0
  .zenodo.json
Labels: type:Documentation

#3763 COMP: Set `DOWNLOAD_EXTRACT_TIMESTAMP` to `TRUE` for Windows wrapping
  Wrapping/Generators/CastXML/CMakeLists.txt
  Wrapping/Generators/SwigInterface/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#3764 ENH: Upgrade RTK and CudaCommon with new RTKConsortium repository
  Modules/Remote/CudaCommon.remote.cmake
  Modules/Remote/RTK.remote.cmake
Labels: type:Enhancement, area:Remotes

#3765 ENH: Update remote modules for 2022-11-24
  Modules/Remote/BSplineGradient.remote.cmake
  Modules/Remote/FPFH.remote.cmake
  Modules/Remote/GenericLabelInterpolator.remote.cmake
  Modules/Remote/HASI.remote.cmake
  Modules/Remote/HigherOrderAccurateGradient.remote.cmake
  Modules/Remote/IOScanco.remote.cmake
  Modules/Remote/MeshToPolyData.remote.cmake
  Modules/Remote/RANSAC.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/Strain.remote.cmake
  Modules/Remote/TextureFeatures.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
  Modules/Remote/VkFFTBackend.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
Labels: type:Enhancement, area:Examples, area:Remotes

#3766 ENH: Fix `Batch` CI config errors
  Testing/ContinuousIntegration/AzurePipelinesBatch.yml
Labels: type:Testing

#3767 COMP: Add CastXML binary for Windows 11
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#3769 ENH: Apply the `type:Infrastructure` label to CI config files
  .github/labeler.yml
Labels: type:Infrastructure, type:Enhancement

#3776 Remove `diff` variables from ConvertPixelBuffer, replace `(size_t)` casts
  Modules/IO/ImageBase/include/itkConvertPixelBuffer.hxx
Labels: area:IO, type:Style

#3751 NumberToStringGTest: add #include, avoid narrowing conversion pow, mention floating point type on an expect failure
  Modules/Core/Common/test/itkNumberToStringGTest.cxx
Labels: type:Bug, type:Testing, area:Core

#3774 BUG: ITK_COMPILER_SUPPORTS_SSE2_64 incorrectly set for 32-bit x86
  Modules/Core/Common/src/itkConfigure.h.in
Labels: type:Compiler, area:Core
