Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-06, with the labels that each got.

#3460 BUG: Let MeshIOTestHelper AllocateBuffer return `std::shared_ptr<void>`
  Modules/IO/MeshBYU/test/itkBYUMeshIOTest.cxx
  Modules/IO/MeshBase/include/itkMeshIOTestHelper.h
  Modules/IO/MeshFreeSurfer/test/itkFreeSurferMeshIOTest.cxx
  Modules/IO/MeshGifti/test/itkGiftiMeshIOTest.cxx
  Modules/IO/MeshOBJ/test/itkOBJMeshIOTest.cxx
  Modules/IO/MeshOFF/test/itkOFFMeshIOTest.cxx
  Modules/IO/MeshVTK/test/itkVTKPolyDataMeshIOTest.cxx
Labels: type:Bug, type:Testing, area:IO

#3461 ENH: Call superclass `PrintSelf` method in child `PrintSelf`
  Modules/Registration/Metricsv4/include/itkManifoldParzenWindowsPointSetFunction.hxx
Labels: type:Enhancement, area:Registration

#3465 ENH: Increase coverage for registration classes
  Modules/Registration/Metricsv4/test/itkObjectToObjectMultiMetricv4Test.cxx
  Modules/Registration/PDEDeformable/test/itkMultiResolutionPDEDeformableRegistrationTest.cxx
Labels: type:Bug, type:Testing, area:Registration, type:Style, type:Coverage

#3464 ENH: Moving PointSet Vector wrapping to itkPointSet.wrap
  Modules/Core/Common/wrapping/itkPointSet.wrap
  Modules/Registration/Common/wrapping/itkBlockMatchingImageFilter.wrap
Labels: type:Enhancement, area:Python wrapping, area:Core, area:Registration

#3462 ENH: Increase coverage for `itk::GDCMSeriesFileNames`
  Modules/IO/GDCM/test/CMakeLists.txt
  Modules/IO/GDCM/test/itkGDCMSeriesStreamReadImageWriteTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:IO, type:Coverage

#3467 BUG: Fix test method call argument order
  Modules/IO/MeshFreeSurfer/test/itkFreeSurferMeshIOTest.cxx
Labels: type:Bug, type:Testing, area:IO

#3472 COMP: Fix older gcc build error including "cstddef" for "ptrdiff_t"
  Modules/Compatibility/Deprecated/include/itkAtomicInt.h
  Modules/Core/Common/include/itkIndex.h
  Modules/Core/Common/include/itkOffset.h
  Modules/Core/Common/include/itkSize.h
  Modules/IO/ImageBase/include/itkImageSeriesReader.hxx
Labels: type:Compiler, area:Core, area:IO, action:ApplyClangFormat

#3474 STYLE: removed obsolete and confusing old comment
  Modules/IO/GDCM/src/itkGDCMImageIO.cxx
Labels: area:IO, type:Style

#3477 BUG: all regions set to requested in ReconstructBiasField
  Modules/Filtering/BiasCorrection/include/itkN4BiasFieldCorrectionImageFilter.hxx
Labels: type:Bug, area:Filtering
