Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-10, with the labels that each got.

#3677 Name mangling update for HDF5_HL library
  Modules/ThirdParty/HDF5/src/itkhdf5/src/itk_hdf5_mangle.h
Labels: area:ThirdParty

#3672 DOC: Escape Doxygen `\ref` command in module description
  CMake/ITKGroups.cmake
  Modules/Filtering/AnisotropicSmoothing/itk-module.cmake
  Modules/Filtering/GPUAnisotropicSmoothing/itk-module.cmake
  Modules/Filtering/GPUSmoothing/itk-module.cmake
  Modules/Filtering/Smoothing/itk-module.cmake
  Modules/Registration/Common/itk-module.cmake
  Modules/Segmentation/Classifiers/itk-module.cmake
  Modules/Segmentation/ConnectedComponents/itk-module.cmake
  Modules/Segmentation/KLMRegionGrowing/itk-module.cmake
  Modules/Segmentation/LabelVoting/itk-module.cmake
  Modules/Segmentation/MarkovRandomFieldsClassifiers/itk-module.cmake
  Modules/Segmentation/RegionGrowing/itk-module.cmake
Labels: type:Infrastructure, type:Documentation, area:Filtering, area:Registration, area:Segmentation

#3669 STYLE: Remove const_cast, make `Object::m_SubjectImplementation` mutable
  Modules/Core/Common/include/itkObject.h
  Modules/Core/Common/src/itkObject.cxx
Labels: area:Core, type:Style

#3682 BUG: ImageIORegion::IsInside should return false for a zero-sized region
  Modules/Core/Common/src/itkImageIORegion.cxx
  Modules/Core/Common/test/itkImageIORegionGTest.cxx
Labels: type:Bug, type:Testing, area:Core

#3675 STYLE: Use `std::make_unique<T[]>` to zero-initialize the elements
  Modules/Core/Common/include/itkSymmetricEigenAnalysis.hxx
  Modules/Core/Mesh/include/itkTriangleMeshCurvatureCalculator.hxx
  Modules/Numerics/Statistics/include/itkHistogramToTextureFeaturesFilter.hxx
  Modules/Numerics/Statistics/include/itkScalarImageToRunLengthFeaturesFilter.hxx
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.hxx
Labels: area:Core, area:Segmentation, type:Style, area:Numerics

#3671 STYLE: Declare local `value` in `BMPImageIO::Read` as unique_ptr<char[]>
  Modules/IO/BMP/src/itkBMPImageIO.cxx
Labels: area:IO, type:Style

#3670 STYLE: Declare BlockMatchingImageFilter data members as unique_ptr<T[]>
  Modules/Registration/Common/include/itkBlockMatchingImageFilter.h
  Modules/Registration/Common/include/itkBlockMatchingImageFilter.hxx
Labels: area:Registration, type:Style

#3681 PERF: Remove unnecessary computations and parallelize function.
  Modules/Filtering/ImageGrid/include/itkBSplineScatteredDataPointSetToImageFilter.h
  Modules/Filtering/ImageGrid/include/itkBSplineScatteredDataPointSetToImageFilter.hxx
Labels: type:Performance, area:Filtering

#3686 DOC: Triple escape Doxygen `\ref` command in module description
  Modules/Filtering/AnisotropicSmoothing/itk-module.cmake
  Modules/Filtering/GPUAnisotropicSmoothing/itk-module.cmake
  Modules/Filtering/GPUSmoothing/itk-module.cmake
  Modules/Filtering/Smoothing/itk-module.cmake
  Modules/Registration/Common/itk-module.cmake
  Modules/Segmentation/Classifiers/itk-module.cmake
  Modules/Segmentation/ConnectedComponents/itk-module.cmake
  Modules/Segmentation/KLMRegionGrowing/itk-module.cmake
  Modules/Segmentation/LabelVoting/itk-module.cmake
  Modules/Segmentation/MarkovRandomFieldsClassifiers/itk-module.cmake
  Modules/Segmentation/RegionGrowing/itk-module.cmake
Labels: type:Documentation, area:Filtering, area:Registration, area:Segmentation

#3685 Fix nifti read sform case
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
  Modules/IO/NIFTI/test/CMakeLists.txt
  Testing/Data/Input/itkNiftisform2DirectionDef.nii.gz.sha512
Labels: type:Infrastructure, type:Testing, area:IO, type:Data

#3687 COMP: Remove deprecated uses of vxl for LEGACY ITK
  Modules/ThirdParty/VNL/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:ThirdParty

#3690 STYLE: Change Over/UnderFlow to Over/Underflow
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkFloatingPointExceptionsTest.cxx
Labels: type:Infrastructure, type:Testing, area:Core, type:Style

#3688 STYLE: Rename nested ObjectFactoryBase type OverRideMap to `OverrideMap`
  Modules/Core/Common/include/itkObjectFactoryBase.h
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
Labels: area:Core, type:Style

#3693 BUG: Add type specification for imread image series
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Bug, area:Python wrapping

#3694 STYLE: Consolidate duplicated code
  Modules/Registration/Common/include/itkMattesMutualInformationImageToImageMetric.h
  Modules/Registration/Common/include/itkMattesMutualInformationImageToImageMetric.hxx
Labels: area:Registration, type:Style

#3697 STYLE: removed duplicated messages
  Modules/IO/ImageBase/src/itkImageIOBase.cxx
Labels: area:IO, type:Style

#3696 DOC: updated comment for ITK_FUTURE_LEGACY_REMOVE
  CMakeLists.txt
Labels: type:Infrastructure, type:Documentation

#3689 BUG: Copy input data instead of overwriting.
  Modules/Filtering/ImageGrid/include/itkBSplineScatteredDataPointSetToImageFilter.h
  Modules/Filtering/ImageGrid/include/itkBSplineScatteredDataPointSetToImageFilter.hxx
Labels: type:Bug, area:Filtering

#3702 ENH: Add a test to check reading large `NIfTI` image subregions
  Modules/IO/NIFTI/test/CMakeLists.txt
  Modules/IO/NIFTI/test/itkNiftiLargeImageRegionReadTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:IO

#3707 COMP: Fix uninitialized vector warnings
  Modules/Numerics/Statistics/include/itkDistanceMetric.h
  Modules/Numerics/Statistics/include/itkMeasurementVectorTraits.h
  Modules/Numerics/Statistics/include/itkMembershipFunctionBase.h
  Modules/Numerics/Statistics/include/itkSample.h
Labels: type:Compiler, area:Numerics
