Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-02, with the labels that each got.

#3149 WIP: Linux support for vector_container_from_array
  Wrapping/Generators/Python/itk/support/extras.py
Labels: area:Python wrapping

#3145 WIP: BUG: Fixed __init__.pyi generation and import issues for python stub files.
  Wrapping/CMakeLists.txt
  Wrapping/Generators/Python/itk/__init__.pyi.in
  Wrapping/Generators/Python/itk/_proxies.pyi.in
  Wrapping/Generators/SwigInterface/CMakeLists.txt
  Wrapping/Generators/SwigInterface/igenerator.py
Labels: type:Infrastructure, area:Python wrapping

#3153 DOC: Improve factory registration disablement doc
  CMake/ITKFactoryRegistration.cmake
Labels: type:Infrastructure

#3152 ENH: Expose FFT filter dimension traits
  Modules/Filtering/FFT/include/itkFFTImageFilterFactory.h
  Modules/Filtering/FFT/include/itkFFTWComplexToComplex1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWComplexToComplexFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWForward1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWForwardFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWHalfHermitianToRealInverseFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWInverse1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWInverseFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWRealToHalfHermitianForwardFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlComplexToComplex1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlComplexToComplexFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlForward1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlForwardFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlHalfHermitianToRealInverseFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlInverse1DFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlInverseFFTImageFilter.h
  Modules/Filtering/FFT/include/itkVnlRealToHalfHermitianForwardFFTImageFilter.h
Labels: type:Enhancement, area:Filtering

#3155 COMP: Increase test coverage for `FFTDiscreteGaussianImageFilter`
  Modules/Filtering/Smoothing/test/itkFFTDiscreteGaussianImageFilterTest.cxx
Labels: type:Compiler, type:Testing, area:Filtering, type:Coverage

#3157 ENH: Add `Size.Fill` GoogleTest unit test
  Modules/Core/Common/test/itkSizeGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#3160 COMP: Add minimum version for double-conversion
  Modules/ThirdParty/DoubleConversion/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:ThirdParty

#3161 STYLE: Apply `black` Python formatting.
  Examples/RegistrationITKv4/ImageRegistration5.py
  Modules/Core/Mesh/wrapping/test/itkMeshArrayPixelTypeTest.py
  Modules/Filtering/ImageGrid/wrapping/test/ResampleImageFilterTest.py
  Utilities/Doxygen/datetime.py
  Utilities/Maintenance/BuildHeaderTest.py
  Wrapping/Generators/Python/Tests/PyImageFilterTest.py
  Wrapping/Generators/Python/Tests/PythonTypeTest.py
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/__init__.py
  Wrapping/Generators/Python/itk/support/base.py
  Wrapping/Generators/Python/itk/support/extras.py
  Wrapping/Generators/Python/itk/support/helpers.py
  Wrapping/Generators/SwigInterface/igenerator.py
Labels: type:Infrastructure, area:Documentation, area:Examples, area:Python wrapping, type:Testing, area:Core, area:Filtering, type:Style

#3165 BUG: Fix bug for remote AdaptiveDenoising
  Modules/Remote/AdaptiveDenoising.remote.cmake
Labels: type:Bug, area:Remotes

#3167 STYLE: Make `git blame` ignore STYLE commit.
  .git-blame-ignore-revs
Labels: type:Style

#3169 ENH: Bump TubeTK to v1.1rc01 which is targeted for ITKv5.3rc03
  Modules/Remote/TubeTK.remote.cmake
Labels: type:Enhancement, area:Remotes

#3166 BUG: fixed threading bug, don't use vector<bool> from multiple threads
  Modules/Numerics/Optimizersv4/include/itkQuasiNewtonOptimizerv4.h
Labels: type:Bug, area:Numerics

#3172 STYLE: Fix typo in debug macro
  Modules/Segmentation/SuperPixel/include/itkSLICImageFilter.hxx
Labels: area:Segmentation, type:Style

#3181 STYLE: Wrong order of the arguments for the ITK book
  Examples/Segmentation/GeodesicActiveContourImageFilter.cxx
Labels: area:Examples, type:Style

#3179 BUG: Limits, spacing, and direction in ComputeJacobianWithRespectToPosition
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldTransform.hxx
  Modules/Filtering/DisplacementField/test/itkDisplacementFieldTransformTest.cxx
Labels: type:Bug, type:Testing, area:Filtering

#3170 COMP: Usage requirements should include C++14
  CMake/ITKModuleMacros.cmake
Labels: type:Compiler, type:Infrastructure

#3183 BUG: Fix bad doxygen strings
  Utilities/Doxygen/itkgroup.pl
Labels: type:Bug, type:Infrastructure, area:Documentation

#3188 STYLE: Let assignment operators return a non-const reference
  Modules/Core/Common/include/itkArray.h
  Modules/Core/Common/include/itkArray.hxx
  Modules/Core/Common/include/itkArray2D.h
  Modules/Core/Common/include/itkArray2D.hxx
  Modules/Core/Common/include/itkMatrix.h
  Modules/Core/Common/include/itkOptimizerParameters.h
  Modules/Core/Common/include/itkVariableSizeMatrix.h
  Modules/Core/Common/include/itkVersor.h
  Modules/Core/Common/include/itkVersor.hxx
  Modules/Filtering/FastMarching/include/itkFastMarchingImageFilter.h
Labels: area:Core, area:Filtering, type:Style

#3191 COMP: added missing HDF5 symbol mangling
  Modules/ThirdParty/HDF5/src/itkhdf5/src/itk_hdf5_mangle.h
Labels: type:Compiler, area:ThirdParty

#3192 COMP: Pass Windows specific OpenCV options to `ITKBridgeOpenCV`
  Modules/Video/BridgeOpenCV/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:Video

#3182 BUG: GDCMImageIO accepted images with non-orthogonal direction cosine.
  Modules/IO/GDCM/src/itkGDCMImageIO.cxx
  Modules/IO/GDCM/test/itkGDCMImageOrientationPatientTest.cxx
Labels: type:Bug, type:Testing, area:IO

#3195 COMP: Missing semi-colon after macro
  Modules/IO/GDCM/test/itkGDCMImageOrientationPatientTest.cxx
Labels: type:Compiler, type:Testing, area:IO

#3189 DOC: Improve/correct TransformGeometryFilter documentation.
  Modules/Core/Transform/include/itkTransformGeometryImageFilter.h
Labels: area:Core

#3196 STYLE: Ignore git commit that is only STYLE
  .git-blame-ignore-revs
Labels: type:Style

#3197 DOC: VLV CanBeDivided struct divides, not multiplies
  Modules/Core/Common/include/itkVariableLengthVector.h
Labels: area:Core

#3203 BUG: FEM module has incorrect public member name
  Modules/Numerics/FEM/include/itkImageToRectilinearFEMObjectFilter.h
  Modules/Numerics/FEM/include/itkImageToRectilinearFEMObjectFilter.hxx
  Modules/Numerics/FEM/include/itkMetaFEMObjectConverter.hxx
Labels: type:Bug, area:Numerics

#3174 COMP: C++20 ambiguous overloaded operator
  Modules/Filtering/ImageGrid/test/itkWarpImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkWarpVectorImageFilterTest.cxx
Labels: type:Compiler, type:Testing, area:Filtering

#3190 ENH: Extend RawImage wrapper to other data types
  Modules/IO/RAW/wrapping/itkRawImageIO.wrap
Labels: type:Enhancement, area:Python wrapping, area:IO

#3206 ENH: Update remote modules by using the script
  Modules/Remote/AnalyzeObjectLabelMap.remote.cmake
  Modules/Remote/AnisotropicDiffusionLBR.remote.cmake
  Modules/Remote/BSplineGradient.remote.cmake
  Modules/Remote/BioCell.remote.cmake
  Modules/Remote/BoneEnhancement.remote.cmake
  Modules/Remote/BoneMorphometry.remote.cmake
  Modules/Remote/Cuberille.remote.cmake
  Modules/Remote/CudaCommon.remote.cmake
  Modules/Remote/FixedPointInverseDisplacementField.remote.cmake
  Modules/Remote/GenericLabelInterpolator.remote.cmake
  Modules/Remote/GrowCut.remote.cmake
  Modules/Remote/HASI.remote.cmake
  Modules/Remote/HigherOrderAccurateGradient.remote.cmake
  Modules/Remote/IOFDF.remote.cmake
  Modules/Remote/IOMeshSTL.remote.cmake
  Modules/Remote/IOScanco.remote.cmake
  Modules/Remote/IOTransformDCMTK.remote.cmake
  Modules/Remote/IsotropicWavelets.remote.cmake
  Modules/Remote/LabelErodeDilate.remote.cmake
  Modules/Remote/LesionSizingToolkit.remote.cmake
  Modules/Remote/MGHIO.remote.cmake
  Modules/Remote/MeshNoise.remote.cmake
  Modules/Remote/MinimalPathExtraction.remote.cmake
  Modules/Remote/Montage.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/ParabolicMorphology.remote.cmake
  Modules/Remote/PerformanceBenchmarking.remote.cmake
  Modules/Remote/PhaseSymmetry.remote.cmake
  Modules/Remote/PolarTransform.remote.cmake
  Modules/Remote/PrincipalComponentsAnalysis.remote.cmake
  Modules/Remote/RLEImage.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SCIFIO.remote.cmake
  Modules/Remote/SkullStrip.remote.cmake
  Modules/Remote/SmoothingRecursiveYvvGaussianFilter.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/Strain.remote.cmake
  Modules/Remote/SubdivisionQuadEdgeMeshFilter.remote.cmake
  Modules/Remote/TextureFeatures.remote.cmake
  Modules/Remote/Thickness3D.remote.cmake
  Modules/Remote/TotalVariation.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/TwoProjectionRegistration.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
Labels: type:Enhancement, area:Examples, area:Remotes

#3217 STYLE: Apply C++ "Rule of Zero" to `itk::FixedArray` and derived classes
  Modules/Core/Common/include/itkContinuousIndex.h
  Modules/Core/Common/include/itkCovariantVector.h
  Modules/Core/Common/include/itkFixedArray.h
  Modules/Core/Common/include/itkPoint.h
  Modules/Core/Common/include/itkRGBAPixel.h
  Modules/Core/Common/include/itkRGBPixel.h
  Modules/Core/Common/include/itkSymmetricSecondRankTensor.h
  Modules/Core/Common/include/itkVector.h
Labels: area:Core, type:Style

#3220 BUG: Fix numeric overflow in SLIC initialization
  Modules/Segmentation/SuperPixel/include/itkSLICImageFilter.hxx
  Modules/Segmentation/SuperPixel/test/itkSLICImageFilterGTest.cxx
Labels: type:Bug, type:Testing, area:Segmentation

#3221 STYLE: Rename `ColorTable` template parameter `TPixel` to `TComponent`
  Modules/Core/Common/include/itkColorTable.h
  Modules/Core/Common/include/itkColorTable.hxx
  Modules/Core/Common/test/itkColorTableTest.cxx
Labels: type:Testing, area:Core, type:Style

#3219 ENH: Expose `itk::VariableLengthVector` operator overrides in Python wrapping
  Modules/Core/Common/wrapping/test/CMakeLists.txt
  Modules/Core/Common/wrapping/test/itkVariableLengthVectorTest.py
  Wrapping/Generators/Python/CMakeLists.txt
  Wrapping/Generators/Python/PyBase/pyBase.i
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Core

#3223 BUG: Fix `ColorTableTestSpecialConditionChecker` component/pixel mix-up
  Modules/Core/Common/test/itkColorTableTest.cxx
Labels: type:Bug, type:Testing, area:Core

#3225 BUG: Quick-fix ContourSpatialObject::Update(), LINEAR_INTERPOLATION case
  Modules/Core/SpatialObjects/include/itkContourSpatialObject.hxx
Labels: type:Bug, area:Core

#3224 STYLE: Avoid `T var = elementValue` syntax to initialize a filled array
  Modules/Core/SpatialObjects/test/itkEllipseSpatialObjectTest.cxx
  Modules/Filtering/ImageFeature/test/itkCannyEdgeDetectionImageFilterTest.cxx
  Modules/Filtering/ImageFeature/test/itkCannyEdgeDetectionImageFilterTest2.cxx
  Modules/Filtering/ImageGrid/test/itkBSplineControlPointImageFilterTest.cxx
  Modules/Filtering/ImageSources/test/itkGaborImageSourceTest.cxx
Labels: type:Testing, area:Core, area:Filtering, type:Style

#3227 STYLE: ThirdParty Module DICOMParser, Member method DICOMParser::CloseFile added
  Modules/ThirdParty/DICOMParser/src/DICOMParser/DICOMParser.cxx
  Modules/ThirdParty/DICOMParser/src/DICOMParser/DICOMParser.h
Labels: area:ThirdParty, type:Style

#3232 ENH: Bump TubeTK to v1.1
  Modules/Remote/TubeTK.remote.cmake
Labels: type:Enhancement, area:Remotes

#3235 STYLE: Use direct-initialization for component-to-RGBPixel conversion
  Modules/Filtering/ImageGrid/test/itkResampleImageTest5.cxx
  Modules/IO/HDF5/test/itkHDF5ImageIOStreamingReadWriteTest.cxx
Labels: type:Testing, area:Filtering, area:IO, type:Style

#3237 ENH: Declare converting `Point(v)` constructors `explicit`
  Modules/Core/Common/include/itkPoint.h
Labels: type:Enhancement, area:Core
