Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-03, with the labels that each got.

#3238 ENH: Declare RGBPixel, RGBAPixel constructors from component `explicit`
  Modules/Core/Common/include/itkRGBAPixel.h
  Modules/Core/Common/include/itkRGBPixel.h
Labels: type:Enhancement, area:Core

#3244 STYLE: Invoke pyupgrade --py37-plus on Python files
  Modules/Filtering/GPUAnisotropicSmoothing/wrapping/test/itkGPUGradientAnisotropicDiffusionImageFilterTest.py
  Modules/Filtering/GPUImageFilterBase/wrapping/test/itkGPUNeighborhoodOperatorImageFilterTest.py
  Modules/Filtering/GPUSmoothing/wrapping/test/itkGPUMeanImageFilterTest.py
  Utilities/Doxygen/mcdoc.py
  Utilities/ITKv5Preparation/replaceClassWithTypename.py
  Utilities/Maintenance/ArchiveTestingDataOnAzure.py
  Utilities/Maintenance/ArchiveTestingDataOnGirder.py
  Utilities/Maintenance/AuthorsChangesSince.py
  Utilities/Maintenance/BuildHeaderTest.py
  Utilities/Maintenance/FindRedundantHeaderIncludes.py
  Utilities/Maintenance/JREUpdate.py
  Utilities/Maintenance/ParallelStripIncludes.py
  Utilities/Maintenance/StripIncludes.py
  Utilities/Maintenance/UpdateCopyrightStatementsInITK.py
  Utilities/Maintenance/VCL_ModernizeNaming.py
  Utilities/Maintenance/VNL_ModernizeNaming.py
  Utilities/Maintenance/VerifyURLs.py
  Utilities/Maintenance/VisualizeTestTimes.py
  Utilities/Maintenance/WhatModulesITK.py
  Wrapping/Generators/Python/Tests/PyImageFilterTest.py
  Wrapping/Generators/Python/Tests/returnedTypeCoverage.py
  Wrapping/Generators/Python/Tests/wrappingCoverage.py
  Wrapping/Generators/Python/itk/support/base.py
  Wrapping/Generators/Python/itk/support/extras.py
  Wrapping/Generators/Python/itk/support/helpers.py
  Wrapping/Generators/Python/itk/support/lazy.py
  Wrapping/Generators/Python/itk/support/template_class.py
  Wrapping/Generators/SwigInterface/igenerator.py
Labels: type:Infrastructure, area:Documentation, area:Python wrapping, type:Testing, area:Filtering, type:Style

#3245 ENH: Updating remote modules using the script
  Modules/Remote/BoneMorphometry.remote.cmake
  Modules/Remote/HASI.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/MultipleImageIterator.remote.cmake
  Modules/Remote/PhaseSymmetry.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/Strain.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
Labels: type:Enhancement, area:Remotes

#3250 STYLE: Remove `std::` prefix from types that work without it
  Examples/IO/DicomSeriesReadSeriesWrite.cxx
  Examples/IO/IOFactoryRegistration.cxx
  Examples/IO/IOPlugin.cxx
  Modules/Compatibility/Deprecated/include/itkAtomicInt.h
  Modules/Core/Common/include/itkConnectedImageNeighborhoodShape.h
  Modules/Core/Common/include/itkImageBufferRange.h
  Modules/Core/Common/include/itkImageRegionRange.h
  Modules/Core/Common/include/itkIndex.h
  Modules/Core/Common/include/itkIndexRange.h
  Modules/Core/Common/include/itkMath.h
  Modules/Core/Common/include/itkNumericTraitsArrayPixel.h
  Modules/Core/Common/include/itkOffset.h
  Modules/Core/Common/include/itkRectangularImageNeighborhoodShape.h
  Modules/Core/Common/include/itkShapedImageNeighborhoodRange.h
  Modules/Core/Common/include/itkSize.h
  Modules/Core/Common/include/itkThreadSupport.h
  Modules/Core/Common/include/itkVariableLengthVector.h
  Modules/Core/Common/src/itkArrayOutputSpecialization.cxx
  Modules/Core/Common/test/itkConnectedImageNeighborhoodShapeGTest.cxx
  Modules/Core/Common/test/itkConstantBoundaryImageNeighborhoodPixelAccessPolicyGTest.cxx
  Modules/Core/Common/test/itkImageBufferRangeGTest.cxx
  Modules/Core/Common/test/itkImageNeighborhoodOffsetsGTest.cxx
  Modules/Core/Common/test/itkImageRegionRangeGTest.cxx
  Modules/Core/Common/test/itkMathTest.cxx
  Modules/Core/Common/test/itkNeighborhoodAllocatorGTest.cxx
  Modules/Core/Common/test/itkNumberToStringGTest.cxx
  Modules/Core/Common/test/itkNumericTraitsTest.cxx
  Modules/Core/Common/test/itkOptimizerParametersGTest.cxx
  Modules/Core/Common/test/itkSTLThreadTest.cxx
  Modules/Core/Common/test/itkShapedImageNeighborhoodRangeGTest.cxx
  Modules/Core/Common/test/itkVectorContainerGTest.cxx
  Modules/Core/Mesh/test/itkConnectedRegionsMeshFilterTest2.cxx
  Modules/Core/SpatialObjects/include/itkImageMaskSpatialObject.hxx
  Modules/Filtering/BiasCorrection/include/itkN4BiasFieldCorrectionImageFilter.h
  Modules/Filtering/BiasCorrection/include/itkN4BiasFieldCorrectionImageFilter.hxx
  Modules/Filtering/BiasCorrection/src/itkCompositeValleyFunction.cxx
  Modules/Filtering/ImageGrid/test/itkResampleImageFilterGTest.cxx
  Modules/Filtering/Path/include/itkContourExtractor2DImageFilter.h
  Modules/Filtering/Path/include/itkContourExtractor2DImageFilter.hxx
  Modules/IO/Meta/test/itkMetaImageIOMetaDataTest.cxx
  Modules/IO/XML/include/itkDOMNode.h
  Modules/IO/XML/src/itkDOMNode.cxx
  Modules/Numerics/Polynomials/include/itkMultivariateLegendrePolynomial.h
  Modules/Numerics/Statistics/include/itkMeasurementVectorTraits.h
Labels: area:Examples, type:Testing, area:Core, area:Filtering, area:IO, type:Style, area:Numerics

#3252 STYLE: Replace type aliases with `using`-declarations, in itkIntTypes.h
  Modules/Core/Common/include/itkIntTypes.h
Labels: area:Core, type:Style

#3253 ENH: Test streaming `itk::SpatialOrientation` enum class types
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkSpatialOrientationTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core

#3256 ENH: Expose FFT factory image template parameters
  Modules/Filtering/FFT/include/itkFFTImageFilterFactory.h
Labels: type:Enhancement, area:Filtering

#3257 ENH: Update Remote modules using the script
  Modules/Remote/Montage.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
Labels: type:Enhancement, area:Remotes

#3259 ENH: Git hooks were updated
  Utilities/SetupForDevelopment.sh
Labels: type:Infrastructure, type:Enhancement

#3260 ENH: Add MeshToPolyData remote module
  Modules/Remote/MeshToPolyData.remote.cmake
Labels: type:Enhancement, area:Remotes

#3254 ENH: Increase `itk::SumOfSquaresImageFunction` class coverage
  Modules/Core/ImageFunction/test/itkSumOfSquaresImageFunctionGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core, type:Coverage

#3262 STYLE: Use MakeFilled, () or {}, instead of `Vector(const ValueType &)`
  Modules/Core/Common/include/itkAnnulusOperator.h
  Modules/Core/Common/include/itkImageBase.h
  Modules/Core/Common/include/itkNumericTraitsFixedArrayPixel.h
  Modules/Core/Common/include/itkNumericTraitsVectorPixel.h
  Modules/Core/Common/test/itkImageBaseGTest.cxx
  Modules/Core/ImageFunction/include/itkGaussianDerivativeImageFunction.hxx
  Modules/Core/ImageFunction/test/itkLinearInterpolateImageFunctionTest.cxx
  Modules/Core/ImageFunction/test/itkNearestNeighborInterpolateImageFunctionTest.cxx
  Modules/Core/SpatialObjects/include/itkImageMaskSpatialObject.hxx
  Modules/Core/SpatialObjects/test/itkSpatialObjectToImageStatisticsCalculatorTest.cxx
  Modules/Core/Transform/include/itkBSplineTransformInitializer.hxx
  Modules/Core/Transform/test/itkComposeScaleSkewVersor3DTransformTest.cxx
  Modules/Core/Transform/test/itkScaleSkewVersor3DTransformTest.cxx
  Modules/Core/Transform/test/itkScaleVersor3DTransformTest.cxx
  Modules/Core/Transform/test/itkSimilarity3DTransformTest.cxx
  Modules/Core/Transform/test/itkVersorRigid3DTransformTest.cxx
  Modules/Core/Transform/test/itkVersorTransformTest.cxx
  Modules/Filtering/DisplacementField/include/itkComposeDisplacementFieldsImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldToBSplineImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldTransform.hxx
  Modules/Filtering/DisplacementField/include/itkGaussianExponentialDiffeomorphicTransform.hxx
  Modules/Filtering/DisplacementField/include/itkGaussianSmoothingOnUpdateDisplacementFieldTransform.hxx
  Modules/Filtering/DisplacementField/include/itkGaussianSmoothingOnUpdateTimeVaryingVelocityFieldTransform.hxx
  Modules/Filtering/DisplacementField/include/itkInvertDisplacementFieldImageFilter.hxx
  Modules/Filtering/DisplacementField/test/itkComposeDisplacementFieldsImageFilterTest.cxx
  Modules/Filtering/DisplacementField/test/itkDisplacementFieldToBSplineImageFilterTest.cxx
  Modules/Filtering/DisplacementField/test/itkInvertDisplacementFieldImageFilterTest.cxx
  Modules/Filtering/DistanceMap/include/itkSignedMaurerDistanceMapImageFilter.hxx
  Modules/Filtering/FastMarching/test/itkFastMarchingTest.cxx
  Modules/Filtering/ImageGrid/include/itkBSplineControlPointImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkBSplineScatteredDataPointSetToImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.hxx
  Modules/Filtering/ImageGrid/test/itkBSplineControlPointImageFunctionTest.cxx
  Modules/Filtering/ImageGrid/test/itkBSplineScatteredDataPointSetToImageFilterTest.cxx
  Modules/Filtering/ImageIntensity/include/itkPolylineMaskImageFilter.hxx
  Modules/Filtering/ImageSources/include/itkGenerateImageSource.hxx
  Modules/Filtering/ImageSources/test/itkPhysicalPointImageSourceTest.cxx
  Modules/Filtering/LabelMap/include/itkShapeLabelMapFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkFlatStructuringElement.hxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkLaplacianDeformationQuadEdgeMeshFilterWithHardConstraintsTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkLaplacianDeformationQuadEdgeMeshFilterWithSoftConstraintsTest.cxx
  Modules/IO/ImageBase/test/itkVectorImageReadWriteTest.cxx
  Modules/Registration/Common/include/itkTimeVaryingBSplineVelocityFieldTransformParametersAdaptor.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkBSplineSyNImageRegistrationMethod.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkSyNImageRegistrationMethod.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkTimeVaryingBSplineVelocityFieldImageRegistrationMethod.hxx
  Modules/Registration/RegistrationMethodsv4/test/itkBSplineExponentialImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkBSplineSyNImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkBSplineSyNPointSetRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkExponentialImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSimpleImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSimpleImageRegistrationTestWithMaskAndSampling.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSyNImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSyNPointSetRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkTimeVaryingBSplineVelocityFieldImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkTimeVaryingBSplineVelocityFieldPointSetRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkTimeVaryingVelocityFieldImageRegistrationTest.cxx
  Modules/Segmentation/KLMRegionGrowing/test/itkRegionGrow2DTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style

#3265 Use constexpr zero vector
  Modules/Filtering/DisplacementField/include/itkComposeDisplacementFieldsImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkGaussianExponentialDiffeomorphicTransform.hxx
  Modules/Filtering/DisplacementField/include/itkGaussianSmoothingOnUpdateDisplacementFieldTransform.hxx
  Modules/Filtering/DisplacementField/include/itkGaussianSmoothingOnUpdateTimeVaryingVelocityFieldTransform.hxx
  Modules/Filtering/DisplacementField/include/itkInvertDisplacementFieldImageFilter.hxx
  Modules/Filtering/DisplacementField/test/itkInvertDisplacementFieldImageFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkLaplacianDeformationQuadEdgeMeshFilterWithHardConstraintsTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkLaplacianDeformationQuadEdgeMeshFilterWithSoftConstraintsTest.cxx
  Modules/Registration/Common/include/itkTimeVaryingBSplineVelocityFieldTransformParametersAdaptor.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkBSplineSyNImageRegistrationMethod.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkSyNImageRegistrationMethod.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkTimeVaryingBSplineVelocityFieldImageRegistrationMethod.hxx
  Modules/Registration/RegistrationMethodsv4/test/itkBSplineExponentialImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkBSplineSyNImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkBSplineSyNPointSetRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkExponentialImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSimpleImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSimpleImageRegistrationTestWithMaskAndSampling.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSyNImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSyNPointSetRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkTimeVaryingBSplineVelocityFieldImageRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkTimeVaryingBSplineVelocityFieldPointSetRegistrationTest.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkTimeVaryingVelocityFieldImageRegistrationTest.cxx
Labels: type:Testing, area:Filtering, area:Registration

#3263 COMP: Add #include "itkNumericTraitsVectorPixel.h"
  Modules/Segmentation/LevelSets/include/itkVectorThresholdSegmentationLevelSetImageFilter.h
Labels: type:Compiler, area:Segmentation

#3270 wasm fixes
  CMake/ITKExternalData.cmake
  CMake/ITKSetStandardCompilerFlags.cmake
  CMakeLists.txt
  Modules/Core/TestKernel/src/CMakeLists.txt
Labels: type:Infrastructure, area:Core

#3274 COMP: Fix ImageBufferRange GTest clang `tautological-compare` warnings
  Modules/Core/Common/test/itkImageBufferRangeGTest.cxx
  Modules/Core/Common/test/itkImageRegionRangeGTest.cxx
  Modules/Core/Common/test/itkRangeGTestUtilities.h
  Modules/Core/Common/test/itkShapedImageNeighborhoodRangeGTest.cxx
Labels: type:Compiler, type:Infrastructure, type:Testing, area:Core

#3272 MetaIO 2022-03-10 (0b8c5284)
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaImage.cxx
Labels: area:ThirdParty

#3276 wrapping macro refactoring
  Wrapping/Generators/CastXML/CMakeLists.txt
  Wrapping/Generators/SwigInterface/CMakeLists.txt
  Wrapping/TypedefMacros.cmake
Labels: type:Infrastructure

#3298 ENH: Improve `itk::ScalarImageKmeansImageFilter` testing
  Modules/Segmentation/Classifiers/test/Baseline/itkScalarImageKmeansImageFilterTest.png.sha512
  Modules/Segmentation/Classifiers/test/CMakeLists.txt
  Modules/Segmentation/Classifiers/test/itkScalarImageKmeansImageFilter3DTest.cxx
  Modules/Segmentation/Classifiers/test/itkScalarImageKmeansImageFilterTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Segmentation, type:Data

#3279 ENH: Update to TubeTK that supports itk::BooleanStdVector in prep for ITKv5.3rc04
  Modules/Remote/TubeTK.remote.cmake
Labels: type:Enhancement, area:Remotes

#3282 ENH: Enable LZW compression
  Modules/IO/TIFF/src/itkTIFFImageIO.cxx
Labels: type:Enhancement, area:IO

#3304 COMP: Fix missing initialization braces warning
  Modules/Core/Common/test/itkPointSetToImageFilterTest1.cxx
Labels: type:Compiler, type:Testing, area:Core

#3242 ENH: bug #3241: Add qfac and qto_xyz to itkNiftiImageIO metadata
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
Labels: type:Enhancement, area:IO

#3302 ENH: Add `NumberToString<>` specialization, deducing its parameter type
  Modules/Core/Common/include/itkNumberToString.h
  Modules/Core/Common/test/itkNumberToStringGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#3308 BUG: Fix `PythonVerifyGetOutputAPIConsistency` test on Windows
  Wrapping/Generators/Python/Tests/verifyGetOutputAPIConsistency.py
Labels: type:Bug, area:Python wrapping, type:Testing

#3303 BUG: Fix generated file name pattern
  Wrapping/Generators/Python/CMakeLists.txt
  Wrapping/TypedefMacros.cmake
Labels: type:Bug, type:Infrastructure

#3309 BUG: Use itk.ULL type for Python Windows test
  Modules/Core/Common/wrapping/test/itkPointSetSerializationTest.py
  Modules/Core/Mesh/wrapping/test/itkMeshSerializationTest.py
Labels: type:Bug, area:Python wrapping, type:Testing, area:Core

#3316 ENH: Handle itk.ULL in _get_itk_pixelid for Windows
  Modules/Core/Mesh/wrapping/test/CMakeLists.txt
  Modules/Core/Mesh/wrapping/test/itkMeshSerializationTest.py
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Core

#3317 BUG: Remove duplicate Size entry in ImportImageFilter PrintSelf
  Modules/Core/Common/include/itkImportImageFilter.hxx
Labels: type:Bug, area:Core

#3321 COMP: Remove un-necessary wrapping to remove Windows warnings
  Wrapping/WrapITKTypes.cmake
Labels: type:Compiler

#3319 BUG: Add DOXYGEN_(FORMAT) options to DoxygenConfig.cmake
  Utilities/Doxygen/CMakeLists.txt
  Utilities/Doxygen/DoxygenConfig.cmake
Labels: type:Bug, type:Infrastructure, area:Documentation

#3322 wasm remote
  CMake/ExternalData.cmake
  CMake/ExternalData_config.cmake.in
  CMake/ITKExternalData.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
Labels: type:Infrastructure, area:Remotes

#3325 STYLE: Use ReadImage and WriteImage in a few iterator examples
  Examples/Iterators/ImageRegionIterator.cxx
  Examples/Iterators/ImageRegionIteratorWithIndex.cxx
  Examples/Iterators/ImageSliceIteratorWithIndex.cxx
Labels: area:Examples, type:Style

#3305 ENH: Add explicit `Matrix(const RawDataArrayType &)` constructor
  Modules/Core/Common/include/itkMatrix.h
  Modules/Core/Common/test/itkMatrixGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#3320 ENH: Support C-style arrays as MetaDataObjectType for MetaDataDictionary
  Modules/Core/Common/include/itkMetaDataObject.h
  Modules/Core/Common/include/itkMetaDataObject.hxx
  Modules/Core/Common/test/itkMetaDataDictionaryGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#3330 ENH: Add configuration to disable Python factory loading
  Wrapping/Generators/Python/Tests/CMakeLists.txt
  Wrapping/Generators/Python/Tests/nodefaultfactories.py
  Wrapping/Generators/Python/itk/support/base.py
  Wrapping/Generators/Python/itk/support/lazy.py
  Wrapping/Generators/Python/itkConfig.py.in
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing

#3335 STYLE: Remove CMake checks on old MSVC versions (before version 1910)
  CMake/ITKSetStandardCompilerFlags.cmake
  Modules/Core/GPUCommon/test/CMakeLists.txt
  Modules/Filtering/GPUAnisotropicSmoothing/test/CMakeLists.txt
  Modules/Filtering/GPUImageFilterBase/test/CMakeLists.txt
  Modules/Filtering/GPUSmoothing/test/CMakeLists.txt
  Modules/Filtering/GPUThresholding/test/CMakeLists.txt
  Modules/Registration/GPUPDEDeformable/test/CMakeLists.txt
Labels: type:Infrastructure, area:Core, area:Filtering, area:Registration, type:Style

#3327 STYLE: Encapsulate NiftiImage qto_xyz mat44 data as `Matrix<float,4,4>`
  Modules/Core/Common/include/itkMetaDataObject.h
  Modules/Core/Common/src/itkMetaDataObject.cxx
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
Labels: area:Core, area:IO, type:Style

#3331 COMP: Do not use ITK_AUTOLOAD_PATH when ITK_WRAP_PYTHON is set
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
Labels: type:Compiler, area:Core

#3338 STYLE: Remove duplicate MSVC `/bigobj` flags from GPU test projects
  Modules/Core/GPUCommon/test/CMakeLists.txt
  Modules/Filtering/GPUAnisotropicSmoothing/test/CMakeLists.txt
  Modules/Filtering/GPUImageFilterBase/test/CMakeLists.txt
  Modules/Filtering/GPUSmoothing/test/CMakeLists.txt
  Modules/Filtering/GPUThresholding/test/CMakeLists.txt
  Modules/Registration/GPUPDEDeformable/test/CMakeLists.txt
Labels: type:Infrastructure, area:Core, area:Filtering, area:Registration, type:Style

#3346 BUG: Fix Doxygen configuration for output formats
  Utilities/Doxygen/DoxygenConfig.cmake
Labels: type:Bug, type:Infrastructure, area:Documentation

#3352 ENH: Adding Module Dependency for Windows Python Test
  Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml
Labels: type:Enhancement, type:Testing
