Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-07, with the labels that each got.

#3470 ENH: Removing TransformType key from Transform serialization
  Modules/Core/Transform/include/itkTransform.h
  Modules/Core/Transform/test/itkTransformTest.cxx
  Modules/Core/Transform/wrapping/test/Baseline/BSplineDeformationTransformDisplacements5.txt.sha512
  Modules/Core/Transform/wrapping/test/CMakeLists.txt
  Modules/Core/Transform/wrapping/test/itkTransformSerializationTest.py
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Core, type:Data

#3478 COMP: Mangle hdf5 static symbols
  Modules/ThirdParty/HDF5/src/itkhdf5/src/itk_hdf5_mangle.h
Labels: type:Compiler, area:ThirdParty

#3480 wrapping manylinux 2 28
  Documentation/Maintenance/Release.md
  Wrapping/macro_files/itk_auto_load_submodules.cmake
Labels: area:Documentation

#3482 ENH: Bump ITKMinimalPathExtraction tag
  Modules/Remote/MinimalPathExtraction.remote.cmake
Labels: type:Enhancement, area:Remotes

#3481 53rc4 content link
  Modules/Core/Common/test/Baseline/itkPointSetToImageFilterTest1.png.md5
  Modules/Core/Common/test/Baseline/itkPointSetToImageFilterTest2.mha.md5
  Modules/Core/Transform/wrapping/test/Baseline/BSplineDeformationTransformDisplacements5.txt.md5
  Modules/Filtering/Convolution/test/Baseline/itkConvolutionImageFilterStreamingTestOutput.mha.md5
  Modules/Filtering/Convolution/test/Baseline/itkConvolutionImageFilterSubregionTestOutput.mha.md5
  Modules/Filtering/Convolution/test/Baseline/itkConvolutionImageFilterSubregionTestOutput2.mha.md5
  Modules/Filtering/Convolution/test/Baseline/itkFFTConvolutionImageFilterSubregionNormalizeTestOutput.mha.md5
  Modules/Filtering/Convolution/test/Baseline/itkFFTConvolutionImageFilterSubregionValidTestOutput.mha.md5
  Modules/Filtering/Convolution/test/Input/cthead1.mha.md5
  Modules/Filtering/Deconvolution/test/Baseline/itkInverseDeconvolutionImageFilterGaussianKernelTest.nrrd.md5
  Modules/Filtering/ImageFeature/test/Baseline/itkLaplacianSharpeningImageFilterTest.png.md5
  Modules/Filtering/ImageFeature/test/Baseline/itkMaskFeaturePointSelectionFilterTestMask.mha.md5
  Modules/Filtering/ImageFeature/test/Input/HeadMRVolumeMaskImage.mha.md5
  Modules/Filtering/ImageGrid/wrapping/test/Baseline/OrientImageFilterTest.mha.md5
  Modules/Filtering/MathematicalMorphology/test/Baseline/ClosingByReconstructionImageFilterTestFullyConnected.png.md5
  Modules/Filtering/MathematicalMorphology/test/Baseline/OpeningByReconstructionImageFilterTestFullyConnected.png.md5
  Modules/Filtering/MathematicalMorphology/test/Baseline/cthead1RegionalMinimal-ref1.png.md5
  Modules/Filtering/MathematicalMorphology/test/Baseline/cthead1RegionalMinimal-ref2.png.md5
  Modules/Filtering/MathematicalMorphology/test/Baseline/cthead1RegionalMinimal1.png.md5
  Modules/Filtering/MathematicalMorphology/test/Baseline/cthead1RegionalMinimal2.png.md5
  Modules/Filtering/Smoothing/test/Baseline/DiscreteGaussianImageFilter3DComparisonTestOutput.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/DiscreteGaussianImageFilter3DComparisonTestOutput2.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/DiscreteGaussianImageFilterComparisonTestOutput.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/DiscreteGaussianImageFilterNonunitImageComparisonTestOutput.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilter3DComparisonTestOutput.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilter3DComparisonTestOutput2.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilter3DImageSourceTestOutput.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilter3DVolumeTestOutput.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilterComparisonTestOutput.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilterNonunitImageComparisonTestOutput.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilterTestImageSourceOutput.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilterTestKernelDimensionalityOutput.mha.md5
  Modules/Filtering/Smoothing/test/Baseline/FFTDiscreteGaussianImageFilterTestOutput.mha.md5
  Modules/Filtering/Smoothing/test/Input/itkDiscreteGaussianImageFilterTestNonNullOriginInput.mha.md5
  Modules/IO/MeshVTK/test/Baseline/hollow.vtk.md5
  Modules/IO/NIFTI/test/Input/SmallVoxels_AffinePrecision.nii.gz.md5
  Modules/Segmentation/Classifiers/test/Baseline/itkScalarImageKmeansImageFilterTest.png.md5
Labels: area:Python wrapping, type:Testing, area:Core, area:Filtering, area:IO, area:Segmentation, type:Data

#3485 ENH: Adding Python wrapping for itkPointsLocator
  Modules/Registration/Common/wrapping/itkPointsLocator.wrap
  Modules/Registration/Common/wrapping/test/CMakeLists.txt
  Modules/Registration/Common/wrapping/test/itkPointsLocatorTest.py
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Registration

#3487 DOC: Fix typos in documentation
  Documentation/Download.md
  Documentation/Doxygen/ImageSimilarityMetrics.dox
  Documentation/Doxygen/Iterators.dox
  Documentation/Doxygen/NeighborhoodIterators.dox
  Documentation/Doxygen/Registration.dox
  Documentation/Doxygen/Threading.dox
  Documentation/GitHelp.md
  Documentation/ITK5MigrationGuide.md
  Documentation/Maintenance/Release.md
  Documentation/UploadBinaryData.md
Labels: area:Documentation

#3489 DOC: Fix typos in `Wrapping/` subdirectory
  Wrapping/ConfigureWrapping.cmake
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/Tests/PythonTypemapsTest.py
  Wrapping/Generators/Python/Tests/build_options.py
  Wrapping/Generators/Python/Tests/multiprocess_lazy_loading.py
  Wrapping/Generators/Python/Tests/returnedTypeCoverage.py
  Wrapping/Generators/Python/Tests/simple_pipeline.py
  Wrapping/Generators/Python/Tests/wrappingCoverage.py
  Wrapping/Generators/Python/itk/__init__.py
  Wrapping/Generators/Python/itk/pyi_generator.py
  Wrapping/Generators/Python/itk/support/extras.py
  Wrapping/Generators/Python/itk/support/lazy.py
  Wrapping/Generators/Python/itk/support/template_class.py
  Wrapping/Generators/SwigInterface/igenerator.py
  Wrapping/TypedefMacros.cmake
  Wrapping/WrappingOptions.cmake
Labels: area:Python wrapping, type:Testing

#3488 ENH: Issue warning when NIFTI IO coerces matrix to orthogonal.
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
  Modules/IO/NIFTI/test/CMakeLists.txt
  Modules/IO/NIFTI/test/itkNiftiWriteCoerceOrthogonalDirectionTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:IO

#3494 BUG: Use absolute module path PyCapsule_Import
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/itkPyITKCommonCAPI.h
  Wrapping/Generators/SwigInterface/igenerator.py
  Wrapping/macro_files/itk_end_wrap_module.cmake
Labels: type:Bug, area:Python wrapping

#3503 DOC: Fix typos in Modules/Remote subdirectory
  Modules/Remote/AdaptiveDenoising.remote.cmake
  Modules/Remote/AnalyzeObjectLabelMap.remote.cmake
  Modules/Remote/AnisotropicDiffusionLBR.remote.cmake
  Modules/Remote/BSplineGradient.remote.cmake
  Modules/Remote/BioCell.remote.cmake
  Modules/Remote/BoneEnhancement.remote.cmake
  Modules/Remote/BoneMorphometry.remote.cmake
  Modules/Remote/Cleaver.remote.cmake
  Modules/Remote/Cuberille.remote.cmake
  Modules/Remote/CudaCommon.remote.cmake
  Modules/Remote/Deprecated/NeuralNetworks.remote.cmake
  Modules/Remote/FixedPointInverseDisplacementField.remote.cmake
  Modules/Remote/GenericLabelInterpolator.remote.cmake
  Modules/Remote/GrowCut.remote.cmake
  Modules/Remote/HASI.remote.cmake
  Modules/Remote/HigherOrderAccurateGradient.remote.cmake
  Modules/Remote/IOFDF.remote.cmake
  Modules/Remote/IOMeshSTL.remote.cmake
  Modules/Remote/IOMeshSWC.remote.cmake
  Modules/Remote/IOOpenSlide.remote.cmake
  Modules/Remote/IOScanco.remote.cmake
  Modules/Remote/IOTransformDCMTK.remote.cmake
  Modules/Remote/IsotropicWavelets.remote.cmake
  Modules/Remote/LabelErodeDilate.remote.cmake
  Modules/Remote/LesionSizingToolkit.remote.cmake
  Modules/Remote/MGHIO.remote.cmake
  Modules/Remote/MeshNoise.remote.cmake
  Modules/Remote/MeshToPolyData.remote.cmake
  Modules/Remote/MinimalPathExtraction.remote.cmake
  Modules/Remote/Montage.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/MultipleImageIterator.remote.cmake
  Modules/Remote/ParabolicMorphology.remote.cmake
  Modules/Remote/PerformanceBenchmarking.remote.cmake
  Modules/Remote/PhaseSymmetry.remote.cmake
  Modules/Remote/PolarTransform.remote.cmake
  Modules/Remote/PrincipalComponentsAnalysis.remote.cmake
  Modules/Remote/README.md
  Modules/Remote/RLEImage.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SCIFIO.remote.cmake
  Modules/Remote/Shape.remote.cmake
  Modules/Remote/SimpleITKFilters.remote.cmake
  Modules/Remote/SkullStrip.remote.cmake
  Modules/Remote/SmoothingRecursiveYvvGaussianFilter.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/Strain.remote.cmake
  Modules/Remote/SubdivisionQuadEdgeMeshFilter.remote.cmake
  Modules/Remote/TextureFeatures.remote.cmake
  Modules/Remote/Thickness3D.remote.cmake
  Modules/Remote/TotalVariation.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/TwoProjectionRegistration.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
  Modules/Remote/VariationalRegistration.remote.cmake
  Modules/Remote/VkFFTBackend.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
Labels: area:Examples, area:Remotes

#3502 Points locator windows
  Modules/Registration/Common/wrapping/itkPointsLocator.wrap
  Modules/Registration/Common/wrapping/test/itkPointsLocatorTest.py
  Wrapping/Generators/Python/itk/__init__.py
  Wrapping/Generators/Python/itk/support/types.py
Labels: area:Python wrapping, type:Testing, area:Registration

#3498 ENH: Improve LabelOverlapMeasuresImageFilter
  Modules/Filtering/ImageStatistics/include/itkLabelOverlapMeasuresImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkLabelOverlapMeasuresImageFilter.hxx
  Modules/Filtering/ImageStatistics/test/itkLabelOverlapMeasuresImageFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Filtering

#3507 STYLE: Rethrow caught exceptions just by `throw;` without argument
  Modules/Filtering/FastMarching/include/itkFastMarchingUpwindGradientImageFilter.hxx
  Modules/IO/CSV/include/itkCSVNumericObjectFileWriter.hxx
  Modules/IO/ImageBase/include/itkIOTestHelper.h
  Modules/Numerics/Optimizers/src/itkGradientDescentOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkRegularStepGradientDescentBaseOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkSPSAOptimizer.cxx
  Modules/Numerics/Optimizersv4/include/itkConjugateGradientLineSearchOptimizerv4.hxx
  Modules/Numerics/Optimizersv4/include/itkGradientDescentLineSearchOptimizerv4.hxx
  Modules/Numerics/Optimizersv4/include/itkGradientDescentOptimizerv4.hxx
  Modules/Numerics/Optimizersv4/include/itkMultiGradientOptimizerv4.hxx
  Modules/Numerics/Optimizersv4/include/itkQuasiNewtonOptimizerv4.hxx
  Modules/Numerics/Optimizersv4/include/itkRegularStepGradientDescentOptimizerv4.hxx
  Modules/Registration/Common/include/itkImageRegistrationMethod.hxx
  Modules/Registration/Common/include/itkImageToSpatialObjectRegistrationMethod.hxx
  Modules/Registration/Common/include/itkMultiResolutionImageRegistrationMethod.hxx
  Modules/Registration/Common/include/itkPointSetToImageRegistrationMethod.hxx
  Modules/Registration/Common/include/itkPointSetToPointSetRegistrationMethod.hxx
  Modules/Segmentation/Classifiers/include/itkBayesianClassifierInitializationImageFilter.hxx
  Modules/Video/Core/src/itkTemporalProcessObject.cxx
Labels: type:Testing, area:Filtering, area:IO, area:Registration, area:Segmentation, area:Video, type:Style, area:Numerics

#3509 Update NIFTI CLib 2022-07-27 (3aa22540)
  Modules/ThirdParty/NIFTI/src/nifti/cmake/nifti_macros.cmake
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/Makefile
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_io.c
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_io.h
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_test.c
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_tool.c
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti_tester001.c
Labels: area:ThirdParty
