Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-08, with the labels that each got.

#3513 COMP: use sysconfig.get_path as PEP 632 deprecate distutils module
  Wrapping/Generators/Python/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#3516 DOC: Fix typos in Modules/Numerics
  Modules/Numerics/Eigen/include/itkEigenAnalysis2DImageFilter.hxx
  Modules/Numerics/FEM/include/itkFEMElementBase.h
  Modules/Numerics/FEM/include/itkFEMElementStd.h
  Modules/Numerics/FEM/include/itkFEMException.h
  Modules/Numerics/FEM/include/itkFEMLinearSystemWrapperItpack.h
  Modules/Numerics/FEM/include/itkFEMLoadElementBase.h
  Modules/Numerics/FEM/include/itkFEMMaterialBase.h
  Modules/Numerics/FEM/include/itkFEMObject.hxx
  Modules/Numerics/FEM/include/itkFEMRobustSolver.h
  Modules/Numerics/FEM/include/itkFEMRobustSolver.hxx
  Modules/Numerics/FEM/include/itkFEMScatteredDataPointSetToImageFilter.hxx
  Modules/Numerics/FEM/include/itkFEMSolver.h
  Modules/Numerics/FEM/include/itkFEMSolver.hxx
  Modules/Numerics/FEM/include/itpack.h
  Modules/Numerics/FEM/src/dsrc2c.c
  Modules/Numerics/FEM/src/itkFEMElementBase.cxx
  Modules/Numerics/FEM/src/itkFEMLinearSystemWrapperItpack.cxx
  Modules/Numerics/FEM/src/itkFEMLoadGrav.cxx
  Modules/Numerics/FEM/test/itkFEMRobustSolverTest.cxx
  Modules/Numerics/FEM/test/itkFEMScatteredDataPointSetToImageFilterTest.cxx
  Modules/Numerics/Optimizers/include/itkCumulativeGaussianCostFunction.h
  Modules/Numerics/Optimizers/include/itkCumulativeGaussianOptimizer.h
  Modules/Numerics/Optimizers/src/itkCumulativeGaussianOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkMultipleValuedVnlCostFunctionAdaptor.cxx
  Modules/Numerics/Optimizers/src/itkParticleSwarmOptimizerBase.cxx
  Modules/Numerics/Optimizers/src/itkPowellOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkSPSAOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkSingleValuedVnlCostFunctionAdaptor.cxx
  Modules/Numerics/Optimizers/test/itkParticleSwarmOptimizerTest.cxx
  Modules/Numerics/Optimizersv4/include/itkGradientDescentOptimizerv4.hxx
  Modules/Numerics/Optimizersv4/include/itkLBFGS2Optimizerv4.h
  Modules/Numerics/Optimizersv4/include/itkObjectToObjectMetric.hxx
  Modules/Numerics/Optimizersv4/include/itkPowellOptimizerv4.hxx
  Modules/Numerics/Optimizersv4/include/itkQuasiNewtonOptimizerv4.hxx
  Modules/Numerics/Optimizersv4/include/itkRegularStepGradientDescentOptimizerv4.hxx
  Modules/Numerics/Optimizersv4/include/itkSingleValuedCostFunctionv4.h
  Modules/Numerics/Optimizersv4/src/itkSingleValuedVnlCostFunctionAdaptorv4.cxx
  Modules/Numerics/Optimizersv4/test/itkAutoScaledGradientDescentRegistrationOnVectorTest.cxx
  Modules/Numerics/Statistics/include/itkDenseFrequencyContainer2.h
  Modules/Numerics/Statistics/include/itkDistanceMetric.h
  Modules/Numerics/Statistics/include/itkGaussianRandomSpatialNeighborSubsampler.h
  Modules/Numerics/Statistics/include/itkHistogramToTextureFeaturesFilter.h
  Modules/Numerics/Statistics/include/itkKdTree.h
  Modules/Numerics/Statistics/include/itkKdTreeBasedKmeansEstimator.hxx
  Modules/Numerics/Statistics/include/itkListSample.h
  Modules/Numerics/Statistics/include/itkMembershipFunctionBase.h
  Modules/Numerics/Statistics/include/itkNormalVariateGenerator.h
  Modules/Numerics/Statistics/include/itkSample.h
  Modules/Numerics/Statistics/include/itkScalarImageToRunLengthMatrixFilter.h
  Modules/Numerics/Statistics/include/itkScalarImageToTextureFeaturesFilter.h
  Modules/Numerics/Statistics/src/itkChiSquareDistribution.cxx
  Modules/Numerics/Statistics/src/itkTDistribution.cxx
  Modules/Numerics/Statistics/test/itkDistanceMetricTest.cxx
  Modules/Numerics/Statistics/test/itkDistanceMetricTest2.cxx
  Modules/Numerics/Statistics/test/itkHistogramToTextureFeaturesFilterTest.cxx
  Modules/Numerics/Statistics/test/itkStatisticsAlgorithmTest2.cxx
  Modules/Numerics/Statistics/test/itkWeightedCentroidKdTreeGeneratorTest9.cxx
Labels: type:Testing, area:Numerics

#3522 COMP: Fix lib64 install path issues
  CMake/ITKModuleExternal.cmake
  CMake/itkExternal_FFTW.cmake
  CMakeLists.txt
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
  Modules/Core/Common/test/itkObjectFactoryTest2.cxx
  Modules/ThirdParty/DCMTK/CMakeLists.txt
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/cmake/internal_utils.cmake
Labels: type:Compiler, type:Infrastructure, type:Testing, area:Core, area:ThirdParty

#3524 Update nifti fix install
  Modules/ThirdParty/NIFTI/src/nifti/cmake/nifti_macros.cmake
Labels: area:ThirdParty

#3525 BUG: initialize image buffer in Nifti direction test
  Modules/IO/NIFTI/test/itkNiftiWriteCoerceOrthogonalDirectionTest.cxx
Labels: type:Bug, type:Testing, area:IO

#3532 ENH: Switch Azure Pipelines macOS environment version
  Testing/ContinuousIntegration/AzurePipelinesMacOS.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
Labels: type:Enhancement, type:Testing

#3527 COMP: Change IOComponentType to IOComponentEnum
  Modules/Video/BridgeOpenCV/include/itkOpenCVVideoIO.h
  Modules/Video/BridgeOpenCV/src/itkOpenCVVideoIO.cxx
  Modules/Video/BridgeVXL/include/itkVXLVideoIO.h
  Modules/Video/BridgeVXL/src/itkVXLVideoIO.cxx
Labels: type:Compiler, area:Video

#3533 ENH: Refactor UpdateDoubleConversionFromGoogle.sh
  Modules/ThirdParty/DoubleConversion/UpdateDoubleConversionFromGoogle.sh
  Modules/ThirdParty/DoubleConversion/src/double-conversion/.gitattributes
  Modules/ThirdParty/DoubleConversion/src/double-conversion/bignum-dtoa.cc
  Modules/ThirdParty/DoubleConversion/src/double-conversion/bignum.cc
  Modules/ThirdParty/DoubleConversion/src/double-conversion/double-to-string.cc
  Modules/ThirdParty/DoubleConversion/src/double-conversion/double-to-string.h
  Modules/ThirdParty/DoubleConversion/src/double-conversion/fast-dtoa.cc
  Modules/ThirdParty/DoubleConversion/src/double-conversion/fixed-dtoa.cc
  Modules/ThirdParty/DoubleConversion/src/double-conversion/ieee.h
  Modules/ThirdParty/DoubleConversion/src/double-conversion/string-to-double.cc
  Modules/ThirdParty/DoubleConversion/src/double-conversion/string-to-double.h
  Modules/ThirdParty/DoubleConversion/src/double-conversion/strtod.cc
  Modules/ThirdParty/DoubleConversion/src/double-conversion/strtod.h
  Modules/ThirdParty/DoubleConversion/src/double-conversion/utils.h
Labels: type:Enhancement, area:ThirdParty

#3535 ENH: Bump MinimalPathExtraction module to v1.2.2
  Modules/Remote/MinimalPathExtraction.remote.cmake
Labels: type:Enhancement, area:Remotes

#3543 ENH: Bump TubeTK and MinimalPathExtraction for v5.3rc04.post2 wheels
  Modules/Remote/MinimalPathExtraction.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
Labels: type:Enhancement, area:Remotes

#3541 COMP: Add -fno-sized-deallocation for GCC 12
  CMake/ITKSetStandardCompilerFlags.cmake
Labels: type:Compiler, type:Infrastructure

#3545 BUG: fixed memory leak in Nifti IO
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
Labels: type:Bug, area:IO

#3542 BUG: VTKPolyDataMeshIO should not hang on inf and NaN in ASCII .vtk file
  Modules/IO/MeshVTK/include/itkVTKPolyDataMeshIO.h
  Modules/IO/MeshVTK/src/itkVTKPolyDataMeshIO.cxx
Labels: type:Bug, area:IO

#3548 BUG: fixed memory leaks in MINC IO
  Modules/IO/MINC/src/itkMINCImageIO.cxx
Labels: type:Bug, area:IO

#3538 ENH: Add VTKPolyDataMeshIO GTest tests, testing lossless write and read
  Modules/IO/MeshVTK/test/CMakeLists.txt
  Modules/IO/MeshVTK/test/itkVTKPolyDataMeshIOGTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:IO

#3552 COMP: Set CMake Policy 135 to NEW to suppress warnings in CMake 3.24
  CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#3550 STYLE: Clean up code by ReadPointsUsingMeshIO(), ReadCellsUsingMeshIO()
  Modules/IO/MeshBase/include/itkMeshFileReader.h
  Modules/IO/MeshBase/include/itkMeshFileReader.hxx
Labels: area:IO, type:Style

#3549 ENH: Support reading a mesh of non-3D points from a .vtk PolyData file
  Modules/IO/MeshBase/include/itkMeshFileReader.hxx
  Modules/IO/MeshVTK/src/itkVTKPolyDataMeshIO.cxx
  Modules/IO/MeshVTK/test/itkVTKPolyDataMeshIOGTest.cxx
Labels: type:Enhancement, type:Testing, area:IO

#3551 ENH: Enable building HL library for the bundled HDF5
  Modules/ThirdParty/HDF5/CMakeLists.txt
  Modules/ThirdParty/HDF5/src/CMakeLists.txt
Labels: type:Infrastructure, type:Enhancement, area:ThirdParty

#3555 ENH: Add MetaDataObject Python wrapping with Matrix
  Modules/Core/Common/wrapping/itkMetaDataObject.wrap
  Modules/Core/Common/wrapping/test/itkMetaDataDictionaryTest.py
Labels: type:Enhancement, area:Python wrapping, type:Testing, area:Core

#3511 ENH: Add Similarity3DTransform in itkLandmarkBasedTransformInitializer
  Modules/Registration/Common/include/itkLandmarkBasedTransformInitializer.h
  Modules/Registration/Common/include/itkLandmarkBasedTransformInitializer.hxx
  Modules/Registration/Common/test/itkLandmarkBasedTransformInitializerTest.cxx
Labels: type:Enhancement, type:Testing, area:Registration

#3557 Fix exception message
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.hxx
Labels: area:Filtering

#3554 ENH: Switch Azure Pipelines Linux environment version
  Testing/ContinuousIntegration/AzurePipelinesLinux.yml
  Testing/ContinuousIntegration/AzurePipelinesLinuxPython.yml
Labels: type:Enhancement, type:Testing

#3559 ENH: Add itk.Point wrapping for dimension 6
  Wrapping/WrapITKTypes.cmake
Labels: type:Enhancement

#3563 ENH: Add typehints to python wheel packages
  Wrapping/CMakeLists.txt
  Wrapping/Generators/Python/CMakeLists.txt
Labels: type:Infrastructure, type:Enhancement

#3564 STYLE: Declare Ellipsoid SpatialFunction orientations as a fixed matrix
  Modules/Core/Common/include/itkEllipsoidInteriorExteriorSpatialFunction.h
  Modules/Core/Common/include/itkEllipsoidInteriorExteriorSpatialFunction.hxx
Labels: area:Core, type:Style

#3566 STYLE: Use `unique_ptr` for `OrthogonalSwath2DPathFilter` data members
  Modules/Filtering/Path/include/itkOrthogonalSwath2DPathFilter.h
  Modules/Filtering/Path/include/itkOrthogonalSwath2DPathFilter.hxx
Labels: area:Filtering, type:Style

#3565 STYLE: Declare WindowedSincInterpolateImageFunction data as fixed arrays
  Modules/Core/ImageFunction/include/itkWindowedSincInterpolateImageFunction.h
  Modules/Core/ImageFunction/include/itkWindowedSincInterpolateImageFunction.hxx
Labels: area:Core, type:Style

#3567 STYLE: Declare `NormalVariateGenerator::m_Vec1` as fixed array
  Modules/Numerics/Statistics/include/itkNormalVariateGenerator.h
  Modules/Numerics/Statistics/src/itkNormalVariateGenerator.cxx
Labels: type:Style, area:Numerics

#3569 DOC: Add First Interaction GitHub Action
  .github/workflows/first-interaction.yml
Labels: type:Infrastructure

#3571 BUG: Add permissions to apply clang format action
  .github/workflows/apply-clang-format.yml
Labels: type:Bug, type:Infrastructure

#3570 BUG: Add GitHub Action permissions for the labeller
  .github/workflows/label-pr.yml
Labels: type:Bug, type:Infrastructure

#3577 STYLE: Use unique_ptr to avoid the same delete[] on multiple exit paths
  Modules/Filtering/ImageGrid/include/itkBinShrinkImageFilter.hxx
  Modules/IO/MINC/src/itkMINCImageIO.cxx
  Modules/IO/MRC/src/itkMRCImageIO.cxx
  Modules/IO/MeshBase/include/itkMeshFileReader.hxx
Labels: area:Filtering, area:IO, type:Style

#3578 STYLE: Improve the first interaction message style
  .github/workflows/first-interaction.yml
Labels: type:Infrastructure, type:Style

#3579 ENH: Update remote modules using the script
  Modules/Remote/AdaptiveDenoising.remote.cmake
  Modules/Remote/AnalyzeObjectLabelMap.remote.cmake
  Modules/Remote/AnisotropicDiffusionLBR.remote.cmake
  Modules/Remote/BSplineGradient.remote.cmake
  Modules/Remote/BioCell.remote.cmake
  Modules/Remote/BoneEnhancement.remote.cmake
  Modules/Remote/BoneMorphometry.remote.cmake
  Modules/Remote/Cleaver.remote.cmake
  Modules/Remote/Cuberille.remote.cmake
  Modules/Remote/CudaCommon.remote.cmake
  Modules/Remote/FixedPointInverseDisplacementField.remote.cmake
  Modules/Remote/GenericLabelInterpolator.remote.cmake
  Modules/Remote/GrowCut.remote.cmake
  Modules/Remote/HASI.remote.cmake
  Modules/Remote/HigherOrderAccurateGradient.remote.cmake
  Modules/Remote/IOFDF.remote.cmake
  Modules/Remote/IOMeshSTL.remote.cmake
  Modules/Remote/IOMeshSWC.remote.cmake
  Modules/Remote/IOScanco.remote.cmake
  Modules/Remote/IOTransformDCMTK.remote.cmake
  Modules/Remote/IsotropicWavelets.remote.cmake
  Modules/Remote/LabelErodeDilate.remote.cmake
  Modules/Remote/LesionSizingToolkit.remote.cmake
  Modules/Remote/MGHIO.remote.cmake
  Modules/Remote/MeshNoise.remote.cmake
  Modules/Remote/MeshToPolyData.remote.cmake
  Modules/Remote/MinimalPathExtraction.remote.cmake
  Modules/Remote/Montage.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/MultipleImageIterator.remote.cmake
  Modules/Remote/ParabolicMorphology.remote.cmake
  Modules/Remote/PerformanceBenchmarking.remote.cmake
  Modules/Remote/PhaseSymmetry.remote.cmake
  Modules/Remote/PrincipalComponentsAnalysis.remote.cmake
  Modules/Remote/RLEImage.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SCIFIO.remote.cmake
  Modules/Remote/Shape.remote.cmake
  Modules/Remote/SimpleITKFilters.remote.cmake
  Modules/Remote/SkullStrip.remote.cmake
  Modules/Remote/SmoothingRecursiveYvvGaussianFilter.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/Strain.remote.cmake
  Modules/Remote/SubdivisionQuadEdgeMeshFilter.remote.cmake
  Modules/Remote/TextureFeatures.remote.cmake
  Modules/Remote/Thickness3D.remote.cmake
  Modules/Remote/TotalVariation.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/TwoProjectionRegistration.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
  Modules/Remote/VariationalRegistration.remote.cmake
  Modules/Remote/VkFFTBackend.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
Labels: type:Enhancement, area:Examples, area:Remotes

#3573 STYLE: Replace pointers initialized by `new T[N]` with fixed arrays
  Modules/Core/Common/test/itkVariableLengthVectorTest.cxx
  Modules/Core/SpatialObjects/include/itkMetaDTITubeConverter.hxx
  Modules/Core/SpatialObjects/include/itkMetaEllipseConverter.hxx
  Modules/Core/SpatialObjects/include/itkMetaSceneConverter.hxx
  Modules/Core/SpatialObjects/test/itkSpatialObjectDuplicatorTest.cxx
  Modules/Filtering/FFT/include/itkFFTWCommon.h
  Modules/Filtering/ImageFilterBase/include/itkMovingHistogramImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkMaskedMovingHistogramImageFilter.hxx
  Modules/IO/SpatialObjects/test/itkReadWriteSpatialObjectTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, type:Style

#3584 DOC: Remove outdated migration information
  Modules/Filtering/ImageFeature/include/itkCannyEdgeDetectionImageFilter.h
Labels: area:Filtering

#3583 COMP: ARM Eigen copying an object of non-trivial type
  Modules/ThirdParty/Eigen3/src/itkeigen/Eigen/src/Core/arch/NEON/PacketMath.h
Labels: type:Compiler, area:ThirdParty

#3586 GitHub Workflows security hardening
  .github/workflows/clang-format-linter.yml
Labels: type:Infrastructure

#3588 COMP: Fix compile error on Visual Studio 2017
  Modules/Core/ImageFunction/include/itkWindowedSincInterpolateImageFunction.h
Labels: type:Compiler, area:Core
