Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-05, with the labels that each got.

#3406 BUG: Re-add coverage for `itk::RegistrationParameterScales` types
  Modules/Registration/Metricsv4/wrapping/itkMetricv4Types.wrap
Labels: type:Bug, area:Python wrapping, area:Registration, type:Coverage

#3387 ENH: Consider requested output region in FFT convolution
  Modules/Filtering/Convolution/include/itkConvolutionImageFilter.hxx
  Modules/Filtering/Convolution/include/itkFFTConvolutionImageFilter.h
  Modules/Filtering/Convolution/include/itkFFTConvolutionImageFilter.hxx
  Modules/Filtering/Convolution/itk-module.cmake
  Modules/Filtering/Convolution/test/Baseline/itkConvolutionImageFilterStreamingTestOutput.mha.sha512
  Modules/Filtering/Convolution/test/Baseline/itkConvolutionImageFilterSubregionTestOutput.mha.sha512
  Modules/Filtering/Convolution/test/Baseline/itkConvolutionImageFilterSubregionTestOutput2.mha.sha512
  Modules/Filtering/Convolution/test/Baseline/itkFFTConvolutionImageFilterSubregionNormalizeTestOutput.mha.sha512
  Modules/Filtering/Convolution/test/Baseline/itkFFTConvolutionImageFilterSubregionValidTestOutput.mha.sha512
  Modules/Filtering/Convolution/test/CMakeLists.txt
  Modules/Filtering/Convolution/test/Input/cthead1.mha.sha512
  Modules/Filtering/Convolution/test/itkConvolutionImageFilterStreamingTest.cxx
  Modules/Filtering/Convolution/test/itkConvolutionImageFilterSubregionTest.cxx
  Modules/Filtering/Deconvolution/test/Baseline/itkInverseDeconvolutionImageFilterGaussianKernelTest.nrrd.md5
  Modules/Filtering/Deconvolution/test/Baseline/itkInverseDeconvolutionImageFilterGaussianKernelTest.nrrd.sha512
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Filtering, type:Data

#3413 COMP: add missing trailing semicolon after itkExceptionMacro
  Modules/Filtering/Convolution/include/itkFFTConvolutionImageFilter.hxx
Labels: type:Compiler, area:Filtering

#3411 DOC: typo in itkMath comment
  Modules/Core/Common/include/itkMath.h
Labels: area:Core

#3410 BUG: First set fixed parameters then parameters
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Bug, area:Python wrapping

#3408 DOC: Improve Doxygen modules documentation
  Documentation/Doxygen/Modules.dox
Labels: area:Documentation

#3405 xarray image name
  Wrapping/Generators/Python/CMakeLists.txt
  Wrapping/Generators/Python/Tests/CMakeLists.txt
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/Tests/test_xarray.py
  Wrapping/Generators/Python/itk/support/base.py
  Wrapping/Generators/Python/itk/support/extras.py
  Wrapping/Generators/Python/itk/support/helpers.py
  Wrapping/Generators/Python/itk/support/xarray.py
Labels: type:Infrastructure, area:Python wrapping, type:Testing

#3414 BUG: XMLFileOutputWindowTest failed subsequent runs
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkXMLFileOutputWindowTest.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:Core

#3416 ENH: Update TubeTK to support Write3DImagesAs4DImage in python
  Modules/Remote/TubeTK.remote.cmake
Labels: type:Enhancement, area:Remotes

#3417 ENH: SurfaceSpatialObject templated over point type
  Modules/Core/SpatialObjects/include/itkSurfaceSpatialObject.h
  Modules/Core/SpatialObjects/include/itkSurfaceSpatialObject.hxx
Labels: type:Enhancement, area:Core

#3415 COMP: Build errors when only ITK_WRAP_covariant_vector_double is enabled
  Modules/Core/Common/wrapping/itkImageToImageFilterA.wrap
  Modules/Filtering/ImageFilterBase/wrapping/itkCastImageFilter.wrap
Labels: type:Compiler, area:Python wrapping, area:Core, area:Filtering

#3418 BUG: Solves intermittent corrupted cells during de-serialization
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Bug, area:Python wrapping

#3420 ENH: Add kernel helper methods to `itk::DiscreteGaussianImageFilter`
  Modules/Filtering/Smoothing/include/itkDiscreteGaussianImageFilter.h
  Modules/Filtering/Smoothing/include/itkDiscreteGaussianImageFilter.hxx
  Modules/Filtering/Smoothing/test/itkDiscreteGaussianImageFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Filtering

#3402 STYLE: Use `bit_cast` to convert random seeds from uint32_t to int32_t
  Modules/Filtering/ImageNoise/include/itkAdditiveGaussianNoiseImageFilter.hxx
  Modules/Filtering/ImageNoise/include/itkShotNoiseImageFilter.hxx
Labels: area:Filtering, type:Style

#3399 STYLE: Use `constexpr` and `bit_cast` within `GE4ImageIO::MvtSunf(int)`
  Modules/IO/GE/src/itkGE4ImageIO.cxx
Labels: area:IO, type:Style

#3398 STYLE: Clean-up code Windows version default-constructor `RealTimeClock`
  Modules/Core/Common/src/itkRealTimeClock.cxx
Labels: area:Core, type:Style

#3424 BUG: Doxygen tarball links must be https
  Documentation/Doxygen/DoxygenFooter.html
Labels: type:Bug, area:Documentation

#3422 zlib-ng 2022-05-12 (41d67396)
  Modules/ThirdParty/.gitattributes
  Modules/ThirdParty/ZLIB/UpdateFromUpstream.sh
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/.gitattributes
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/CMakeLists.txt
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/README.md
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/Makefile.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/chunkset_neon.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/compare256_neon.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/Makefile.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/chunkset_power8.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/compare256_power9.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/power_features.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/power_features.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/README.md
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/dfltcc_common.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/dfltcc_common.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/dfltcc_deflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/dfltcc_deflate.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/dfltcc_detail.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/dfltcc_inflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/dfltcc_inflate.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/chunkset_avx.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/chunkset_sse2.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/chunkset.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/detect-intrinsics.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/toolchain-aarch64.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/toolchain-arm.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/toolchain-armhf.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cpu_features.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/deflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/fallback_builtins.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/functable.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/infback.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inflate_p.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zbuild.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zlib.h.in
Labels: type:Infrastructure, area:ThirdParty

#3423 PERF: Reduce verbosity of `itk::GaussianOperator` warning
  Modules/Core/Common/include/itkGaussianOperator.hxx
Labels: type:Performance, area:Core

#3432 BUG: Add `itk::GaussianOperator` debug methods
  Modules/Core/Common/include/itkGaussianOperator.h
  Modules/Core/Common/include/itkMacro.h
Labels: type:Bug, area:Core

#3431 BUG: Remove broken warning in `itk::GaussianOperator`
  Modules/Core/Common/include/itkGaussianOperator.hxx
Labels: type:Bug, area:Core

#3435 BUG: Prevent Image corruption in Dask serialization
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Bug, area:Python wrapping

#3437 COMP: Fixed issue #1821 by conditionalizing ITKGPUCommon_* per-OS
  Modules/Core/GPUCommon/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:Core

#3442 COMP: Add 9cd0f2053f0cf18 to .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: type:Compiler

#3440 COMP: Fix GPUCommon compile errors
  Modules/Core/GPUCommon/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:Core

#3438 BUG: Copy to xarray by default
  Wrapping/Generators/Python/Tests/test_xarray.py
  Wrapping/Generators/Python/itk/support/xarray.py
Labels: type:Bug, area:Python wrapping, type:Testing

#3443 COMP: Resolve `itkDiscreteGaussianImageFilter` warnings
  Modules/Filtering/Smoothing/test/itkDiscreteGaussianImageFilterTest.cxx
Labels: type:Compiler, type:Testing, area:Filtering

#3445 wasm dict members
  Modules/Core/Common/wrapping/test/itkPointSetSerializationTest.py
  Modules/Core/Mesh/wrapping/test/itkMeshSerializationTest.py
  Wrapping/Generators/Python/itk/support/extras.py
Labels: area:Python wrapping, type:Testing, area:Core

#3446 ENH: Add IOMeshSWC remote module.
  Modules/Remote/IOMeshSWC.remote.cmake
Labels: type:Enhancement, area:Remotes

#3444 COMP: Fix Python stub file generation on Windows
  Wrapping/CMakeLists.txt
  Wrapping/Generators/Python/itk/pyi_generator.py
  Wrapping/GlobalIdxFilesList.txt.in
  Wrapping/macro_files/itk_end_wrap_module.cmake
Labels: type:Compiler, type:Infrastructure, area:Python wrapping

#3339 BUG: Fix failing isAffine check due to insuffcient precision in calculations
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
  Modules/IO/NIFTI/test/CMakeLists.txt
  Modules/IO/NIFTI/test/Input/SmallVoxels_AffinePrecision.nii.gz.sha512
  Modules/IO/NIFTI/test/itkNiftiImageIOTest13.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:IO, type:Data

#3448 ENH: Simplify Nifti IO test 13 using ReadImage and testing macros
  Modules/IO/NIFTI/test/itkNiftiImageIOTest13.cxx
Labels: type:Enhancement, type:Testing, area:IO
