Repository InsightSoftwareConsortium/ITK, pull requests merged in 2022-04, with the labels that each got.

#3345 COMP: Allow setting DisplacementField with a VectorImage
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldTransform.h
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldTransform.hxx
  Modules/Filtering/DisplacementField/include/itkVelocityFieldTransform.h
  Modules/Filtering/DisplacementField/test/itkDisplacementFieldTransformTest.cxx
  Modules/Filtering/DisplacementField/wrapping/test/CMakeLists.txt
  Modules/Filtering/DisplacementField/wrapping/test/itkDisplacementFieldTransformTest.py
  Wrapping/WrapITKTypes.cmake
Labels: type:Compiler, type:Infrastructure, area:Python wrapping, type:Testing, area:Filtering

#3349 ENH: Increase `itk::MaskFeaturePointSelectionFilter` class coverage
  Modules/Filtering/ImageFeature/test/Baseline/itkMaskFeaturePointSelectionFilterTestMask.mha.sha512
  Modules/Filtering/ImageFeature/test/CMakeLists.txt
  Modules/Filtering/ImageFeature/test/Input/HeadMRVolumeMaskImage.mha.sha512
  Modules/Filtering/ImageFeature/test/itkMaskFeaturePointSelectionFilterTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Filtering, type:Data

#3354 ENH: Remove unreachable condition in FMUG all target reached mode
  Modules/Filtering/FastMarching/include/itkFastMarchingUpwindGradientImageFilter.h
Labels: type:Enhancement, area:Filtering

#3357 ENH: Increase `itk::FastMarchingBase` class coverage
  Modules/Filtering/FastMarching/test/itkFastMarchingBaseTest.cxx
  Modules/Filtering/FastMarching/test/itkFastMarchingImageFilterRealTest1.cxx
  Modules/Filtering/FastMarching/test/itkFastMarchingImageFilterRealTest2.cxx
Labels: type:Enhancement, type:Testing, area:Filtering, type:Coverage

#3359 ENH: Increase `itk::XMLFileOutputWindow` class coverage
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkXMLFileOutputWindowTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core, type:Coverage

#3363 ENH: Add ITKVkFFTBackend remote module
  CMake/FindOpenCL.cmake
  CMakeLists.txt
  Modules/Remote/VkFFTBackend.remote.cmake
Labels: type:Infrastructure, type:Enhancement, area:Remotes

#3373 BUG: Remove doxygen syntax markup for cmake lists
  Utilities/Doxygen/CMakeLists.txt
Labels: type:Bug, type:Infrastructure, area:Documentation

#3361 STYLE: Remove casts from `MersenneTwisterRandomVariateGenerator::hash`
  Modules/Core/Common/src/itkMersenneTwisterRandomVariateGenerator.cxx
Labels: area:Core, type:Style

#3372 ENH: PointSet metric and registration method supports perspective proj.
  Modules/Registration/Common/wrapping/itkPointSetToPointSetMetric.wrap
  Modules/Registration/Common/wrapping/itkPointSetToPointSetRegistrationMethod.wrap
Labels: type:Enhancement, area:Python wrapping, area:Registration

#3376 ENH: Add option to disable the server side searching
  Utilities/Doxygen/CMakeLists.txt
  Utilities/Doxygen/DoxygenConfig.cmake
Labels: type:Infrastructure, type:Enhancement, area:Documentation

#3377 BUG: Fix class name in RTTI
  Modules/Registration/Common/include/itkImageRegistrationMethodImageSource.h
Labels: type:Bug, area:Registration

#3374 ENH: Increase coverage for miscellaneous classes
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkLoggerOutputTest.cxx
  Modules/Core/Common/test/itkThreadedImageRegionPartitionerTest.cxx
  Modules/Core/Common/test/itkXMLFileOutputWindowTest.cxx
  Modules/Core/ImageFunction/test/itkCentralDifferenceImageFunctionTest.cxx
  Modules/Core/Mesh/test/itkSimplexMeshVolumeCalculatorTest.cxx
  Modules/Core/Transform/test/itkRigid3DPerspectiveTransformTest.cxx
  Modules/Filtering/DisplacementField/test/itkTimeVaryingBSplineVelocityFieldTransformTest.cxx
  Modules/Filtering/LabelMap/test/CMakeLists.txt
  Modules/Filtering/LabelMap/test/itkBinaryImageToShapeLabelMapFilterTest1.cxx
  Modules/Filtering/Path/test/itkExtractOrthogonalSwath2DImageFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkCleanQuadEdgeMeshFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkLaplacianDeformationQuadEdgeMeshFilterWithHardConstraintsTest.cxx
  Modules/IO/GDCM/test/itkGDCMImageReadSeriesWriteTest.cxx
  Modules/IO/ImageBase/test/itkImageFileReaderStreamingTest.cxx
  Modules/IO/ImageBase/test/itkImageSeriesWriterTest.cxx
  Modules/IO/ImageBase/test/itkNumericSeriesFileNamesTest.cxx
  Modules/IO/LSM/test/itkLSMImageIOTest.cxx
  Modules/IO/MINC/test/itkMINCImageIOTest2.cxx
  Modules/IO/MRC/test/itkMRCImageIOTest.cxx
  Modules/IO/MeshBase/test/itkMeshFileReaderWriterTest.cxx
  Modules/IO/MeshVTK/test/itkMeshFileWriteReadTensorTest.cxx
  Modules/IO/XML/test/itkDOMTest5.cxx
  Modules/Numerics/Optimizers/test/itkLBFGSOptimizerTest.cxx
  Modules/Numerics/Optimizers/test/itkPowellOptimizerTest.cxx
  Modules/Registration/Common/test/itkImageRegistrationMethodTest_1.cxx
  Modules/Registration/Metricsv4/test/itkCorrelationImageToImageMetricv4Test.cxx
  Modules/Registration/Metricsv4/test/itkJointHistogramMutualInformationImageToImageMetricv4Test.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkTimeVaryingBSplineVelocityFieldImageRegistrationTest.cxx
  Modules/Segmentation/LevelSets/test/itkThresholdSegmentationLevelSetImageFilterTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkLevelSetDenseImageTest.cxx
  Modules/Video/Core/test/itkImageToVideoFilterTest.cxx
  Modules/Video/Core/test/itkVectorImageToVideoTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, area:Video, type:Coverage, area:Numerics, action:ApplyClangFormat

#3369 COMP: Fix Slicer vtkITK build on macOS
  Modules/Core/Common/include/itkMacro.h
Labels: type:Compiler, area:Core

#3383 BUG: Fix `itkXMLFileOutputWindowTest` regression
  Modules/Core/Common/test/itkXMLFileOutputWindowTest.cxx
Labels: type:Bug, type:Testing, area:Core

#3384 COMP: Fix overly narrow cast
  Modules/Registration/FEM/include/itkMIRegistrationFunction.hxx
Labels: type:Compiler, area:Registration

#3385 BUG: Use CastXML 0.45 hash for Windows to support Windows 11 and ninja compiler tool
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: type:Bug, type:Infrastructure

#3379 ENH: Add Cleaver remote module
  Modules/Remote/Cleaver.remote.cmake
Labels: type:Enhancement, area:Remotes

#3389 BUG: Delete non-virtual function in DisplacementFieldTransform
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldTransform.h
Labels: type:Bug, area:Filtering

#3394 ENH: Mark CMake variables as advanced
  CMakeLists.txt
  Modules/ThirdParty/Expat/src/CMakeLists.txt
  Modules/ThirdParty/HDF5/src/CMakeLists.txt
  Modules/ThirdParty/NIFTI/src/nifti/CMakeLists.txt
  Modules/ThirdParty/ZLIB/src/CMakeLists.txt
Labels: type:Infrastructure, type:Enhancement, area:ThirdParty

#3396 BUG: Replace `bit_cast<HANDLE>` calls with `reinterpret_cast<HANDLE>`
  Modules/Core/Common/src/itkPlatformMultiThreaderWindows.cxx
Labels: type:Bug, area:Core

#3397 Improve UpdateRemoteModules.sh script
  Modules/Remote/AnisotropicDiffusionLBR.remote.cmake
  Modules/Remote/Cleaver.remote.cmake
  Modules/Remote/MeshToPolyData.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/Shape.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
  Modules/Remote/VkFFTBackend.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
  Utilities/Maintenance/UpdateRemoteModules.sh
Labels: type:Infrastructure, area:Examples, area:Remotes

#3393 ENH: Adding itk::PolyLineCell
  Modules/Core/Common/include/itkCommonEnums.h
  Modules/Core/Common/include/itkPolyLineCell.h
  Modules/Core/Common/include/itkPolyLineCell.hxx
  Modules/Core/Common/src/itkCommonEnums.cxx
  Modules/Core/Common/test/itkLoggerTest.cxx
  Modules/Core/Mesh/include/itkMesh.h
  Modules/Core/Mesh/include/itkMesh.hxx
  Modules/Core/Mesh/test/itkCellInterfaceTest.cxx
  Modules/Core/Mesh/test/itkMeshTest.cxx
  Modules/IO/MeshBase/include/itkMeshFileReader.h
  Modules/IO/MeshBase/include/itkMeshFileReader.hxx
  Modules/IO/MeshBase/include/itkMeshFileTestHelper.h
  Modules/IO/MeshBase/include/itkMeshFileWriter.hxx
  Modules/IO/MeshBase/include/itkMeshIOBase.h
  Modules/IO/MeshVTK/include/itkVTKPolyDataMeshIO.h
  Modules/IO/MeshVTK/src/itkVTKPolyDataMeshIO.cxx
  Modules/IO/MeshVTK/test/Baseline/hollow.vtk.sha512
  Modules/IO/MeshVTK/test/CMakeLists.txt
  Modules/IO/MeshVTK/test/itkMeshFileReadWriteTest.cxx
  Modules/IO/MeshVTK/test/itkMeshFileReadWriteVectorAttributeTest.cxx
  Modules/IO/MeshVTK/test/itkPolylineReadWriteTest.cxx
Labels: type:Infrastructure, type:Testing, area:Core, area:IO, type:Data
