Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-02, with the labels that each got.

#3897 COMP: Supress warning in MSVC for non-float complex
  Modules/Core/Common/include/itkMath.h
  Modules/Core/Common/src/itkNumericTraits.cxx
  Modules/Core/Common/test/itkMathTest.cxx
  Modules/Core/Common/test/itkNumericTraitsTest.cxx
Labels: type:Compiler, type:Testing, area:Core

#3892 COMP: MSVC Code Analysis warning, "redundant code" in ImageIORegionGTest
  Modules/Core/Common/test/itkImageIORegionGTest.cxx
Labels: type:Compiler, type:Testing, area:Core

#3901 ENH: Improve itk.imread error message when the input file doesn't exist
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Enhancement, area:Python wrapping

#3893 STYLE: Remove commented code in `itk::LevelSetMotionRegistrationFunction`
  Modules/Registration/PDEDeformable/include/itkLevelSetMotionRegistrationFunction.hxx
Labels: type:Enhancement, area:Registration

#3903 ENH: Use ITK macros to print runtime type information
  Modules/Core/Common/include/itkConstantBoundaryCondition.h
  Modules/Core/Common/include/itkExceptionObject.h
  Modules/Core/Common/include/itkLightObject.h
  Modules/Core/Common/include/itkPeriodicBoundaryCondition.h
  Modules/Core/Common/include/itkZeroFluxNeumannBoundaryCondition.h
  Modules/Core/Common/src/itkLightObject.cxx
  Modules/Core/SpatialObjects/include/itkSpatialObjectPoint.h
Labels: type:Enhancement, area:Core

#3902 STYLE: Add in-class `{}` initializers to classes with itkSimpleNewMacro
  Modules/Core/Common/include/itkDataObject.h
  Modules/Core/Transform/include/itkBSplineDeformableTransform.h
  Modules/Numerics/FEM/include/itkFEMImageMetricLoad.h
  Modules/Numerics/FEM/include/itkFEMLoadBC.h
  Modules/Numerics/FEM/include/itkFEMLoadBCMFC.h
  Modules/Numerics/FEM/include/itkFEMLoadEdge.h
  Modules/Numerics/FEM/include/itkFEMLoadGrav.h
  Modules/Numerics/FEM/include/itkFEMLoadLandmark.h
  Modules/Numerics/FEM/include/itkFEMLoadNode.h
  Modules/Numerics/FEM/include/itkFEMLoadNoisyLandmark.h
  Modules/Numerics/FEM/include/itkFEMLoadPoint.h
  Modules/Registration/FEM/include/itkFEMFiniteDifferenceFunctionLoad.h
  Modules/Registration/Metricsv4/include/itkExpectationBasedPointSetToPointSetMetricv4.h
  Modules/Registration/Metricsv4/include/itkJensenHavrdaCharvatTsallisPointSetToPointSetMetricv4.h
Labels: area:Core, area:Registration, type:Style, area:Numerics

#3907 STYLE: Prefer double forward slashes for within-method body comments
  Modules/Core/SpatialObjects/include/itkTubeSpatialObject.hxx
  Modules/Numerics/Optimizers/src/itkSPSAOptimizer.cxx
Labels: area:Core, type:Style, area:Numerics

#3904 ENH: Remove `itkMath.h` duplicate include
  Modules/Numerics/Statistics/include/itkScalarImageToRunLengthMatrixFilter.hxx
Labels: type:Enhancement, area:Numerics

#3912 ENH: Improve itk.imread error message when the input file doesn't exist
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Enhancement, area:Python wrapping

#3898 STYLE: Use `lock_guard<mutex>` in Logger classes and GPUImageDataManager
  Modules/Core/Common/include/itkLoggerThreadWrapper.hxx
  Modules/Core/Common/src/itkStdStreamLogOutput.cxx
  Modules/Core/Common/src/itkThreadLogger.cxx
  Modules/Core/GPUCommon/include/itkGPUImageDataManager.hxx
Labels: area:Core, type:Style

#3910 STYLE: Use the ellipsis properly in printed messages
  Modules/IO/ImageBase/test/itkLargeImageWriteReadTest.cxx
  Modules/IO/Meta/test/itkLargeMetaImageWriteReadTest.cxx
  Modules/IO/TIFF/test/itkLargeTIFFImageWriteReadTest.cxx
Labels: type:Testing, area:IO, type:Style

#3915 COMP: Fix declaration and syntax errors in Review class `PrintSelf`
  Modules/Nonunit/Review/include/itkMultiphaseSparseFiniteDifferenceImageFilter.hxx
Labels: type:Compiler

#3916 zlib-ng 2023-02-08 (3e75a5c9)
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/.gitattributes
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/CMakeLists.txt
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/README.md
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/adler32.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/adler32_fold.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/adler32_fold.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/adler32_p.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/adler32_neon.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/chunkset_neon.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/crc32_acle.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/ctzl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/adler32_power8.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/adler32_vmx.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/chunkset_power8.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/crc32_power8.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/power_features.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/crc32-vx.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/Makefile.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_avx2_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_avx512_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_avx512_vnni.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_sse42.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_ssse3.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/chunkset_avx.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/chunkset_sse2.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/chunkset_sse41.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/crc32_fold_pclmulqdq.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/crc32_fold_pclmulqdq_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/crc32_fold_vpclmulqdq_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/x86_features.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/x86_features.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/chunkset.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/detect-intrinsics.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cpu_features.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/crc32_braid.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/crc32_braid_p.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/crc32_fold.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/crc32_fold.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/deflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/fallback_builtins.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/functable.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/functable.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/gzread.c.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/gzwrite.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/infback.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inffast.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inffast_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inflate_p.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inftrees.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/trees.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/win32/zlib1.rc
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zbuild.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zconf.h.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zlib.h.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zutil.c
Labels: type:Infrastructure, area:ThirdParty

#3918 COMP: Fix `Regitration::FEM` module `PrintSelf` compiler errors
  Modules/Numerics/FEM/include/itkImageToRectilinearFEMObjectFilter.hxx
  Modules/Registration/FEM/include/itkFEMFiniteDifferenceFunctionLoad.hxx
  Modules/Registration/FEM/include/itkFEMRegistrationFilter.hxx
Labels: type:Compiler, area:Registration, area:Numerics

#3917 STYLE: Add in-class `{}` initializers to classes with override = default
  Modules/Core/Common/include/itkImageRandomConstIteratorWithIndex.h
  Modules/Core/Common/include/itkImageRandomConstIteratorWithOnlyIndex.h
  Modules/Core/Common/include/itkRegularizedHeavisideStepFunction.h
  Modules/Core/FiniteDifference/include/itkFiniteDifferenceImageFilter.h
  Modules/Core/QuadEdgeMesh/include/itkGeometricalQuadEdge.h
  Modules/Core/SpatialObjects/include/itkDTITubeSpatialObjectPoint.h
  Modules/Core/SpatialObjects/include/itkLineSpatialObjectPoint.h
  Modules/Core/SpatialObjects/include/itkSurfaceSpatialObjectPoint.h
  Modules/Core/SpatialObjects/include/itkTubeSpatialObjectPoint.h
  Modules/Filtering/DistanceMap/include/itkReflectiveImageRegionConstIterator.h
  Modules/Filtering/FastMarching/include/itkFastMarchingBase.h
  Modules/Filtering/FastMarching/include/itkFastMarchingStoppingCriterionBase.h
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkDecimationQuadEdgeMeshFilter.h
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkDiscretePrincipalCurvaturesQuadEdgeMeshFilter.h
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkLaplacianDeformationQuadEdgeMeshFilter.h
  Modules/IO/XML/include/itkXMLFile.h
  Modules/Segmentation/LevelSetsv4/include/itkBinaryImageToLevelSetImageAdaptor.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetContainerBase.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEvolutionStoppingCriterion.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetImage.h
Labels: area:Core, area:Filtering, area:IO, area:Segmentation, type:Style

#3921 STYLE: Fixed spelling errors in Modules/Core headers
  Modules/Compatibility/Deprecated/include/itkVectorCentralDifferenceImageFunction.h
  Modules/Core/Common/include/itkCellInterfaceVisitor.h
  Modules/Core/Common/include/itkCommonEnums.h
  Modules/Core/Common/include/itkConstSliceIterator.h
  Modules/Core/Common/include/itkEventObject.h
  Modules/Core/Common/include/itkGaussianDerivativeOperator.h
  Modules/Core/Common/include/itkImage.h
  Modules/Core/Common/include/itkImageRandomNonRepeatingConstIteratorWithIndex.h
  Modules/Core/Common/include/itkImageRegionConstIteratorWithIndex.h
  Modules/Core/Common/include/itkImageRegionConstIteratorWithOnlyIndex.h
  Modules/Core/Common/include/itkImageRegionSplitterBase.h
  Modules/Core/Common/include/itkImportImageContainer.h
  Modules/Core/Common/include/itkMapContainer.h
  Modules/Core/Common/include/itkMath.h
  Modules/Core/Common/include/itkNumericTraits.h
  Modules/Core/Common/include/itkSliceIterator.h
  Modules/Core/Common/include/itkSparseFieldLayer.h
  Modules/Core/Common/include/itkSparseImage.h
  Modules/Core/Common/include/itkSpecialCoordinatesImage.h
  Modules/Core/Common/include/itkStreamingImageFilter.h
  Modules/Core/Common/include/itkStreamingProcessObject.h
  Modules/Core/Common/include/itkValarrayImageContainer.h
  Modules/Core/Common/include/itkVariableLengthVector.h
  Modules/Core/Common/include/itkVectorContainer.h
  Modules/Core/FiniteDifference/include/itkFiniteDifferenceSparseImageFilter.h
  Modules/Core/ImageFunction/include/itkCentralDifferenceImageFunction.h
  Modules/Core/ImageFunction/include/itkCovarianceImageFunction.h
  Modules/Core/ImageFunction/include/itkMeanImageFunction.h
  Modules/Core/ImageFunction/include/itkMedianImageFunction.h
  Modules/Core/ImageFunction/include/itkNeighborhoodBinaryThresholdImageFunction.h
  Modules/Core/ImageFunction/include/itkScatterMatrixImageFunction.h
  Modules/Core/ImageFunction/include/itkSumOfSquaresImageFunction.h
  Modules/Core/ImageFunction/include/itkVarianceImageFunction.h
  Modules/Core/ImageFunction/include/itkVectorMeanImageFunction.h
  Modules/Core/ImageFunction/include/itkWindowedSincInterpolateImageFunction.h
  Modules/Core/Mesh/include/itkMesh.h
  Modules/Core/Mesh/include/itkSimplexMesh.h
  Modules/Core/Mesh/include/itkSimplexMeshGeometry.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMesh.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshFrontIterator.h
  Modules/Core/SpatialObjects/include/itkContourSpatialObject.h
  Modules/Core/SpatialObjects/include/itkMetaSceneConverter.h
  Modules/Core/SpatialObjects/include/itkSpatialObject.h
  Modules/Core/TestKernel/include/itkPipelineMonitorImageFilter.h
  Modules/Core/TestKernel/include/itkTestDriverInclude.h
  Modules/Core/TestKernel/include/itkTestingExtractSliceImageFilter.h
  Modules/Core/TestKernel/include/itkTestingHashImageFilter.h
  Modules/Core/Transform/include/itkBSplineDeformableTransform.h
  Modules/Core/Transform/include/itkBSplineTransform.h
  Modules/Core/Transform/include/itkCompositeTransform.h
  Modules/Core/Transform/include/itkKernelTransform.h
  Modules/Core/Transform/include/itkMatrixOffsetTransformBase.h
  Modules/Core/Transform/include/itkTransform.h
Labels: type:Testing, area:Core, type:Style

#3922 COMP: fix linkage for MINCTransformIO
  Modules/IO/TransformMINC/include/itkMINCTransformIO.h
Labels: type:Compiler, area:IO

#3924 Fix linkage for MINCTransformIO
  Modules/IO/TransformMINC/include/itkMINCTransformIO.h
Labels: area:IO

#3925 BUG: Add other SWIG sources download URLs
  Wrapping/Generators/SwigInterface/CMakeLists.txt
Labels: type:Bug, type:Infrastructure

#3926 COMP: Supress warning in MSVC for non-float complex
  Modules/Core/Common/include/itkMath.h
  Modules/Core/Common/src/itkNumericTraits.cxx
  Modules/Core/Common/test/itkMathTest.cxx
  Modules/Core/Common/test/itkNumericTraitsTest.cxx
Labels: type:Compiler, type:Testing, area:Core

#3920 COMP: Fix deprecation warning for PyEval_CallObject
  Wrapping/Generators/Python/PyUtils/itkPyCommand.cxx
  Wrapping/Generators/Python/PyUtils/itkPyCommand.h
Labels: type:Compiler

#3927 COMP: Remove in class init of SmartPointer of forward declaration
  Modules/Core/Common/include/itkProcessObject.h
Labels: type:Compiler, area:Core

#3931 ENH: Bump TubeTK to v1.3.5 and MinimalPathExtraction to v1.2.6
  Modules/Remote/MinimalPathExtraction.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
Labels: type:Enhancement, area:Remotes

#3937 COMP: Move RayCastHelper from unnamed namespace to private class section
  Modules/Core/ImageFunction/include/itkRayCastInterpolateImageFunction.h
  Modules/Core/ImageFunction/include/itkRayCastInterpolateImageFunction.hxx
Labels: type:Compiler, area:Core
