Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-12, with the labels that each got.

#4356 STYLE: Python quick start guide style improvements
  Documentation/docs/learn/python_quick_start.md
Labels: area:Python wrapping, type:Style, area:Documentation

#4351 DOC: Misc FAQ doc fixes
  Documentation/docs/learn/faq.md
Labels: type:Documentation, area:Documentation

#4353 STYLE: Remove prompt and spaces in Markdown documentation bash blocks
  Documentation/docs/contributing/dashboard.md
  Documentation/docs/contributing/data.md
  Documentation/docs/contributing/index.md
  Documentation/docs/contributing/python_packaging.md
  Documentation/docs/contributing/updating_third_party.md
  Documentation/docs/contributing/upload_binary_data.md
  Documentation/docs/learn/python_quick_start.md
Labels: area:Python wrapping, type:Style, area:Documentation

#4360 STYLE: Update comments and parameter in the ImportImageContainer
  Modules/Core/Common/include/itkImportImageContainer.h
  Modules/Core/Common/include/itkImportImageContainer.hxx
  Modules/Core/Common/include/itkVectorImage.h
  Modules/Core/Common/include/itkVectorImage.hxx
Labels: area:Core, type:Style

#4354 DOC: Honor `ITK-Wasm`'s case in documentation files
  Documentation/docs/learn/faq.md
  Documentation/docs/scientific_ecosystem/itk_ecosystem.md
Labels: type:Documentation, area:Documentation

#4363 DOC: Miscellaneous FAQ documentation fixes
  Documentation/docs/learn/faq.md
Labels: type:Documentation, area:Documentation

#4362 COMP: Add ULL wrapping for ScanlineFilterCommon
  Modules/Filtering/ImageLabel/wrapping/itkScanlineFilterCommon.wrap
Labels: type:Compiler, area:Python wrapping, area:Filtering

#4364 DOC: Remove mentions to deprecated `ITKApps` from FAQs
  Documentation/docs/learn/faq.md
Labels: type:Documentation, area:Documentation

#4311 DOC: Transfer the wiki HU page to Markdown documentation
  Documentation/docs/index.md
  Documentation/docs/learn/faq.md
Labels: type:Documentation, area:Documentation

#4314 DOC: Transfer the wiki documenting ITK page to Markdown documentation
  Documentation/docs/contributing/documenting_itk.md
  Documentation/docs/contributing/index.md
Labels: type:Documentation, area:Documentation

#4366 DOC: Remove non-existing file from documentation TOC
  Documentation/docs/index.md
Labels: type:Documentation, area:Documentation

#4369 PERF: Do not import torch to reduce itk import time
  Wrapping/Generators/Python/itk/support/helpers.py
  Wrapping/Generators/Python/itk/support/types.py
Labels: type:Performance, area:Python wrapping

#4318 DOC: Transfer the wiki DICOM page to Markdown documentation
  Documentation/docs/index.md
  Documentation/docs/learn/dicom.md
Labels: type:Documentation, area:Documentation

#4365 Use "constexpr if" in `MultiThreaderBase::ParallelizeImageRegionRestrictDirection`, and other style improvements
  Modules/Core/Common/include/itkMultiThreaderBase.h
Labels: area:Core

#4313 DOC: Transfer the wiki 3rd party apps page to Markdown documentation
  Documentation/docs/index.md
  Documentation/docs/learn/third_party_applications.md
Labels: type:Documentation, area:Documentation

#4372 DOC: Redirect to current location in docs transferred wiki links
  Documentation/docs/learn/faq.md
Labels: type:Documentation, area:Documentation

#4374 DOC: Rename the FDA SW development guidelines doc file
  Documentation/docs/learn/faq.md
  Documentation/docs/learn/fda_sw_development_guidelines.md
Labels: type:Documentation, area:Documentation

#4377 DOC: Miscellaneous `Documenting ITK` doc file fixes
  Documentation/docs/contributing/documenting_itk.md
Labels: type:Documentation, area:Documentation

#4367 ENH: `ImageRegion` support C++17 structured binding
  .github/workflows/itk_dict.txt
  Modules/Core/Common/include/itkImageRegion.h
  Modules/Core/Common/test/itkImageRegionGTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core
