Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-07, with the labels that each got.

#4095 Avoid CMake warning caused by feature test
  CMake/itkTargetLinkLibrariesWithDynamicLookup.cmake
Labels: type:Infrastructure

#4100 VXL 2023-06-18 (4332fd74)
  Modules/ThirdParty/VNL/src/vxl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_matrix.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_matrix_fixed.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_vector.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_bignum_traits.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_decnum_traits.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_matrix.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_matrix.hxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_matrix_fixed.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_matrix_fixed.hxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_numeric_traits.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_polynomial.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_polynomial.hxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_rational_traits.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_sparse_matrix.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_sparse_matrix.hxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_vector.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_vector.hxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_vector_fixed.h
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_vector_fixed_ref.h
Labels: type:Infrastructure, area:ThirdParty

#4101 Add Python wrapping for PhasedArray3DSpecialCoordinatesImage
  Modules/Core/Common/wrapping/CMakeLists.txt
  Modules/Core/Common/wrapping/itkImageSource.wrap
  Modules/Core/Common/wrapping/itkImageToImageFilterB.wrap
  Modules/Core/Common/wrapping/itkInPlaceImageFilterB.wrap
  Modules/Core/Common/wrapping/itkPhasedArray3DSpecialCoordinatesImage.wrap
  Modules/Core/Common/wrapping/itkSpecialCoordinatesImage.wrap
  Modules/Core/ImageFunction/wrapping/itkGaussianInterpolateImageFunction.wrap
  Modules/Core/ImageFunction/wrapping/itkImageFunctionBase.wrap
  Modules/Core/ImageFunction/wrapping/itkInterpolateImageFunction.wrap
  Modules/Core/ImageFunction/wrapping/itkLinearInterpolateImageFunction.wrap
  Modules/Core/ImageFunction/wrapping/itkNearestNeighborInterpolateImageFunction.wrap
  Modules/Core/ImageFunction/wrapping/itkWindowedSincInterpolateImageFunction.wrap
  Modules/Filtering/ImageFilterBase/wrapping/itkCastImageFilter.wrap
  Modules/Filtering/ImageGrid/test/Input/ScanConvertPhasedArray3DTestInput.mha.sha512
  Modules/Filtering/ImageGrid/wrapping/itkResampleImageFilter.wrap
  Modules/Filtering/ImageGrid/wrapping/test/Baseline/ScanConvertPhasedArray3DITKNearestNeighborTestOutput.mha.sha512
  Modules/Filtering/ImageGrid/wrapping/test/Baseline/ScanConvertPhasedArray3DITKWindowedSincTestOutput.mha.sha512
  Modules/Filtering/ImageGrid/wrapping/test/Baseline/ScanConvertPhasedArray3DTestOutput.mha.sha512
  Modules/Filtering/ImageGrid/wrapping/test/CMakeLists.txt
  Modules/Filtering/ImageGrid/wrapping/test/PhasedArray3DResampleTest.py
  Modules/Filtering/ImageIntensity/wrapping/itkRescaleIntensityImageFilter.wrap
  Modules/IO/ImageBase/wrapping/itkImageFileReader.wrap
  Modules/IO/ImageBase/wrapping/itkImageFileWriter.wrap
  Wrapping/Generators/Python/PyBase/pyBase.i
Labels: type:Infrastructure, area:Python wrapping, type:Testing, area:Core, area:Filtering, area:IO, type:Data

#4102 ENH: Update mangled third-party libraries to use MANGLE_PREFIX CMake variable
  Modules/ThirdParty/Expat/src/expat/CMakeLists.txt
  Modules/ThirdParty/Expat/src/expat/itk_expat_mangle.h
  Modules/ThirdParty/Expat/src/expat/itk_expat_mangle.h.in
  Modules/ThirdParty/HDF5/src/itkhdf5/src/CMakeLists.txt
  Modules/ThirdParty/HDF5/src/itkhdf5/src/H5make_libsettings.c
  Modules/ThirdParty/HDF5/src/itkhdf5/src/itk_hdf5_mangle.h
  Modules/ThirdParty/HDF5/src/itkhdf5/src/itk_hdf5_mangle.h.in
  Modules/ThirdParty/JPEG/src/itkjpeg/CMakeLists.txt
  Modules/ThirdParty/JPEG/src/itkjpeg/itk_jpeg_mangle.h
  Modules/ThirdParty/JPEG/src/itkjpeg/itk_jpeg_mangle.h.in
  Modules/ThirdParty/NrrdIO/src/NrrdIO/CMakeLists.txt
  Modules/ThirdParty/NrrdIO/src/NrrdIO/itk_NrrdIO_mangle.h
  Modules/ThirdParty/NrrdIO/src/NrrdIO/itk_NrrdIO_mangle.h.in
  Modules/ThirdParty/PNG/src/itkpng/CMakeLists.txt
  Modules/ThirdParty/PNG/src/itkpng/itk_png_mangle.h
  Modules/ThirdParty/PNG/src/itkpng/itk_png_mangle.h.in
  Modules/ThirdParty/TIFF/src/itktiff/CMakeLists.txt
  Modules/ThirdParty/TIFF/src/itktiff/itk_tiff_mangle.h
  Modules/ThirdParty/TIFF/src/itktiff/itk_tiff_mangle.h.in
Labels: type:Infrastructure, area:ThirdParty

#4103 COMP: Fix method parameter bound mismatch warning in `itk::VertexCell`
  Modules/Core/Common/include/itkVertexCell.hxx
Labels: type:Compiler, area:Core

#4107 COMP: Fix method parameter bound mismatch warning in misc cell classes
  Modules/Core/Common/include/itkTetrahedronCell.hxx
  Modules/Core/Common/include/itkTriangleCell.hxx
Labels: type:Compiler, area:Core

#4113 DOC: Document miscellaneous cell class methods in header files
  Modules/Core/Common/include/itkTetrahedronCell.h
  Modules/Core/Common/include/itkTetrahedronCell.hxx
  Modules/Core/Common/include/itkTriangleCell.h
  Modules/Core/Common/include/itkTriangleCell.hxx
  Modules/Core/Common/include/itkVertexCell.h
  Modules/Core/Common/include/itkVertexCell.hxx
Labels: type:Documentation, area:Core

#4115 DOC: Avoid documenting ivar default values in SpatialFunction class
  Modules/Core/Common/include/itkConicShellInteriorExteriorSpatialFunction.h
Labels: type:Documentation, area:Core

#4116 MetaIO 2023-07-16 (556864f5)
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaImage.cxx
Labels: area:ThirdParty

#4117 STYLE: Call GetTransformTypeAsString() just once, in `TransformFactory`
  Modules/IO/TransformFactory/include/itkTransformFactory.h
Labels: area:IO, type:Style

#4104 Note that object returned by `CreateInstance` has reference count 2, add test
  Modules/Core/Common/include/itkObjectFactoryBase.h
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkObjectFactoryBaseGTest.cxx
Labels: type:Infrastructure, type:Documentation, type:Testing, area:Core

#4122 BUG: GetGlobalDefaultSplitter to a global singleton
  Modules/Core/Common/include/itkImageSourceCommon.h
  Modules/Core/Common/src/itkImageSourceCommon.cxx
Labels: type:Bug, area:Core

#4127 STYLE: Use macros in tests
  Modules/Filtering/AnisotropicSmoothing/test/itkCurvatureAnisotropicDiffusionImageFilterTest.cxx
  Modules/Filtering/AnisotropicSmoothing/test/itkGradientAnisotropicDiffusionImageFilterTest.cxx
  Modules/Filtering/AnisotropicSmoothing/test/itkGradientAnisotropicDiffusionImageFilterTest2.cxx
  Modules/Filtering/BinaryMathematicalMorphology/test/itkBinaryDilateImageFilterTest2.cxx
  Modules/Filtering/BinaryMathematicalMorphology/test/itkErodeObjectMorphologyImageFilterTest.cxx
  Modules/Filtering/ImageFeature/test/itkBilateralImageFilterTest.cxx
  Modules/Filtering/ImageFeature/test/itkBilateralImageFilterTest2.cxx
  Modules/Filtering/ImageFeature/test/itkBilateralImageFilterTest3.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleMorphologicalClosingImageFilterTest2.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleMorphologicalOpeningImageFilterTest2.cxx
  Modules/Filtering/MathematicalMorphology/test/itkObjectMorphologyImageFilterTest.cxx
  Modules/IO/ImageBase/test/itkNoiseImageFilterTest.cxx
  Modules/Nonunit/Review/test/itkFastApproximateRankImageFilterTest.cxx
  Modules/Segmentation/RegionGrowing/test/CMakeLists.txt
  Modules/Segmentation/RegionGrowing/test/itkIsolatedConnectedImageFilterTest.cxx
Labels: type:Infrastructure, type:Testing, area:Filtering, area:IO, area:Segmentation, type:Style

#4126 STYLE: Improve ivar printing style
  Modules/Core/Common/include/itkConstShapedNeighborhoodIterator.hxx
  Modules/Core/Common/include/itkNeighborhood.hxx
  Modules/Core/Transform/include/itkCompositeTransform.hxx
  Modules/Filtering/MathematicalMorphology/include/itkFlatStructuringElement.hxx
  Modules/Numerics/Statistics/include/itkHistogram.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkImageRegistrationMethodv4.hxx
  Modules/Segmentation/Classifiers/include/itkClassifierBase.hxx
Labels: area:Core, area:Filtering, area:Registration, area:Segmentation, type:Style, area:Numerics

#4125 STYLE: Conform to ITK comment style for within code in OpenCVVideoCapture
  Modules/Video/BridgeOpenCV/include/itkOpenCVVideoCapture.h
  Modules/Video/BridgeVXL/include/vidl_itk_istream.h
Labels: area:Video, type:Style

#4124 STYLE: Increase consistency in test argument check message
  Modules/Filtering/AnisotropicSmoothing/test/itkGradientAnisotropicDiffusionImageFilterTest2.cxx
  Modules/Filtering/ImageFeature/test/itkBilateralImageFilterTest2.cxx
  Modules/Filtering/ImageFeature/test/itkBilateralImageFilterTest3.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleMorphologicalClosingImageFilterTest2.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleMorphologicalOpeningImageFilterTest2.cxx
  Modules/IO/ImageBase/test/itkNoiseImageFilterTest.cxx
  Modules/Nonunit/Review/test/itkFastApproximateRankImageFilterTest.cxx
  Modules/Segmentation/RegionGrowing/test/itkIsolatedConnectedImageFilterTest.cxx
Labels: type:Testing, area:Filtering, area:IO, area:Segmentation, type:Style

#4133 DOC: Miscellaneous community doc improvements
  .github/workflows/first-interaction.yml
  CODE_OF_CONDUCT.md
  README.md
Labels: type:Infrastructure, type:Documentation

#4114 STYLE: Remove empty comment lines in `itk::TriangleCell` implementation
  Modules/Core/Common/include/itkTriangleCell.hxx
Labels: area:Core, type:Style

#4136 ENH: Increase coverage for `RegularStepGradientDescentBaseOptimizer`
  Modules/Numerics/Optimizers/test/itkRegularStepGradientDescentOptimizerTest.cxx
Labels: type:Enhancement, type:Testing, type:Coverage, area:Numerics

#4135 ENH: Increase `Optimizers` classes coverage: get cost function derivate
  Modules/Numerics/Optimizers/test/itkCumulativeGaussianOptimizerTest.cxx
  Modules/Numerics/Optimizers/test/itkOptimizersHierarchyTest.cxx
Labels: type:Enhancement, type:Testing, type:Coverage, area:Numerics
