Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-03, with the labels that each got.

#3944 DOC: fixed spelling errors in Modules/IO subdir
  Modules/IO/DCMTK/include/itkDCMTKSeriesFileNames.h
  Modules/IO/GDCM/include/itkGDCMImageIO.h
  Modules/IO/GDCM/include/itkGDCMSeriesFileNames.h
  Modules/IO/GE/include/itkGEAdwImageIO.h
  Modules/IO/HDF5/include/itkHDF5ImageIOFactory.h
  Modules/IO/ImageBase/include/itkConvertPixelBuffer.h
  Modules/IO/ImageBase/include/itkIOTestHelper.h
  Modules/IO/ImageBase/include/itkImageFileWriter.h
  Modules/IO/ImageBase/include/itkImageIOBase.h
  Modules/IO/ImageBase/include/itkImageSeriesReader.h
  Modules/IO/ImageBase/include/itkStreamingImageIOBase.h
  Modules/IO/MINC/include/itkMINCImageIO.h
  Modules/IO/MRC/src/itkMRCImageIOPrivate.h
  Modules/IO/MeshBase/include/itkMeshFileReader.h
  Modules/IO/MeshBase/include/itkMeshFileWriter.h
  Modules/IO/MeshBase/include/itkMeshIOBase.h
  Modules/IO/MeshFreeSurfer/include/itkFreeSurferAsciiMeshIO.h
  Modules/IO/MeshFreeSurfer/include/itkFreeSurferBinaryMeshIO.h
  Modules/IO/MeshOBJ/include/itkOBJMeshIO.h
  Modules/IO/MeshOFF/include/itkOFFMeshIO.h
  Modules/IO/MeshVTK/include/itkVTKPolyDataMeshIO.h
  Modules/IO/Meta/include/itkMetaArrayReader.h
  Modules/IO/Meta/include/itkMetaArrayWriter.h
  Modules/IO/Meta/include/itkMetaImageIO.h
  Modules/IO/NIFTI/test/itkNiftiImageIOTest.h
  Modules/IO/Siemens/include/itkSiemensVisionImageIO.h
  Modules/IO/SpatialObjects/include/itkSpatialObjectReader.h
  Modules/IO/SpatialObjects/include/itkSpatialObjectWriter.h
  Modules/IO/Stimulate/include/itkStimulateImageIO.h
  Modules/IO/TransformMINC/include/itkMINCTransformAdapter.h
  Modules/IO/VTK/include/itkVTKImageIO.h
  Modules/IO/XML/include/itkXMLFile.h
Labels: type:Documentation, type:Testing, area:IO

#3941 STYLE: Add in-class `{}` member initializers to 3-letter data members
  Modules/Core/Transform/include/itkKernelTransform.h
  Modules/Filtering/AnisotropicSmoothing/include/itkCurvatureNDAnisotropicDiffusionFunction.h
  Modules/Filtering/AnisotropicSmoothing/include/itkGradientNDAnisotropicDiffusionFunction.h
  Modules/Filtering/AnisotropicSmoothing/include/itkVectorGradientNDAnisotropicDiffusionFunction.h
  Modules/Filtering/GPUAnisotropicSmoothing/include/itkGPUGradientNDAnisotropicDiffusionFunction.h
  Modules/Numerics/Optimizers/include/itkSPSAOptimizer.h
  Modules/Numerics/Optimizers/test/itkParticleSwarmOptimizerTestFunctions.h
  Modules/Registration/FEM/include/itkFEMRegistrationFilter.h
Labels: type:Testing, area:Core, area:Filtering, area:Registration, type:Style, area:Numerics

#3943 BUG: Update UpdateRequiredITKVersionInRemoteModules.sh script to remove unencrypted git protocol
  Utilities/Maintenance/UpdateRequiredITKVersionInRemoteModules.sh
Labels: type:Infrastructure

#3946 STYLE: Construct local variables by passing their arguments directly
  Modules/Core/Common/include/itkFloodFilledFunctionConditionalConstIterator.hxx
  Modules/Core/Common/include/itkShapedFloodFilledFunctionConditionalConstIterator.hxx
  Modules/Core/Common/test/itkFloodFillIteratorTest.cxx
  Modules/Core/Common/test/itkFloodFilledSpatialFunctionTest.cxx
  Modules/Core/ImageFunction/include/itkCovarianceImageFunction.hxx
  Modules/Core/ImageFunction/include/itkWindowedSincInterpolateImageFunction.hxx
  Modules/Core/SpatialObjects/include/itkSpatialObjectToImageStatisticsCalculator.hxx
  Modules/Core/Transform/include/itkBSplineBaseTransform.hxx
  Modules/Filtering/DisplacementField/include/itkExponentialDisplacementFieldImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkIterativeInverseDisplacementFieldImageFilter.hxx
  Modules/Filtering/ImageGradient/include/itkDifferenceOfGaussiansGradientImageFilter.hxx
  Modules/Filtering/ImageGradient/test/itkDifferenceOfGaussiansGradientTest.cxx
  Modules/Filtering/ImageGrid/include/itkBSplineDownsampleImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkBSplineUpsampleImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkMirrorPadImageFilter.hxx
  Modules/Filtering/ImageGrid/test/itkBSplineResampleImageFilterTest.cxx
  Modules/Filtering/ImageSources/include/itkGaussianImageSource.hxx
  Modules/Filtering/MathematicalMorphology/include/itkFlatStructuringElement.hxx
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkQuadEdgeMeshDecimationQuadricElementHelper.h
  Modules/Filtering/Smoothing/include/itkBinomialBlurImageFilter.hxx
  Modules/Filtering/SpatialFunction/include/itkSpatialFunctionImageEvaluatorFilter.hxx
  Modules/Numerics/Statistics/include/itkScalarImageToCooccurrenceMatrixFilter.hxx
  Modules/Registration/Common/include/itkKappaStatisticImageToImageMetric.hxx
  Modules/Registration/Common/include/itkNormalizedCorrelationImageToImageMetric.hxx
  Modules/Registration/Common/include/itkNormalizedCorrelationPointSetToImageMetric.hxx
  Modules/Segmentation/ConnectedComponents/test/itkHardConnectedComponentImageFilterTest.cxx
  Modules/Segmentation/LabelVoting/include/itkLabelVotingImageFilter.hxx
  Modules/Segmentation/LabelVoting/include/itkMultiLabelSTAPLEImageFilter.hxx
  Modules/Segmentation/LabelVoting/test/itkLabelVotingImageFilterTest.cxx
  Modules/Segmentation/LabelVoting/test/itkMultiLabelSTAPLEImageFilterTest.cxx
  Modules/Segmentation/LevelSets/test/itkVectorThresholdSegmentationLevelSetImageFilterTest.cxx
  Modules/Segmentation/RegionGrowing/include/itkConfidenceConnectedImageFilter.hxx
  Modules/Segmentation/RegionGrowing/include/itkIsolatedConnectedImageFilter.hxx
  Modules/Segmentation/RegionGrowing/include/itkNeighborhoodConnectedImageFilter.hxx
  Modules/Segmentation/RegionGrowing/include/itkVectorConfidenceConnectedImageFilter.hxx
  Modules/Segmentation/SuperPixel/include/itkSLICImageFilter.hxx
Labels: type:Testing, area:Core, area:Filtering, area:Registration, area:Segmentation, type:Style, area:Numerics

#3945 STYLE: Add in-class `{}` member initializers having trailing comments
  Modules/Compatibility/Deprecated/include/itkTreeIteratorBase.h
  Modules/Core/Common/include/itkBoundingBox.h
  Modules/Core/Common/include/itkDataObject.h
  Modules/Core/Common/include/itkImageConstIterator.h
  Modules/Core/Common/include/itkImageRegionConstIterator.h
  Modules/Core/Common/include/itkImageRegionReverseConstIterator.h
  Modules/Core/Common/include/itkImageReverseConstIterator.h
  Modules/Core/Common/include/itkImageScanlineConstIterator.h
  Modules/Core/Common/include/itkLineConstIterator.h
  Modules/Core/Common/include/itkOctree.h
  Modules/Core/Common/include/itkPhasedArray3DSpecialCoordinatesImage.h
  Modules/Core/Common/include/itkSmapsFileParser.h
  Modules/Core/GPUCommon/include/itkGPUContextManager.h
  Modules/Core/GPUCommon/include/itkGPUDataManager.h
  Modules/Core/GPUCommon/include/itkGPUImageDataManager.h
  Modules/Core/ImageFunction/include/itkBSplineInterpolateImageFunction.h
  Modules/Core/Mesh/include/itkAutomaticTopologyMeshSource.h
  Modules/Core/Mesh/include/itkBinaryMask3DMeshSource.h
  Modules/Core/Mesh/include/itkTriangleMeshToBinaryImageFilter.h
  Modules/Core/QuadEdgeMesh/include/itkGeometricalQuadEdge.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdge.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshBaseIterator.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshEulerOperatorSplitVertexFunction.h
  Modules/Core/TestKernel/include/itkRandomImageSource.h
  Modules/Core/Transform/include/itkScaleTransform.h
  Modules/Core/Transform/include/itkTranslationTransform.h
  Modules/Filtering/DisplacementField/include/itkInverseDisplacementFieldImageFilter.h
  Modules/Filtering/DisplacementField/include/itkTransformToDisplacementFieldFilter.h
  Modules/Filtering/DistanceMap/include/itkSignedDanielssonDistanceMapImageFilter.h
  Modules/Filtering/ImageFeature/include/itkCannyEdgeDetectionImageFilter.h
  Modules/Filtering/ImageFeature/include/itkGradientVectorFlowImageFilter.h
  Modules/Filtering/ImageGrid/include/itkBSplineResampleImageFilterBase.h
  Modules/Filtering/ImageGrid/include/itkInterpolateImagePointsFilter.h
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.h
  Modules/Filtering/ImageGrid/include/itkWarpImageFilter.h
  Modules/Filtering/ImageNoise/test/itkPeakSignalToNoiseRatioCalculator.h
  Modules/Filtering/ImageSources/include/itkGenerateImageSource.h
  Modules/Filtering/ImageStatistics/include/itkImageMomentsCalculator.h
  Modules/Filtering/Path/include/itkChainCodePath.h
  Modules/Filtering/Path/include/itkChainCodePath2D.h
  Modules/Filtering/Path/include/itkPath.h
  Modules/Filtering/Path/include/itkPathConstIterator.h
  Modules/IO/IPL/include/itkIPLFileNameList.h
  Modules/IO/ImageBase/include/itkArchetypeSeriesFileNames.h
  Modules/IO/ImageBase/include/itkImageFileReader.h
  Modules/IO/MRC/include/itkMRCHeaderObject.h
  Modules/IO/MeshBase/include/itkMeshFileReader.h
  Modules/IO/MeshBase/include/itkMeshFileWriter.h
  Modules/IO/MeshOBJ/include/itkOBJMeshIO.h
  Modules/IO/MeshOFF/include/itkOFFMeshIO.h
  Modules/IO/XML/include/itkXMLFile.h
  Modules/Nonunit/Review/include/itkDirectFourierReconstructionImageToImageFilter.h
  Modules/Nonunit/Review/include/itkMultiphaseDenseFiniteDifferenceImageFilter.h
  Modules/Numerics/FEM/include/itkFEMImageMetricLoad.h
  Modules/Numerics/FEM/include/itkFEMLoadElementBase.h
  Modules/Numerics/Statistics/include/itkGaussianMembershipFunction.h
  Modules/Numerics/Statistics/include/itkMahalanobisDistanceMembershipFunction.h
  Modules/Numerics/Statistics/include/itkMahalanobisDistanceMetric.h
  Modules/Registration/FEM/include/itkFEMRegistrationFilter.h
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.h
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style, area:Numerics

#3950 STYLE: Prefer C++11 zero initializer to ZeroValue
  Examples/Iterators/ImageLinearIteratorWithIndex2.cxx
  Examples/RegistrationITKv4/ThinPlateSplineWarp.cxx
  Modules/Core/Common/test/itkIntTypesTest.cxx
  Modules/Core/Common/test/itkSymmetricSecondRankTensorTest.cxx
  Modules/Core/GPUFiniteDifference/include/itkGPUFiniteDifferenceFunction.h
  Modules/Core/SpatialObjects/test/itkImageMaskSpatialObjectTest2.cxx
  Modules/Filtering/DiffusionTensorImage/test/itkDiffusionTensor3DTest.cxx
  Modules/Filtering/DisplacementField/test/itkGaussianExponentialDiffeomorphicTransformTest.cxx
  Modules/Filtering/DisplacementField/test/itkGaussianSmoothingOnUpdateDisplacementFieldTransformTest.cxx
  Modules/Filtering/DistanceMap/test/itkContourDirectedMeanDistanceImageFilterTest.cxx
  Modules/Filtering/DistanceMap/test/itkContourMeanDistanceImageFilterTest.cxx
  Modules/Filtering/DistanceMap/test/itkDirectedHausdorffDistanceImageFilterTest1.cxx
  Modules/Filtering/DistanceMap/test/itkHausdorffDistanceImageFilterTest.cxx
  Modules/Filtering/FastMarching/test/itkFastMarchingBaseTest.cxx
  Modules/Filtering/FastMarching/test/itkFastMarchingImageTopologicalTest.cxx
  Modules/Filtering/FastMarching/test/itkFastMarchingUpwindGradientBaseTest.cxx
  Modules/Filtering/ImageFeature/test/itkSimpleContourExtractorImageFilterTest.cxx
  Modules/Filtering/ImageFilterBase/test/itkMaskNeighborhoodOperatorImageFilterTest.cxx
  Modules/Filtering/Path/include/itkPolyLineParametricPath.hxx
  Modules/Filtering/Path/test/itkExtractOrthogonalSwath2DImageFilterTest.cxx
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkCleanQuadEdgeMeshFilterTest.cxx
  Modules/IO/ImageBase/test/itkLargeImageWriteConvertReadTest.cxx
  Modules/IO/ImageBase/test/itkLargeImageWriteReadTest.cxx
  Modules/IO/MINC/test/itkMINCImageIOTest.cxx
  Modules/IO/MeshBYU/include/itkBYUMeshIO.h
  Modules/IO/MeshBYU/src/itkBYUMeshIO.cxx
  Modules/IO/MeshBase/include/itkMeshIOBase.h
  Modules/IO/MeshOBJ/include/itkOBJMeshIO.h
  Modules/IO/RAW/test/itkRawImageIOTest3.cxx
  Modules/IO/RAW/test/itkRawImageIOTest4.cxx
  Modules/IO/RAW/test/itkRawImageIOTest5.cxx
  Modules/IO/TIFF/test/itkLargeTIFFImageWriteReadTest.cxx
  Modules/Nonunit/Review/include/itkDiscreteGradientMagnitudeGaussianImageFunction.hxx
  Modules/Nonunit/Review/test/itkGridForwardWarpImageFilterTest.cxx
  Modules/Nonunit/Review/test/itkMultiphaseSparseFiniteDifferenceImageFilterTest.cxx
  Modules/Numerics/Optimizersv4/include/itkConjugateGradientLineSearchOptimizerv4.hxx
  Modules/Numerics/Statistics/include/itkStandardDeviationPerComponentSampleFilter.hxx
  Modules/Registration/Metricsv4/test/itkMeanSquaresImageToImageMetricv4SpeedTest.cxx
  Modules/Registration/Metricsv4/test/itkObjectToObjectMultiMetricv4Test.cxx
  Modules/Segmentation/ConnectedComponents/include/itkVectorConnectedComponentImageFilter.h
  Modules/Segmentation/ConnectedComponents/test/itkConnectedComponentImageFilterTest.cxx
  Modules/Segmentation/RegionGrowing/include/itkConfidenceConnectedImageFilter.hxx
  Modules/Video/BridgeOpenCV/test/itkOpenCVImageBridgeRGBTest.cxx
Labels: area:Examples, type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, area:Video, type:Style, area:Numerics

#3948 DOC: Consolidate release notes into Documentation/Releases
  Documentation/Releases/1.0.md
  Documentation/Releases/1.8.md
  Documentation/Releases/2.0.md
  Documentation/Releases/2.2.md
  Documentation/Releases/2.4.md
  Documentation/Releases/2.6.md
  Documentation/Releases/2.8.md
  Documentation/Releases/3.0.md
  Documentation/Releases/3.12.md
  Documentation/Releases/3.14.md
  Documentation/Releases/3.16.md
  Documentation/Releases/3.18.md
  Documentation/Releases/3.2.md
  Documentation/Releases/3.20.md
  Documentation/Releases/4.0.md
  Documentation/Releases/4.1.md
  Documentation/Releases/4.10.md
  Documentation/Releases/4.11.md
  Documentation/Releases/4.12.md
  Documentation/Releases/4.13.md
  Documentation/Releases/4.2.md
  Documentation/Releases/4.3.md
  Documentation/Releases/4.4.md
  Documentation/Releases/4.5.md
  Documentation/Releases/4.6.md
  Documentation/Releases/4.7.md
  Documentation/Releases/4.8.md
  Documentation/Releases/4.9.md
  Documentation/Releases/5.0.md
  Documentation/Releases/5.0a01.md
  Documentation/Releases/5.0a02.md
  Documentation/Releases/5.0b01.md
  Documentation/Releases/5.0b02.md
  Documentation/Releases/5.0b03.md
  Documentation/Releases/5.0rc01.md
  Documentation/Releases/5.0rc02.md
  Documentation/Releases/5.1.md
  Documentation/Releases/5.3.md
  Documentation/Releases/5.3rc01.md
  Documentation/Releases/5.3rc02.md
  Documentation/Releases/5.3rc03.md
  Documentation/Releases/5.3rc04.md
  Documentation/Releases/README.md
Labels: type:Documentation, area:Documentation

#3952 COMP: Use pre-built swig for Linux/x86_64
  Wrapping/Generators/SwigInterface/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#3951 BUG: Casting negative numbers to unsigned char error
  Modules/Filtering/ImageGrid/test/Baseline/itkBSplineScatteredDataPointSetToImageFilterTest05.mha.md5
  Modules/Filtering/ImageGrid/test/Baseline/itkBSplineScatteredDataPointSetToImageFilterTest05.mha.sha512
  Modules/Filtering/ImageGrid/test/Baseline/itkBSplineScatteredDataPointSetToImageFilterTest05_magnitude.png.sha512
  Modules/Filtering/ImageGrid/test/CMakeLists.txt
  Modules/Filtering/ImageGrid/test/itkBSplineScatteredDataPointSetToImageFilterTest5.cxx
  Modules/Filtering/ImageIntensity/test/CMakeLists.txt
  Modules/Filtering/ImageIntensity/test/itkSymmetricEigenAnalysisImageFilterTest.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:Filtering, type:Data

#3954 STYLE: Move ITK iterator declarations into init-statement of `for` loops
  Modules/Core/Common/include/itkFloodFilledFunctionConditionalConstIterator.hxx
  Modules/Core/Common/include/itkShapedFloodFilledFunctionConditionalConstIterator.hxx
  Modules/Core/ImageFunction/include/itkGaussianInterpolateImageFunction.hxx
  Modules/Core/ImageFunction/include/itkLabelImageGaussianInterpolateImageFunction.hxx
  Modules/Core/Transform/include/itkBSplineDeformableTransform.hxx
  Modules/Core/Transform/include/itkBSplineTransform.hxx
  Modules/Filtering/Denoising/include/itkPatchBasedDenoisingImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkIterativeInverseDisplacementFieldImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkTimeVaryingVelocityFieldIntegrationImageFilter.hxx
  Modules/Filtering/FFT/include/itkVnlForwardFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkVnlHalfHermitianToRealInverseFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkVnlRealToHalfHermitianForwardFFTImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkBSplineControlPointImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkBSplineControlPointImageFunction.hxx
  Modules/Filtering/ImageGrid/include/itkBSplineScatteredDataPointSetToImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkCyclicShiftImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkPermuteAxesImageFilter.hxx
  Modules/Filtering/ImageSources/include/itkGaborImageSource.hxx
  Modules/Filtering/ImageSources/include/itkGridImageSource.hxx
  Modules/Filtering/Path/include/itkExtractOrthogonalSwath2DImageFilter.hxx
  Modules/Filtering/Path/include/itkPathToImageFilter.hxx
  Modules/Numerics/Statistics/include/itkScalarImageToCooccurrenceMatrixFilter.hxx
  Modules/Registration/Metricsv4/include/itkJointHistogramMutualInformationComputeJointPDFThreader.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkSyNImageRegistrationMethod.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkTimeVaryingBSplineVelocityFieldImageRegistrationMethod.hxx
  Modules/Segmentation/LabelVoting/include/itkLabelVotingImageFilter.hxx
  Modules/Segmentation/LabelVoting/include/itkMultiLabelSTAPLEImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkParallelSparseFieldLevelSetImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkSparseFieldLevelSetImageFilter.hxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetDomainPartitionImage.hxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetDomainPartitionImageWithKdTree.hxx
  Modules/Segmentation/Watersheds/include/itkWatershedSegmenter.hxx
Labels: area:Core, area:Filtering, area:Registration, area:Segmentation, type:Style, area:Numerics

#3947 ENH: Added saving metadata in NRRD file in more data types
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshLineCell.h
  Modules/IO/NRRD/src/itkNrrdImageIO.cxx
  Modules/IO/NRRD/test/itkNrrdImageIOTest.h
Labels: type:Enhancement, type:Testing, area:Core, area:IO

#3956 DOC: Fixed spelling bugs in Modules/Filtering headers
  Modules/Filtering/BiasCorrection/include/itkCompositeValleyFunction.h
  Modules/Filtering/BiasCorrection/include/itkMRIBiasFieldCorrectionFilter.h
  Modules/Filtering/BinaryMathematicalMorphology/include/itkBinaryPruningImageFilter.h
  Modules/Filtering/BinaryMathematicalMorphology/include/itkBinaryThinningImageFilter.h
  Modules/Filtering/BinaryMathematicalMorphology/include/itkObjectMorphologyImageFilter.h
  Modules/Filtering/Denoising/include/itkPatchBasedDenoisingBaseImageFilter.h
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldToBSplineImageFilter.h
  Modules/Filtering/DisplacementField/include/itkTimeVaryingVelocityFieldIntegrationImageFilter.h
  Modules/Filtering/DistanceMap/include/itkContourMeanDistanceImageFilter.h
  Modules/Filtering/FastMarching/include/itkFastMarchingExtensionImageFilter.h
  Modules/Filtering/FastMarching/include/itkFastMarchingExtensionImageFilterBase.h
  Modules/Filtering/FastMarching/include/itkFastMarchingImageFilter.h
  Modules/Filtering/FastMarching/include/itkFastMarchingImageToNodePairContainerAdaptor.h
  Modules/Filtering/FastMarching/include/itkFastMarchingUpwindGradientImageFilter.h
  Modules/Filtering/FastMarching/include/itkFastMarchingUpwindGradientImageFilterBase.h
  Modules/Filtering/ImageCompare/include/itkSimilarityIndexImageFilter.h
  Modules/Filtering/ImageFeature/include/itkCannyEdgeDetectionImageFilter.h
  Modules/Filtering/ImageFeature/include/itkZeroCrossingBasedEdgeDetectionImageFilter.h
  Modules/Filtering/ImageFeature/include/itkZeroCrossingImageFilter.h
  Modules/Filtering/ImageFilterBase/include/itkCastImageFilter.h
  Modules/Filtering/ImageFilterBase/include/itkUnaryGeneratorImageFilter.h
  Modules/Filtering/ImageGrid/include/itkBSplineDownsampleImageFilter.h
  Modules/Filtering/ImageGrid/include/itkOrientImageFilter.h
  Modules/Filtering/ImageGrid/include/itkWarpImageFilter.h
  Modules/Filtering/ImageGrid/include/itkWarpVectorImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkArithmeticOpsFunctors.h
  Modules/Filtering/ImageIntensity/include/itkBitwiseOpsFunctors.h
  Modules/Filtering/ImageIntensity/include/itkHistogramMatchingImageFilter.h
  Modules/Filtering/ImageLabel/include/itkScanlineFilterCommon.h
  Modules/Filtering/ImageStatistics/include/itkImagePCAShapeModelEstimator.h
  Modules/Filtering/ImageStatistics/include/itkImageShapeModelEstimatorBase.h
  Modules/Filtering/ImageStatistics/include/itkProjectionImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkStatisticsImageFilter.h
  Modules/Filtering/LabelMap/include/itkBinaryGrindPeakImageFilter.h
  Modules/Filtering/LabelMap/include/itkConvertLabelMapFilter.h
  Modules/Filtering/LabelMap/include/itkLabelMap.h
  Modules/Filtering/LabelMap/include/itkLabelMapMaskImageFilter.h
  Modules/Filtering/LabelMap/include/itkShapeRelabelImageFilter.h
  Modules/Filtering/LabelMap/include/itkShapeRelabelLabelMapFilter.h
  Modules/Filtering/LabelMap/include/itkStatisticsRelabelImageFilter.h
  Modules/Filtering/LabelMap/include/itkStatisticsRelabelLabelMapFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleConnectedClosingImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleConnectedOpeningImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleFunctionDilateImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleGeodesicDilateImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkMaskedMovingHistogramImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkReconstructionImageFilter.h
  Modules/Filtering/Path/include/itkChainCodePath2D.h
  Modules/Filtering/Path/include/itkParametricPath.h
  Modules/Filtering/Path/include/itkPathSource.h
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkLaplacianDeformationQuadEdgeMeshFilter.h
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkParameterizationQuadEdgeMeshFilter.h
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkQuadEdgeMeshParamMatrixCoefficients.h
  Modules/Filtering/Smoothing/include/itkDiscreteGaussianImageFilter.h
  Modules/Filtering/Thresholding/include/itkOtsuThresholdImageFilter.h
Labels: type:Documentation, area:Filtering

#3957 STYLE: Replace `while (!outIt.IsAtEnd())` with `for` loops, in Filtering
  Modules/Filtering/DisplacementField/include/itkInverseDisplacementFieldImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkLandmarkDisplacementFieldSource.hxx
  Modules/Filtering/FastMarching/include/itkFastMarchingImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkInterpolateImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkShrinkImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkSliceImageFilter.hxx
  Modules/Filtering/ImageIntensity/include/itkVectorExpandImageFilter.hxx
  Modules/Filtering/ImageSources/include/itkGaussianImageSource.hxx
Labels: area:Filtering, type:Style

#3961 STYLE: Replace `T var = T()` with modern `T var{}` value-initialization
  Modules/Core/Common/include/itkIndexRange.h
  Modules/Filtering/MathematicalMorphology/include/itkFlatStructuringElement.hxx
  Modules/Filtering/MathematicalMorphology/test/itkFlatStructuringElementTest.cxx
  Modules/IO/XML/include/itkStringTools.hxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, type:Style

#3959 STYLE: Construct local variables by passing arguments directly (part 2)
  Modules/Core/Common/test/itkFloodFillIteratorTest.cxx
  Modules/Core/Common/test/itkFloodFilledSpatialFunctionTest.cxx
  Modules/Filtering/BinaryMathematicalMorphology/include/itkBinaryMorphologicalClosingImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkBilateralImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkLaplacianSharpeningImageFilter.hxx
  Modules/Filtering/ImageGradient/include/itkGradientImageFilter.hxx
  Modules/Filtering/ImageGradient/test/itkDifferenceOfGaussiansGradientTest.cxx
  Modules/Filtering/MathematicalMorphology/include/itkFlatStructuringElement.hxx
  Modules/IO/GDCM/src/itkGDCMImageIO.cxx
  Modules/Numerics/FEM/include/itkFEMObject.hxx
  Modules/Numerics/FEM/include/itkMetaFEMObjectConverter.hxx
  Modules/Registration/Common/include/itkLandmarkBasedTransformInitializer.hxx
  Modules/Segmentation/Watersheds/include/itkIsolatedWatershedImageFilter.hxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style, area:Numerics

#3960 STYLE: Reduce scope ResampleImageFilter::NonlinearThreadedGenerateData
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.hxx
Labels: area:Filtering, type:Style

#3965 DOC: Spell checking Registration headers
  Modules/Registration/Common/include/itkGradientDifferenceImageToImageMetric.h
  Modules/Registration/Common/include/itkImageRegistrationMethod.h
  Modules/Registration/Common/include/itkImageToImageMetric.h
  Modules/Registration/Common/include/itkImageToSpatialObjectMetric.h
  Modules/Registration/Common/include/itkImageToSpatialObjectRegistrationMethod.h
  Modules/Registration/Common/include/itkKappaStatisticImageToImageMetric.hxx
  Modules/Registration/Common/include/itkLandmarkBasedTransformInitializer.hxx
  Modules/Registration/Common/include/itkMatchCardinalityImageToImageMetric.h
  Modules/Registration/Common/include/itkMatchCardinalityImageToImageMetric.hxx
  Modules/Registration/Common/include/itkMattesMutualInformationImageToImageMetric.hxx
  Modules/Registration/Common/include/itkMeanReciprocalSquareDifferenceImageToImageMetric.h
  Modules/Registration/Common/include/itkMeanReciprocalSquareDifferencePointSetToImageMetric.hxx
  Modules/Registration/Common/include/itkMeanSquaresPointSetToImageMetric.hxx
  Modules/Registration/Common/include/itkMultiResolutionImageRegistrationMethod.h
  Modules/Registration/Common/include/itkMultiResolutionPyramidImageFilter.h
  Modules/Registration/Common/include/itkMutualInformationImageToImageMetric.h
  Modules/Registration/Common/include/itkMutualInformationImageToImageMetric.hxx
  Modules/Registration/Common/include/itkNormalizedCorrelationImageToImageMetric.hxx
  Modules/Registration/Common/include/itkNormalizedCorrelationPointSetToImageMetric.hxx
  Modules/Registration/Common/include/itkNormalizedMutualInformationHistogramImageToImageMetric.h
  Modules/Registration/Common/include/itkPointSetToImageRegistrationMethod.h
  Modules/Registration/Common/include/itkPointSetToPointSetRegistrationMethod.h
  Modules/Registration/Common/include/itkRecursiveMultiResolutionPyramidImageFilter.h
  Modules/Registration/Common/include/itkRecursiveMultiResolutionPyramidImageFilter.hxx
  Modules/Registration/FEM/include/itkFEMRegistrationFilter.h
  Modules/Registration/FEM/include/itkMIRegistrationFunction.hxx
  Modules/Registration/GPUPDEDeformable/include/itkGPUDemonsRegistrationFilter.hxx
  Modules/Registration/GPUPDEDeformable/include/itkGPUPDEDeformableRegistrationFilter.h
  Modules/Registration/GPUPDEDeformable/include/itkGPUPDEDeformableRegistrationFilter.hxx
  Modules/Registration/Metricsv4/include/itkDefaultImageToImageMetricTraitsv4.h
  Modules/Registration/Metricsv4/include/itkImageToImageMetricv4.h
  Modules/Registration/Metricsv4/include/itkImageToImageMetricv4.hxx
  Modules/Registration/Metricsv4/include/itkJensenHavrdaCharvatTsallisPointSetToPointSetMetricv4.hxx
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4.h
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4.hxx
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4GetValueAndDerivativeThreader.hxx
  Modules/Registration/Metricsv4/include/itkPointSetToPointSetMetricWithIndexv4.h
  Modules/Registration/Metricsv4/include/itkPointSetToPointSetMetricWithIndexv4.hxx
  Modules/Registration/Metricsv4/include/itkPointSetToPointSetMetricv4.h
  Modules/Registration/Metricsv4/include/itkVectorImageToImageMetricTraitsv4.h
  Modules/Registration/PDEDeformable/include/itkDemonsRegistrationFilter.hxx
  Modules/Registration/PDEDeformable/include/itkDiffeomorphicDemonsRegistrationFilter.hxx
  Modules/Registration/PDEDeformable/include/itkFastSymmetricForcesDemonsRegistrationFilter.hxx
  Modules/Registration/PDEDeformable/include/itkFastSymmetricForcesDemonsRegistrationFunction.hxx
  Modules/Registration/PDEDeformable/include/itkLevelSetMotionRegistrationFilter.hxx
  Modules/Registration/PDEDeformable/include/itkMultiResolutionPDEDeformableRegistration.hxx
  Modules/Registration/PDEDeformable/include/itkPDEDeformableRegistrationFilter.h
  Modules/Registration/PDEDeformable/include/itkPDEDeformableRegistrationFilter.hxx
  Modules/Registration/PDEDeformable/include/itkSymmetricForcesDemonsRegistrationFilter.hxx
  Modules/Registration/PDEDeformable/include/itkSymmetricForcesDemonsRegistrationFunction.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkBSplineSyNImageRegistrationMethod.hxx
  Modules/Registration/RegistrationMethodsv4/include/itkImageRegistrationMethodv4.h
  Modules/Registration/RegistrationMethodsv4/include/itkSyNImageRegistrationMethod.h
  Modules/Registration/RegistrationMethodsv4/include/itkSyNImageRegistrationMethod.hxx
Labels: type:Documentation, area:Registration

#3964 BUG: implicit conversion undefined behavior
  Modules/IO/Meta/test/itkLargeMetaImageWriteReadTest.cxx
Labels: type:Bug, type:Testing, area:IO

#3966 STYLE: Default default-constructors MultiTransform, CompositeTransform
  Modules/Core/Transform/include/itkCompositeTransform.h
  Modules/Core/Transform/include/itkCompositeTransform.hxx
  Modules/Core/Transform/include/itkMultiTransform.h
  Modules/Core/Transform/include/itkMultiTransform.hxx
Labels: area:Core, type:Style

#3967 BUG: Add missing Python string prefix in wrapping warning
  Wrapping/Generators/Python/itk/support/template_class.py
Labels: type:Bug, area:Python wrapping

#3963 COMP: Suppress ubsan in H5detect.c code
  Modules/ThirdParty/HDF5/src/itkhdf5/src/H5detect.c
Labels: type:Compiler, area:ThirdParty

#3935 ENH: Add C++ script to add in-class `{}` member initializers to ITK
  Utilities/Maintenance/AddEmptyDefaultMemberInitializers.cxx
Labels: type:Infrastructure, type:Enhancement

#3973 COMP: Replace numpy.bool8 with np.bool_
  Wrapping/Generators/Python/itk/support/types.py
Labels: type:Compiler, area:Python wrapping

#3976 DOC: Spellcheck Filtering HXX and Video headers
  Modules/Filtering/AnisotropicSmoothing/include/itkVectorCurvatureNDAnisotropicDiffusionFunction.hxx
  Modules/Filtering/AnisotropicSmoothing/include/itkVectorGradientNDAnisotropicDiffusionFunction.hxx
  Modules/Filtering/BiasCorrection/include/itkMRIBiasFieldCorrectionFilter.hxx
  Modules/Filtering/BinaryMathematicalMorphology/include/itkBinaryDilateImageFilter.hxx
  Modules/Filtering/BinaryMathematicalMorphology/include/itkBinaryErodeImageFilter.hxx
  Modules/Filtering/BinaryMathematicalMorphology/include/itkBinaryThinningImageFilter.hxx
  Modules/Filtering/Denoising/include/itkPatchBasedDenoisingImageFilter.hxx
  Modules/Filtering/DiffusionTensorImage/include/itkDiffusionTensor3DReconstructionImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldJacobianDeterminantFilter.hxx
  Modules/Filtering/DistanceMap/include/itkSignedMaurerDistanceMapImageFilter.hxx
  Modules/Filtering/FFT/include/itkFFTWComplexToComplex1DFFTImageFilter.hxx
  Modules/Filtering/FFT/include/itkFFTWInverse1DFFTImageFilter.hxx
  Modules/Filtering/GPUAnisotropicSmoothing/include/itkGPUAnisotropicDiffusionImageFilter.hxx
  Modules/Filtering/ImageCompose/include/itkJoinSeriesImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkCannyEdgeDetectionImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkDerivativeImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkDiscreteGaussianDerivativeImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkLaplacianImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkLaplacianRecursiveGaussianImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkLaplacianSharpeningImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkSimpleContourExtractorImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkSobelEdgeDetectionImageFilter.hxx
  Modules/Filtering/ImageFilterBase/include/itkMovingHistogramImageFilter.hxx
  Modules/Filtering/ImageFusion/include/itkLabelMapContourOverlayImageFilter.hxx
  Modules/Filtering/ImageGradient/include/itkGradientImageFilter.hxx
  Modules/Filtering/ImageGradient/include/itkVectorGradientMagnitudeImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkInterpolateImagePointsFilter.hxx
  Modules/Filtering/ImageGrid/include/itkOrientImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkTileImageFilter.hxx
  Modules/Filtering/ImageStatistics/include/itkImagePCAShapeModelEstimator.hxx
  Modules/Filtering/LabelMap/include/itkAttributeUniqueLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkShapeLabelMapFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkAnchorErodeDilateLine.hxx
  Modules/Filtering/MathematicalMorphology/include/itkAnchorOpenCloseLine.hxx
  Modules/Filtering/MathematicalMorphology/include/itkFlatStructuringElement.hxx
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleGeodesicDilateImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleGeodesicErodeImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/wrapping/test/BoxGrayscaleDilateImageFilterTest.py
  Modules/Filtering/Path/include/itkContourExtractor2DImageFilter.hxx
  Modules/Filtering/Path/include/itkExtractOrthogonalSwath2DImageFilter.hxx
  Modules/Video/BridgeOpenCV/include/itkOpenCVImageBridge.h
  Modules/Video/BridgeOpenCV/include/itkOpenCVImageBridge.hxx
  Modules/Video/BridgeVXL/include/vidl_itk_istream.h
  Modules/Video/BridgeVXL/include/vidl_itk_istream.hxx
  Modules/Video/Core/include/itkTemporalDataObject.h
  Modules/Video/Core/include/itkTemporalProcessObject.h
  Modules/Video/Core/include/itkVideoSource.h
  Modules/Video/Core/include/itkVideoSource.hxx
  Modules/Video/Core/include/itkVideoToVideoFilter.h
  Modules/Video/Core/include/itkVideoToVideoFilter.hxx
  Modules/Video/IO/include/itkVideoFileReader.hxx
Labels: type:Documentation, area:Python wrapping, type:Testing, area:Filtering, area:Video

#3980 Nifticlib 2023 03 29
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_io.c
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_test.c
  Modules/ThirdParty/NIFTI/src/nifti/niftilib/nifti1_tool.c
  Modules/ThirdParty/NIFTI/src/nifti/znzlib/znzlib.c
Labels: area:ThirdParty

#3979 ENH: Use latest GTest
  Modules/ThirdParty/GoogleTest/UpdateFromUpstream.sh
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/CMakeLists.txt
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/CMakeLists.txt
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/cmake/internal_utils.cmake
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-matchers.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-message.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-param-test.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-printers.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-spi.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest-test-part.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-death-test-internal.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-filepath.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-internal.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-param-util.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-port-arch.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-port.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-string.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/internal/gtest-type-util.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-death-test.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-filepath.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-internal-inl.h
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest-printers.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest.cc
  Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/src/gtest_main.cc
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:ThirdParty
