Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-10, with the labels that each got.

#4239 DOC: Update release procedure doc
  Documentation/Maintenance/Release.md
Labels: type:Documentation, area:Documentation

#4236 DOC: Update .git-blame-ignore-revs for cmake-format, .cid content links
  .git-blame-ignore-revs
Labels: type:Documentation

#4246 data contribution setup updates
  Documentation/GitCheatSheet.pdf
  Documentation/GitCheatSheet.tex
  Utilities/GitSetup/setup-girder-api-key
  Utilities/GitSetup/setup-git-aliases
  Utilities/SetupForDevelopment.sh
  Utilities/UploadBinaryData.sh
Labels: type:Infrastructure, area:Documentation

#4232 STYLE: Replace `std::bind` in ThreadPool::AddWork with lambda expression
  Modules/Core/Common/include/itkThreadPool.h
Labels: area:Core, type:Style

#4228 STYLE: Remove private ObjectFactoryBase member `RegisterInternal()`
  Modules/Core/Common/include/itkObjectFactoryBase.h
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
Labels: area:Core, type:Style

#4247 ENH: Add `MersenneTwisterRandomVariateGenerator::ResetNextSeed()`
  Modules/Core/Common/include/itkMersenneTwisterRandomVariateGenerator.h
  Modules/Core/Common/src/itkMersenneTwisterRandomVariateGenerator.cxx
  Modules/Core/Common/test/itkMersenneTwisterRandomVariateGeneratorGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#4251 DOC: Move detailed description to the top of class documentation page
  Documentation/Doxygen/DoxygenLayout.xml
Labels: type:Documentation, area:Documentation

#4252 DOC: Spelling fixes for the checker
  Examples/RegistrationITKv4/ImageRegistration8.cxx
  Examples/Segmentation/GibbsPriorImageFilter1.cxx
  Modules/Compatibility/Deprecated/include/itkVectorCentralDifferenceImageFunction.h
  Modules/Core/Common/include/itkColorTable.h
  Modules/Core/Common/include/itkImageConstIterator.h
  Modules/Core/Common/include/itkImageConstIteratorWithIndex.h
  Modules/Core/Common/include/itkImageLinearConstIteratorWithIndex.h
  Modules/Core/Common/include/itkImageRegionConstIterator.h
  Modules/Core/Common/include/itkImageRegionConstIteratorWithIndex.h
  Modules/Core/Common/include/itkImageRegionConstIteratorWithOnlyIndex.h
  Modules/Core/Common/include/itkImageRegionReverseConstIterator.h
  Modules/Core/Common/include/itkImageReverseConstIterator.h
  Modules/Core/Common/include/itkImageScanlineConstIterator.h
  Modules/Core/Common/include/itkLineConstIterator.h
  Modules/Core/Common/test/itkImportImageTest.cxx
  Modules/Core/ImageFunction/include/itkCentralDifferenceImageFunction.h
  Modules/Core/ImageFunction/include/itkCovarianceImageFunction.h
  Modules/Core/ImageFunction/include/itkMeanImageFunction.h
  Modules/Core/ImageFunction/include/itkNeighborhoodBinaryThresholdImageFunction.h
  Modules/Core/ImageFunction/include/itkScatterMatrixImageFunction.h
  Modules/Core/ImageFunction/include/itkSumOfSquaresImageFunction.h
  Modules/Core/ImageFunction/include/itkVarianceImageFunction.h
  Modules/Core/ImageFunction/include/itkVectorMeanImageFunction.h
  Modules/Filtering/DistanceMap/include/itkReflectiveImageRegionConstIterator.h
  Modules/Filtering/FastMarching/include/itkLevelSet.h
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.h
  Modules/Filtering/Path/include/itkPathConstIterator.h
  Modules/Numerics/FEM/include/itkFEMSolver.hxx
  Modules/Numerics/Optimizers/include/itkInitializationBiasedParticleSwarmOptimizer.h
  Modules/Segmentation/LevelSets/include/itkVectorThresholdSegmentationLevelSetFunction.h
  Modules/Segmentation/LevelSets/include/itkVectorThresholdSegmentationLevelSetImageFilter.h
Labels: type:Documentation, area:Examples, type:Testing, area:Core, area:Filtering, area:Segmentation, area:Numerics

#4258 Multiline module group definition
  CMake/ITKGroups.cmake
  CMake/ITKModuleEnablement.cmake
Labels: type:Infrastructure

#4260 DOC: Update ITK version mentioned in download.md from 4.13.1 to 5.3.0
  Documentation/docs/download.md
Labels: type:Documentation, area:Documentation

#4259 DOC: Fix Doxygen class names
  Modules/Compatibility/Deprecated/include/itkTreeIteratorClone.h
  Modules/Core/Common/include/itkFloatingPointExceptions.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshScalarDataVTKPolyDataWriter.h
  Modules/Core/Transform/include/itkTransformBase.h
  Modules/Filtering/ImageGrid/include/itkBSplineCenteredL2ResampleImageFilterBase.h
  Modules/Numerics/FEM/include/itkFEMLoadNoisyLandmark.h
Labels: type:Documentation, area:Core, area:Filtering, area:Numerics

#4163 STYLE: Use `volatile` to avoid global SingletonIndex being optimized out
  Modules/Core/Common/include/itkSingleton.h
  Modules/Core/Common/src/itkSingleton.cxx
Labels: area:Core, type:Style

#4268 DOC: Fix diversity statement link in code of conduct
  Documentation/docs/contributing/code_of_conduct.md
  Documentation/docs/contributing/enforcement.md
Labels: type:Documentation, area:Documentation

#4157 COMP: Use conjunction_v to check argument types of MakePoint, MakeVector
  Modules/Core/Common/include/itkPoint.h
  Modules/Core/Common/include/itkVector.h
Labels: type:Compiler, area:Core

#4270 BUG: Support serialization of an empty itk.Image
  Modules/Bridge/NumPy/wrapping/PyBuffer.i.in
  Modules/Bridge/NumPy/wrapping/test/itkPyBufferTest.py
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Bug, area:Python wrapping, type:Testing, area:Bridge
