Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-04, with the labels that each got.

#3985 STYLE: Remove pre-C++17 definition constexpr data member `SupportSize`
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.hxx
Labels: area:Core, type:Style

#3984 BUG: Error converting from rotation axis and rotation angle to quater…
  Modules/Core/Transform/include/itkRigid3DPerspectiveTransform.hxx
Labels: type:Bug, area:Core

#3988 STYLE: Remove GCC 5.2 specific code from IntensityLinearTransform
  Modules/Filtering/ImageIntensity/include/itkRescaleIntensityImageFilter.h
Labels: area:Filtering, type:Style

#3992 STYLE: Replace `std::min` and `std::max` calls with C++17 `std::clamp`
  Modules/Core/Common/include/itkGaussianDerivativeOperator.h
  Modules/Core/Common/include/itkTriangleHelper.hxx
  Modules/Filtering/Denoising/include/itkPatchBasedDenoisingImageFilter.hxx
  Modules/IO/VTK/test/itkVTKImageIOStreamTest.cxx
  Modules/Nonunit/Review/include/itkMultiphaseSparseFiniteDifferenceImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkParallelSparseFieldLevelSetImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkSparseFieldLevelSetImageFilter.hxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Segmentation, type:Style

#3997 COMP: Remove CTAD because of clang "error: member reference base" bug
  Modules/Filtering/Smoothing/include/itkMeanImageFilter.hxx
  Modules/Filtering/Smoothing/include/itkMedianImageFilter.hxx
Labels: type:Compiler, area:Filtering

#3996 COMP: Remove unused variables
  Modules/Core/Common/test/itkImageRegionExclusionIteratorWithIndexTest.cxx
  Modules/Filtering/Smoothing/include/itkBinomialBlurImageFilter.hxx
  Modules/IO/MINC/src/itkMINCImageIO.cxx
  Modules/Numerics/Statistics/test/itkScalarImageToRunLengthMatrixFilterTest.cxx
  Modules/Registration/Metricsv4/test/itkANTSNeighborhoodCorrelationImageToImageMetricv4Test.cxx
  Modules/Registration/Metricsv4/test/itkANTSNeighborhoodCorrelationImageToImageRegistrationTest.cxx
  Modules/Registration/Metricsv4/test/itkCorrelationImageToImageMetricv4Test.cxx
  Modules/Registration/Metricsv4/test/itkMeanSquaresImageToImageMetricv4RegistrationTest2.cxx
  Modules/Segmentation/Voronoi/include/itkVoronoiDiagram2DGenerator.hxx
Labels: type:Compiler, type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, area:Numerics

#3995 STYLE: Replace `sizeof(array) / sizeof(array[0])` with C++17 `std::size`
  Modules/Core/GPUCommon/src/itkOpenCLUtil.cxx
  Modules/IO/ImageBase/test/itkConvertBufferTest.cxx
  Modules/IO/ImageBase/test/itkImageIOBaseTest.cxx
  Modules/IO/LSM/src/itkLSMImageIO.cxx
Labels: type:Testing, area:Core, area:IO, type:Style

#3999 COMP: Remove use of C++17 CTAD from `lock_guard` variable declarations
  Modules/Core/Common/include/itkLoggerThreadWrapper.hxx
  Modules/Core/Common/include/itkMersenneTwisterRandomVariateGenerator.h
  Modules/Core/Common/include/itkSimpleFilterWatcher.h
  Modules/Core/Common/src/itkMersenneTwisterRandomVariateGenerator.cxx
  Modules/Core/Common/src/itkMultiThreaderBase.cxx
  Modules/Core/Common/src/itkOutputWindow.cxx
  Modules/Core/Common/src/itkStdStreamLogOutput.cxx
  Modules/Core/Common/src/itkThreadLogger.cxx
  Modules/Core/GPUCommon/include/itkGPUImageDataManager.hxx
  Modules/Filtering/DisplacementField/include/itkInvertDisplacementFieldImageFilter.hxx
  Modules/Filtering/DistanceMap/include/itkDirectedHausdorffDistanceImageFilter.hxx
  Modules/Filtering/DistanceMap/include/itkIsoContourDistanceImageFilter.hxx
  Modules/Filtering/FFT/include/itkFFTWCommon.h
  Modules/Filtering/FFT/include/itkFFTWCommonExtended.h
  Modules/Filtering/ImageIntensity/include/itkShiftScaleImageFilter.hxx
  Modules/Filtering/ImageLabel/include/itkScanlineFilterCommon.h
  Modules/Filtering/ImageStatistics/include/itkMinimumMaximumImageFilter.hxx
  Modules/Filtering/ImageStatistics/include/itkStatisticsImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryImageToLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkChangeRegionLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkLabelMapFilter.hxx
  Modules/IO/ImageBase/src/itkImageIOBase.cxx
  Modules/IO/ImageBase/src/itkImageIOFactory.cxx
  Modules/Numerics/Statistics/include/itkImageToHistogramFilter.hxx
  Modules/Numerics/Statistics/include/itkMaskedImageToHistogramFilter.hxx
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4.hxx
  Modules/Segmentation/ConnectedComponents/include/itkConnectedComponentImageFilter.hxx
  Modules/Segmentation/SuperPixel/include/itkSLICImageFilter.hxx
Labels: type:Compiler, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, area:Numerics

#3998 COMP: Add CTAD deduction guides to ImageBufferRange and ImageRegionRange
  Modules/Core/Common/include/itkImageBufferRange.h
  Modules/Core/Common/include/itkImageRegionRange.h
Labels: type:Compiler, area:Core

#4003 COMP: Fix BinomialBlurImageFilter error, num_reps undeclared identifier
  Modules/Filtering/Smoothing/include/itkBinomialBlurImageFilter.hxx
Labels: type:Compiler, area:Filtering

#4005 COMP: Add `template` to TransformPhysicalPointToContinuousIndex in tests
  Modules/Nonunit/Review/test/itkDiscreteGradientMagnitudeGaussianImageFunctionTest.cxx
  Modules/Nonunit/Review/test/itkDiscreteHessianGaussianImageFunctionTest.cxx
Labels: type:Compiler, type:Testing

#4008 DOC: Spell check the code in Examples
  Examples/DataRepresentation/Mesh/MeshTraits.cxx
  Examples/Filtering/FFTDirectInverse2.cxx
  Examples/Filtering/MathematicalMorphologyBinaryFilters.cxx
  Examples/Filtering/MathematicalMorphologyGrayscaleFilters.cxx
  Examples/Filtering/RGBCurvatureAnisotropicDiffusionImageFilter.cxx
  Examples/Filtering/ResampleImageFilter8.cxx
  Examples/Filtering/VectorCurvatureAnisotropicDiffusionImageFilter.cxx
  Examples/Filtering/ZeroCrossingBasedEdgeDetectionImageFilter.cxx
  Examples/IO/DicomSeriesReadImageWrite.cxx
  Examples/IO/VisibleHumanStreamReadWrite.cxx
  Examples/IO/XML/ParticleSwarmOptimizerReadWrite.cxx
  Examples/IO/XML/itkParticleSwarmOptimizerDOMReader.h
  Examples/IO/XML/itkParticleSwarmOptimizerDOMWriter.h
  Examples/Numerics/FourierDescriptors1.cxx
  Examples/RegistrationITKv4/DeformableRegistration16.cxx
  Examples/RegistrationITKv4/DeformableRegistration17.cxx
  Examples/RegistrationITKv4/DeformableRegistration6.cxx
  Examples/RegistrationITKv4/ImageRegistration5.cxx
  Examples/RegistrationITKv4/ImageRegistration7.cxx
  Examples/RegistrationITKv4/MultiResImageRegistration1.cxx
  Examples/RegistrationITKv4/MultiStageImageRegistration1.cxx
  Examples/Segmentation/CurvesLevelSetImageFilter.cxx
  Examples/Segmentation/FastMarchingImageFilter.cxx
  Examples/Segmentation/GeodesicActiveContourImageFilter.cxx
  Examples/Segmentation/GeodesicActiveContourShapePriorLevelSetImageFilter.cxx
  Examples/Segmentation/NeighborhoodConnectedImageFilter.cxx
  Examples/Segmentation/ShapeDetectionLevelSetFilter.cxx
  Examples/SpatialObjects/SpatialObjectTransforms.cxx
  Examples/Statistics/ImageEntropy1.cxx
  Examples/Statistics/ImageHistogram3.cxx
  Examples/Statistics/ImageHistogram4.cxx
  Examples/Statistics/ImageMutualInformation1.cxx
  Examples/Statistics/SampleToHistogramFilter.cxx
  Examples/Statistics/ScalarImageMarkovRandomField1.cxx
Labels: type:Documentation, area:Examples, area:Python wrapping

#4011 Update remote modules using the script
  Modules/Remote/BSplineGradient.remote.cmake
  Modules/Remote/BoneMorphometry.remote.cmake
  Modules/Remote/Cleaver.remote.cmake
  Modules/Remote/Cuberille.remote.cmake
  Modules/Remote/CudaCommon.remote.cmake
  Modules/Remote/FPFH.remote.cmake
  Modules/Remote/GenericLabelInterpolator.remote.cmake
  Modules/Remote/HASI.remote.cmake
  Modules/Remote/HigherOrderAccurateGradient.remote.cmake
  Modules/Remote/IOMeshSTL.remote.cmake
  Modules/Remote/IOMeshSWC.remote.cmake
  Modules/Remote/IOScanco.remote.cmake
  Modules/Remote/LabelErodeDilate.remote.cmake
  Modules/Remote/MeshToPolyData.remote.cmake
  Modules/Remote/MinimalPathExtraction.remote.cmake
  Modules/Remote/Montage.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/ParabolicMorphology.remote.cmake
  Modules/Remote/RANSAC.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/Shape.remote.cmake
  Modules/Remote/SimpleITKFilters.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/Strain.remote.cmake
  Modules/Remote/TextureFeatures.remote.cmake
  Modules/Remote/Thickness3D.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
  Modules/Remote/VkFFTBackend.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
Labels: area:Examples, area:Remotes

#4010 PERF: Use faster TransformPhysicalPointToIndex/ContinuousIndex in Python
  Wrapping/Generators/Python/PyBase/pyBase.i
Labels: type:Performance, area:Python wrapping

#4012 COMP: Enable warning on C++17 class template argument deduction (CTAD)
  CMake/ITKSetStandardCompilerFlags.cmake
Labels: type:Compiler, type:Infrastructure

#4014 STYLE: Add `const` to TransformPhysicalPointToIndex results in "Review"
  Modules/Nonunit/Review/include/itkMultiphaseDenseFiniteDifferenceImageFilter.hxx
  Modules/Nonunit/Review/include/itkMultiphaseSparseFiniteDifferenceImageFilter.hxx
  Modules/Nonunit/Review/include/itkScalarChanAndVeseDenseLevelSetImageFilter.hxx
  Modules/Nonunit/Review/include/itkScalarChanAndVeseSparseLevelSetImageFilter.hxx
Labels: type:Style

#4015 STYLE: Replace `T var = NumericTraits<T>::ZeroValue()` having whitespace
  Modules/Core/Common/test/itkPointSetToImageFilterTest1.cxx
  Modules/Filtering/Deconvolution/include/itkProjectedIterativeDeconvolutionImageFilter.hxx
  Modules/Filtering/ImageFeature/test/itkZeroCrossingImageFilterTest.cxx
  Modules/Registration/FEM/test/itkVTKTetrahedralMeshReader.hxx
  Modules/Registration/Metricsv4/include/itkJointHistogramMutualInformationGetValueAndDerivativeThreader.hxx
  Modules/Registration/Metricsv4/test/itkEuclideanDistancePointSetMetricRegistrationTest.cxx
  Modules/Registration/Metricsv4/test/itkObjectToObjectMultiMetricv4Test.cxx
  Modules/Segmentation/KLMRegionGrowing/test/itkRegionGrow2DTest.cxx
  Modules/Segmentation/LevelSets/test/itkSparseFieldFourthOrderLevelSetImageFilterTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:Registration, area:Segmentation, type:Style

#4017 STYLE: Replace `T var{ NumericTraits<T>::ZeroValue() }` with `T var{}`
  Modules/Core/Common/include/itkAnnulusOperator.h
  Modules/Filtering/DistanceMap/include/itkDirectedHausdorffDistanceImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkMaskImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkMaskNegatedImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkShiftScaleImageFilter.h
  Modules/Filtering/LabelMap/include/itkStatisticsLabelMapFilter.h
Labels: area:Core, area:Filtering, type:Style

#4020 STYLE: Change some declarations to use trailing return type
  Modules/Core/ImageFunction/include/itkWindowedSincInterpolateImageFunction.hxx
  Modules/Core/Transform/include/itkAffineTransform.hxx
  Modules/Core/Transform/include/itkAzimuthElevationToCartesianTransform.hxx
  Modules/Core/Transform/include/itkCompositeTransform.hxx
  Modules/Core/Transform/include/itkRigid2DTransform.h
  Modules/Numerics/Statistics/include/itkHistogram.hxx
  Modules/Numerics/Statistics/include/itkImageToNeighborhoodSampleAdaptor.hxx
Labels: area:Core, type:Style, area:Numerics

#4022 STYLE: Default default-constructor SimpleDataObjectDecorator
  Modules/Core/Common/include/itkSimpleDataObjectDecorator.h
  Modules/Core/Common/include/itkSimpleDataObjectDecorator.hxx
Labels: area:Core, type:Style

#4023 MRC bug fixes - for release branch
  Modules/IO/MRC/include/itkMRCHeaderObject.h
  Modules/IO/MRC/src/itkMRCHeaderObject.cxx
  Modules/IO/MRC/src/itkMRCImageIO.cxx
  Modules/IO/MRC/test/CMakeLists.txt
  Modules/IO/MRC/test/Input/tilt_uint8.mrc.sha512
  Modules/IO/MRC/test/itkMRCImageIOTest2.cxx
Labels: type:Infrastructure, type:Testing, area:IO, type:Data

#4024 COMP: itkFFTWFFTImageFilterInitFactory.cxx is required for ITK_USE_CUFFTW
  Modules/Filtering/FFT/src/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:Filtering

#2273 STYLE: Remove empty ResourceProbe legacy function GetSystemInformation()
  Modules/Core/Common/include/itkResourceProbe.h
  Modules/Core/Common/include/itkResourceProbe.hxx
Labels: area:Core, type:Style
