Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-09, with the labels that each got.

#4177 ENH: Remove ivar memberless `PrintSelf` implementation
  Modules/Core/ImageFunction/include/itkExtrapolateImageFunction.h
  Modules/Core/ImageFunction/include/itkVectorInterpolateImageFunction.h
  Modules/Core/ImageFunction/include/itkVectorNearestNeighborInterpolateImageFunction.h
Labels: type:Enhancement, area:Core

#4175 STYLE: Improve `itkIOTransformMINCTest.cxx` style
  Modules/IO/TransformMINC/test/itkIOTransformMINCTest.cxx
Labels: type:Testing, area:IO, type:Style

#4188 DOC: Fix typo in `itk::Math` function parameter documentation
  Modules/Core/Common/include/itkMath.h
Labels: type:Documentation, area:Core

#4191 STYLE: Use macros in tests
  Modules/Core/Common/test/itkBSplineKernelFunctionTest.cxx
  Modules/Core/SpatialObjects/test/itkImageSpatialObjectTest.cxx
  Modules/Filtering/DisplacementField/test/itkDisplacementFieldTransformTest.cxx
  Modules/Filtering/ImageGrid/test/itkExpandImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkExpandImageFilterTest2.cxx
  Modules/Filtering/ImageGrid/test/itkWarpImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkWarpImageFilterTest2.cxx
  Modules/Filtering/ImageGrid/test/itkWarpVectorImageFilterTest.cxx
  Modules/Registration/PDEDeformable/test/itkSymmetricForcesDemonsRegistrationFilterTest.cxx
  Modules/Video/Core/test/itkTemporalProcessObjectTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:Registration, area:Video, type:Style

#4197 ENH: Print the superclass object in `itk::MRFImageFilter::PrintSelf`
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkMRFImageFilter.hxx
Labels: type:Enhancement, area:Segmentation

#4196 STYLE: Honor `itk::RGBGibbsPriorFilter` classname in its test filename
  Modules/Segmentation/MarkovRandomFieldsClassifiers/test/CMakeLists.txt
  Modules/Segmentation/MarkovRandomFieldsClassifiers/test/itkRGBGibbsPriorFilterTest.cxx
Labels: type:Infrastructure, type:Testing, area:Segmentation, type:Style

#4199 STYLE: Use an unsigned integer to store the number of poles
  Modules/Core/ImageFunction/include/itkBSplineDecompositionImageFilter.h
  Modules/Core/ImageFunction/include/itkBSplineDecompositionImageFilter.hxx
  Modules/Core/ImageFunction/test/itkBSplineDecompositionImageFilterTest.cxx
Labels: type:Testing, area:Core, type:Style

#4198 STYLE: Prefer using setter macro for `itk::RGBGibbsPriorFilter` ivar
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.h
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.hxx
Labels: area:Segmentation, type:Style

#4159 STYLE: Remove `ITK_X_ASSERT`, just use `assert` in `constexpr` functions
  Modules/Core/Common/include/itkConnectedImageNeighborhoodShape.h
  Modules/Core/Common/include/itkMath.h
Labels: area:Core, type:Style

#4162 Document and use the fact that `SingletonIndex::SetGlobalInstance` always returns true
  Modules/Core/Common/include/itkSingleton.h
  Modules/Core/Common/src/itkSingleton.cxx
Labels: area:Core

#4183 BUG: ImageRandomIteratorWithIndex should not assign data in constructor
  Modules/Core/Common/include/itkImageRandomConstIteratorWithIndex.hxx
  Modules/Core/Common/include/itkImageRandomConstIteratorWithOnlyIndex.hxx
Labels: type:Bug, area:Core

#4185 STYLE: Use standard return codes in example
  Examples/Statistics/ScalarImageKmeansModelEstimator.cxx
Labels: area:Examples, type:Style

#4186 STYLE: Make non-macro comparison conditional blocks consistent in tests
  Modules/Core/Common/test/itkBSplineKernelFunctionTest.cxx
  Modules/Core/Common/test/itkGaussianSpatialFunctionTest.cxx
  Modules/Core/ImageFunction/test/itkBSplineDecompositionImageFilterTest.cxx
  Modules/Core/SpatialObjects/test/itkImageSpatialObjectTest.cxx
  Modules/Core/Transform/test/itkEuler2DTransformTest.cxx
  Modules/Core/Transform/test/itkSimilarity2DTransformTest.cxx
  Modules/Filtering/DisplacementField/test/itkDisplacementFieldJacobianDeterminantFilterTest.cxx
  Modules/Filtering/DisplacementField/test/itkDisplacementFieldTransformTest.cxx
  Modules/Filtering/ImageGrid/test/itkExpandImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkExpandImageFilterTest2.cxx
  Modules/Filtering/ImageGrid/test/itkWarpImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkWarpImageFilterTest2.cxx
  Modules/Filtering/ImageGrid/test/itkWarpVectorImageFilterTest.cxx
  Modules/Filtering/ImageIntensity/test/itkVectorExpandImageFilterTest.cxx
  Modules/Filtering/ImageSources/test/itkGaborKernelFunctionTest.cxx
  Modules/Nonunit/Review/test/itkDiscreteHessianGaussianImageFunctionTest.cxx
  Modules/Nonunit/Review/test/itkRobustAutomaticThresholdCalculatorTest.cxx
  Modules/Nonunit/Review/test/itkRobustAutomaticThresholdImageFilterTest.cxx
  Modules/Registration/Common/test/itkRecursiveMultiResolutionPyramidImageFilterTest.cxx
  Modules/Video/Core/test/itkTemporalProcessObjectTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:Registration, area:Video, type:Style

#4203 STYLE: Improve style in miscellaneous tests
  Modules/Core/Common/test/itkBSplineKernelFunctionTest.cxx
  Modules/Core/Common/test/itkGaussianSpatialFunctionTest.cxx
  Modules/Core/SpatialObjects/test/itkImageSpatialObjectTest.cxx
  Modules/Filtering/DisplacementField/test/itkDisplacementFieldTransformTest.cxx
  Modules/Filtering/ImageGrid/test/itkExpandImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkExpandImageFilterTest2.cxx
  Modules/Filtering/ImageGrid/test/itkWarpImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkWarpImageFilterTest2.cxx
  Modules/Filtering/ImageGrid/test/itkWarpVectorImageFilterTest.cxx
  Modules/Filtering/ImageSources/test/itkGaborKernelFunctionTest.cxx
  Modules/Numerics/Statistics/test/itkHistogramTest.cxx
  Modules/Registration/Common/test/itkRecursiveMultiResolutionPyramidImageFilterTest.cxx
  Modules/Registration/PDEDeformable/test/itkSymmetricForcesDemonsRegistrationFilterTest.cxx
  Modules/Video/Core/test/itkTemporalProcessObjectTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:Registration, area:Video, type:Style, area:Numerics

#4187 STYLE: Use macros in `itk::SLICImageFilter` test
  Modules/Segmentation/SuperPixel/test/itkSLICImageFilterGTest.cxx
  Modules/Segmentation/SuperPixel/test/itkSLICImageFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Segmentation, type:Coverage

#4206 COMP: Add missing semicolon to macro statement end in tests
  Modules/Registration/PDEDeformable/test/itkSymmetricForcesDemonsRegistrationFilterTest.cxx
  Modules/Video/Core/test/itkTemporalProcessObjectTest.cxx
Labels: type:Compiler, type:Testing, area:Registration, area:Video

#4164 STYLE: SingletonIndex does not need to store the unused `func` parameter
  Modules/Core/Common/include/itkSingleton.h
  Modules/Core/Common/include/itkSingletonMacro.h
  Modules/Core/Common/src/itkSingleton.cxx
Labels: area:Core, type:Style

#4194 STYLE: Do not use superclass template parameters in `itk::fem` RTTI
  Modules/Numerics/FEM/include/itkFEMSolverCrankNicolson.h
  Modules/Numerics/FEM/include/itkFEMSolverHyperbolic.h
Labels: type:Style, area:Numerics

#4201 ENH: Use `itkPrintSelfObjectMacro` to print smart pointers
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.hxx
Labels: type:Enhancement, area:Segmentation

#4208 STYLE: Separate \ingroup for MultiThreaded with AddImageFilter, PowImageFilter
  Modules/Filtering/ImageIntensity/include/itkAddImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkPowImageFilter.h
Labels: area:Filtering, type:Style

#4200 DOC: Improve `itk::RGBGibbsPriorFilter` documentation
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.h
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.hxx
Labels: type:Documentation, area:Segmentation

#4195 ENH: Add getter methods to `itk::RGBGibbsPriorFilter` ivars
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.h
  Modules/Segmentation/MarkovRandomFieldsClassifiers/test/itkRGBGibbsPriorFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Segmentation

#4205 STYLE: Improve `itk::Histogram` test syle
  Modules/Numerics/Statistics/test/itkHistogramTest.cxx
Labels: type:Testing, type:Style, area:Numerics

#4202 STYLE: Use `this` to address self methods in `RGBGibbsPriorFilter`
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.hxx
Labels: area:Segmentation, type:Style

#4181 BUG: Use `lock_guard<mutex>` in FFT configuration to deal with exception
  Modules/Filtering/FFT/src/itkFFTWGlobalConfiguration.cxx
Labels: type:Bug, area:Filtering

#4210 COMP: Update w3 gateway CID identification
  CMake/ExternalData.cmake
Labels: type:Compiler, type:Infrastructure

#4212 ENH: Improve warning messages (label numbers as ints instead of chars)
  Modules/Filtering/ImageStatistics/include/itkLabelOverlapMeasuresImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkLabelOverlapMeasuresImageFilter.hxx
Labels: type:Enhancement, area:Filtering

#4214 BUG: Use `lock_guard<mutex>` in FEMFactoryBase to deal with exception
  Modules/Numerics/FEM/include/itkFEMFactoryBase.h
Labels: type:Bug, area:Numerics

#4209 STYLE: Remove unused parameter from `SetGlobalInstance` and `Singleton`
  Modules/Core/Common/include/itkSingleton.h
  Modules/Core/Common/include/itkSingletonMacro.h
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
Labels: area:Core, type:Style

#4216 BUG: define SWIGPY_SLICEOBJECT
  Wrapping/Generators/Python/module_ext.i.in
Labels: type:Bug

#4222 DOC: Fixed spelling in itkRGBGibbsPriorFilter.h
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.h
Labels: type:Documentation, area:Segmentation

#4219 STYLE: Code cleanup ImageRandomConstIteratorWith(Only)Index RandomJump()
  Modules/Core/Common/include/itkImageRandomConstIteratorWithIndex.hxx
  Modules/Core/Common/include/itkImageRandomConstIteratorWithOnlyIndex.hxx
Labels: area:Core, type:Style

#4220 STYLE: Rename local `std::lock_guard` variables "lockGuard"
  Modules/Core/Common/include/itkMersenneTwisterRandomVariateGenerator.h
  Modules/Core/Common/include/itkSimpleFilterWatcher.h
  Modules/Core/Common/src/itkMersenneTwisterRandomVariateGenerator.cxx
  Modules/Core/Common/src/itkMultiThreaderBase.cxx
  Modules/Core/Common/src/itkOutputWindow.cxx
  Modules/Filtering/DisplacementField/include/itkInvertDisplacementFieldImageFilter.hxx
  Modules/Filtering/DistanceMap/include/itkDirectedHausdorffDistanceImageFilter.hxx
  Modules/Filtering/DistanceMap/include/itkIsoContourDistanceImageFilter.hxx
  Modules/Filtering/FFT/include/itkFFTWCommon.h
  Modules/Filtering/FFT/include/itkFFTWCommonExtended.h
  Modules/Filtering/ImageIntensity/include/itkShiftScaleImageFilter.hxx
  Modules/Filtering/ImageLabel/include/itkScanlineFilterCommon.h
  Modules/Filtering/ImageStatistics/include/itkMinimumMaximumImageFilter.hxx
  Modules/Filtering/ImageStatistics/include/itkStatisticsImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryImageToLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkChangeRegionLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkLabelMapFilter.hxx
  Modules/IO/ImageBase/src/itkImageIOBase.cxx
  Modules/IO/ImageBase/src/itkImageIOFactory.cxx
  Modules/Numerics/Statistics/include/itkImageToHistogramFilter.hxx
  Modules/Numerics/Statistics/include/itkMaskedImageToHistogramFilter.hxx
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4.hxx
  Modules/Segmentation/ConnectedComponents/include/itkConnectedComponentImageFilter.hxx
  Modules/Segmentation/SuperPixel/include/itkSLICImageFilter.hxx
Labels: area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style, area:Numerics

#4184 BUG: Use atomic bool to fix race found by thread sanitizer
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
Labels: type:Bug, area:Core

#4225 STYLE: Remove private ObjectFactoryBase member `InitializeFactoryList()`
  Modules/Core/Common/include/itkObjectFactoryBase.h
  Modules/Core/Common/src/itkObjectFactoryBase.cxx
Labels: area:Core, type:Style

#4230 BUG: Fix incorrectly specified expected result in itkIOTransformMINCTest
  Modules/IO/TransformMINC/test/itkIOTransformMINCTest.cxx
Labels: type:Bug, type:Testing, area:IO

#4234 BUG: Remove extra space in CppcheckTargets VERBATIM
  CMake/CppcheckTargets.cmake
Labels: type:Bug, type:Infrastructure

#4231 ENH: Make VectorContainer::size_type public, test nested `vector` types
  Modules/Core/Common/include/itkVectorContainer.h
  Modules/Core/Common/test/itkVectorContainerGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core
