Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-05, with the labels that each got.

#4033 ENH: Update remote modules using the script
  Modules/Remote/Cleaver.remote.cmake
  Modules/Remote/CudaCommon.remote.cmake
  Modules/Remote/Montage.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/ParabolicMorphology.remote.cmake
  Modules/Remote/RLEImage.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
Labels: type:Enhancement, area:Remotes

#4034 ENH: Drop support for MSVC toolset v141 aka Visual Studio 2017
  CMake/itkCompilerChecks.cmake
  Documentation/SupportedCompilers.md
  Modules/Core/Common/include/itkMacro.h
Labels: type:Infrastructure, type:Enhancement, area:Core, area:Documentation

#4035 VXL 2023-04-06 (4cfb87fc)
  Modules/ThirdParty/VNL/src/vxl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/config/cmake/config/VXLIntrospectionConfig.cmake
  Modules/ThirdParty/VNL/src/vxl/core/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_alignment.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_config.h.in
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_sse.h
Labels: type:Infrastructure, area:ThirdParty

#2241 ENH: Set ITK_TEST_OUTPUT_DIR with module path
  CMake/ITKModuleMacros.cmake
Labels: type:Infrastructure, type:Enhancement

#4037 ENH: Update ContinuousIntegration Batch test to use VS2022
  Testing/ContinuousIntegration/AzurePipelinesBatch.yml
Labels: type:Infrastructure, type:Enhancement, type:Testing

#4036 BUG: wasm_type_from_image_type for VariableLengthVector
  Wrapping/Generators/Python/Tests/helpers.py
  Wrapping/Generators/Python/itk/support/helpers.py
Labels: type:Bug, area:Python wrapping, type:Testing

#4040 ENH: Add series_uid arg to imread() for dicom series selection
  Wrapping/Generators/Python/Tests/CMakeLists.txt
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing

#4041 COMP: gcc-13 compatability
  Modules/Filtering/MathematicalMorphology/include/itkMathematicalMorphologyEnums.h
Labels: type:Compiler, area:Filtering

#4044 BUG: Add missing string value for NoTargets enum
  Modules/Filtering/FastMarching/src/itkFastMarchingUpwindGradientImageFilter.cxx
  Modules/Filtering/FastMarching/test/itkFastMarchingUpwindGradientTest.cxx
Labels: type:Bug, type:Testing, area:Filtering

#4049 COMP: Add explicit default copy constructor
  Modules/Core/Common/include/itkShapedImageNeighborhoodRange.h
Labels: type:Compiler, area:Core

#4048 COMP: Disable KWStyle check "error: namespace is wrong" on *.cxx files
  Utilities/KWStyle/ITKOverwrite.txt
Labels: type:Compiler, type:Infrastructure

#4056 ENH: Increase coverage for `itk::ConstantVelocityFieldTransform`
  Modules/Registration/RegistrationMethodsv4/test/CMakeLists.txt
  Modules/Registration/RegistrationMethodsv4/test/itkExponentialImageRegistrationTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Registration, type:Coverage
