Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-06, with the labels that each got.

#4061 GDCM 2023-06-02 (2ea6fd87)
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataDictionary/dicomhdr.html
Labels: area:ThirdParty

#4062 DOC: Add contributing graph to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: type:Documentation

#4060 ENH: Increase coverage for miscellaneous classes
  Modules/Filtering/DisplacementField/test/itkTimeVaryingVelocityFieldIntegrationImageFilterTest.cxx
  Modules/Registration/Common/test/itkMatchCardinalityImageToImageMetricTest.cxx
  Modules/Segmentation/LevelSets/test/itkThresholdSegmentationLevelSetImageFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Filtering, area:Registration, area:Segmentation, type:Coverage

#4065 BUG: CMake, Eigen, pass CMAKE_SYSTEM_VERSION to Eigen
  CMake/itkExternal_Eigen3.cmake
Labels: type:Bug, type:Infrastructure

#4066 COMP: add missing header with GCC 13.1.1
  Modules/Filtering/MathematicalMorphology/src/itkMathematicalMorphologyEnums.cxx
Labels: type:Compiler, area:Filtering

#4052 ENH: refactor LaplacianSharpeningImageFilter
  Examples/Filtering/LaplacianSharpeningImageFilter.cxx
  Modules/Filtering/ImageFeature/include/itkLaplacianSharpeningImageFilter.h
  Modules/Filtering/ImageFeature/include/itkLaplacianSharpeningImageFilter.hxx
  Modules/Filtering/ImageFeature/test/itkLaplacianSharpeningImageFilterTest.cxx
  Modules/Filtering/ImageFeature/wrapping/itkLaplacianSharpeningImageFilter.wrap
Labels: type:Bug, area:Examples, area:Python wrapping, type:Testing, area:Filtering

#4067 COMP: Remove clang unsupported compiler flag from default
  CMake/ITKSetStandardCompilerFlags.cmake
Labels: type:Compiler, type:Infrastructure

#4069 ENH: Use generator/lambda ITK filter for pixel computation
  Modules/Filtering/ImageFeature/include/itkLaplacianSharpeningImageFilter.hxx
Labels: type:Enhancement, area:Filtering

#4070 DOC: Change the Insight Journal handle links to insight-journal links
  Modules/Compatibility/Deprecated/include/itkVectorCentralDifferenceImageFunction.h
  Modules/Filtering/Convolution/include/itkConvolutionImageFilter.h
  Modules/Filtering/ImageGrid/include/itkSliceBySliceImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkMagnitudeAndPhaseToComplexImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkNormalizeToConstantImageFilter.h
  Modules/IO/MRC/src/itkMRCImageIOPrivate.h
  Modules/IO/PhilipsREC/include/itkPhilipsPAR.h
  Modules/IO/PhilipsREC/include/itkPhilipsRECImageIO.h
  Modules/IO/PhilipsREC/include/itkPhilipsRECImageIOFactory.h
  Modules/Nonunit/Review/include/itkAreaClosingImageFilter.h
  Modules/Nonunit/Review/include/itkAreaOpeningImageFilter.h
  Modules/Nonunit/Review/include/itkAttributeMorphologyBaseImageFilter.h
  Modules/Nonunit/Review/include/itkComplexBSplineInterpolateImageFunction.h
  Modules/Nonunit/Review/include/itkConformalFlatteningMeshFilter.h
  Modules/Nonunit/Review/include/itkConstrainedRegionBasedLevelSetFunctionSharedData.h
  Modules/Nonunit/Review/include/itkDirectFourierReconstructionImageToImageFilter.h
  Modules/Nonunit/Review/include/itkDiscreteGaussianDerivativeImageFunction.h
  Modules/Nonunit/Review/include/itkDiscreteGradientMagnitudeGaussianImageFunction.h
  Modules/Nonunit/Review/include/itkDiscreteHessianGaussianImageFunction.h
  Modules/Nonunit/Review/include/itkFastApproximateRankImageFilter.h
  Modules/Nonunit/Review/include/itkGridForwardWarpImageFilter.h
  Modules/Nonunit/Review/include/itkMiniPipelineSeparableImageFilter.h
  Modules/Nonunit/Review/include/itkMultiphaseDenseFiniteDifferenceImageFilter.h
  Modules/Nonunit/Review/include/itkMultiphaseFiniteDifferenceImageFilter.h
  Modules/Nonunit/Review/include/itkMultiphaseSparseFiniteDifferenceImageFilter.h
  Modules/Nonunit/Review/include/itkRegionBasedLevelSetFunction.h
  Modules/Nonunit/Review/include/itkRegionBasedLevelSetFunctionData.h
  Modules/Nonunit/Review/include/itkRegionBasedLevelSetFunctionSharedData.h
  Modules/Nonunit/Review/include/itkRobustAutomaticThresholdCalculator.h
  Modules/Nonunit/Review/include/itkRobustAutomaticThresholdImageFilter.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseDenseLevelSetImageFilter.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseLevelSetFunction.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseLevelSetFunctionData.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseSparseLevelSetImageFilter.h
  Modules/Nonunit/Review/include/itkScalarRegionBasedLevelSetFunction.h
  Modules/Nonunit/Review/include/itkStochasticFractalDimensionImageFilter.h
  Modules/Nonunit/Review/include/itkUnconstrainedRegionBasedLevelSetFunctionSharedData.h
  Modules/Nonunit/Review/include/itkVoxBoCUBImageIO.h
  Modules/Nonunit/Review/include/itkVoxBoCUBImageIOFactory.h
  Modules/Nonunit/Review/include/itkWarpHarmonicEnergyCalculator.h
  Modules/Segmentation/ConnectedComponents/include/itkThresholdMaximumConnectedComponentsImageFilter.h
Labels: type:Documentation, area:Filtering, area:IO, area:Segmentation

#4078 DOC: Consolidate `LaplacianSharpeningImageFilter` `UseImageSpacing` doc
  Modules/Filtering/ImageFeature/include/itkLaplacianSharpeningImageFilter.h
Labels: type:Documentation, area:Filtering

#4080 DOC: Clean up method Doxygen documentation
  Modules/Core/Common/include/itkExtractImageFilter.hxx
  Modules/Core/Common/include/itkVectorContainer.h
  Modules/Core/Common/include/itkVectorContainer.hxx
  Modules/Filtering/ImageGrid/include/itkInterpolateImageFilter.h
  Modules/Filtering/ImageGrid/include/itkInterpolateImageFilter.hxx
  Modules/Nonunit/Review/include/itkDirectFourierReconstructionImageToImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkLevelSetNeighborhoodExtractor.hxx
Labels: type:Documentation, area:Core, area:Filtering, area:Segmentation

#4081 STYLE: Miscellaneous comment cleanup
  Modules/Core/Common/include/itkVectorContainer.hxx
  Modules/Numerics/Optimizers/src/itkSPSAOptimizer.cxx
Labels: area:Core, type:Style, area:Numerics

#4076 ENH: Add macros to `itk::RegistrationParameterScalesEstimator` ivars
  Modules/Numerics/Optimizersv4/include/itkRegistrationParameterScalesEstimator.h
  Modules/Numerics/Optimizersv4/test/itkAutoScaledGradientDescentRegistrationOnVectorTest.cxx
Labels: type:Enhancement, type:Testing, area:Numerics

#4079 STYLE: Make PrintSelf implementation style consistent
  Modules/Core/Common/include/itkBinaryThresholdSpatialFunction.hxx
  Modules/Core/Common/include/itkGaussianDerivativeSpatialFunction.hxx
  Modules/Core/Common/include/itkGaussianSpatialFunction.hxx
  Modules/Core/ImageFunction/include/itkGaussianBlurImageFunction.hxx
  Modules/Core/ImageFunction/include/itkGaussianDerivativeImageFunction.hxx
  Modules/Core/ImageFunction/include/itkGaussianInterpolateImageFunction.hxx
  Modules/Filtering/BinaryMathematicalMorphology/include/itkBinaryClosingByReconstructionImageFilter.hxx
  Modules/Filtering/BinaryMathematicalMorphology/include/itkBinaryOpeningByReconstructionImageFilter.hxx
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldJacobianDeterminantFilter.hxx
  Modules/Filtering/DistanceMap/include/itkContourDirectedMeanDistanceImageFilter.hxx
  Modules/Filtering/DistanceMap/include/itkContourMeanDistanceImageFilter.hxx
  Modules/Filtering/DistanceMap/include/itkIsoContourDistanceImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkDerivativeImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkDiscreteGaussianDerivativeImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkHoughTransform2DCirclesImageFilter.hxx
  Modules/Filtering/ImageGradient/include/itkVectorGradientMagnitudeImageFilter.hxx
  Modules/Filtering/ImageLabel/include/itkBinaryContourImageFilter.hxx
  Modules/Filtering/ImageSources/include/itkGaussianImageSource.hxx
  Modules/Filtering/LabelMap/include/itkBinaryFillholeImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryGrindPeakImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryImageToShapeLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryImageToStatisticsLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryReconstructionByDilationImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryReconstructionByErosionImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryShapeKeepNObjectsImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryShapeOpeningImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryStatisticsKeepNObjectsImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkBinaryStatisticsOpeningImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkClosingByReconstructionImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkDoubleThresholdImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleConnectedClosingImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleConnectedOpeningImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleFillholeImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkGrayscaleGrindPeakImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkHConcaveImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkHConvexImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkHMaximaImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkHMinimaImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkOpeningByReconstructionImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkReconstructionImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkRegionalMaximaImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkRegionalMinimaImageFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkValuedRegionalExtremaImageFilter.hxx
  Modules/Filtering/Smoothing/include/itkDiscreteGaussianImageFilter.hxx
  Modules/Nonunit/Review/include/itkAreaClosingImageFilter.h
  Modules/Nonunit/Review/include/itkAreaOpeningImageFilter.h
  Modules/Nonunit/Review/include/itkAttributeMorphologyBaseImageFilter.hxx
  Modules/Nonunit/Review/include/itkDirectFourierReconstructionImageToImageFilter.hxx
  Modules/Nonunit/Review/include/itkDiscreteGaussianDerivativeImageFunction.hxx
  Modules/Nonunit/Review/include/itkDiscreteGradientMagnitudeGaussianImageFunction.hxx
  Modules/Nonunit/Review/include/itkDiscreteHessianGaussianImageFunction.hxx
  Modules/Segmentation/LevelSets/include/itkLevelSetNeighborhoodExtractor.hxx
  Modules/Segmentation/Watersheds/include/itkMorphologicalWatershedFromMarkersImageFilter.hxx
  Modules/Segmentation/Watersheds/include/itkMorphologicalWatershedImageFilter.hxx
Labels: area:Core, area:Filtering, area:Segmentation, type:Style

#4077 ENH: Increase `RegistrationParameterScalesFromPhysicalShift` coverage
  Modules/Numerics/Optimizersv4/test/itkAutoScaledGradientDescentRegistrationOnVectorTest.cxx
Labels: type:Enhancement, type:Testing, type:Coverage, area:Numerics

#4072 ENH: Restore integer support for laplacian sharpening
  Examples/Filtering/LaplacianSharpeningImageFilter.cxx
  Modules/Filtering/ImageFeature/include/itkLaplacianSharpeningImageFilter.h
  Modules/Filtering/ImageFeature/include/itkLaplacianSharpeningImageFilter.hxx
Labels: type:Enhancement, area:Examples, area:Filtering

#4086 BUG: Add semicolon after `ITK_EXERCISE_BASIC_OBJECT_METHODS` call
  Modules/Numerics/Optimizersv4/test/itkAutoScaledGradientDescentRegistrationOnVectorTest.cxx
Labels: type:Bug, type:Testing, area:Numerics

#4083 STYLE: MultiTransform iterate over m_TransformQueue by range-based `for`
  Modules/Core/Transform/include/itkMultiTransform.hxx
Labels: area:Core, type:Style

#4085 PERF: Use `std::move` inside `itkSetMacro`, declare parameter non-const
  Modules/Core/Common/include/itkMacro.h
  Modules/IO/XML/include/itkDOMNode.h
  Modules/IO/XML/include/itkDOMTextNode.h
Labels: type:Performance, area:Core, area:IO

#4087 COMP: Use full ::itk namespace in itkMacro.h
  Modules/Core/Common/include/itkMacro.h
Labels: type:Compiler, area:Core

#4089 DOC: Change the Insight Journal handle links to insight-journal links
  Modules/Nonunit/Review/include/itkAttributeMorphologyBaseImageFilter.hxx
  Modules/Nonunit/Review/include/itkConformalFlatteningMeshFilter.hxx
  Modules/Nonunit/Review/include/itkMiniPipelineSeparableImageFilter.hxx
  Modules/Remote/Ultrasound.remote.cmake
Labels: type:Documentation, area:Remotes

#4088 STYLE: Increase `itk::LabelStatisticsImageFilter::PrintSelf` consistency
  Modules/Filtering/ImageStatistics/include/itkLabelStatisticsImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkLabelStatisticsImageFilter.hxx
Labels: area:Filtering, type:Style

#4091 DOC: Remove class self reference in Doxygen `\sa` command
  Modules/Numerics/Statistics/include/itkHistogramToRunLengthFeaturesFilter.h
  Modules/Numerics/Statistics/include/itkScalarImageToRunLengthFeaturesFilter.h
  Modules/Numerics/Statistics/include/itkScalarImageToRunLengthMatrixFilter.h
Labels: type:Documentation, area:Numerics

#4090 DOC: Clean up `itk::ConformalFlatteningMeshFilter` Doxygen documentation
  Modules/Nonunit/Review/include/itkConformalFlatteningMeshFilter.h
  Modules/Nonunit/Review/include/itkConformalFlatteningMeshFilter.hxx
Labels: type:Documentation

#4092 DOC: Remove duplicate "type" in alias documentation
  Modules/Core/Common/include/itkNeighborhood.h
  Modules/Core/ImageAdaptors/test/itkVectorImageToImageAdaptorTest.cxx
  Modules/Filtering/FFT/include/itkComplexToComplexFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWComplexToComplexFFTImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkAdaptiveHistogramEqualizationImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkBinaryBallStructuringElement.h
  Modules/Filtering/MathematicalMorphology/include/itkBinaryCrossStructuringElement.h
  Modules/Filtering/MathematicalMorphology/include/itkFlatStructuringElement.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseDenseLevelSetImageFilter.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseSparseLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkSegmentationLevelSetImageFilter.h
  Modules/Video/BridgeOpenCV/include/itkOpenCVImageBridge.h
  Modules/Video/BridgeOpenCV/include/itkOpenCVVideoCapture.h
Labels: type:Documentation, type:Testing, area:Core, area:Filtering, area:Segmentation, area:Video
