Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-11, with the labels that each got.

#4277 VXL 2023-11-01 (6456d120)
  Modules/ThirdParty/VNL/src/vxl/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_sparse_matrix.hxx
  Modules/ThirdParty/VNL/src/vxl/vcl/vcl_msvc_warnings.h
Labels: type:Infrastructure, area:ThirdParty

#4275 GDCM 2023-10-30 (b578ec5d)
  Modules/ThirdParty/GDCM/src/gdcm/CMakeLists.txt
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataDictionary/gdcmPrivateDefaultDicts.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataDictionary/privatedicts.xml
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataStructureAndEncodingDefinition/gdcmPreamble.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataStructureAndEncodingDefinition/gdcmVR.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/InformationObjectDefinition/gdcmIODEntry.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmStreamImageWriter.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Utilities/gdcm_charls.h
  Modules/ThirdParty/GDCM/src/gdcm/Utilities/gdcmext/csa.c
  Modules/ThirdParty/GDCM/src/gdcm/Utilities/gdcmext/mec_mr3_dict.c
  Modules/ThirdParty/GDCM/src/gdcm/Utilities/gdcmext/mec_mr3_io.c
  Modules/ThirdParty/GDCM/src/gdcm/Utilities/gdcmjpeg/README.GDCM.txt
Labels: type:Infrastructure, area:ThirdParty, type:Data

#4229 ENH: Github Action to Spell Check Comments
  .github/workflows/itk_dict.txt
  .github/workflows/spell-check-comments.yml
Labels: type:Infrastructure, type:Enhancement

#4271 DOC: Add link to documentation in `README`
  README.md
Labels: type:Documentation

#4272 ENH: Add RTTI to `itk::FEMScatteredDataPointSetToImageFilter`
  Modules/Numerics/FEM/include/itkFEMScatteredDataPointSetToImageFilter.h
Labels: type:Enhancement, area:Numerics

#4288 Download page releases
  .gitattributes
  Documentation/Maintenance/Release.md
  Documentation/docs/conf.py
  Documentation/docs/contributing/code_of_conduct.md
  Documentation/docs/download.md
  Documentation/docs/releases/5.3.md
  Documentation/docs/releases/5.4rc01.md
  README.md
  Utilities/Maintenance/DownloadLinksCookieCutter/{{cookiecutter.output_directory}}/ReleaseDownloadLinks.html
  Utilities/Maintenance/DownloadLinksCookieCutter/{{cookiecutter.output_directory}}/ReleaseDownloadLinks.md
Labels: type:Infrastructure, area:Python wrapping, area:Documentation

#4292 ENH: Remove ContentLinkSynchronization.sh script
  Documentation/Maintenance/Release.md
  Utilities/Maintenance/ContentLinkSynchronization.sh
Labels: type:Infrastructure, type:Enhancement, area:Documentation

#4293 Gdcm 2023 11 06
  Modules/ThirdParty/GDCM/UpdateFromUpstream.sh
  Modules/ThirdParty/GDCM/src/gdcm/.codespellrc
Labels: area:ThirdParty

#4295 DOC: Improve documentation contribution documents
  Documentation/docs/README.md
Labels: type:Documentation, area:Documentation

#4296 DOC: Clarify requirements installation for docs autobuild
  Documentation/docs/README.md
Labels: type:Documentation, area:Documentation

#4297 Migration guide sphinx
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Documentation/docs/index.md
  Documentation/docs/migration_guides/index.md
  Documentation/docs/migration_guides/itk_5_migration_guide.md
Labels: area:Documentation

#4299 DOC: Add external module continuous integration discussion
  Documentation/docs/contributing/index.md
  Documentation/docs/contributing/module_workflows.md
Labels: type:Documentation, area:Documentation

#4279 STYLE: Increase `itk::ListSample::PrintSelf` consistency
  Modules/Numerics/Statistics/include/itkListSample.hxx
Labels: type:Style, area:Numerics

#4281 ENH: Increase coverage for `ìtk::BSplineTransformInitializer`
  Modules/Core/Transform/test/itkBSplineTransformInitializerTest1.cxx
Labels: type:Enhancement, type:Testing, area:Core, type:Coverage

#4284 STYLE: Prefer using testing macros in miscellaneous tests
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkDiscreteGaussianCurvatureQuadEdgeMeshFilterTest.cxx
  Modules/Numerics/Optimizersv4/test/itkAutoScaledGradientDescentRegistrationTest.cxx
  Modules/Numerics/Optimizersv4/test/itkGradientDescentOptimizerBasev4Test.cxx
Labels: type:Testing, area:Filtering, type:Style, area:Numerics

#4290 STYLE: ResetNextSeed GTest should not use instance for GetNextSeed call
  Modules/Core/Common/test/itkMersenneTwisterRandomVariateGeneratorGTest.cxx
Labels: type:Testing, area:Core, type:Style

#4283 ENH: Increase coverage for `itk::TransformGeometryImageFilter`
  Modules/Core/Transform/test/itkTransformGeometryImageFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Core, type:Coverage

#4289 ENH: Add `get()` member function to itk::SmartPointer
  Modules/Core/Common/include/itkSmartPointer.h
  Modules/Core/Common/test/itkSmartPointerGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#4294 ENH: Add ULL type to ConnectedComponentImageFilter wrapping
  Modules/Segmentation/ConnectedComponents/wrapping/itkConnectedComponentImageFilter.wrap
Labels: type:Enhancement, area:Python wrapping, area:Segmentation

#4298 DOC: Migrate and update docs for building ITK Python wheels
  Documentation/docs/contributing/index.md
  Documentation/docs/contributing/module_workflows.md
  Documentation/docs/contributing/python_packaging.md
Labels: type:Documentation, area:Python wrapping, area:Documentation

#4303 Notice markdown
  Documentation/docs/contributing/module_workflows.md
  Documentation/docs/index.md
  Documentation/docs/licenses.md
  NOTICE
Labels: area:Documentation

#4304 DOC: Add CDash link
  Documentation/docs/index.md
Labels: type:Documentation, area:Documentation

#4305 Compiler docs
  Documentation/docs/index.md
  Documentation/docs/supported_compilers.md
Labels: area:Documentation

#4285 ENH: Increase `itk::DiscreteGaussianCurvatureQuadEdgeMeshFilter` coverage
  Modules/Filtering/QuadEdgeMeshFiltering/test/itkDiscreteGaussianCurvatureQuadEdgeMeshFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Filtering, type:Coverage

#4301 ENH: ShapedImageNeighborhoodRange support C-array of offsets (by C++17)
  Modules/Core/Common/include/itkShapedImageNeighborhoodRange.h
  Modules/Core/Common/test/itkShapedImageNeighborhoodRangeGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#4309 BUG: Add pickle support for itk.Matrix and itk.ImageRegion
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/Tests/extras.py
Labels: type:Bug, area:Python wrapping, type:Testing

#4319 DOC: Add documentation contribution docs to the docs
  Documentation/docs/README.md
  Documentation/docs/conf.py
  Documentation/docs/contributing/index.md
Labels: type:Documentation, area:Python wrapping, area:Documentation

#4306 Versioned branch RTD creation
  Documentation/Maintenance/Release.md
  Documentation/docs/README.md
Labels: area:Documentation

#4321 BUG: Fix `CachedCurrentPosition` ivar initialization numeric traits arg
  Modules/Numerics/Optimizersv4/src/itkSingleValuedNonLinearVnlOptimizerv4.cxx
Labels: type:Bug, area:Numerics

#4322 ENH: Increase the `itk::SingleValuedNonLinearVnlOptimizerv4` coverage
  Modules/Numerics/Optimizersv4/test/itkAmoebaOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkLBFGSOptimizerv4Test.cxx
Labels: type:Enhancement, type:Testing, type:Coverage, area:Numerics

#4324 ENH: Increase `itk::ShapeOpeningLabelMapFilter` coverage
  Modules/Filtering/LabelMap/test/itkShapeOpeningLabelMapFilterTest1.cxx
Labels: type:Enhancement, type:Testing, area:Filtering, type:Coverage

#4310 ENH: Add `Crop` unit tests to itkImageRegionGTest
  Modules/Core/Common/test/itkImageRegionGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#4316 DOC: Improve `itk::GIPLImageIO` brief explanation
  Modules/IO/GIPL/include/itkGiplImageIO.h
Labels: type:Documentation, area:IO

#4307 Remove local `cropPossible` variable from `ImageRegion::Crop`, and three more style improvements
  Modules/Core/Common/include/itkImageRegion.hxx
Labels: area:Core

#4323 ENH: Add test for `itk::XMLFilterWatcher`
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkXMLFilterWatcherTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core

#4327 STYLE: Remove unreachable `break` statements after `return` statements
  Modules/Core/Common/include/itkMultiThreaderBase.h
  Modules/Filtering/FFT/test/itkFFTWComplexToComplexFFTImageFilterTest.cxx
  Modules/Filtering/LabelMap/include/itkStatisticsLabelObject.h
Labels: type:Testing, area:Core, area:Filtering, type:Style

#4328 Replace `std::min` and `std::max` calls with `std::clamp`, in "Colormap", `ProgressTransformer`, `SliceImageFilter`, and `MultiThreaderBase`.
  Modules/Core/Common/src/itkMultiThreaderBase.cxx
  Modules/Core/Common/src/itkProgressTransformer.cxx
  Modules/Filtering/Colormap/include/itkColormapFunction.h
  Modules/Filtering/Colormap/include/itkHSVColormapFunction.hxx
  Modules/Filtering/Colormap/include/itkHotColormapFunction.hxx
  Modules/Filtering/Colormap/include/itkJetColormapFunction.hxx
  Modules/Filtering/ImageGrid/include/itkSliceImageFilter.hxx
Labels: area:Core, area:Filtering

#4332 Minc 2023 11 16
  Modules/ThirdParty/MINC/src/libminc/CMakeLists.txt
  Modules/ThirdParty/MINC/src/libminc/libcommon/ParseArgv.c
  Modules/ThirdParty/MINC/src/libminc/libcommon/minc2_error.c
  Modules/ThirdParty/MINC/src/libminc/libcommon/minc2_error.h
  Modules/ThirdParty/MINC/src/libminc/libcommon/minc_error.c
  Modules/ThirdParty/MINC/src/libminc/libcommon/minc_error.h
  Modules/ThirdParty/MINC/src/libminc/libcommon/time_stamp.c
  Modules/ThirdParty/MINC/src/libminc/libcommon/time_stamp.h
  Modules/ThirdParty/MINC/src/libminc/libsrc/dim_conversion.c
  Modules/ThirdParty/MINC/src/libminc/libsrc/hdf_convenience.c
  Modules/ThirdParty/MINC/src/libminc/libsrc/image_conversion.c
  Modules/ThirdParty/MINC/src/libminc/libsrc/minc.h
  Modules/ThirdParty/MINC/src/libminc/libsrc/minc_basic.h
  Modules/ThirdParty/MINC/src/libminc/libsrc/minc_convenience.c
  Modules/ThirdParty/MINC/src/libminc/libsrc/minc_private.h
  Modules/ThirdParty/MINC/src/libminc/libsrc/minc_routines.h
  Modules/ThirdParty/MINC/src/libminc/libsrc/minc_simple.c
  Modules/ThirdParty/MINC/src/libminc/libsrc/minc_structures.h
  Modules/ThirdParty/MINC/src/libminc/libsrc/minc_useful.h
  Modules/ThirdParty/MINC/src/libminc/libsrc/minc_varlists.h
  Modules/ThirdParty/MINC/src/libminc/libsrc/nd_loop.c
  Modules/ThirdParty/MINC/src/libminc/libsrc/nd_loop.h
  Modules/ThirdParty/MINC/src/libminc/libsrc/netcdf_convenience.c
  Modules/ThirdParty/MINC/src/libminc/libsrc/strdup.c
  Modules/ThirdParty/MINC/src/libminc/libsrc/type_limits.h
  Modules/ThirdParty/MINC/src/libminc/libsrc/value_conversion.c
  Modules/ThirdParty/MINC/src/libminc/libsrc/voxel_loop.c
  Modules/ThirdParty/MINC/src/libminc/libsrc/voxel_loop.h
  Modules/ThirdParty/MINC/src/libminc/libsrc2/datatype.c
  Modules/ThirdParty/MINC/src/libminc/libsrc2/dimension.c
  Modules/ThirdParty/MINC/src/libminc/libsrc2/grpattr.c
  Modules/ThirdParty/MINC/src/libminc/libsrc2/hyper.c
  Modules/ThirdParty/MINC/src/libminc/libsrc2/m2util.c
  Modules/ThirdParty/MINC/src/libminc/libsrc2/minc2_api.h
  Modules/ThirdParty/MINC/src/libminc/libsrc2/minc2_private.h
  Modules/ThirdParty/MINC/src/libminc/libsrc2/record.c
  Modules/ThirdParty/MINC/src/libminc/libsrc2/volprops.c
  Modules/ThirdParty/MINC/src/libminc/libsrc2/volume.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Geometry/transforms.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Include/volume_io/arrays.h
  Modules/ThirdParty/MINC/src/libminc/volume_io/MNI_formats/gen_xf_io.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Prog_utils/files.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Prog_utils/print.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Prog_utils/time.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Volumes/evaluate.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Volumes/input_mnc2.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Volumes/output_mnc.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Volumes/output_mnc2.c
  Modules/ThirdParty/MINC/src/libminc/volume_io/Volumes/volumes.c
Labels: type:Infrastructure, area:ThirdParty

#4335 Maint docs
  Documentation/Maintenance/Introduction.md
  Documentation/docs/contributing/dashboard.md
  Documentation/docs/contributing/index.md
  Documentation/docs/index.md
Labels: area:Documentation

#4337 DOC: Add GNU Guix package installation instruction
  Documentation/docs/download.md
Labels: type:Documentation, area:Documentation

#4336 Data archive docs for 5.4
  Documentation/Maintenance/Release.md
  Utilities/Maintenance/SourceTarball.bash
Labels: type:Infrastructure, area:Documentation

#4339 DOC: Add missing sphinx-autobuild link
  Documentation/docs/README.md
Labels: type:Documentation, area:Documentation

#4342 STYLE: Use the superclass name in itkTypeMacro
  Modules/IO/BMP/include/itkBMPImageIO.h
  Modules/IO/GDCM/include/itkGDCMImageIO.h
  Modules/IO/GE/include/itkGE4ImageIO.h
  Modules/IO/GE/include/itkGE5ImageIO.h
  Modules/IO/GE/include/itkGEAdwImageIO.h
  Modules/IO/GIPL/include/itkGiplImageIO.h
  Modules/IO/IPL/include/itkIPLCommonImageIO.h
  Modules/IO/ImageBase/include/itkImageIOBase.h
  Modules/IO/MINC/include/itkMINCImageIO.h
  Modules/IO/Meta/include/itkMetaImageIO.h
  Modules/IO/NIFTI/include/itkNiftiImageIO.h
  Modules/IO/PhilipsREC/include/itkPhilipsPAR.h
  Modules/IO/PhilipsREC/include/itkPhilipsRECImageIO.h
  Modules/IO/Siemens/include/itkSiemensVisionImageIO.h
  Modules/IO/TransformBase/include/itkTransformIOBase.h
  Modules/IO/TransformInsightLegacy/include/itkTxtTransformIO.h
  Modules/IO/TransformMatlab/include/itkMatlabTransformIO.h
  Modules/Nonunit/Review/include/itkVoxBoCUBImageIO.h
  Modules/Numerics/Optimizersv4/include/itkConjugateGradientLineSearchOptimizerv4.h
  Modules/Numerics/Optimizersv4/include/itkExhaustiveOptimizerv4.h
  Modules/Numerics/Optimizersv4/include/itkMultiStartOptimizerv4.h
  Modules/Numerics/Optimizersv4/include/itkOnePlusOneEvolutionaryOptimizerv4.h
  Modules/Video/BridgeOpenCV/include/itkOpenCVVideoIO.h
  Modules/Video/BridgeVXL/include/itkVXLVideoIO.h
  Modules/Video/IO/include/itkVideoIOBase.h
Labels: area:IO, area:Video, type:Style, area:Numerics

#4333 `MersenneTwisterGlobals` replace `std::recursive_mutex` with `std::mutex`, rename data member from "Lock" to "Mutex"
  Modules/Core/Common/src/itkMersenneTwisterRandomVariateGenerator.cxx
Labels: area:Core

#4254 ENH: Add `itkImageRandomConstIteratorWithIndexGTest` unit test
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkImageRandomConstIteratorWithIndexGTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core

#4145 ENH: Add boolean macro to `TransformFileWriterTemplate::m_AppendMode`
  Modules/IO/TransformBase/include/itkTransformFileWriter.h
  Modules/IO/TransformBase/src/itkTransformFileWriterSpecializations.cxx
  Modules/IO/TransformBase/test/itkTransformFileWriterTemplateTest.cxx
Labels: type:Enhancement, type:Testing, area:IO

#4343 BUG: Remove `numeric_limits<IndexValueType>::max` from ImageRegion GTest
  Modules/Core/Common/test/itkImageRegionGTest.cxx
Labels: type:Bug, type:Testing, area:Core

#4346 PERF: Fixed COPY_INSTEAD_OF_MOVE in MultiThreaderBase
  Modules/Core/Common/include/itkMultiThreaderBase.h
Labels: type:Performance, area:Core

#4345 STYLE: Remove unused local `ImageRegion` variables
  Modules/Core/Common/include/itkZeroFluxNeumannBoundaryCondition.hxx
  Modules/Core/SpatialObjects/test/itkSpatialObjectToImageStatisticsCalculatorTest.cxx
  Modules/Filtering/BinaryMathematicalMorphology/include/itkBinaryDilateImageFilter.hxx
  Modules/Filtering/BinaryMathematicalMorphology/include/itkBinaryErodeImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkMirrorPadImageFilter.hxx
  Modules/Filtering/ImageGrid/test/itkResampleImageTest8.cxx
  Modules/Filtering/ImageStatistics/include/itkProjectionImageFilter.hxx
  Modules/Numerics/Statistics/include/itkUniformRandomSpatialNeighborSubsampler.hxx
  Modules/Registration/Common/include/itkCompareHistogramImageToImageMetric.hxx
  Modules/Segmentation/SuperPixel/include/itkSLICImageFilter.hxx
  Modules/Segmentation/Watersheds/include/itkWatershedSegmenter.hxx
  Modules/Video/Core/test/itkImageToVideoFilterTest.cxx
  Modules/Video/Core/test/itkVectorImageToVideoTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:Registration, area:Segmentation, area:Video, type:Style, area:Numerics

#4348 COMP: Add missing include (gcc13.2/clang17 build)
  Modules/Core/GPUFiniteDifference/include/itkGPUFiniteDifferenceFilterEnum.h
Labels: type:Compiler, area:Core

#4341 STYLE: Remove unnecessary whitespaces in Release doc code blocks
  Documentation/Maintenance/Release.md
Labels: type:Style, area:Documentation

#4317 DOC: Add ITK scientific ecosystem section to documentation
  Documentation/docs/index.md
  Documentation/docs/scientific_ecosystem/itk_ecosystem.md
Labels: type:Documentation, area:Documentation

#4308 DOC: Transfer the wiki FAQ page to Markdown documentation
  Documentation/docs/index.md
  Documentation/docs/learn/faq.md
Labels: type:Documentation, area:Documentation

#4344 PERF: Make `ImageRegion` trivially copyable, remove inheritance (`ITK_FUTURE_LEGACY_REMOVE`)
  Modules/Core/Common/include/itkImageRegion.h
  Modules/Core/Common/include/itkImageRegion.hxx
  Modules/Core/Common/test/itkImageRegionGTest.cxx
Labels: type:Performance, type:Testing, area:Core

#4320 DOC: Add Python Quick Start guide
  Documentation/docs/index.md
  Documentation/docs/learn/python_quick_start.md
Labels: type:Documentation, area:Python wrapping, area:Documentation

#4330 ENH: Add a 3D regression test for FillholeImageFilter
  Modules/Filtering/LabelMap/test/Baseline/fillhole_test_3D_0.nrrd.cid
  Modules/Filtering/LabelMap/test/Baseline/fillhole_test_3D_1.nrrd.cid
  Modules/Filtering/LabelMap/test/CMakeLists.txt
  Modules/Filtering/LabelMap/test/Input/fillhole_test_3D.nrrd.cid
  Modules/Filtering/LabelMap/test/itkBinaryFillholeImageFilterTest1.cxx
  Modules/Filtering/LabelMap/wrapping/test/BinaryFillholeImageFilterTest.py
  Modules/Filtering/LabelMap/wrapping/test/CMakeLists.txt
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Filtering
