Repository InsightSoftwareConsortium/ITK, pull requests merged in 2023-08, with the labels that each got.

#4137 DOC: Improve consistency when referring to the issue tracker in README
  README.md
Labels: type:Documentation

#4121 STYLE: Remove redundant GetPrimaryOutput() calls from `ProcessObject`
  Modules/Core/Common/src/itkProcessObject.cxx
Labels: area:Core, type:Style

#4082 STYLE: Remove redundant checks in `ProcessObject::VerifyPreconditions()`
  Modules/Core/Common/src/itkProcessObject.cxx
Labels: area:Core, type:Style

#4139 DOC: itkGetObjectMacro member functions return a raw (not smart) pointer
  Modules/Core/Common/include/itkMacro.h
Labels: type:Documentation, area:Core

#4141 zlib-ng 2023-08-07 (73bbb54c)
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/CMakeLists.txt
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/arm_features.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/chunkset_neon.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/crc32_acle.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/neon_intrins.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/riscv/adler32_rvv.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/riscv/compare256_rvv.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/riscv/riscv_features.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/dfltcc_detail.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_avx2_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_avx512_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_avx512_vnni.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_ssse3.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/chunkset_avx2.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/chunkset_ssse3.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/crc32_pclmulqdq_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/insert_string_sse42.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/x86_intrins.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/detect-arch.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/detect-arch.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/detect-intrinsics.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cpu_features.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/deflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/deflate.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/fallback_builtins.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/functable.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inftrees.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/insert_string_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zbuild.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zendian.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zlib.h.in
Labels: type:Infrastructure, area:ThirdParty

#4140 DOC: Fix `MetaDataObject::EncapsulateMetaData` empty return doc warning
  Modules/Core/Common/include/itkMetaDataObject.h
Labels: area:Core

#4144 STYLE: Use the `itkNameOfTestExecutableMacro` macro in tests
  Modules/Bridge/VtkGlue/test/itkImageToVTKImageFilterRGBTest.cxx
  Modules/Bridge/VtkGlue/test/itkVtkConnectedComponentImageFilterTest.cxx
  Modules/Bridge/VtkGlue/test/itkVtkMedianFilterTest.cxx
  Modules/Core/Common/test/itkDownCastTest.cxx
  Modules/Filtering/FFT/test/itkFFTWComplexToComplexFFTImageFilterTest.cxx
  Modules/Filtering/FFT/test/itkForward1DFFTImageFilterTest.cxx
  Modules/IO/PhilipsREC/test/itkPhilipsRECImageIOOrientationTest.cxx
  Modules/IO/PhilipsREC/test/itkPhilipsRECImageIOPrintTest.cxx
  Modules/IO/PhilipsREC/test/itkPhilipsRECImageIOTest.cxx
  Modules/Nonunit/IntegratedTest/test/itkBioRadImageIOTest.cxx
  Modules/Nonunit/IntegratedTest/test/itkImageToHistogramFilterTest4.cxx
  Modules/Nonunit/IntegratedTest/test/itkMaskedImageToHistogramFilterTest1.cxx
  Modules/Nonunit/Review/test/itkFastApproximateRankImageFilterTest.cxx
  Modules/Numerics/FEM/test/itkFEMSolverHyperbolicTest.cxx
  Modules/Registration/FEM/test/itkFEMFiniteDifferenceFunctionLoadTest.cxx
  Modules/Registration/FEM/test/itkPhysicsBasedNonRigidRegistrationMethodTest.cxx
  Modules/Registration/GPUPDEDeformable/test/itkGPUDemonsRegistrationFilterTest.cxx
  Modules/Registration/GPUPDEDeformable/test/itkGPUDemonsRegistrationFilterTest2.cxx
  Modules/Video/BridgeOpenCV/test/itkOpenCVImageBridgeGrayScaleTest.cxx
  Modules/Video/BridgeOpenCV/test/itkOpenCVImageBridgeRGBTest.cxx
  Modules/Video/BridgeOpenCV/test/itkOpenCVVideoCaptureTest.cxx
  Modules/Video/BridgeVXL/test/vidl_itk_istreamTest.cxx
Labels: type:Testing, area:Bridge, area:Core, area:Filtering, area:IO, area:Registration, area:Video, type:Style, area:Numerics

#4143 BUG: Return exit failure when insufficient test arguments are provided
  Modules/Registration/GPUPDEDeformable/test/itkGPUDemonsRegistrationFilterTest2.cxx
Labels: type:Bug, type:Testing, area:Registration

#4148 ENH: Increase coverage for miscellaneous classes
  Modules/IO/TransformBase/test/itkTransformFileReaderTemplateTest.cxx
  Modules/IO/TransformBase/test/itkTransformFileWriterTemplateTest.cxx
  Modules/Nonunit/IntegratedTest/test/itkBioRadImageIOTest.cxx
  Modules/Nonunit/Review/test/itkFastApproximateRankImageFilterTest.cxx
  Modules/Numerics/FEM/test/itkFEMScatteredDataPointSetToImageFilterTest.cxx
  Modules/Registration/PDEDeformable/test/itkDemonsRegistrationFilterTest.cxx
  Modules/Registration/PDEDeformable/test/itkFastSymmetricForcesDemonsRegistrationFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:IO, area:Registration, type:Coverage, area:Numerics

#4147 STYLE: Use exception checking macros in tests
  Modules/Filtering/FFT/test/itkFFTWComplexToComplexFFTImageFilterTest.cxx
  Modules/IO/PhilipsREC/test/itkPhilipsRECImageIOOrientationTest.cxx
  Modules/IO/PhilipsREC/test/itkPhilipsRECImageIOPrintTest.cxx
  Modules/IO/PhilipsREC/test/itkPhilipsRECImageIOTest.cxx
  Modules/Nonunit/IntegratedTest/test/itkBioRadImageIOTest.cxx
  Modules/Nonunit/IntegratedTest/test/itkImageToHistogramFilterTest4.cxx
  Modules/Nonunit/IntegratedTest/test/itkMaskedImageToHistogramFilterTest1.cxx
  Modules/Numerics/FEM/test/itkFEMSolverHyperbolicTest.cxx
  Modules/Registration/PDEDeformable/test/itkDemonsRegistrationFilterTest.cxx
  Modules/Registration/PDEDeformable/test/itkFastSymmetricForcesDemonsRegistrationFilterTest.cxx
  Modules/Video/BridgeOpenCV/test/itkOpenCVImageBridgeRGBTest.cxx
Labels: type:Testing, area:Filtering, area:IO, area:Registration, area:Video, type:Style, area:Numerics

#4146 STYLE: Remove test input argument checking if no argument is required
  Modules/IO/TransformBase/test/itkTransformFileReaderTemplateTest.cxx
  Modules/IO/TransformBase/test/itkTransformFileWriterTemplateTest.cxx
Labels: type:Testing, area:IO, type:Style

#4150 STYLE: Fix ITK coding style inconsistency linter error
  Modules/Nonunit/IntegratedTest/test/itkBioRadImageIOTest.cxx
Labels: type:Testing, type:Style

#4151 ENH: Ensure 3D multi-components conversion in image_from_vtk_image is tested
  Wrapping/Generators/Python/Tests/extras.py
Labels: type:Enhancement, area:Python wrapping, type:Testing

#4154 COMP: Adjust check that all arguments of MakePoint/Vector have same type
  Modules/Core/Common/include/itkPoint.h
  Modules/Core/Common/include/itkVector.h
Labels: type:Compiler, area:Core

#4155 STYLE: Honor the filter name in source code filename
  Modules/Segmentation/DeformableMesh/src/CMakeLists.txt
  Modules/Segmentation/DeformableMesh/src/itkDeformableSimplexMesh3DGradientConstraintForceFilter.cxx
Labels: type:Infrastructure, area:Segmentation, type:Style

#4156 ENH: Increase coverage for miscellaneous classes
  Modules/Core/Common/test/itkDecoratorTest.cxx
  Modules/Core/Common/test/itkNumericTraitsTest.cxx
  Modules/Core/ImageFunction/test/itkNeighborhoodOperatorImageFunctionTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshPolygonCellTest.cxx
  Modules/Core/SpatialObjects/test/itkSpatialObjectDuplicatorTest.cxx
  Modules/Filtering/BinaryMathematicalMorphology/test/itkBinaryDilateImageFilterTest.cxx
  Modules/Filtering/BinaryMathematicalMorphology/test/itkBinaryErodeImageFilterTest.cxx
  Modules/Filtering/Denoising/test/itkPatchBasedDenoisingImageFilterDefaultTest.cxx
  Modules/Filtering/Denoising/test/itkPatchBasedDenoisingImageFilterTest.cxx
  Modules/Filtering/ImageGrid/test/itkPasteImageFilterGTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleFunctionDilateImageFilterTest.cxx
  Modules/Filtering/MathematicalMorphology/test/itkGrayscaleFunctionErodeImageFilterTest.cxx
  Modules/Numerics/FEM/test/itkFEMSolverHyperbolicTest.cxx
  Modules/Segmentation/DeformableMesh/test/itkDeformableSimplexMesh3DFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Core, area:Filtering, area:Segmentation, type:Coverage, area:Numerics

#4165 COMP: Remove pkg_resources import from base.py
  Wrapping/Generators/Python/itk/support/base.py
Labels: type:Compiler, area:Python wrapping

#4152 STYLE: ImageSourceCommonGlobals default member initializer, Rule of Zero
  Modules/Core/Common/src/itkImageSourceCommon.cxx
Labels: area:Core

#4168 STYLE: Replace `std::unique_lock` with `std::lock_guard` in ThreadPool
  Modules/Core/Common/include/itkThreadPool.h
  Modules/Core/Common/src/itkThreadPool.cxx
Labels: area:Core, type:Style

#4169 Pygccxml update to v2.4.0
  Modules/ThirdParty/pygccxml/src/UpdatepygccxmlFromUpstream.sh
  Modules/ThirdParty/pygccxml/src/pygccxml/__init__.py
  Modules/ThirdParty/pygccxml/src/pygccxml/declarations/calldef.py
  Modules/ThirdParty/pygccxml/src/pygccxml/declarations/comment.py
  Modules/ThirdParty/pygccxml/src/pygccxml/declarations/decl_factory.py
  Modules/ThirdParty/pygccxml/src/pygccxml/declarations/decl_visitor.py
  Modules/ThirdParty/pygccxml/src/pygccxml/declarations/declaration.py
  Modules/ThirdParty/pygccxml/src/pygccxml/declarations/type_traits.py
  Modules/ThirdParty/pygccxml/src/pygccxml/parser/config.py
  Modules/ThirdParty/pygccxml/src/pygccxml/parser/linker.py
  Modules/ThirdParty/pygccxml/src/pygccxml/parser/scanner.py
  Modules/ThirdParty/pygccxml/src/pygccxml/parser/source_reader.py
  Modules/ThirdParty/pygccxml/src/pygccxml/utils/utils.py
Labels: area:Python wrapping, area:ThirdParty

#4172 STYLE: Replace std::unique_lock with std::lock_guard in Filter.hxx files
  Modules/Filtering/ImageStatistics/include/itkLabelOverlapMeasuresImageFilter.hxx
  Modules/Filtering/ImageStatistics/include/itkLabelStatisticsImageFilter.hxx
  Modules/Numerics/Statistics/include/itkImageToHistogramFilter.hxx
  Modules/Segmentation/ConnectedComponents/include/itkRelabelComponentImageFilter.hxx
Labels: area:Filtering, area:Segmentation, type:Style, area:Numerics

#4167 BUG: Fix `itk::QuadEdgeMeshPolygonCell` test valgrind defect
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshPolygonCellTest.cxx
Labels: type:Bug, type:Testing, area:Core

#4166 ENH: Increase coverage for miscellaneous classes
  Modules/Core/Common/test/itkTimeProbeTest.cxx
  Modules/Core/ImageFunction/test/itkRayCastInterpolateImageFunctionTest.cxx
  Modules/Filtering/ImageFrequency/test/itkFrequencyBandImageFilterTest.cxx
  Modules/Filtering/ImageIntensity/test/itkVectorExpandImageFilterTest.cxx
  Modules/IO/TransformMINC/test/itkMINCTransformAdapterTest.cxx
  Modules/Numerics/Optimizers/test/itkLBFGSBOptimizerTest.cxx
  Modules/Registration/Metricsv4/test/itkANTSNeighborhoodCorrelationImageToImageMetricv4Test.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSimpleImageRegistrationTest.cxx
  Modules/Segmentation/DeformableMesh/test/itkDeformableSimplexMesh3DGradientConstraintForceFilterTest.cxx
Labels: type:Enhancement, type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Coverage, area:Numerics

#4173 Use `lock_guard` in PlatformMultiThreader classes, remove unused `threadId` variables, remove duplicate assignment
  Modules/Core/Common/src/itkPlatformMultiThreaderPosix.cxx
  Modules/Core/Common/src/itkPlatformMultiThreaderWindows.cxx
Labels: area:Core

#4178 DOC: Document `itk::Indent` class methods in header file only
  Modules/Core/Common/src/itkIndent.cxx
Labels: type:Documentation, area:Core
