Repository InsightSoftwareConsortium/ITK, pull requests merged in 2024-04, with the labels that each got.

#4541 ENH: Bump SWIG to 2024-03-26-master
  Modules/Bridge/NumPy/include/itkPyBuffer.hxx
  Modules/Segmentation/SignedDistanceFunction/wrapping/itkPCAShapeSignedDistanceFunction.wrap
  Wrapping/Generators/Python/CMakeLists.txt
  Wrapping/Generators/Python/PyBase/CMakeLists.txt
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/PyUtils/itkPyImageFilter.hxx
  Wrapping/Generators/SwigInterface/CMakeLists.txt
  Wrapping/TypedefMacros.cmake
  Wrapping/macro_files/itk_end_wrap_module.cmake
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, area:Bridge, area:Segmentation

#4538 `FUTURE_LEGACY_REMOVE` BoundaryConditionPointerType, replace with `BoundaryConditionType *`
  Modules/Filtering/Convolution/include/itkConvolutionImageFilterBase.h
  Modules/Filtering/Convolution/include/itkFFTConvolutionImageFilter.h
  Modules/Filtering/FFT/include/itkFFTPadImageFilter.h
  Modules/Filtering/ImageGrid/include/itkPadImageFilter.h
  Modules/Filtering/ImageGrid/include/itkPadImageFilterBase.h
  Modules/Filtering/ImageGrid/include/itkPadImageFilterBase.hxx
Labels: area:Filtering

#4555 ENH: Update remote modules using the script
  Modules/Remote/CudaCommon.remote.cmake
  Modules/Remote/FastBilateral.remote.cmake
  Modules/Remote/MeshToPolyData.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/RLEImage.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
Labels: type:Enhancement, area:Remotes

#4540 STYLE: Use (const) unique_ptr for `SparseFieldLayer::m_HeadNode`
  Modules/Core/Common/include/itkSparseFieldLayer.h
  Modules/Core/Common/include/itkSparseFieldLayer.hxx
Labels: area:Core, type:Style

#4556 GDCM 2024-04-02 (8a6da61b)
  Modules/ThirdParty/GDCM/src/gdcm/Source/Common/CMakeLists.txt
Labels: type:Infrastructure, area:ThirdParty

#4545 STYLE: Allocate local GaussianOperator objects (`oper`) on the stack
  Modules/Core/ImageFunction/test/itkNeighborhoodOperatorImageFunctionTest.cxx
  Modules/Registration/Common/include/itkMultiResolutionPyramidImageFilter.hxx
  Modules/Registration/Common/include/itkRecursiveMultiResolutionPyramidImageFilter.hxx
  Modules/Registration/PDEDeformable/include/itkPDEDeformableRegistrationFilter.hxx
Labels: type:Testing, area:Core, area:Registration, type:Style

#4557 MetaIO 2024-04-03 (ea08147a)
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaImage.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaImage.h
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaObject.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaObject.h
  Modules/ThirdParty/MetaIO/src/MetaIO/src/tests/testMeta3Image.cxx
Labels: area:ThirdParty

#4559 Switch MINC upstream branch from develop to master and update it
  Modules/ThirdParty/MINC/UpdateFromUpstream.sh
  Modules/ThirdParty/MINC/src/libminc/CMakeLists.txt
Labels: type:Infrastructure, area:ThirdParty

#4548 STYLE: Do not declare CumulativeGaussianCostFunction data as pointer
  Modules/Numerics/Optimizers/include/itkCumulativeGaussianCostFunction.h
  Modules/Numerics/Optimizers/src/itkCumulativeGaussianCostFunction.cxx
Labels: type:Style, area:Numerics

#4558 Fixes and improvements for the Python Stable ABI for Windows
  CMake/ITKSetPython3Vars.cmake
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/main_module_ext.i.in
  Wrapping/Generators/Python/module_ext.i.in
  Wrapping/macro_files/itk_end_wrap_module.cmake
Labels: type:Infrastructure, area:Python wrapping

#4560 STYLE: Put local matrix variables in FEM on the stack, remove new/delete
  Modules/Numerics/FEM/src/itkFEMElement2DC0LinearTriangular.cxx
  Modules/Numerics/FEM/src/itkFEMElement2DC0QuadraticTriangular.cxx
  Modules/Numerics/FEM/src/itkFEMElement3DC0LinearTriangular.cxx
  Modules/Numerics/FEM/src/itkFEMElementBase.cxx
Labels: type:Style, area:Numerics

#4563 BUG: Make JPEGImageIO const correct with m_FileName
  Modules/IO/JPEG/include/itkJPEGImageIO.h
  Modules/IO/JPEG/src/itkJPEGImageIO.cxx
Labels: type:Bug, area:IO

#4568 pygccxml update
  Modules/ThirdParty/pygccxml/src/UpdatepygccxmlFromUpstream.sh
  Modules/ThirdParty/pygccxml/src/pygccxml/declarations/container_traits.py
  Modules/ThirdParty/pygccxml/src/pygccxml/declarations/type_traits.py
  Modules/ThirdParty/pygccxml/src/pygccxml/parser/config.py
  Modules/ThirdParty/pygccxml/src/pygccxml/parser/linker.py
  Modules/ThirdParty/pygccxml/src/pygccxml/parser/project_reader.py
  Modules/ThirdParty/pygccxml/src/pygccxml/parser/scanner.py
  Modules/ThirdParty/pygccxml/src/pygccxml/utils/utils.py
Labels: area:Python wrapping, area:ThirdParty

#4567 DoubleConversion 2023-11-01 (15b7e306)
  Modules/ThirdParty/DoubleConversion/src/double-conversion/bignum.cc
  Modules/ThirdParty/DoubleConversion/src/double-conversion/double-to-string.cc
  Modules/ThirdParty/DoubleConversion/src/double-conversion/double-to-string.h
Labels: area:ThirdParty

#4569 COMP: Bump KWStyle to silence boost predefined-identifier warning
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Compiler, type:Infrastructure

#4571 STYLE: Remove unused function
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
Labels: area:IO, type:Style

#4570 COMP: Numerical computation precision limit in resampling
  Examples/Filtering/test/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:Examples

#4572 ENH: Add macOS ARM Python CI
  .github/workflows/macos-arm.yml
Labels: type:Infrastructure, type:Enhancement

#4578 DOC: Add macOS ARM CI badge to README
  README.md
Labels: type:Documentation

#4577 BUG: Fix removal of '-' from patientId
  Modules/IO/GE/src/itkGE5ImageIO.cxx
Labels: type:Bug, area:IO

#4579 ENH: Fix workflow actions warnings linked to `Node.js`
  .github/workflows/apply-clang-format.yml
  .github/workflows/clang-format-linter.yml
  .github/workflows/spell-check-comments.yml
Labels: type:Infrastructure, type:Enhancement

#4576 TEST: Add test for correct value of GetNameOfClass()
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorDeleteCenterVertexTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorJoinFacetTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorJoinVertexTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorSplitEdgeTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorSplitVertexTest.cxx
Labels: type:Testing, area:Core

#4575 COMP: Simplify static array length checking
  Modules/IO/ImageBase/test/itkImageIOBaseTest.cxx
Labels: type:Compiler, type:Testing, area:IO

#4580 COMP: Use the c++ 17 common [[fallthrough]] attribute
  Modules/Core/Common/include/itkMacro.h
  Modules/Filtering/DistanceMap/include/itkFastChamferDistanceImageFilter.hxx
  Modules/IO/Bruker/src/itkBruker2dseqImageIO.cxx
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
Labels: type:Compiler, area:Core, area:Filtering, area:IO

#4573 Castxml linux arm
  Modules/Filtering/FFT/wrapping/CMakeLists.txt
  Modules/Filtering/FFT/wrapping/itkForward1DFFTImageFilter.wrap
  Modules/Filtering/FFT/wrapping/itkInverse1DFFTImageFilter.wrap
  Modules/Filtering/FFT/wrapping/itkVnlForward1DFFTImageFilter.wrap
  Modules/Filtering/FFT/wrapping/itkVnlInverse1DFFTImageFilter.wrap
  Modules/Filtering/LabelMap/wrapping/itkShapeLabelMapFilter.wrap
  Modules/Segmentation/LevelSets/wrapping/itkNarrowBandLevelSetImageFilter.wrap
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: type:Infrastructure, area:Python wrapping, area:Filtering, area:Segmentation

#4582 STYLE: Use gender-neutral language for example documentation
  Modules/Core/Transform/include/itkCompositeTransform.h
Labels: area:Core, type:Style

#4583 STYLE: Use `ITK_TEST_EXPECT_EQUAL` to compare class names in QEMesh
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorDeleteCenterVertexTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorJoinFacetTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorJoinVertexTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorSplitEdgeTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorSplitVertexTest.cxx
Labels: type:Testing, area:Core, type:Style

#4584 ENH: Fix macOS ARM workflow actions warnings linked to `Node.js`
  .github/workflows/macos-arm.yml
Labels: type:Infrastructure, type:Enhancement

#4585 STYLE: Use transformType in transform dict representation
  Modules/Core/Transform/wrapping/test/itkTransformSerializationTest.py
  Wrapping/Generators/Python/itk/support/extras.py
Labels: area:Python wrapping, type:Testing, area:Core, type:Style

#4586 COMP: Bump CastXML to 0.6.5, LLVM to 18.1.3
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#4587 STYLE: Replace `(const std::string)` casts with C++17 `std::string_view`
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorDeleteCenterVertexTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorJoinFacetTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorJoinVertexTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorSplitEdgeTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorSplitVertexTest.cxx
Labels: type:Testing, area:Core, type:Style

#4591 STYLE: Spelling Trasform->Transform fixes.
  Documentation/docs/releases/4.11.md
  Modules/Core/Common/test/itkImageTest.cxx
Labels: type:Testing, area:Core, type:Style, area:Documentation

#4594 COMP: Add testing of IsCongruentImageGeometry IsSameImageGeometryAs
  Modules/Core/Common/test/itkImageGTest.cxx
Labels: type:Compiler, type:Testing, area:Core

#4598 Image geometry compare test
  Modules/Core/Common/test/itkImageGTest.cxx
Labels: type:Testing, area:Core

#4601 COMP: Add GDCM system version check for SetSecondaryCaptureImagePlaneModule
  Modules/IO/GDCM/src/itkGDCMImageIO.cxx
Labels: type:Compiler, area:IO

#4606 ENH: Update Montage remote module
  Modules/Remote/Montage.remote.cmake
Labels: type:Enhancement, area:Remotes

#4596 COMP: Exclude itkPyBufferMemoryLeak test from macOS ARM CI
  .github/workflows/macos-arm.yml
Labels: type:Compiler, type:Infrastructure

#4609 COMP: Update GDCM system version check for SetSecondaryCaptureImagePlaneModule
  Modules/IO/GDCM/src/itkGDCMImageIO.cxx
Labels: type:Compiler, area:IO

#4611 DOC: Add 5.4 Release Candidate 4 release notes
  Documentation/docs/releases/5.4rc04.md
  Documentation/docs/releases/index.md
Labels: type:Documentation, area:Documentation

#4566 DOC: ITK 5.4 RC 3 release documentation updates
  Documentation/Maintenance/Release.md
Labels: type:Documentation, area:Documentation

#4612 BUG: Fix SpatialObjectProperties.GetTag*Value() to return values in python
  Modules/Core/SpatialObjects/include/itkSpatialObjectProperty.h
Labels: type:Bug, area:Core

#4615 ENH: Update remote modules using a script
  Modules/Remote/MeshToPolyData.remote.cmake
  Modules/Remote/Montage.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
Labels: type:Enhancement, area:Examples, area:Remotes

#4610 BUG: AuthorsChangesSince.py support both single and multiline
  Utilities/Maintenance/AuthorsChangesSince.py
Labels: type:Bug, type:Infrastructure, area:Python wrapping

#4616 COMP: Suppress some Wformat-nonliteral warnings
  .clang-format
  .github/workflows/itk_dict.txt
  Modules/Core/Common/include/itkConceptChecking.h
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/include/itkMath.h
  Modules/Core/Common/include/itkMathDetail.h
  Modules/Core/Common/include/itkMultiThreaderBase.h
  Modules/Core/Common/test/itkMathRoundProfileTest1.cxx
  Modules/Core/Common/test/itkRealTimeIntervalTest.cxx
  Modules/Core/Common/test/itkRealTimeStampTest.cxx
  Modules/Core/Common/test/itkVariableLengthVectorTest.cxx
  Modules/Core/TestKernel/include/itkTestingMacros.h
  Modules/Filtering/BiasCorrection/include/itkN4BiasFieldCorrectionImageFilter.hxx
  Modules/IO/IPL/include/itkIPLFileNameList.h
  Modules/IO/ImageBase/include/itkImageSeriesWriter.hxx
  Modules/IO/ImageBase/src/itkNumericSeriesFileNames.cxx
  Modules/IO/MeshBase/include/itkMeshIOTestHelper.h
  Modules/Segmentation/Watersheds/include/itkWatershedImageFilter.hxx
  Modules/Segmentation/Watersheds/include/itkWatershedSegmenter.hxx
Labels: type:Compiler, type:Infrastructure, type:Testing, area:Core, area:Filtering, area:IO, area:Segmentation, action:ApplyClangFormat

#4619 KWSys 2024-03-08 (bc0706e7)
  Modules/ThirdParty/KWSys/src/KWSys/CONTRIBUTING.rst
  Modules/ThirdParty/KWSys/src/KWSys/CommandLineArguments.cxx
  Modules/ThirdParty/KWSys/src/KWSys/Directory.cxx
  Modules/ThirdParty/KWSys/src/KWSys/MD5.c
  Modules/ThirdParty/KWSys/src/KWSys/SystemInformation.cxx
  Modules/ThirdParty/KWSys/src/KWSys/SystemTools.cxx
  Modules/ThirdParty/KWSys/src/KWSys/Terminal.c
  Modules/ThirdParty/KWSys/src/KWSys/testSystemTools.cxx
Labels: area:ThirdParty

#4620 ENH: Update KWStyle [GCC 13.2 output buffer size truncation warnings]
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Infrastructure, type:Enhancement

#4624 DOC: Add See Also entries for alternatives to LabelGeometryImageFilter
  Modules/Nonunit/Review/include/itkLabelGeometryImageFilter.h
Labels: type:Documentation
