Repository InsightSoftwareConsortium/ITK, pull requests merged in 2024-02, with the labels that each got.

#4440 PERF: Add SpatialObject IsInsideInWorldSpace(const PointType &) overload
  Modules/Core/SpatialObjects/include/itkSpatialObject.h
  Modules/Core/SpatialObjects/include/itkSpatialObject.hxx
  Modules/Core/SpatialObjects/test/itkImageMaskSpatialObjectGTest.cxx
Labels: type:Performance, type:Testing, area:Core

#4441 PERF: Make `m_ObjectToWorldTransformInverse->TransformPoint` non-virtual
  Modules/Core/SpatialObjects/include/itkSpatialObject.hxx
Labels: type:Performance, area:Core

#4445 ENH: Allow using std::vector<T> in itkSetMacro and friends
  Modules/Core/Common/include/itkMacro.h
Labels: type:Enhancement, area:Core

#4442 STYLE: FUTURE_LEGACY_REMOVE virtual SpatialObject InWorldSpace functions
  Modules/Core/SpatialObjects/include/itkSpatialObject.h
Labels: area:Core, type:Style

#4452 STYLE: Replace magic number SpatialObject `MaximumDepth = 9999999`
  Modules/Core/SpatialObjects/include/itkSpatialObject.h
Labels: area:Core, type:Style

#4453 Simplify itkCreateAnotherMacro(x) and itkFactorylessNewMacro(x)
  Modules/Core/Common/include/itkMacro.h
Labels: area:Core

#4456 COMP: Fix MultiThreaderSingle typos
  Modules/Core/Common/src/itkPlatformMultiThreaderSingle.cxx
Labels: type:Compiler, area:Core

#4459 DOC: More background for supported compilers
  Documentation/docs/supported_compilers.md
Labels: type:Documentation, area:Documentation

#4457 Let `SpatialObject` directly access `m_ObjectToWorldTransform`, use `std::transform` for `transformedCorners`
  Modules/Core/SpatialObjects/include/itkSpatialObject.hxx
Labels: area:Core

#4458 COMP: Libpng update
  Modules/ThirdParty/PNG/src/itkpng/LICENSE
  Modules/ThirdParty/PNG/src/itkpng/arm/arm_init.c
  Modules/ThirdParty/PNG/src/itkpng/arm/filter_neon.S
  Modules/ThirdParty/PNG/src/itkpng/arm/palette_neon_intrinsics.c
  Modules/ThirdParty/PNG/src/itkpng/itk_png_mangle.h.in
  Modules/ThirdParty/PNG/src/itkpng/png.c
  Modules/ThirdParty/PNG/src/itkpng/png.h
  Modules/ThirdParty/PNG/src/itkpng/pngconf.h
  Modules/ThirdParty/PNG/src/itkpng/pngerror.c
  Modules/ThirdParty/PNG/src/itkpng/pngget.c
  Modules/ThirdParty/PNG/src/itkpng/pnglibconf.h
  Modules/ThirdParty/PNG/src/itkpng/pngpread.c
  Modules/ThirdParty/PNG/src/itkpng/pngpriv.h
  Modules/ThirdParty/PNG/src/itkpng/pngread.c
  Modules/ThirdParty/PNG/src/itkpng/pngrtran.c
  Modules/ThirdParty/PNG/src/itkpng/pngrutil.c
  Modules/ThirdParty/PNG/src/itkpng/pngset.c
  Modules/ThirdParty/PNG/src/itkpng/pngstruct.h
  Modules/ThirdParty/PNG/src/itkpng/pngtest.c
  Modules/ThirdParty/PNG/src/itkpng/pngtrans.c
  Modules/ThirdParty/PNG/src/itkpng/pngwrite.c
  Modules/ThirdParty/PNG/src/itkpng/pngwutil.c
Labels: type:Compiler, area:ThirdParty, type:Data

#4454 Add ValueInitializedIsZeroFilled tests, replace `MakeFilled<Self>(NumericTraits<T>::ZeroValue())` with `Self{}`
  Modules/Core/Common/include/itkNumericTraitsCovariantVectorPixel.h
  Modules/Core/Common/include/itkNumericTraitsDiffusionTensor3DPixel.h
  Modules/Core/Common/include/itkNumericTraitsFixedArrayPixel.h
  Modules/Core/Common/include/itkNumericTraitsPointPixel.h
  Modules/Core/Common/include/itkNumericTraitsRGBAPixel.h
  Modules/Core/Common/include/itkNumericTraitsRGBPixel.h
  Modules/Core/Common/include/itkNumericTraitsTensorPixel.h
  Modules/Core/Common/include/itkNumericTraitsVectorPixel.h
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkCovariantVectorGTest.cxx
  Modules/Core/Common/test/itkDiffusionTensor3DGTest.cxx
  Modules/Core/Common/test/itkPointGTest.cxx
  Modules/Core/Common/test/itkRGBAPixelGTest.cxx
  Modules/Core/Common/test/itkRGBPixelGTest.cxx
  Modules/Core/Common/test/itkSymmetricSecondRankTensorGTest.cxx
  Modules/Core/Common/test/itkVectorGTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core

#4455 COMP: Locally ignore Clang `-Wmismatched-tags` warnings in `ImageRegion`
  Modules/Core/Common/include/itkImageRegion.h
Labels: type:Compiler, area:Core

#4462 COMP: Update KWStyle to fix build warnings with MacOSX13.1.sdk
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Compiler, type:Infrastructure

#4464 STYLE: Replace `expectZeroFilled` lambda's with ExpectEachElementIsZero
  Modules/Core/Common/test/itkCovariantVectorGTest.cxx
  Modules/Core/Common/test/itkDiffusionTensor3DGTest.cxx
  Modules/Core/Common/test/itkPointGTest.cxx
  Modules/Core/Common/test/itkRGBAPixelGTest.cxx
  Modules/Core/Common/test/itkRGBPixelGTest.cxx
  Modules/Core/Common/test/itkRangeGTestUtilities.h
  Modules/Core/Common/test/itkSymmetricSecondRankTensorGTest.cxx
  Modules/Core/Common/test/itkVectorGTest.cxx
Labels: type:Infrastructure, type:Testing, area:Core, type:Style

#4467 STYLE: Replace `itk::NumericTraits<unsigned int>::OneValue()` with `1`
  Modules/IO/MeshBYU/src/itkBYUMeshIO.cxx
  Modules/IO/MeshFreeSurfer/src/itkFreeSurferAsciiMeshIO.cxx
  Modules/IO/MeshFreeSurfer/src/itkFreeSurferBinaryMeshIO.cxx
  Modules/IO/MeshOFF/src/itkOFFMeshIO.cxx
  Modules/IO/MeshVTK/src/itkVTKPolyDataMeshIO.cxx
Labels: area:IO, type:Style

#4465 STYLE: Remove duplicate `#include` directives
  Modules/Compatibility/Deprecated/test/itkSpawnThreadTest.cxx
  Modules/Core/Common/src/itkMultiThreaderBase.cxx
  Modules/Core/Common/src/itkPlatformMultiThreader.cxx
  Modules/Core/Common/test/itkCMakeConfigurationTest.cxx
  Modules/Core/SpatialObjects/include/itkMetaImageConverter.h
  Modules/Core/SpatialObjects/include/itkMetaSceneConverter.hxx
  Modules/Core/SpatialObjects/test/itkTubeSpatialObjectTest.cxx
  Modules/Filtering/ImageFeature/test/itkMaskFeaturePointSelectionFilterTest.cxx
  Modules/Filtering/Smoothing/include/itkBoxUtilities.h
  Modules/IO/ImageBase/include/itkImageIOFactory.h
  Modules/IO/MeshBase/include/itkMeshIOFactory.h
  Modules/IO/TransformInsightLegacy/test/itkIOTransformTxtTest.cxx
  Modules/IO/TransformMINC/src/itkMINCTransformIO.cxx
  Modules/Registration/GPUPDEDeformable/test/itkGPUDemonsRegistrationFilterTest.cxx
  Modules/Registration/Metricsv4/test/itkDemonsImageToImageMetricv4RegistrationTest.cxx
Labels: type:Infrastructure, type:Testing, area:Core, area:Filtering, area:IO, area:Registration, type:Style

#4471 STYLE: Fix code indentation in pyBase.i to aid understanding
  Wrapping/Generators/Python/PyBase/pyBase.i
Labels: area:Python wrapping, type:Style

#4469 PERF: FUTURE: Default default-constructors of `RGBPixel` and `RGBAPixel`
  Modules/Core/Common/include/itkRGBAPixel.h
  Modules/Core/Common/include/itkRGBPixel.h
  Modules/Core/Common/test/itkCommonTypeTraitsGTest.cxx
Labels: type:Testing, area:Core

#4476 DOC: Fix typo in itkRGBPixel.h
  Modules/Core/Common/include/itkRGBPixel.h
Labels: type:Documentation, area:Core

#4468 ENH: Add SameImageGridAs convenience method to ImageBase
  Modules/Core/Common/include/itkImageBase.h
  Modules/Core/Common/include/itkImageBase.hxx
  Modules/Core/Common/include/itkImageToImageFilter.hxx
Labels: type:Enhancement, area:Core

#4472 NearestNeighborExtrapolateImageFunction: use `std::clamp` and move GetStartIndex(), GetEndIndex() calls out of its `for` loops
  Modules/Core/ImageFunction/include/itkNearestNeighborExtrapolateImageFunction.h
  Modules/Filtering/ImageGrid/test/itkZeroFluxNeumannPadImageFilterTest.cxx
Labels: type:Testing, area:Core, area:Filtering

#4473 PERF: FUTURE: Default default-constructor of `SymmetricSecondRankTensor`
  Modules/Core/Common/include/itkSymmetricSecondRankTensor.h
  Modules/Core/Common/test/itkCommonTypeTraitsGTest.cxx
Labels: type:Testing, area:Core

#4480 Replace `if (x > a[i]) x = a[i]` with `x = std::min(x, a[i])`, and `if (x < a[i]) x = a[i]` with `x = std::max(x, a[i])`
  Modules/Core/Common/include/itkNeighborhoodAlgorithm.hxx
  Modules/Core/ImageFunction/include/itkLinearInterpolateImageFunction.h
  Modules/Core/ImageFunction/include/itkLinearInterpolateImageFunction.hxx
  Modules/Core/ImageFunction/include/itkVectorLinearInterpolateImageFunction.hxx
  Modules/Core/Mesh/include/itkTriangleMeshToBinaryImageFilter.hxx
  Modules/Core/SpatialObjects/include/itkContourSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkPolygonSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkSpatialObjectToImageStatisticsCalculator.hxx
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldTransform.hxx
  Modules/Filtering/DistanceMap/include/itkDanielssonDistanceMapImageFilter.hxx
  Modules/Filtering/ImageSources/include/itkGridImageSource.hxx
  Modules/Filtering/ImageStatistics/include/itkLabelStatisticsImageFilter.hxx
  Modules/Filtering/Smoothing/include/itkBinomialBlurImageFilter.hxx
  Modules/IO/Meta/test/itkMetaImageStreamingWriterIOTest.cxx
  Modules/Nonunit/Review/include/itkLabelGeometryImageFilter.hxx
  Modules/Numerics/Optimizersv4/include/itkRegistrationParameterScalesEstimator.hxx
  Modules/Numerics/Optimizersv4/include/itkRegistrationParameterScalesFromShiftBase.hxx
  Modules/Numerics/Optimizersv4/test/itkRegistrationParameterScalesEstimatorTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Numerics

#4482 STYLE: Remove temporary vnl_vector_ref from const GetVnlVector overloads
  Modules/Core/Common/include/itkCovariantVector.hxx
  Modules/Core/Common/include/itkPoint.hxx
  Modules/Core/Common/include/itkVector.hxx
Labels: area:Core, type:Style
