Repository InsightSoftwareConsortium/ITK, pull requests merged in 2024-08, with the labels that each got.

#4795 DOC: Reduced main image size
  Documentation/Doxygen/MainPage.dox
Labels: type:Documentation, area:Documentation

#4798 DOC: Correct broken links referencing midas.
  Modules/Filtering/FFT/test/itkComplexToComplexFFTImageFilterTest.cxx
  Modules/Filtering/FFT/test/itkFFTWComplexToComplexFFTImageFilterTest.cxx
  Modules/IO/Bruker/src/itkBruker2dseqImageIOFactory.cxx
  Modules/IO/PhilipsREC/src/itkPhilipsPAR.cxx
  Modules/IO/PhilipsREC/src/itkPhilipsRECImageIO.cxx
  Modules/IO/PhilipsREC/src/itkPhilipsRECImageIOFactory.cxx
  Modules/Nonunit/Review/src/itkVoxBoCUBImageIO.cxx
  Modules/Nonunit/Review/src/itkVoxBoCUBImageIOFactory.cxx
Labels: type:Documentation, type:Testing, area:Filtering, area:IO

#4797 COMP: Fix remaining -Wextra-semi
  Examples/RegistrationITKv4/ImageRegistration11.cxx
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkGaussianKernelFunction.h
  Modules/Core/SpatialObjects/include/itkSpatialObject.h
  Modules/Registration/Common/include/itkSimpleMultiResolutionImageRegistrationUI.h
  Modules/Registration/Common/test/RegistrationITKv3/ImageRegistration11.cxx
Labels: type:Compiler, area:Examples, area:Core, area:Registration

#4800 DOC: Error in specific DOI.
  Modules/Filtering/ImageNoise/include/itkAdditiveGaussianNoiseImageFilter.h
  Modules/Filtering/ImageNoise/include/itkSaltAndPepperNoiseImageFilter.h
  Modules/Filtering/ImageNoise/include/itkShotNoiseImageFilter.h
  Modules/Filtering/ImageNoise/include/itkSpeckleNoiseImageFilter.h
  Modules/Filtering/ImageNoise/itk-module.cmake
Labels: type:Documentation, area:Filtering

#4801 BUG: Remove check for nullptr after new
  Modules/IO/GE/src/itkGE4ImageIO.cxx
  Modules/IO/GE/src/itkGE5ImageIO.cxx
  Modules/IO/GE/src/itkGEAdwImageIO.cxx
Labels: type:Bug, area:IO

#4803 COMP: fixed trivial -Wextra-semi warnings
  Modules/Core/Common/include/itkSingleton.h
  Modules/Core/Common/include/itkSymmetricEigenAnalysis.h
  Modules/Filtering/ImageFrequency/include/itkFrequencyFFTLayoutImageRegionConstIteratorWithIndex.h
  Modules/Filtering/ImageSources/include/itkPhysicalPointImageSource.h
  Modules/IO/HDF5/test/itkHDF5ImageIOStreamingReadWriteTest.cxx
  Modules/Numerics/Optimizers/test/itkOnePlusOneEvolutionaryOptimizerTest.cxx
  Modules/Numerics/Optimizersv4/include/itkCommandIterationUpdatev4.h
  Modules/Numerics/Optimizersv4/test/itkOnePlusOneEvolutionaryOptimizerv4Test.cxx
  Modules/Registration/RegistrationMethodsv4/test/itkSimpleImageRegistrationTest4.cxx
Labels: type:Compiler, type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Numerics

#4811 COMP: Get ITK_USE_FLOAT_SPACE_PRECISION=ON to compile again
  Examples/DataRepresentation/Image/Image4.cxx
  Modules/Core/Common/test/itkSpatialOrientationAdaptorGTest.cxx
  Modules/Core/ImageFunction/include/itkGaussianDerivativeImageFunction.h
  Modules/Core/ImageFunction/include/itkImageFunction.h
  Modules/Core/ImageFunction/test/itkBSplineInterpolateImageFunctionTest.cxx
  Modules/Core/ImageFunction/test/itkImageAdaptorInterpolateImageFunctionTest.cxx
  Modules/Core/ImageFunction/test/itkInterpolateTest.cxx
  Modules/Core/ImageFunction/test/itkRGBInterpolateImageFunctionTest.cxx
  Modules/Core/ImageFunction/test/itkVectorInterpolateImageFunctionTest.cxx
  Modules/Core/ImageFunction/test/itkVectorLinearInterpolateNearestNeighborExtrapolateImageFunctionTest.cxx
  Modules/Core/SpatialObjects/test/itkImageMaskSpatialObjectTest2.cxx
  Modules/Core/TestKernel/test/itkRandomImageSourceAttributesTest.cxx
  Modules/Filtering/ImageGrid/test/itkBinShrinkImageFilterTest2.cxx
  Modules/Filtering/LabelMap/include/itkShapeLabelMapFilter.hxx
  Modules/Filtering/LabelMap/test/itkShapeLabelMapFilterGTest.cxx
  Modules/Filtering/Path/include/itkExtractOrthogonalSwath2DImageFilter.hxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest12.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest14.cxx
  Modules/IO/NIFTI/test/itkNiftiReadWriteDirectionTest.cxx
  Testing/ContinuousIntegration/AzurePipelinesLinux.yml
  Testing/ContinuousIntegration/AzurePipelinesLinuxPython.yml
Labels: type:Compiler, type:Infrastructure, area:Examples, type:Testing, area:Core, area:Filtering, area:IO

#4812 COMP: change itkLegacyMacro to never require a trailing semi colon
  .clang-format
  Modules/Core/Common/include/itkBoundingBox.h
  Modules/Core/Common/include/itkFixedArray.h
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/include/itkMultiThreaderBase.h
  Modules/Core/Common/include/itkPlatformMultiThreader.h
  Modules/Core/SpatialObjects/include/itkImageMaskSpatialObject.h
  Modules/Core/SpatialObjects/include/itkSurfaceSpatialObject.h
  Modules/Core/Transform/include/itkTransform.h
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.h
  Modules/Filtering/Smoothing/include/itkDiscreteGaussianImageFilter.h
Labels: type:Compiler, area:Core, area:Filtering

#4810 BUG: Missing writing of the nifti descrip field.
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest3.cxx
Labels: type:Bug, type:Testing, area:IO

#4813 COMP: Bump ITKTotalVariation remote module
  Modules/Remote/TotalVariation.remote.cmake
Labels: type:Compiler, area:Remotes

#4816 More -Wextra-semi fixes
  Modules/Core/Common/include/itkEventObject.h
  Modules/Core/Common/include/itkNumericTraitsFixedArrayPixel.h
  Modules/Core/Common/src/itkNumericTraitsDiffusionTensor3DPixel.cxx
  Modules/Core/Common/src/itkNumericTraitsRGBAPixel.cxx
  Modules/Core/Common/src/itkNumericTraitsRGBPixel.cxx
  Modules/Core/QuadEdgeMesh/include/itkQuadEdge.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshFrontIterator.h
  Modules/IO/MeshBase/include/itkMeshConvertPixelTraits.h
Labels: area:Core, area:IO

#4806 dicom structured report prefix
  Modules/ThirdParty/DCMTK/CMakeLists.txt
  Modules/ThirdParty/DCMTK/DCMTKGitTag.cmake
Labels: type:Infrastructure, area:ThirdParty

#4817 COMP: fixed compiler error with ITK_USE_GPU = YES
  Modules/Core/Common/include/itkMacro.h
Labels: type:Compiler, area:Core

#4814 BUG: Fix printing of values in MetaDataObject
  Modules/Core/Common/include/itkMetaDataObject.h
  Modules/Core/Common/include/itkMetaDataObject.hxx
  Modules/Core/Common/test/itkMetaDataObjectTest.cxx
Labels: type:Bug, type:Testing, area:Core

#4821 STYLE: move details to MetaDataObjectDetail
  Modules/Core/Common/include/itkMetaDataObject.hxx
  Modules/Core/Common/include/itkMetaDataObjectDetail.h
Labels: area:Core, type:Style

#4826 DOC: Remove repeated word in itkLabelOverlapMeasuresImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkLabelOverlapMeasuresImageFilter.h
Labels: type:Documentation, area:Filtering

#4822 BUG: Enable system TIFF with modern TIFF and cmake - release patch
  Modules/ThirdParty/TIFF/CMakeLists.txt
Labels: type:Bug, type:Infrastructure, area:ThirdParty

#4819 Fix clang -Wtautological-pointer-compare warnings
  Modules/Registration/GPUPDEDeformable/include/itkGPUPDEDeformableRegistrationFilter.hxx
Labels: area:Registration
