Repository InsightSoftwareConsortium/ITK, pull requests merged in 2024-05, with the labels that each got.

#4608 COMP: Ubuntu2404 fixes issue 4607
  .clang-format
  Modules/Core/Common/include/itkExtractImageFilter.hxx
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/include/itkMultiThreaderBase.h
  Modules/Core/Common/include/itkNeighborhood.h
  Modules/Core/Common/include/itkNeighborhoodOperator.h
  Modules/Core/Common/test/itkShapedImageNeighborhoodRangeGTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorSplitEdgeTest.cxx
  Modules/Filtering/ImageFusion/include/itkLabelMapContourOverlayImageFilter.hxx
  Modules/Filtering/ImageIntensity/include/itkSymmetricEigenAnalysisImageFilter.h
Labels: type:Compiler, type:Testing, area:Core, area:Filtering

#4631 COMP: Suppress `-Wformat-nonliteral` warning in diff tensor example
  Examples/Filtering/DiffusionTensor3DReconstructionImageFilter.cxx
Labels: type:Compiler, area:Examples

#4627 COMP: Use default copy and move construct and assign in `itk::Region`
  Modules/Core/Common/include/itkRegion.h
Labels: type:Compiler, area:Core

#4626 COMP: Use default copy, move for construc, assign `RealTimeStamp`
  Modules/Core/Common/include/itkRealTimeStamp.h
Labels: type:Compiler, area:Core

#4632 COMP: GCC 13 CastXML vector include workaround
  Modules/Core/Common/include/itkPrintHelper.h
Labels: type:Compiler, area:Core

#4630 BUG: Mark LabelGeometryImageFilter as deprecated
  Modules/Nonunit/Review/include/itkLabelGeometryImageFilter.h
Labels: type:Bug

#4617 ENH: Optionally limit an ImageMask to a specific pixel value
  Modules/Core/SpatialObjects/include/itkImageMaskSpatialObject.h
  Modules/Core/SpatialObjects/include/itkImageMaskSpatialObject.hxx
  Modules/Core/SpatialObjects/test/CMakeLists.txt
  Modules/Core/SpatialObjects/test/itkImageMaskSpatialObjectTest5.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core

#4595 BUG: Set NIFTI header xyzt_units field correctly in output
  Modules/IO/NIFTI/include/itkNiftiImageIO.h
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
  Modules/IO/NIFTI/test/CMakeLists.txt
  Modules/IO/NIFTI/test/Input/xyzt_units_test_scl.nii.gz.cid
  Modules/IO/NIFTI/test/Input/xyzt_units_test_scl_mm_s.nii.gz.cid
  Modules/IO/NIFTI/test/itkNiftiImageIOTest14.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:IO

#4640 STYLE: Apply clang-format to LabelGeometryImageFilter
  Modules/Nonunit/Review/include/itkLabelGeometryImageFilter.h
Labels: type:Style

#4635 BUG: Make dict_from_transform more consistent with other dict representations
  Modules/Core/Transform/wrapping/test/itkTransformSerializationTest.py
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Bug, area:Python wrapping, type:Testing, area:Core

#4633 BUG: Add bufferedRegion to dict_from_image representation
  Modules/Bridge/NumPy/wrapping/PyBuffer.i.in
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Bug, area:Python wrapping, type:Testing, area:Bridge

#4641 DOC: Update logo colors
  .gitattributes
  Documentation/Art/ITKLogo_32px.ico
  Documentation/Art/ITKLogo_64px.ico
  Documentation/Art/itkLogo.png
  Documentation/Art/itkLogoMedium.png
  Documentation/Art/itkLogoMediumTransparentBackground.png
  Documentation/Art/itkLogoSmall.png
  Documentation/Art/itkLogoSmallTransparentBackground.png
  Documentation/Art/itkLogoSmallTransparentBackground.xpm
  Documentation/Art/itkLogoTransparentBackground.png
  Documentation/docs/_static/itk-logo-low-res.png
  Documentation/docs/_static/itk-logo.svg
Labels: type:Documentation, area:Documentation

#4639 COMP: Fix implicit copy constructor definition deprecation warnings
  Modules/IO/ImageBase/include/itkImageFileReaderException.h
  Modules/IO/ImageBase/include/itkImageFileWriter.h
  Modules/IO/MeshBase/include/itkMeshFileReaderException.h
  Modules/IO/MeshBase/include/itkMeshFileWriterException.h
Labels: type:Compiler, area:IO

#4638 BUG: Support passing a single transform to transform write
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/support/extras.py
Labels: type:Bug, area:Python wrapping, type:Testing

#4647 Update gdcm
  Modules/ThirdParty/GDCM/src/gdcm/CMakeLists.txt
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataDictionary/gdcmPrivateDefaultDicts.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/DataStructureAndEncodingDefinition/gdcmDataSet.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmImageHelper.cxx
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmImageHelper.h
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmSplitMosaicFilter.cxx
Labels: type:Infrastructure, area:ThirdParty

#4642 BUG: Fix path to write itkNiftiImageIOTest14 data
  Modules/IO/NIFTI/test/itkNiftiImageIOTest14.cxx
Labels: type:Bug, type:Testing, area:IO

#4648 BUG: array_from_image shape for VectorImage with 1 component
  Modules/Bridge/NumPy/wrapping/PyBuffer.i.in
  Modules/Bridge/NumPy/wrapping/test/itkPyBufferTest.py
  Wrapping/Generators/Python/PyBase/pyBase.i
Labels: type:Bug, area:Python wrapping, type:Testing, area:Bridge

#4644 COMP: restored old spelling of CLANG_SUPPRESS_Wfloat_equal
  Modules/Core/Common/include/itkMacro.h
Labels: type:Compiler, area:Core

#4658 ENH: update remote module RTK
  Modules/Remote/RTK.remote.cmake
Labels: type:Enhancement, area:Remotes

#4659 BUG: Use unique filenames for Nifti tests
  Modules/IO/NIFTI/test/CMakeLists.txt
  Modules/IO/NIFTI/test/itkNiftiImageIOTest.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest.h
  Modules/IO/NIFTI/test/itkNiftiImageIOTest14.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:IO

#4637 COMP: Gcc13.2 compiler warnings
  Modules/Core/Common/include/itkVector.h
  Modules/Core/Common/include/itkVector.hxx
  Modules/Segmentation/LevelSets/include/itkParallelSparseFieldLevelSetImageFilter.hxx
Labels: type:Compiler, area:Core, area:Segmentation, action:ApplyClangFormat

#4660 COMP: Suppress LabelGeometryImageFilter deprecated warning
  CMake/CTestCustom.cmake.in
Labels: type:Compiler, type:Infrastructure

#4634 BUG: ElementType with PolyLineParametricPath ContinuousIndex
  Modules/Bridge/NumPy/wrapping/itkPyVectorContainer.wrap
  Wrapping/Generators/Python/PyBase/pyBase.i
  Wrapping/Generators/Python/Tests/extras.py
  Wrapping/Generators/Python/itk/support/extras.py
  Wrapping/TypedefMacros.cmake
Labels: type:Bug, area:Python wrapping, type:Testing, area:Bridge

#4667 COMP: Fixed Cpp Warnings
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshEulerOperatorSplitEdgeTest.cxx
  Modules/IO/JPEG/src/itkJPEGImageIO.cxx
  Modules/Numerics/Optimizersv4/test/itkObjectToObjectMetricBaseTest.cxx
Labels: type:Compiler, type:Testing, area:Core, area:IO, area:Numerics

#4663 COMP: Remove \brief with nothing after
  Modules/Core/Common/include/itkCommonEnums.h
  Modules/Filtering/ImageIntensity/include/itkArithmeticOpsFunctors.h
  Modules/Filtering/ImageIntensity/include/itkDivideOrZeroOutImageFilter.h
  Modules/IO/GDCM/include/itkGDCMImageIO.h
  Modules/Numerics/Statistics/include/itkMeasurementVectorTraits.h
Labels: type:Compiler, area:Core, area:Filtering, area:IO, area:Numerics

#4669 BUG: VTKPolyDataMeshIO support for reading VTK 5.1 format
  Modules/IO/MeshVTK/include/itkVTKPolyDataMeshIO.h
  Modules/IO/MeshVTK/src/itkVTKPolyDataMeshIO.cxx
  Modules/IO/MeshVTK/test/CMakeLists.txt
  Modules/IO/MeshVTK/test/Input/sphere.vtk.cid
  Modules/IO/MeshVTK/test/Input/sphere_51.vtk.cid
  Modules/IO/MeshVTK/test/Input/sphere_51_b.vtk.cid
Labels: type:Bug, type:Infrastructure, area:IO

#4671 cmake advanced mac
  CMake/ITKModuleRemote.cmake
  Modules/ThirdParty/GDCM/src/gdcm/CMakeLists.txt
  Modules/ThirdParty/GDCM/src/gdcm/Utilities/gdcmopenjpeg/CMakeLists.txt
Labels: type:Infrastructure, area:ThirdParty, type:Data

#4603 STYLE: Revert C++14 workaround when using the constexpr `SupportSize`
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Transform/include/itkBSplineDeformableTransform.hxx
Labels: area:Core, type:Style

#4681 COMP: Fix zero as null pointer constant
  Modules/Core/Common/test/itkSmartPointerGTest.cxx
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshFrontIterator.h
Labels: type:Compiler, type:Testing, area:Core

#4670 COMP: suppress 5 clang warnings from eigen headers
  Modules/ThirdParty/Eigen3/src/itk_eigen.h.in
Labels: type:Compiler, area:ThirdParty

#4605 ENH: Declare `front()` and `back()` of Index, Offset, and Size constexpr
  Modules/Core/Common/include/itkIndex.h
  Modules/Core/Common/include/itkOffset.h
  Modules/Core/Common/include/itkSize.h
  Modules/Core/Common/test/itkIndexGTest.cxx
  Modules/Core/Common/test/itkOffsetGTest.cxx
  Modules/Core/Common/test/itkRangeGTestUtilities.h
  Modules/Core/Common/test/itkSizeGTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core

#4650 PERF: Avoid redundant searches for a data element in a `gdcm::DataSet`
  Modules/IO/GDCM/src/itkGDCMImageIO.cxx
Labels: type:Performance, area:IO

#4622 COMP: Add type aliases of ptrdiff_t and size_t to the `itk` namespace
  Modules/Core/Common/include/itkIntTypes.h
Labels: type:Compiler, area:Core

#4685 ENH: allow calling RemoveObserver() from a const itkObject
  Modules/Core/Common/include/itkObject.h
  Modules/Core/Common/src/itkObject.cxx
  Modules/Filtering/ImageGrid/test/itkBasicArchitectureTest.cxx
Labels: type:Enhancement, type:Testing, area:Core, area:Filtering

#4672 COMP: Fix Unitialized scenarios
  Modules/Filtering/ImageStatistics/test/itkLabelStatisticsImageFilterTest.cxx
  Modules/Registration/Metricsv4/include/itkANTSNeighborhoodCorrelationImageToImageMetricv4GetValueAndDerivativeThreader.hxx
  Modules/Registration/Metricsv4/include/itkJointHistogramMutualInformationComputeJointPDFThreaderBase.hxx
  Modules/Segmentation/LevelSets/include/itkParallelSparseFieldLevelSetImageFilter.hxx
Labels: type:Compiler, type:Testing, area:Filtering, area:Registration, area:Segmentation

#4679 COMP: Fix -Wextra-semi Warnings for Macro
  .clang-format
  Modules/Core/Common/include/itkMath.h
Labels: type:Compiler, area:Core

#4691 PERF: Make `ImageRegion` trivially copyable (LEGACY_REMOVE)
  Modules/Core/Common/include/itkImageRegion.h
  Modules/Core/Common/test/itkImageRegionGTest.cxx
Labels: type:Performance, type:Testing, area:Core

#4695 DOC: Start ITK 6 migration guide
  Documentation/docs/migration_guides/index.md
  Documentation/docs/migration_guides/itk_6_migration_guide.md
Labels: type:Documentation, area:Documentation

#4664 WparamReturn
  Modules/Core/Common/include/itkHexahedronCell.h
  Modules/Core/Common/include/itkIsNumber.h
  Modules/Core/Common/include/itkLineCell.h
  Modules/Core/Common/include/itkMetaProgrammingLibrary.h
  Modules/Core/Common/include/itkPolyLineCell.h
  Modules/Core/Common/include/itkPolygonCell.h
  Modules/Core/Common/include/itkPromoteType.h
  Modules/Core/Common/include/itkQuadraticEdgeCell.h
  Modules/Core/Common/include/itkQuadraticTriangleCell.h
  Modules/Core/Common/include/itkQuadrilateralCell.h
  Modules/Core/Common/include/itkTetrahedronCell.h
  Modules/Core/Common/include/itkVariableLengthVector.h
  Modules/Core/Common/include/itkVertexCell.h
  Modules/Core/Common/src/itkOctreeNode.cxx
Labels: area:Core, action:ApplyClangFormat

#4692 Add constexpr to IndexRange, and let BSplineInterpolationWeightFunction make use of it
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.hxx
  Modules/Core/Common/include/itkIndexRange.h
  Modules/Core/Common/test/itkIndexRangeGTest.cxx
Labels: type:Testing, area:Core

#4696 ENH: Bump ITK's CMake version to 6.0.0
  CMake/itkVersion.cmake
Labels: type:Infrastructure, type:Enhancement

#4666 COMP: Replaced comments above what they describe
  Modules/Core/Common/include/itkDynamicLoader.h
  Modules/Core/Common/include/itkSmapsFileParser.h
Labels: type:Compiler, area:Core

#4697 DOC: Update Release.md
  Documentation/Maintenance/Release.md
Labels: type:Documentation, area:Documentation

#4682 COMP: remove suppression of -Winconsistent-missing-override
  Modules/Numerics/Statistics/include/itkSubsample.h
Labels: type:Compiler, area:Numerics

#4686 DOC: Update .zenodo
  .zenodo.json
Labels: type:Documentation

#4668 Fix Unique LabelMap filters producing non-unique labels and causing concurrent pixel writes.
  Modules/Filtering/LabelMap/ITKKWStyleOverwrite.txt
  Modules/Filtering/LabelMap/include/itkAttributeUniqueLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkShapeUniqueLabelMapFilter.h
  Modules/Filtering/LabelMap/test/CMakeLists.txt
  Modules/Filtering/LabelMap/test/itkStatisticsUniqueLabelMapFilterTest1.cxx
  Modules/Filtering/LabelMap/test/itkUniqueLabelMapFiltersGTest.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:Filtering

#4674 COMP: Fix ununsed code ( if(false) )
  Modules/Registration/Metricsv4/test/itkJointHistogramMutualInformationImageToImageRegistrationTest.cxx
  Modules/Registration/Metricsv4/test/itkMeanSquaresImageToImageMetricv4RegistrationTest.cxx
  Modules/Registration/Metricsv4/test/itkMeanSquaresImageToImageMetricv4VectorRegistrationTest.cxx
  Modules/Registration/Metricsv4/test/itkMultiGradientImageToImageMetricv4RegistrationTest.cxx
Labels: type:Compiler, type:Testing, area:Registration

#4678 BUG: fix output path for WriteImage test
  Modules/IO/ImageBase/test/itkWriteImageFunctionGTest.cxx
Labels: type:Bug, type:Testing, area:IO

#4701 COMP: Test NumPy pre-releases (NumPy 2.0 RC) in CI
  .github/workflows/macos-arm.yml
  Testing/ContinuousIntegration/AzurePipelinesLinuxPython.yml
Labels: type:Compiler, type:Infrastructure, type:Testing
