Repository InsightSoftwareConsortium/ITK, pull requests merged in 2024-09, with the labels that each got.

#4829 COMP: Fix missing include files
  Wrapping/Generators/Python/PyUtils/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#4824 ENH: Require libtiff >=4.0.3
  Modules/IO/TIFF/src/itkTIFFImageIO.cxx
  Modules/ThirdParty/TIFF/CMakeLists.txt
  Modules/ThirdParty/TIFF/src/itk_tiff.h.in
Labels: type:Infrastructure, type:Enhancement, area:IO, area:ThirdParty

#4799 STYLE: Remove redundant non-const `Object::AddObserver` overload
  Modules/Core/Common/include/itkObject.h
  Modules/Core/Common/src/itkObject.cxx
  Wrapping/Generators/Python/PyBase/pyBase.i
Labels: area:Python wrapping, area:Core, type:Style

#4832 BUG: Silence LabelGeometry deprecation
  Modules/Nonunit/Review/include/itkLabelGeometryImageFilter.h
Labels: type:Bug

#4837 BUG: Fix ImageToRectilinearFEM tests arg checks
  Modules/Numerics/FEM/test/itkImageToRectilinearFEMObjectFilter2DTest.cxx
  Modules/Numerics/FEM/test/itkImageToRectilinearFEMObjectFilter3DTest.cxx
Labels: type:Bug, type:Testing, area:Numerics

#4842 COMP: Fix Python GPU Wrapping
  Modules/Filtering/GPUImageFilterBase/wrapping/itkGPUCastImageFilter.wrap
  Modules/Filtering/GPUSmoothing/wrapping/itkGPUDiscreteGaussianImageFilter.wrap
Labels: type:Compiler, area:Python wrapping, area:Filtering

#4845 BUG: Fix itkFrequencyImageRegionIterator
  Modules/Filtering/ImageFrequency/include/itkFrequencyImageRegionConstIteratorWithIndex.h
  Modules/Filtering/ImageFrequency/include/itkFrequencyImageRegionIteratorWithIndex.h
  Modules/Filtering/ImageFrequency/test/itkFrequencyIteratorsGTest.cxx
Labels: type:Bug, type:Testing, area:Filtering

#4843 BUG: Remove SpatialObjectProperty's writable string methods from SWIG
  Modules/Core/SpatialObjects/include/itkSpatialObjectProperty.h
  Modules/Core/SpatialObjects/src/itkSpatialObjectProperty.cxx
Labels: type:Bug, area:Core

#4849 ENH: Add `itk::MakeVectorContainer(std::vector<TElement>)`
  Modules/Core/Common/include/itkVectorContainer.h
  Modules/Core/Common/test/itkVectorContainerGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#4850 Add `SetPointsByCoordinates` to PointSet, add warning to `SetPoints(PointsVectorContainer *)`
  Modules/Core/Common/include/itkPointSet.h
  Modules/Core/Common/include/itkPointSet.hxx
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkPointSetGTest.cxx
Labels: type:Infrastructure, type:Testing, area:Core

#4847 BUG: permissive cosine computation from non-orthogonal sform had reve…
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
  Modules/IO/NIFTI/test/CMakeLists.txt
  Modules/IO/NIFTI/test/itkNiftiReadWriteDirectionTest.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:IO

#4857 STYLE: Run clang-format.exe manually at the client side
  Modules/Core/Common/include/itkBSplineInterpolationWeightFunction.h
  Modules/Core/Common/include/itkFixedArray.h
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/include/itkMatrix.h
  Modules/Core/Common/include/itkMultiThreaderBase.h
  Modules/Core/Common/include/itkSingleton.h
  Modules/Core/Common/test/itkSmartPointerGTest.cxx
  Modules/Core/SpatialObjects/include/itkEllipseSpatialObject.h
  Modules/Core/SpatialObjects/include/itkGaussianSpatialObject.h
  Modules/Core/SpatialObjects/include/itkImageSpatialObject.h
  Modules/Core/SpatialObjects/include/itkMeshSpatialObject.h
  Modules/Core/SpatialObjects/include/itkTubeSpatialObject.h
  Modules/Core/Transform/include/itkBSplineBaseTransform.h
  Modules/Core/Transform/include/itkBSplineTransform.h
  Modules/Filtering/Convolution/include/itkConvolutionImageFilterBase.h
  Modules/Filtering/DisplacementField/include/itkVelocityFieldTransform.h
  Modules/Filtering/ImageFilterBase/include/itkNullImageToImageFilterDriver.hxx
  Modules/Numerics/Optimizersv4/include/itkCommandIterationUpdatev4.h
  Modules/Numerics/Optimizersv4/include/itkObjectToObjectOptimizerBase.h
  Modules/Registration/Common/include/itkTransformParametersAdaptor.h
  Modules/Registration/Metricsv4/include/itkImageToImageMetricv4.h
Labels: type:Testing, area:Core, area:Filtering, area:Registration, type:Style, area:Numerics

#4855 STYLE: Clean-up ByteSwapper, using private `SwapBytes` helper function
  .github/workflows/itk_dict.txt
  Modules/Core/Common/include/itkByteSwapper.h
  Modules/Core/Common/include/itkByteSwapper.hxx
Labels: type:Infrastructure, area:Core, type:Style
