Repository InsightSoftwareConsortium/ITK, pull requests merged in 2024-06, with the labels that each got.

#4702 STYLE: Change variable name to meet ITK style.
  Modules/Video/Core/test/itkTemporalProcessObjectTest.cxx
Labels: type:Testing, area:Video, type:Style

#4705 ENH: Add missing spelling word.
  .github/workflows/itk_dict.txt
Labels: type:Infrastructure, type:Enhancement

#4707 ENH: Remove Clang Format Linter Action
  .github/workflows/clang-format-linter.yml
Labels: type:Infrastructure, type:Enhancement

#4706 ENH: Default to allow ITK_MACROEND_NOOP_STATEMENT
  Documentation/docs/releases/5.1.md
  Documentation/docs/scientific_ecosystem/itk_ecosystem.md
  Modules/Core/Common/include/itkMacro.h
  Modules/Remote/Deprecated/NeuralNetworks.remote.cmake
  Utilities/ITKv5Preparation/CheckForOutdatedDefines.sh
Labels: type:Infrastructure, type:Enhancement, area:Core, area:Remotes, area:Documentation

#4712 BUG: Remove Apply clang-format to PR
  .github/workflows/apply-clang-format.yml
Labels: type:Bug, type:Infrastructure

#4715 ENH: Remove ITKv4 compatibility support
  CMake/ITKConfig.cmake.in
  CMakeLists.txt
  Documentation/docs/migration_guides/itk_6_migration_guide.md
  Modules/Compatibility/Deprecated/include/itkImageTransformer.hxx
  Modules/Compatibility/Deprecated/itk-module.cmake
  Modules/Core/Common/include/itkImageSource.hxx
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/include/itkProcessObject.h
  Modules/Core/Common/src/itkConfigure.h.in
  Modules/Core/Common/src/itkPoolMultiThreader.cxx
  Modules/Core/Common/src/itkTBBMultiThreader.cxx
  Modules/Core/ImageFunction/include/itkInterpolateImageFunction.h
  Modules/Filtering/Smoothing/include/itkBoxMeanImageFilter.hxx
  Modules/Filtering/Smoothing/include/itkBoxSigmaImageFilter.hxx
  Modules/Filtering/Smoothing/include/itkBoxUtilities.h
  Modules/Filtering/Thresholding/include/itkOtsuMultipleThresholdsCalculator.h
  Modules/Filtering/Thresholding/include/itkOtsuMultipleThresholdsImageFilter.h
  Modules/Filtering/Thresholding/include/itkOtsuThresholdCalculator.h
  Modules/Filtering/Thresholding/include/itkOtsuThresholdImageFilter.h
  Modules/Filtering/Thresholding/test/itkOtsuMultipleThresholdsCalculatorTest.cxx
  Modules/Filtering/Thresholding/test/itkOtsuMultipleThresholdsImageFilterTest.cxx
  Modules/Filtering/Thresholding/test/itkOtsuThresholdCalculatorTest.cxx
  Modules/Filtering/Thresholding/test/itkOtsuThresholdImageFilterTest.cxx
  Modules/Remote/Deprecated/NeuralNetworks.remote.cmake
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core, area:Filtering, area:Remotes, area:Documentation

#4718 STYLE: Use `static_assert` to check `fenv_t` members
  Modules/Core/Common/CMake/itkCheckHasFenvtStructMember.cxx
Labels: type:Infrastructure, area:Core, type:Style

#4717 BUG: workaround FreeBSD make bug with spaces in filenames
  Modules/IO/Meta/test/CMakeLists.txt
Labels: type:Bug, type:Infrastructure, area:IO

#4714 COMP: Fix python wrapping build state to match python version
  Wrapping/macro_files/itk_end_wrap_module.cmake
Labels: type:Compiler, area:Python wrapping

#4720 COMP: Prefer initialization over constructor assignment
  Modules/Core/Common/include/itkImageSource.h
  Modules/Core/Common/include/itkImageSource.hxx
Labels: type:Compiler, area:Core

#4719 STYLE: Add `constexpr` to `if (Dimension ...)` statements
  Modules/Core/Common/include/itkCrossHelper.h
  Modules/Core/Common/include/itkIndex.h
  Modules/Core/Common/include/itkOffset.h
  Modules/Core/Common/include/itkPoint.hxx
  Modules/Core/Common/include/itkSize.h
  Modules/Core/Common/include/itkSobelOperator.hxx
  Modules/Core/Common/include/itkVector.hxx
  Modules/Core/Common/test/itkNeighborhoodAlgorithmTest.cxx
  Modules/Core/ImageAdaptors/test/itkVectorImageTest.cxx
  Modules/Core/SpatialObjects/include/itkMetaBlobConverter.hxx
  Modules/Core/SpatialObjects/include/itkMetaContourConverter.hxx
  Modules/Core/SpatialObjects/include/itkMetaDTITubeConverter.hxx
  Modules/Core/SpatialObjects/include/itkMetaLandmarkConverter.hxx
  Modules/Core/SpatialObjects/include/itkMetaLineConverter.hxx
  Modules/Core/SpatialObjects/include/itkMetaSurfaceConverter.hxx
  Modules/Core/SpatialObjects/include/itkSurfaceSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkTubeSpatialObject.hxx
  Modules/Filtering/BiasCorrection/include/itkMRIBiasFieldCorrectionFilter.hxx
  Modules/Filtering/DisplacementField/include/itkTimeVaryingVelocityFieldIntegrationImageFilter.hxx
  Modules/Filtering/FastMarching/include/itkFastMarchingImageFilterBase.hxx
  Modules/Filtering/GPUAnisotropicSmoothing/include/itkGPUScalarAnisotropicDiffusionFunction.hxx
  Modules/Filtering/GPUSmoothing/test/itkGPUMeanImageFilterTest.cxx
  Modules/Filtering/GPUThresholding/test/itkGPUImageFilterTest.cxx
  Modules/Filtering/ImageFeature/include/itkDiscreteGaussianDerivativeImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkLaplacianRecursiveGaussianImageFilter.hxx
  Modules/Filtering/ImageGradient/include/itkGradientRecursiveGaussianImageFilter.hxx
  Modules/Filtering/ImageGradient/include/itkVectorGradientMagnitudeImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkPadImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.hxx
  Modules/Filtering/ImageSources/test/itkGaborImageSourceTest.cxx
  Modules/Filtering/LabelMap/include/itkShapeLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkStatisticsLabelMapFilter.hxx
  Modules/IO/MINC/test/itkMINCImageIOTest.cxx
  Modules/IO/TransformMINC/include/itkMINCTransformAdapter.h
  Modules/Nonunit/Review/include/itkLabelGeometryImageFilter.hxx
  Modules/Nonunit/Review/test/itkLabelGeometryImageFilterTest.cxx
  Modules/Numerics/FEM/include/itkFEMImageMetricLoad.hxx
  Modules/Numerics/FEM/include/itkFEMScatteredDataPointSetToImageFilter.hxx
  Modules/Registration/Common/include/itkLandmarkBasedTransformInitializer.hxx
  Modules/Registration/FEM/include/itkFEMRegistrationFilter.hxx
  Modules/Registration/FEM/test/itkFEMFiniteDifferenceFunctionLoadTest.cxx
  Modules/Registration/Metricsv4/test/itkEuclideanDistancePointSetMetricTest.cxx
  Modules/Registration/Metricsv4/test/itkEuclideanDistancePointSetMetricTest2.cxx
  Modules/Registration/Metricsv4/test/itkEuclideanDistancePointSetMetricTest3.cxx
  Modules/Registration/Metricsv4/test/itkExpectationBasedPointSetMetricRegistrationTest.cxx
  Modules/Registration/Metricsv4/test/itkExpectationBasedPointSetMetricTest.cxx
  Modules/Registration/Metricsv4/test/itkImageToImageMetricv4RegistrationTest.cxx
  Modules/Registration/Metricsv4/test/itkJensenHavrdaCharvatTsallisPointSetMetricRegistrationTest.cxx
  Modules/Registration/Metricsv4/test/itkJensenHavrdaCharvatTsallisPointSetMetricTest.cxx
  Modules/Registration/Metricsv4/test/itkLabeledPointSetMetricTest.cxx
  Modules/Segmentation/LevelSets/include/itkLevelSetFunction.hxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style, area:Numerics

#4728 PERF: Add fast `noexcept` "move semantics" to `Array2D`
  Modules/Core/Common/include/itkArray2D.h
  Modules/Core/Common/test/itkArray2DGTest.cxx
Labels: type:Performance, type:Testing, area:Core

#4731 ENH: Present mode of failure for diagnostic
  itk_common.cmake
Labels: type:Infrastructure

#4665 Wdeprecated
  Modules/Core/Common/include/itkImage.h
  Modules/Core/Common/include/itkVector.h
  Modules/Core/Common/include/itkVectorImage.h
  Modules/Core/ImageAdaptors/include/itkImageAdaptor.h
  Modules/Core/Transform/include/itkMatrixOffsetTransformBase.h
  Modules/Filtering/ImageFilterBase/include/itkCastImageFilter.h
Labels: area:Core, area:Filtering

#4726 COMP: macOS-11 Azure CI environment EOL
  Testing/ContinuousIntegration/AzurePipelinesMacOS.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
Labels: type:Compiler, type:Infrastructure, type:Testing

#4735 COMP: macOS-11 Azure CI environment EOL
  Testing/ContinuousIntegration/AzurePipelinesMacOS.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
Labels: type:Compiler, type:Infrastructure, type:Testing

#4734 BUG: Move InputSpaceName, OutputSpaceName from Transform to Transform…
  Modules/Core/Transform/include/itkTransform.h
  Modules/Core/Transform/include/itkTransformBase.h
  Modules/Core/Transform/test/itkTransformTest.cxx
  Modules/IO/TransformHDF5/test/itkIOTransformHDF5Test.cxx
Labels: type:Bug, type:Testing, area:Core, area:IO

#4736 Hdf5 update mangled symbols
  Modules/ThirdParty/HDF5/src/itkhdf5/src/itk_hdf5_mangle.h.in
Labels: area:ThirdParty

#4739 MetaIO 2024-06-20 (eb952d5b)
  Modules/ThirdParty/MetaIO/src/MetaIO/src/CMakeLists.txt
  Modules/ThirdParty/MetaIO/src/MetaIO/src/localMetaConfiguration.h
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaArray.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaArray.h
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaArrow.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaArrow.h
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaBlob.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaCommand.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaContour.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaEllipse.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaForm.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaForm.h
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaImage.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaImage.h
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaLandmark.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaLine.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaMesh.h
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaObject.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaObject.h
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaScene.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaSurface.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaUtils.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaUtils.h
  Modules/ThirdParty/MetaIO/src/MetaIO/src/tests/testMeta2Object.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/tests/testMeta4Tube.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/tests/testMeta5Blob.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/tests/testMeta6Surface.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/tests/testMeta7Line.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/tests/testMeta9Landmark.cxx
Labels: type:Infrastructure, area:ThirdParty

#4727 BUG: Address race condition
  Modules/Segmentation/SuperPixel/include/itkSLICImageFilter.hxx
Labels: type:Bug, area:Segmentation

#4737 Remove cxx aliases
  Documentation/docs/migration_guides/itk_6_migration_guide.md
  Modules/Core/Common/include/itkMacro.h
  Utilities/ITKMigrationPreparation/CheckForOutdatedDefines.sh
  Utilities/ITKMigrationPreparation/EnumPrintFunction.py
  Utilities/ITKMigrationPreparation/Move_DISALLOW_COPY_to_public_section.cpp
  Utilities/ITKMigrationPreparation/ReplaceITK_NULLPTRMacroNames.sh
  Utilities/ITKMigrationPreparation/ReplaceITK_OVERRIDEMacroNames.sh
  Utilities/ITKMigrationPreparation/ReplaceOutdatedMacroNames.sh
  Utilities/ITKMigrationPreparation/ReplaceitkGetObjectMacro.sh
  Utilities/ITKMigrationPreparation/UpdateAllC++Headers.sh
  Utilities/ITKMigrationPreparation/UseNativeC++Syntax.sh
  Utilities/ITKMigrationPreparation/cmakeRemoveBlockEndCruft.sh
  Utilities/ITKMigrationPreparation/cmakeToLowerCase.sh
  Utilities/ITKMigrationPreparation/misc-unused-parameters.sh
  Utilities/ITKMigrationPreparation/modernize-loop-convert.sh
  Utilities/ITKMigrationPreparation/modernize-pass-by-value.sh
  Utilities/ITKMigrationPreparation/modernize-return-braced-init-list.sh
  Utilities/ITKMigrationPreparation/modernize-use-auto.sh
  Utilities/ITKMigrationPreparation/modernize-use-bool-literals.sh
  Utilities/ITKMigrationPreparation/modernize-use-default-member-init.sh
  Utilities/ITKMigrationPreparation/modernize-use-emplace.sh
  Utilities/ITKMigrationPreparation/modernize-use-equals-default.sh
  Utilities/ITKMigrationPreparation/modernize-use-equals-delete.sh
  Utilities/ITKMigrationPreparation/modernize-use-nullptr.sh
  Utilities/ITKMigrationPreparation/modernize-use-override.sh
  Utilities/ITKMigrationPreparation/performance-general.sh
  Utilities/ITKMigrationPreparation/prefer-type-alias-over-typedef.sh
  Utilities/ITKMigrationPreparation/prefer_constexpr_for_const_literals.sh
  Utilities/ITKMigrationPreparation/readability-container-size-empty.sh
  Utilities/ITKMigrationPreparation/replaceClassWithTypename.py
  Utilities/ITKMigrationPreparation/replace_atoi_atof.sh
  Utilities/ITKMigrationPreparation/replace_itkStaticConstMacro.sh
  Utilities/ITKMigrationPreparation/replace_vnl_math_XXX.sh
  Utilities/ITKMigrationPreparation/update_remote_hash.sh
  Utilities/ITKv5Preparation/ReplaceOutdatedMacroNames.sh
Labels: type:Infrastructure, area:Core, area:Documentation

#4744 STYLE: Remove outdated maintenance scripts
  Documentation/docs/migration_guides/itk_6_migration_guide.md
  Utilities/ITKMigrationPreparation/CheckForOutdatedDefines.sh
  Utilities/ITKMigrationPreparation/EnumPrintFunction.py
  Utilities/ITKMigrationPreparation/Move_DISALLOW_COPY_to_public_section.cpp
  Utilities/ITKMigrationPreparation/ReplaceITK_NULLPTRMacroNames.sh
  Utilities/ITKMigrationPreparation/ReplaceITK_OVERRIDEMacroNames.sh
  Utilities/ITKMigrationPreparation/ReplaceitkGetObjectMacro.sh
  Utilities/ITKMigrationPreparation/UpdateAllC++Headers.sh
  Utilities/ITKMigrationPreparation/UseNativeC++Syntax.sh
  Utilities/ITKMigrationPreparation/misc-unused-parameters.sh
  Utilities/ITKMigrationPreparation/modernize-loop-convert.sh
  Utilities/ITKMigrationPreparation/modernize-pass-by-value.sh
  Utilities/ITKMigrationPreparation/modernize-return-braced-init-list.sh
  Utilities/ITKMigrationPreparation/modernize-use-auto.sh
  Utilities/ITKMigrationPreparation/modernize-use-bool-literals.sh
  Utilities/ITKMigrationPreparation/modernize-use-default-member-init.sh
  Utilities/ITKMigrationPreparation/modernize-use-emplace.sh
  Utilities/ITKMigrationPreparation/modernize-use-equals-default.sh
  Utilities/ITKMigrationPreparation/modernize-use-equals-delete.sh
  Utilities/ITKMigrationPreparation/modernize-use-nullptr.sh
  Utilities/ITKMigrationPreparation/modernize-use-override.sh
  Utilities/ITKMigrationPreparation/performance-general.sh
  Utilities/ITKMigrationPreparation/prefer-type-alias-over-typedef.sh
  Utilities/ITKMigrationPreparation/prefer_constexpr_for_const_literals.sh
  Utilities/ITKMigrationPreparation/readability-container-size-empty.sh
  Utilities/ITKMigrationPreparation/replaceClassWithTypename.py
  Utilities/ITKMigrationPreparation/replace_itkStaticConstMacro.sh
  Utilities/ITKMigrationPreparation/replace_vnl_math_XXX.sh
Labels: type:Infrastructure, area:Python wrapping, type:Style, area:Documentation

#4743 ENH: Update SpatialObjects for MetaIO v1
  Modules/Core/SpatialObjects/include/itkArrowSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkMetaArrowConverter.hxx
  Modules/Core/SpatialObjects/include/itkMetaConverterBase.h
  Modules/Core/SpatialObjects/include/itkMetaConverterBase.hxx
  Modules/Core/SpatialObjects/include/itkMetaImageConverter.hxx
  Modules/Core/SpatialObjects/include/itkMetaSceneConverter.h
  Modules/Core/SpatialObjects/include/itkMetaSceneConverter.hxx
  Modules/Core/SpatialObjects/test/itkMetaArrowConverterTest.cxx
  Modules/IO/SpatialObjects/include/itkSpatialObjectReader.h
  Modules/IO/SpatialObjects/include/itkSpatialObjectReader.hxx
  Modules/IO/SpatialObjects/include/itkSpatialObjectWriter.h
  Modules/IO/SpatialObjects/include/itkSpatialObjectWriter.hxx
Labels: type:Enhancement, type:Testing, area:Core, area:IO

#4747 COMP: Conditional compilations missing variables
  Modules/Filtering/FFT/test/itkFFTWF_FFTTest.cxx
  Modules/Filtering/FFT/test/itkFFTWF_RealFFTTest.cxx
  Modules/Filtering/FFT/test/itkVnlFFTWF_FFTTest.cxx
  Modules/Filtering/FFT/test/itkVnlFFTWF_RealFFTTest.cxx
Labels: type:Compiler, type:Testing, area:Filtering

#4750 squash and merge
  Documentation/docs/contributing/index.md
Labels: area:Documentation

#4745 Macro noop consistency
  Modules/Core/Common/include/itkMacro.h
Labels: area:Core

#4752 PERF: Add fast "move semantics" to SpatialObjectPoint classes
  Modules/Core/SpatialObjects/include/itkContourSpatialObjectPoint.h
  Modules/Core/SpatialObjects/include/itkContourSpatialObjectPoint.hxx
  Modules/Core/SpatialObjects/include/itkDTITubeSpatialObjectPoint.h
  Modules/Core/SpatialObjects/include/itkDTITubeSpatialObjectPoint.hxx
  Modules/Core/SpatialObjects/include/itkLineSpatialObjectPoint.h
  Modules/Core/SpatialObjects/include/itkLineSpatialObjectPoint.hxx
  Modules/Core/SpatialObjects/include/itkSpatialObjectPoint.h
  Modules/Core/SpatialObjects/include/itkSpatialObjectPoint.hxx
  Modules/Core/SpatialObjects/include/itkSurfaceSpatialObjectPoint.h
  Modules/Core/SpatialObjects/include/itkSurfaceSpatialObjectPoint.hxx
  Modules/Core/SpatialObjects/include/itkTubeSpatialObjectPoint.h
  Modules/Core/SpatialObjects/include/itkTubeSpatialObjectPoint.hxx
  Modules/Core/SpatialObjects/test/CMakeLists.txt
  Modules/Core/SpatialObjects/test/itkSpatialObjectPointGTest.cxx
Labels: type:Infrastructure, type:Performance, type:Testing, area:Core

#4755 COMP: Swap should be marked noexception
  Modules/Core/Common/include/itkArray.h
Labels: type:Compiler, area:Core

#4756 ENH: Move ITK_FUTURE_LEGACY_REMOVE to ITK_LEGACY_REMOVE
  Modules/Core/Common/include/itkMacro.h
Labels: type:Enhancement, area:Core

#4753 ENH: Finalize ITKv5 API changes for ITKv6
  Modules/Core/Common/include/itkConstNeighborhoodIterator.h
  Modules/Core/Common/include/itkConstNeighborhoodIteratorWithOnlyIndex.h
  Modules/Core/Common/include/itkConstShapedNeighborhoodIterator.h
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/include/itkNeighborhoodIterator.h
  Modules/Core/Common/include/itkShapedNeighborhoodIterator.h
Labels: type:Enhancement, area:Core

#4759 hdf5 empty transform list
  Modules/IO/TransformHDF5/src/itkHDF5TransformIO.cxx
Labels: area:IO

#4724 COMP: -Wextra-semi new fix proposed
  Modules/Core/Common/include/itkCellInterface.h
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/include/itkNumericTraits.h
  Modules/Core/Common/include/itkNumericTraitsFixedArrayPixel.h
  Modules/Core/Common/include/itkProcessObject.h
  Modules/Core/Common/include/itkPromoteType.h
  Modules/Core/Common/include/itkSymmetricEigenAnalysis.h
  Modules/Core/Common/include/itkVectorContainer.h
  Modules/Core/Transform/include/itkBSplineTransform.h
  Modules/Filtering/Convolution/include/itkConvolutionImageFilterBase.h
  Modules/Filtering/DisplacementField/include/itkVelocityFieldTransform.h
  Modules/Filtering/ImageFilterBase/include/itkNullImageToImageFilterDriver.hxx
  Modules/Filtering/ImageFrequency/include/itkFrequencyShiftedFFTLayoutImageRegionConstIteratorWithIndex.h
  Modules/Filtering/ImageIntensity/include/itkArithmeticOpsFunctors.h
  Modules/IO/IPL/include/itkIPLFileNameList.h
  Modules/Numerics/Optimizersv4/include/itkLBFGS2Optimizerv4.h
  Modules/Registration/Common/include/itkTransformParametersAdaptor.h
  Modules/Registration/Metricsv4/include/itkPointSetToPointSetMetricWithIndexv4.h
  Modules/Registration/Metricsv4/include/itkPointSetToPointSetMetricv4.h
Labels: type:Compiler, area:Core, area:Filtering, area:IO, area:Registration, area:Numerics
