Repository InsightSoftwareConsortium/ITK, pull requests merged in 2024-01, with the labels that each got.

#4381 ENH: Add class template argument deduction (CTAD) support to ImageRegion
  Modules/Core/Common/include/itkImageRegion.h
  Modules/Core/Common/test/itkImageRegionGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#4380 zlib-ng 2023-12-29 (fd5b20f4)
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/CMakeLists.txt
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/README.md
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/Makefile.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/acle_intrins.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/arm_features.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/arm_features.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/crc32_acle.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/insert_string_acle.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/neon_intrins.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/arm/slide_hash_armv6.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/riscv/README.md
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/riscv/adler32_rvv.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/riscv/chunkset_rvv.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/riscv/riscv_features.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_avx2.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_avx2_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_avx512.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/adler32_avx512_tpl.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/x86_features.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/detect-intrinsics.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/toolchain-llvm-mingw-aarch64.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/toolchain-llvm-mingw-armv7.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/toolchain-llvm-mingw-i686.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cmake/toolchain-llvm-mingw-x86_64.cmake
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/cpu_features.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/deflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/functable.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/functable.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/gzguts.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/gzlib.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/gzread.c.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inftrees.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zbuild.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zlib.h.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zlib.pc.cmakein
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zutil.c
Labels: type:Infrastructure, area:ThirdParty

#4383 ENH: Add `itk::Copy(const T & original)`, which simply returns a copy
  .github/workflows/itk_dict.txt
  Modules/Core/Common/include/itkCopy.h
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkCopyGTest.cxx
Labels: type:Infrastructure, type:Enhancement, area:Python wrapping, type:Testing, area:Core

#4395 ENH: Update Montage remote module
  Modules/Remote/Montage.remote.cmake
Labels: type:Enhancement, area:Remotes

#4398 COMP: Fix name of class assertion failure in FEM module
  Modules/Numerics/FEM/include/itkFEMLinearSystemWrapper.h
Labels: type:Compiler, area:Numerics

#4401 Add error message to static_assert in `GetNameOfClass()` macro, add `itkInternalGetNameOfClassImplementationMacro`
  Modules/Core/Common/include/itkMacro.h
Labels: area:Core

#4393 DOC: Fix git hook commit error message if clang-format is not found
  Utilities/Hooks/pre-commit-style.bash
Labels: type:Infrastructure, type:Documentation

#4403 COMP: Fix compilation of optional FEM module
  Modules/Numerics/FEM/include/itkFEMSpatialObjectReader.h
  Modules/Numerics/FEM/include/itkFEMSpatialObjectWriter.h
Labels: type:Compiler, area:Numerics

#4400 Fix FEM module compilation with VS2019
  Modules/Core/Common/include/itkImageRandomConstIteratorWithIndex.h
  Modules/Core/Common/include/itkImageRandomConstIteratorWithIndex.hxx
  Modules/Core/Common/include/itkImageRandomConstIteratorWithOnlyIndex.h
  Modules/Core/Common/include/itkImageRandomConstIteratorWithOnlyIndex.hxx
  Modules/Core/Common/include/itkImageRandomNonRepeatingConstIteratorWithIndex.h
  Modules/Core/Common/include/itkImageRandomNonRepeatingConstIteratorWithIndex.hxx
  Modules/Filtering/LabelMap/include/itkLabelMap.h
  Modules/Filtering/LabelMap/include/itkLabelMap.hxx
Labels: area:Core, area:Filtering

#4404 COMP: Fix Warning for CMP0135 in remote modules (DownloadClangFormat)
  Utilities/ClangFormat/DownloadClangFormat.cmake
Labels: type:Compiler, type:Infrastructure

#4392 COMP: Skip Python-Wrapping of ITKVtkGlue
  Modules/Bridge/VtkGlue/wrapping/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:Python wrapping, area:Bridge

#4397 COMP: Explicitly instantiate LBFGSOptimizerBasev4
  Modules/Numerics/Optimizersv4/include/itkLBFGSOptimizerBasev4.h
  Modules/Numerics/Optimizersv4/include/itkLBFGSOptimizerBasev4.hxx
  Modules/Numerics/Optimizersv4/src/CMakeLists.txt
  Modules/Numerics/Optimizersv4/src/itkLBFGSOptimizerv4Base.cxx
Labels: type:Compiler, type:Infrastructure, area:Numerics

#4410 DOC: Update and clarify binary data upload process
  Documentation/docs/contributing/content-link-upload.png
  Documentation/docs/contributing/data.md
  Documentation/docs/contributing/upload_binary_data.md
Labels: type:Documentation, area:Documentation

#4408 Use std::next in LabelMap, and other style improvements
  Modules/Filtering/LabelMap/include/itkLabelMap.h
  Modules/Filtering/LabelMap/include/itkLabelMap.hxx
Labels: area:Filtering

#4402 Remove redundant `MatrixOffsetTransformBase::GetInverseMatrix()` calls
  Modules/Core/Transform/include/itkCenteredSimilarity2DTransform.hxx
  Modules/Core/Transform/include/itkMatrixOffsetTransformBase.hxx
  Modules/Core/Transform/include/itkSimilarity2DTransform.hxx
Labels: area:Core

#4414 STYLE: Remove itkSetObjectMacro if itkSetConstObjectMacro is also there
  Modules/Numerics/Optimizersv4/include/itkRegistrationParameterScalesEstimator.h
  Modules/Registration/Common/include/itkImageToImageMetric.h
  Modules/Registration/Metricsv4/include/itkImageToImageMetricv4.h
Labels: area:Registration, type:Style, area:Numerics

#4418 STYLE: Fix style in miscellaneous `FEM` tests
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearLineStressItpackTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearLineStressTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralMembraneTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralStrainItpackTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralStrainTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralStressTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralStressTestFEMObject.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralStressTestFEMObjectReader.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearTriangleMembraneTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearTriangleStrainTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearTriangleStressTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0QuadraticTriangleStrainTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0QuadraticTriangleStressTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC1BeamTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement3DC0LinearHexahedronMembraneTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement3DC0LinearHexahedronStrainTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement3DC0LinearTetrahedronMembraneTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement3DC0LinearTetrahedronStrainTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement3DTest.cxx
  Modules/Numerics/FEM/test/itkFEMElementTest.cxx
  Modules/Numerics/FEM/test/itkFEMExceptionTest.cxx
  Modules/Numerics/FEM/test/itkFEMFactoryTest.cxx
  Modules/Numerics/FEM/test/itkFEMGenerateMeshTest.cxx
  Modules/Numerics/FEM/test/itkFEMLandmarkLoadImplementationTest.cxx
  Modules/Numerics/FEM/test/itkFEMLoadBCMFCTest.cxx
  Modules/Numerics/FEM/test/itkFEMLoadBCMFCTestUser.cxx
  Modules/Numerics/FEM/test/itkFEMLoadEdgeTest.cxx
  Modules/Numerics/FEM/test/itkFEMLoadGravConstTest.cxx
  Modules/Numerics/FEM/test/itkFEMLoadPointTestUser.cxx
  Modules/Numerics/FEM/test/itkFEMObjectTest.cxx
  Modules/Numerics/FEM/test/itkFEMObjectTest2.cxx
  Modules/Numerics/FEM/test/itkFEMPArrayTest.cxx
  Modules/Numerics/FEM/test/itkFEMSolverHyperbolicTest.cxx
  Modules/Numerics/FEM/test/itkFEMSolverTest2D.cxx
  Modules/Numerics/FEM/test/itkFEMSolverTest3D.cxx
  Modules/Numerics/FEM/test/itkFEMSpatialObjectTest.cxx
  Modules/Numerics/FEM/test/itkImageToRectilinearFEMObjectFilter2DTest.cxx
  Modules/Numerics/FEM/test/itkImageToRectilinearFEMObjectFilter3DTest.cxx
Labels: type:Testing, type:Style, area:Numerics

#4415 STYLE: Remove public defaulted default-constructor/destructor pairs
  Modules/Compatibility/Deprecated/include/itkVectorCastImageFilter.h
  Modules/Core/Common/include/itkBresenhamLine.h
  Modules/Core/Common/include/itkDefaultPixelAccessor.h
  Modules/Core/Common/include/itkPoint.h
  Modules/Core/Common/include/itkSymmetricEigenAnalysis.h
  Modules/Core/Common/test/itkSimpleFilterWatcherTest.cxx
  Modules/Filtering/Deconvolution/include/itkLandweberDeconvolutionImageFilter.h
  Modules/Filtering/DiffusionTensorImage/include/itkTensorFractionalAnisotropyImageFilter.h
  Modules/Filtering/DiffusionTensorImage/include/itkTensorRelativeAnisotropyImageFilter.h
  Modules/Filtering/ImageCompare/include/itkAbsoluteValueDifferenceImageFilter.h
  Modules/Filtering/ImageCompare/include/itkSquaredDifferenceImageFilter.h
  Modules/Filtering/ImageCompose/include/itkJoinImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkAbsImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkAcosImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkArithmeticOpsFunctors.h
  Modules/Filtering/ImageIntensity/include/itkAsinImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkAtan2ImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkAtanImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkBinaryMagnitudeImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkBitwiseOpsFunctors.h
  Modules/Filtering/ImageIntensity/include/itkBoundedReciprocalImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkComplexToImaginaryImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkComplexToModulusImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkComplexToPhaseImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkComplexToRealImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkConstrainedValueAdditionImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkConstrainedValueDifferenceImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkCosImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkEdgePotentialImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkExpImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkLog10ImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkLogImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkLogicOpsFunctors.h
  Modules/Filtering/ImageIntensity/include/itkMagnitudeAndPhaseToComplexImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkMaskNegatedImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkMaximumImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkMinimumImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkNaryAddImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkNaryMaximumImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkRGBToLuminanceImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkRoundImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkSinImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkSqrtImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkSquareImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkSymmetricEigenAnalysisImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkTanImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkTernaryMagnitudeImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkTernaryMagnitudeSquaredImageFilter.h
  Modules/Filtering/ImageIntensity/include/itkVectorMagnitudeImageFilter.h
  Modules/Filtering/ImageLabel/include/itkChangeLabelImageFilter.h
  Modules/Filtering/LabelMap/include/itkBinaryNotImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkVanHerkGilWermanDilateImageFilter.h
  Modules/Filtering/MathematicalMorphology/include/itkVanHerkGilWermanErodeImageFilter.h
Labels: area:Python wrapping, type:Testing, area:Core, area:Filtering, type:Style

#4413 STYLE: Replace old `if` by "constexpr if" in `itk::Math` implementation
  Modules/Core/Common/include/itkMath.h
Labels: area:Core, type:Style

#4422 5.4 RC 2 release notes
  Documentation/docs/contributing/upload_binary_data.md
  Documentation/docs/releases/5.4rc02.md
  Documentation/docs/releases/index.md
  Utilities/Maintenance/DownloadLinksCookieCutter/{{cookiecutter.output_directory}}/ReleaseDownloadLinks.md
Labels: type:Infrastructure, area:Documentation

#4423 Update remotes
  Modules/Remote/BioCell.remote.cmake
  Modules/Remote/Cleaver.remote.cmake
  Modules/Remote/CudaCommon.remote.cmake
  Modules/Remote/GenericLabelInterpolator.remote.cmake
  Modules/Remote/GrowCut.remote.cmake
  Modules/Remote/HigherOrderAccurateGradient.remote.cmake
  Modules/Remote/IOScanco.remote.cmake
  Modules/Remote/IsotropicWavelets.remote.cmake
  Modules/Remote/MGHIO.remote.cmake
  Modules/Remote/MeshToPolyData.remote.cmake
  Modules/Remote/RLEImage.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/Strain.remote.cmake
  Modules/Remote/TotalVariation.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/Ultrasound.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
  Utilities/Maintenance/UpdateRemoteModules.sh
Labels: type:Infrastructure, area:Examples, area:Remotes

#4425 COMP: Address clang warnings in a remote module
  Modules/Filtering/DisplacementField/include/itkTimeVaryingVelocityFieldIntegrationImageFilter.hxx
Labels: type:Compiler, area:Filtering

#4420 STYLE: Check properly `FEM`module test input arguments
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearLineStressItpackTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearLineStressTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralMembraneTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralStrainItpackTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralStrainTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralStressTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralStressTestFEMObject.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearQuadrilateralStressTestFEMObjectReader.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearTriangleMembraneTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearTriangleStrainTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0LinearTriangleStressTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0QuadraticTriangleStrainTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC0QuadraticTriangleStressTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DC1BeamTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement2DTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement3DC0LinearHexahedronMembraneTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement3DC0LinearHexahedronStrainTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement3DC0LinearTetrahedronMembraneTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement3DC0LinearTetrahedronStrainTest.cxx
  Modules/Numerics/FEM/test/itkFEMElement3DTest.cxx
  Modules/Numerics/FEM/test/itkFEMFactoryTest.cxx
  Modules/Numerics/FEM/test/itkFEMLandmarkLoadImplementationTest.cxx
  Modules/Numerics/FEM/test/itkFEMLoadBCMFCTest.cxx
  Modules/Numerics/FEM/test/itkFEMLoadBCMFCTestUser.cxx
  Modules/Numerics/FEM/test/itkFEMLoadEdgeTest.cxx
  Modules/Numerics/FEM/test/itkFEMLoadGravConstTest.cxx
  Modules/Numerics/FEM/test/itkFEMSolverTest2D.cxx
  Modules/Numerics/FEM/test/itkFEMSolverTest3D.cxx
  Modules/Numerics/FEM/test/itkFEMSpatialObjectTest.cxx
  Modules/Numerics/FEM/test/itkImageToRectilinearFEMObjectFilter2DTest.cxx
  Modules/Numerics/FEM/test/itkImageToRectilinearFEMObjectFilter3DTest.cxx
Labels: type:Testing, type:Style, area:Numerics

#4421 DOC: Fix `itk::FEMSpatialObjectWriter` Doxygen `brief` description
  Modules/Numerics/FEM/include/itkFEMSpatialObjectWriter.h
Labels: type:Documentation, area:Numerics

#4427 KWSys 2023-11-29 (433f3d23)
  Modules/ThirdParty/KWSys/src/KWSys/CMakeLists.txt
  Modules/ThirdParty/KWSys/src/KWSys/CommandLineArguments.cxx
  Modules/ThirdParty/KWSys/src/KWSys/RegularExpression.cxx
  Modules/ThirdParty/KWSys/src/KWSys/RegularExpression.hxx.in
  Modules/ThirdParty/KWSys/src/KWSys/SharedForward.h.in
  Modules/ThirdParty/KWSys/src/KWSys/String.hxx.in
  Modules/ThirdParty/KWSys/src/KWSys/SystemInformation.cxx
  Modules/ThirdParty/KWSys/src/KWSys/SystemTools.cxx
  Modules/ThirdParty/KWSys/src/KWSys/SystemTools.hxx.in
  Modules/ThirdParty/KWSys/src/KWSys/kwsysPlatformTests.cmake
  Modules/ThirdParty/KWSys/src/KWSys/testDynamicLoader.cxx
  Modules/ThirdParty/KWSys/src/KWSys/testSharedForward.c.in
Labels: type:Infrastructure, area:ThirdParty

#4428 ENH: Update KWStyle to avoid a CMake warning during its configure step
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Infrastructure, type:Enhancement

#4424 STYLE: Replace tuple with private GlobalObject struct, in SingletonIndex
  Modules/Core/Common/include/itkSingleton.h
  Modules/Core/Common/src/itkSingleton.cxx
Labels: area:Core, type:Style

#4429 COMP: Remove unnecessary `itkFEMSpatialObjectWriter.h` includes
  Modules/Numerics/FEM/test/itkFEMObjectTest.cxx
  Modules/Numerics/FEM/test/itkFEMObjectTest2.cxx
Labels: type:Compiler, type:Testing, area:Numerics

#4436 STYLE: remove duplicated itkMath.h headers
  Modules/Core/Common/include/itkVariableLengthVector.hxx
  Modules/Core/Common/test/itkImageIteratorWithIndexTest.cxx
  Modules/Core/Common/test/itkMathCastWithRangeCheckTest.cxx
  Modules/Core/Transform/include/itkScalableAffineTransform.hxx
  Modules/Filtering/BiasCorrection/test/itkCompositeValleyFunctionTest.cxx
  Modules/Filtering/DistanceMap/include/itkSignedMaurerDistanceMapImageFilter.hxx
  Modules/Filtering/FastMarching/include/itkFastMarchingImageFilter.h
  Modules/Filtering/FastMarching/include/itkFastMarchingImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkBSplineControlPointImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkBSplineScatteredDataPointSetToImageFilter.hxx
  Modules/Filtering/ImageGrid/test/itkWarpImageFilterTest.cxx
  Modules/Filtering/LabelMap/include/itkStatisticsLabelMapFilter.hxx
  Modules/Filtering/Thresholding/include/itkHuangThresholdCalculator.hxx
  Modules/Numerics/Optimizersv4/test/itkLBFGSBOptimizerv4Test.cxx
  Modules/Numerics/Optimizersv4/test/itkLBFGSOptimizerv4Test.cxx
  Modules/Registration/Metricsv4/test/itkJointHistogramMutualInformationImageToImageMetricv4Test.cxx
  Modules/Segmentation/KLMRegionGrowing/include/itkKLMSegmentationBorder.h
  Modules/Segmentation/RegionGrowing/include/itkIsolatedConnectedImageFilter.hxx
Labels: type:Testing, area:Core, area:Filtering, area:Registration, area:Segmentation, type:Style, area:Numerics

#4437 STYLE: remove unnecessary itkImageFileWriter.h header
  Modules/Filtering/Denoising/include/itkPatchBasedDenoisingImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkThresholdSegmentationLevelSetFunction.hxx
  Modules/Segmentation/LevelSets/include/itkVectorThresholdSegmentationLevelSetFunction.hxx
  Modules/Segmentation/LevelSets/test/itkVectorThresholdSegmentationLevelSetImageFilterTest.cxx
Labels: type:Testing, area:Filtering, area:Segmentation, type:Style

#4430 Fix `Math::Round` calls that have a floating point type as template argument
  Modules/Filtering/Denoising/include/itkPatchBasedDenoisingImageFilter.hxx
  Modules/Filtering/ImageNoise/include/itkNoiseBaseImageFilter.hxx
Labels: area:Filtering

#4435 PERF: Let SpatialObject directly access m_ObjectToWorldTransformInverse
  Modules/Core/SpatialObjects/include/itkSpatialObject.h
  Modules/Core/SpatialObjects/include/itkSpatialObject.hxx
Labels: type:Performance, area:Core

#4438 Documentation improvements on overriding `SpatialObject` member functions
  Modules/Core/SpatialObjects/include/itkSpatialObject.h
Labels: area:Core

#4439 ENH: Improve messages when ITKInternalEigen3 fails to configure
  CMake/itkExternal_Eigen3.cmake
Labels: type:Infrastructure, type:Enhancement
