Repository InsightSoftwareConsortium/ITK, pull requests merged in 2025-07, with the labels that each got.

#5447 STYLE: Miscellaneous fixes to commit msg hook script
  Utilities/Hooks/kw-commit-msg.py
Labels: type:Infrastructure, area:Python wrapping, type:Style

#5459 BUG: remove ITK_VERSION_MAJOR for nifti and gifti
  Modules/ThirdParty/GIFTI/src/CMakeLists.txt
  Modules/ThirdParty/NIFTI/src/CMakeLists.txt
Labels: type:Bug, type:Infrastructure, area:ThirdParty

#5458 COMP: fixed warnings about unneeded semi-colons
  Modules/Bridge/VTK/include/itkVTKImageImport.h
  Modules/Core/Common/include/itkEventObject.h
  Modules/Filtering/MathematicalMorphology/test/itkFlatStructuringElementTest2.cxx
Labels: type:Compiler, type:Testing, area:Bridge, area:Core, area:Filtering

#5465 STYLE: Replace `char` with `signed char` as itk::Image argument in tests
  Modules/Core/Common/test/itkBSplineInterpolationWeightFunctionTest.cxx
  Modules/Core/Common/test/itkConstNeighborhoodIteratorWithOnlyIndexTest.cxx
  Modules/Core/Common/test/itkImageAlgorithmCopyTest.cxx
  Modules/Core/Common/test/itkImageRegionConstIteratorWithOnlyIndexTest.cxx
  Modules/Core/Common/test/itkImageVectorOptimizerParametersHelperTest.cxx
  Modules/Core/Common/test/itkMultiThreaderParallelizeArrayTest.cxx
  Modules/Core/Common/test/itkSimpleFilterWatcherTest.cxx
  Modules/Filtering/AntiAlias/test/itkAntiAliasBinaryImageFilterTest.cxx
  Modules/Filtering/ImageCompose/test/itkJoinImageFilterTest.cxx
  Modules/Filtering/ImageFrequency/test/itkFrequencyIteratorsGTest.cxx
  Modules/Filtering/ImageIntensity/test/itkShiftScaleImageFilterTest.cxx
  Modules/IO/ImageBase/test/itkImageFileReaderDimensionsTest.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest11.cxx
  Modules/Registration/Common/test/itkImageRegistrationMethodTest.cxx
  Modules/Registration/Common/test/itkImageRegistrationMethodTest_11.cxx
  Modules/Registration/Common/test/itkMultiResolutionImageRegistrationMethodTest.cxx
  Modules/Segmentation/LevelSets/test/itkCannySegmentationLevelSetImageFilterTest.cxx
  Modules/Segmentation/LevelSets/test/itkLaplacianSegmentationLevelSetImageFilterTest.cxx
  Modules/Segmentation/LevelSets/test/itkNarrowBandThresholdSegmentationLevelSetImageFilterTest.cxx
  Modules/Segmentation/LevelSets/test/itkThresholdSegmentationLevelSetImageFilterTest.cxx
  Modules/Segmentation/LevelSetsv4/test/itkBinaryImageToShiSparseLevelSetAdaptorTest.cxx
Labels: area:Python wrapping, type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style

#5469 Remove byte swapping for pixel components of size 1 from Bruker2dseqImageIO and VTKImageIO
  Modules/IO/Bruker/src/itkBruker2dseqImageIO.cxx
  Modules/IO/VTK/src/itkVTKImageIO.cxx
Labels: area:IO

#5472 DOC: Add information to NRRD and GDCM IOs.
  Modules/IO/GDCM/include/itkGDCMImageIO.h
  Modules/IO/NRRD/include/itkNrrdImageIO.h
Labels: type:Documentation, area:IO

#5474 DOC: Add missing thrid-party subtree directories to hook
  Utilities/Hooks/post-commit
Labels: type:Infrastructure, type:Documentation
