Repository InsightSoftwareConsortium/ITK, pull requests merged in 2025-02, with the labels that each got.

#5204 DOC: Fix incorrect `BibTeX` citation keys
  Modules/Core/Common/include/itkGaussianDerivativeOperator.h
  Modules/Filtering/Convolution/include/itkMaskedFFTNormalizedCorrelationImageFilter.h
  Modules/Filtering/ImageGrid/include/itkBSplineResampleImageFilterBase.h
Labels: type:Documentation, area:Core, area:Filtering

#5205 STYLE: Miscellaneous `ImageCompose` test style enhancements
  Modules/Filtering/ImageCompose/test/itkCompose2DCovariantVectorImageFilterTest.cxx
  Modules/Filtering/ImageCompose/test/itkCompose2DVectorImageFilterTest.cxx
  Modules/Filtering/ImageCompose/test/itkCompose3DCovariantVectorImageFilterTest.cxx
  Modules/Filtering/ImageCompose/test/itkCompose3DVectorImageFilterTest.cxx
  Modules/Filtering/ImageCompose/test/itkComposeRGBAImageFilterTest.cxx
  Modules/Filtering/ImageCompose/test/itkComposeRGBImageFilterTest.cxx
  Modules/Filtering/ImageCompose/test/itkImageReadRealAndImaginaryWriteComplexTest.cxx
  Modules/Filtering/ImageCompose/test/itkImageToVectorImageFilterTest.cxx
  Modules/Filtering/ImageCompose/test/itkJoinImageFilterTest.cxx
  Modules/Filtering/ImageCompose/test/itkJoinSeriesImageFilterStreamingTest.cxx
  Modules/Filtering/ImageCompose/test/itkJoinSeriesImageFilterTest.cxx
Labels: type:Testing, area:Filtering, type:Style

#5201 ENH: Remove itkgroup.pl
  Utilities/Doxygen/itkgroup.pl
Labels: type:Infrastructure, type:Enhancement, area:Documentation

#5192 Assorted doxygen-related fixes
  Utilities/Doxygen/DoxygenConfig.cmake
  Wrapping/DoxygenConfig.cmake
Labels: type:Infrastructure, area:Documentation

#5209 DOC: Remove dependencies heading when there are no dependencies
  CMake/ITKModuleDoxygen.cmake
Labels: type:Infrastructure, type:Documentation

#5199 ENH: Remove the unneeded ITKDoxygenStyle.css
  Documentation/Doxygen/ITKDoxygenStyle.css
  Utilities/Doxygen/DoxygenConfig.cmake
  Wrapping/DoxygenConfig.cmake
Labels: type:Infrastructure, type:Enhancement, area:Documentation

#5211 DOC: Convert from raw in-code citations to bibtex (2/N)
  Documentation/Doxygen/doxygen.bib
  Modules/Filtering/BiasCorrection/include/itkMRIBiasFieldCorrectionFilter.h
  Modules/Filtering/BiasCorrection/include/itkN4BiasFieldCorrectionImageFilter.h
  Modules/Filtering/Convolution/include/itkFFTNormalizedCorrelationImageFilter.h
  Modules/Segmentation/Classifiers/include/itkImageKmeansModelEstimator.h
  Modules/Segmentation/ConnectedComponents/include/itkThresholdMaximumConnectedComponentsImageFilter.h
  Modules/Segmentation/DeformableMesh/include/itkDeformableSimplexMesh3DFilter.h
  Modules/Segmentation/KLMRegionGrowing/include/itkKLMRegionGrowImageFilter.h
  Modules/Segmentation/LabelVoting/include/itkLabelVotingImageFilter.h
  Modules/Segmentation/LabelVoting/include/itkMultiLabelSTAPLEImageFilter.h
  Modules/Segmentation/LevelSets/include/itkCurvesLevelSetFunction.h
  Modules/Segmentation/LevelSets/include/itkCurvesLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkExtensionVelocitiesImageFilter.h
  Modules/Segmentation/LevelSets/include/itkGeodesicActiveContourLevelSetFunction.h
  Modules/Segmentation/LevelSets/include/itkGeodesicActiveContourLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkGeodesicActiveContourShapePriorLevelSetFunction.h
  Modules/Segmentation/LevelSets/include/itkGeodesicActiveContourShapePriorLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkLevelSetFunction.h
  Modules/Segmentation/LevelSets/include/itkLevelSetNeighborhoodExtractor.h
  Modules/Segmentation/LevelSets/include/itkLevelSetVelocityNeighborhoodExtractor.h
  Modules/Segmentation/LevelSets/include/itkNarrowBandCurvesLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkParallelSparseFieldLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkReinitializeLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkShapeDetectionLevelSetFunction.h
  Modules/Segmentation/LevelSets/include/itkShapeDetectionLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkShapePriorMAPCostFunction.h
  Modules/Segmentation/LevelSets/include/itkShapePriorMAPCostFunctionBase.h
  Modules/Segmentation/LevelSets/include/itkShapePriorSegmentationLevelSetFunction.h
  Modules/Segmentation/LevelSets/include/itkShapePriorSegmentationLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkSparseFieldLevelSetImageFilter.h
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkMRFImageFilter.h
  Modules/Segmentation/Voronoi/include/itkVoronoiDiagram2DGenerator.h
  Modules/Segmentation/Voronoi/include/itkVoronoiSegmentationImageFilter.h
  Modules/Segmentation/Voronoi/include/itkVoronoiSegmentationImageFilterBase.h
  Modules/Segmentation/Voronoi/include/itkVoronoiSegmentationRGBImageFilter.h
  Modules/Segmentation/Watersheds/include/itkMorphologicalWatershedFromMarkersImageFilter.h
  Modules/Segmentation/Watersheds/include/itkMorphologicalWatershedImageFilter.h
Labels: type:Documentation, area:Filtering, area:Segmentation, area:Documentation

#5213 DOC: Retain Modules page, which was renamed into Topics
  Documentation/Doxygen/DoxygenLayout.xml
Labels: type:Documentation, area:Documentation

#5215 DOC: Convert from raw in-code citations to bibtex (3/N)
  Documentation/Doxygen/doxygen.bib
  Modules/Nonunit/Review/include/itkAttributeMorphologyBaseImageFilter.h
  Modules/Nonunit/Review/include/itkConstrainedRegionBasedLevelSetFunctionSharedData.h
  Modules/Nonunit/Review/include/itkMultiphaseDenseFiniteDifferenceImageFilter.h
  Modules/Nonunit/Review/include/itkMultiphaseFiniteDifferenceImageFilter.h
  Modules/Nonunit/Review/include/itkMultiphaseSparseFiniteDifferenceImageFilter.h
  Modules/Nonunit/Review/include/itkRegionBasedLevelSetFunction.h
  Modules/Nonunit/Review/include/itkRegionBasedLevelSetFunctionData.h
  Modules/Nonunit/Review/include/itkRegionBasedLevelSetFunctionSharedData.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseDenseLevelSetImageFilter.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseLevelSetFunction.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseLevelSetFunctionData.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseSparseLevelSetImageFilter.h
  Modules/Nonunit/Review/include/itkScalarRegionBasedLevelSetFunction.h
  Modules/Nonunit/Review/include/itkUnconstrainedRegionBasedLevelSetFunctionSharedData.h
  Modules/Numerics/FEM/include/itkFEMRobustSolver.h
  Modules/Numerics/FEM/include/itkFEMScatteredDataPointSetToImageFilter.h
  Modules/Numerics/NarrowBand/include/itkNarrowBandImageFilterBase.h
  Modules/Numerics/Optimizers/include/itkInitializationBiasedParticleSwarmOptimizer.h
  Modules/Numerics/Optimizers/include/itkLBFGSBOptimizer.h
  Modules/Numerics/Optimizers/include/itkLBFGSOptimizer.h
  Modules/Numerics/Optimizers/include/itkOnePlusOneEvolutionaryOptimizer.h
  Modules/Numerics/Optimizers/include/itkParticleSwarmOptimizer.h
  Modules/Numerics/Optimizers/include/itkParticleSwarmOptimizerBase.h
  Modules/Numerics/Optimizers/include/itkSPSAOptimizer.h
  Modules/Numerics/Optimizersv4/include/itkLBFGS2Optimizerv4.h
  Modules/Numerics/Optimizersv4/include/itkLBFGSBOptimizerv4.h
  Modules/Numerics/Optimizersv4/include/itkLBFGSOptimizerv4.h
  Modules/Numerics/Optimizersv4/include/itkOnePlusOneEvolutionaryOptimizerv4.h
  Modules/Numerics/Polynomials/include/itkMultivariateLegendrePolynomial.h
  Modules/Numerics/Statistics/include/itkGaussianDistribution.h
  Modules/Numerics/Statistics/include/itkHistogramToRunLengthFeaturesFilter.h
  Modules/Numerics/Statistics/include/itkHistogramToTextureFeaturesFilter.h
  Modules/Numerics/Statistics/include/itkNormalVariateGenerator.h
  Modules/Numerics/Statistics/include/itkScalarImageToCooccurrenceMatrixFilter.h
  Modules/Numerics/Statistics/include/itkScalarImageToRunLengthFeaturesFilter.h
  Modules/Numerics/Statistics/include/itkScalarImageToRunLengthMatrixFilter.h
  Modules/Numerics/Statistics/include/itkScalarImageToTextureFeaturesFilter.h
Labels: type:Documentation, area:Numerics, area:Documentation

#5216 DOC: Convert from raw in-code citations to bibtex (4/4)
  Documentation/Doxygen/doxygen.bib
  Modules/Core/Transform/include/itkKernelTransform.h
  Modules/Numerics/Optimizers/include/itkSPSAOptimizer.h
  Modules/Segmentation/LevelSets/include/itkShapeDetectionLevelSetImageFilter.h
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkMRFImageFilter.h
Labels: type:Documentation, area:Core, area:Segmentation, area:Numerics, area:Documentation

#5223 STYLE: Use itk::ReadImage and itk::WriteImage in Example/Statistics
  Examples/Statistics/BayesianClassifier.cxx
  Examples/Statistics/BayesianClassifierInitializer.cxx
  Examples/Statistics/ScalarImageKmeansClassifier.cxx
  Examples/Statistics/ScalarImageMarkovRandomField1.cxx
Labels: area:Examples, type:Style

#5221 STYLE: Move empty `const` member functions from .hxx to .h
  Modules/Filtering/LabelMap/include/itkLabelObjectLine.h
  Modules/Filtering/LabelMap/include/itkLabelObjectLine.hxx
  Modules/Registration/Common/include/itkEuclideanDistancePointMetric.h
  Modules/Registration/Common/include/itkEuclideanDistancePointMetric.hxx
Labels: area:Filtering, area:Registration, type:Style

#5224 BUG: Fix AP axis flipping for case LeftAnteriorSuperior in NRRDImageIO
  Modules/IO/NRRD/src/itkNrrdImageIO.cxx
Labels: type:Bug, area:IO

#5231 ENH: Add support for VectorImages to Projection filters
  Modules/Filtering/ImageStatistics/include/itkMaximumProjectionImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkMinimumProjectionImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkProjectionImageFilter.hxx
  Modules/Filtering/ImageStatistics/test/CMakeLists.txt
  Modules/Filtering/ImageStatistics/test/itkMaximumProjectionImageFilterTest4.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Filtering

#5233 DOC: Fix mix-up of URL and DOI in two references
  Documentation/Doxygen/doxygen.bib
Labels: type:Documentation, area:Documentation

#5238 DOC: Incorrect rendering table in FAQ
  Documentation/docs/learn/faq.md
Labels: type:Documentation, area:Documentation

#5236 DOC: Fix wrong DOI links for "olkmog" type of references in the code
  Modules/IO/ImageBase/include/itkStreamingImageIOBase.h
  Modules/IO/MRC/include/itkMRCHeaderObject.h
  Modules/IO/MRC/include/itkMRCImageIO.h
  Modules/IO/MRC/include/itkMRCImageIOFactory.h
  Modules/IO/MRC/src/itkMRCImageIOPrivate.h
  Modules/IO/VTK/include/itkVTKImageIO.h
  Modules/Remote/Ultrasound.remote.cmake
Labels: type:Documentation, area:IO, area:Remotes

#5237 DOC: Improve formulas in documentation including MathJax 2/3 support
  Modules/Core/SpatialObjects/include/itkGaussianSpatialObject.h
  Modules/Core/Transform/include/itkElasticBodySplineKernelTransform.h
  Modules/Core/Transform/include/itkScaleSkewVersor3DTransform.h
  Modules/Core/Transform/include/itkScaleVersor3DTransform.h
  Modules/Filtering/Deconvolution/include/itkInverseDeconvolutionImageFilter.h
  Modules/Filtering/FastMarching/include/itkFastMarchingNumberOfElementsStoppingCriterion.h
  Modules/Filtering/ImageNoise/include/itkSaltAndPepperNoiseImageFilter.h
  Modules/Filtering/ImageNoise/include/itkSpeckleNoiseImageFilter.h
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkSmoothingQuadEdgeMeshFilter.h
  Modules/Numerics/Optimizers/include/itkLBFGSOptimizer.h
  Modules/Numerics/Optimizersv4/include/itkLBFGS2Optimizerv4.h
  Modules/Numerics/Optimizersv4/include/itkLBFGSOptimizerv4.h
  Modules/Registration/Metricsv4/include/itkCorrelationImageToImageMetricv4HelperThreader.h
  Modules/Segmentation/KLMRegionGrowing/include/itkKLMSegmentationRegion.h
  Modules/Segmentation/LevelSets/include/itkThresholdSegmentationLevelSetFunction.h
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkMRFImageFilter.h
  Utilities/Doxygen/DoxygenConfig.cmake
Labels: type:Infrastructure, type:Documentation, area:Core, area:Filtering, area:Registration, area:Segmentation, area:Numerics, area:Documentation

#5235 DOC: Improve iterator documentation section
  Documentation/Doxygen/Iterators.dox
Labels: type:Documentation, area:Documentation

#5241 ENH: Add value_type to FixedArray
  Modules/Core/Common/include/itkFixedArray.h
  Modules/Core/Common/test/itkFixedArrayGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#5234 DOC: Expand the bibliography with grepped DOI entries
  Documentation/Doxygen/doxygen.bib
Labels: type:Documentation, area:Documentation

#5243 BUG: Do not run pre-commit GHA on push
  .github/workflows/pre-commit.yml
Labels: type:Bug, type:Infrastructure

#5240 ENH: Let `itk::Array` support class template argument deduction (CTAD)
  Modules/Core/Common/include/itkArray.h
  Modules/Core/Common/test/CMakeLists.txt
  Modules/Core/Common/test/itkArrayGTest.cxx
Labels: type:Infrastructure, type:Enhancement, type:Testing, area:Core

#5242 BUG: Incorrect size for looping closed parametric dimension.
  Modules/Filtering/ImageGrid/include/itkBSplineScatteredDataPointSetToImageFilter.hxx
  Modules/Filtering/ImageGrid/test/Baseline/itkBSplineScatteredDataPointSetToImageFilterTest05_magnitude.png.cid
Labels: type:Bug, area:Filtering, type:Data

#5251 STYLE: Remove empty line from doc file (pre-commit "fix end of files")
  Documentation/docs/releases/5.4.2.md
Labels: type:Style, area:Documentation

#5253 DOC: Empty `\cite` label
  Modules/Core/Common/include/itkSymmetricEigenAnalysis.h
  Modules/Filtering/Denoising/include/itkPatchBasedDenoisingImageFilter.h
  Modules/Filtering/ImageGrid/include/itkBSplineL2ResampleImageFilterBase.h
  Modules/Registration/Common/include/itkMattesMutualInformationImageToImageMetric.h
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4.h
  Modules/Registration/PDEDeformable/include/itkDiffeomorphicDemonsRegistrationFilter.h
Labels: type:Documentation, area:Core, area:Filtering, area:Registration

#5248 BUG: Replace `pow` with `Math::UnsignedPower` in NumberToString GTest
  Modules/Core/Common/test/itkNumberToStringGTest.cxx
Labels: type:Bug, type:Testing, area:Core

#5252 STYLE: Replace `std::pow(2, dim)` calls with `1 << dim`
  Modules/Core/Common/include/itkFloodFilledSpatialFunctionConditionalConstIterator.hxx
  Modules/Filtering/AnisotropicSmoothing/include/itkAnisotropicDiffusionImageFilter.hxx
  Modules/Filtering/GPUAnisotropicSmoothing/include/itkGPUAnisotropicDiffusionImageFilter.hxx
Labels: area:Core, area:Filtering, type:Style

#5249 STYLE: Replace `std::pow(x, 2)` calls with `Math::sqr(x)`
  Modules/Core/Common/include/itkEllipsoidInteriorExteriorSpatialFunction.hxx
  Modules/Core/Common/include/itkFiniteCylinderSpatialFunction.hxx
  Modules/Core/Common/include/itkSymmetricEllipsoidInteriorExteriorSpatialFunction.hxx
  Modules/Core/Common/include/itkTorusInteriorExteriorSpatialFunction.hxx
  Modules/Filtering/DisplacementField/include/itkIterativeInverseDisplacementFieldImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkShapeLabelMapFilter.hxx
  Modules/Filtering/LabelMap/include/itkStatisticsLabelMapFilter.hxx
  Modules/Numerics/Optimizers/src/itkCumulativeGaussianCostFunction.cxx
  Modules/Numerics/Optimizers/src/itkCumulativeGaussianOptimizer.cxx
  Modules/Registration/Common/include/itkCorrelationCoefficientHistogramImageToImageMetric.hxx
  Modules/Registration/Common/include/itkMeanReciprocalSquareDifferencePointSetToImageMetric.hxx
Labels: area:Core, area:Filtering, area:Registration, type:Style, area:Numerics

#5256 Update MINC to 2025-02-24
  Modules/ThirdParty/MINC/src/libminc/CMakeLists.txt
  Modules/ThirdParty/MINC/src/libminc/libcommon/ParseArgv.c
Labels: type:Infrastructure, area:ThirdParty

#5258 BUG: Address valgrind defect in LabelErodeDilate
  Modules/Remote/LabelErodeDilate.remote.cmake
Labels: type:Bug, area:Remotes

#5255 STYLE: Remove `std::pow` calls from `BoundingBox::ComputeCorners()`
  Modules/Core/Common/include/itkBoundingBox.hxx
Labels: area:Core, type:Style
