Repository InsightSoftwareConsortium/ITK, pull requests merged in 2025-03, with the labels that each got.

#5261 zlib-ng 2025-02-10 (860e4cff)
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/CMakeLists.txt
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/crc32_power8.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/power/power_intrins.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/riscv/riscv_features.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/s390_functions.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/self-hosted-builder/actions-runner
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/self-hosted-builder/actions-runner-rebuild.sh
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/s390/self-hosted-builder/actions-runner.Dockerfile
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/chunkset_avx2.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/arch/x86/chunkset_avx512.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/infback.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inflate.c
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/inflate.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/trees_emit.h
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zlib.h.in
  Modules/ThirdParty/ZLIB/src/itkzlib-ng/zutil.c
Labels: type:Infrastructure, area:ThirdParty

#5264 BUG: Fix strings in DisplacementField VerifyFixedParametersInformation
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldTransform.hxx
Labels: type:Bug, area:Filtering

#5266 ENH: Add location (function) to text returned by ExceptionObject::what()
  Modules/Core/Common/src/itkExceptionObject.cxx
  Modules/Core/Common/test/itkExceptionObjectGTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#5268 STYLE: Clean-up experimental code `ExceptionObject.TestWhat` unit test
  Modules/Core/Common/test/itkExceptionObjectGTest.cxx
Labels: type:Testing, area:Core, type:Style

#5270 STYLE: Remove Exception constructor overloads for `char *` arguments
  Modules/Core/Common/include/itkDataObject.h
  Modules/Core/Common/include/itkExceptionObject.h
  Modules/Core/Common/src/itkDataObject.cxx
  Modules/Core/Common/src/itkExceptionObject.cxx
  Modules/IO/ImageBase/include/itkImageFileReaderException.h
  Modules/IO/ImageBase/include/itkImageFileWriter.h
  Modules/IO/ImageBase/include/itkImageSeriesWriter.h
  Modules/IO/MeshBase/include/itkMeshFileReaderException.h
  Modules/IO/MeshBase/include/itkMeshFileWriterException.h
  Modules/IO/MeshBase/src/itkMeshFileReaderException.cxx
  Modules/IO/MeshBase/src/itkMeshFileWriterException.cxx
  Modules/Numerics/FEM/include/itkFEMException.h
  Modules/Numerics/FEM/include/itkFEMItpackSparseMatrix.h
  Modules/Numerics/FEM/include/itkFEMLinearSystemWrapper.h
  Modules/Numerics/FEM/include/itkFEMLinearSystemWrapperItpack.h
  Modules/Numerics/FEM/src/itkFEMException.cxx
  Modules/Numerics/FEM/src/itkFEMItpackSparseMatrix.cxx
  Modules/Numerics/FEM/src/itkFEMLinearSystemWrapper.cxx
  Modules/Numerics/FEM/src/itkFEMLinearSystemWrapperItpack.cxx
Labels: area:Core, area:IO, type:Style, area:Numerics

#5269 STYLE: Replace "Unknown" default for exception location with `{}`
  Modules/Core/Common/include/itkExceptionObject.h
  Modules/IO/ImageBase/include/itkImageFileReaderException.h
  Modules/IO/ImageBase/include/itkImageFileWriter.h
  Modules/IO/MeshBase/include/itkMeshFileReaderException.h
  Modules/IO/MeshBase/include/itkMeshFileWriterException.h
  Modules/Numerics/FEM/include/itkFEMException.h
Labels: area:Core, area:IO, type:Style, area:Numerics

#5267 BUG: Remove VNL Netlib rpoly files
  Modules/ThirdParty/VNL/UpdateFromUpstream.sh
  Modules/ThirdParty/VNL/src/vxl/core/vnl/algo/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/algo/tests/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/core/vnl/algo/tests/test_driver.cxx
  Modules/ThirdParty/VNL/src/vxl/v3p/netlib/CMakeLists.txt
  Modules/ThirdParty/VNL/src/vxl/v3p/netlib/toms/rpoly.P
  Modules/ThirdParty/VNL/src/vxl/v3p/netlib/toms/rpoly.c
  Modules/ThirdParty/VNL/src/vxl/v3p/netlib/toms/rpoly.f
  Modules/ThirdParty/VNL/src/vxl/v3p/netlib/toms/rpoly.h
  Modules/ThirdParty/VNL/src/vxl/v3p/netlib/v3p_netlib_prototypes.h
Labels: type:Bug, type:Infrastructure, area:ThirdParty

#5271 COMP: Update Security Scorecard GitHub Action
  .github/workflows/scorecard.yml
Labels: type:Compiler, type:Infrastructure

#5273 For Release: label erode dilate patch
  Modules/Remote/LabelErodeDilate.remote.cmake
Labels: area:Remotes

#5274 COMP: Bump MeshToPolyData Remote Module to 2024-03-14 main
  Modules/Remote/MeshToPolyData.remote.cmake
Labels: type:Compiler, area:Remotes

#5275 STYLE: Do not abbreviate ExceptionObject parameter names (`desc`, `loc`)
  Modules/Core/Common/include/itkExceptionObject.h
  Modules/Core/Common/src/itkExceptionObject.cxx
  Modules/IO/ImageBase/include/itkImageFileReaderException.h
  Modules/IO/ImageBase/include/itkImageFileWriter.h
  Modules/IO/MeshBase/include/itkMeshFileReaderException.h
  Modules/IO/MeshBase/include/itkMeshFileWriterException.h
  Modules/IO/MeshBase/src/itkMeshFileReaderException.cxx
  Modules/IO/MeshBase/src/itkMeshFileWriterException.cxx
Labels: area:Core, area:IO, type:Style

#5278 Doxygen bib cleanup
  Documentation/Doxygen/doxygen.bib
Labels: area:Documentation

#5279 Doxygen bib cleanup
  Documentation/Doxygen/doxygen.bib
  Modules/Filtering/Convolution/include/itkFFTConvolutionImageFilter.h
  Modules/Filtering/FFT/include/itkFFTPadImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWCommon.h
  Modules/Filtering/FFT/include/itkFFTWForwardFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWGlobalConfiguration.h
  Modules/Filtering/FFT/include/itkFFTWHalfHermitianToRealInverseFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWInverseFFTImageFilter.h
  Modules/Filtering/FFT/include/itkFFTWRealToHalfHermitianForwardFFTImageFilter.h
  Modules/Filtering/ImageGrid/include/itkBSplineControlPointImageFilter.h
  Modules/Filtering/ImageGrid/include/itkBSplineScatteredDataPointSetToImageFilter.h
  Modules/Filtering/ImageGrid/include/itkCoxDeBoorBSplineKernelFunction.h
  Modules/Filtering/ImageIntensity/include/itkNormalizeToConstantImageFilter.h
Labels: area:Filtering, area:Documentation

#5276 STYLE: Use override statements for C++11
  Modules/Core/Common/include/itkSmapsFileParser.h
Labels: area:Core, type:Style

#5280 Avoid manual memory management `ImageSeriesReader::m_MetaDataDictionaryArray`
  Modules/IO/ImageBase/include/itkImageSeriesReader.h
  Modules/IO/ImageBase/include/itkImageSeriesReader.hxx
Labels: area:IO

#5277 STYLE: Flip signs by `x *= -1`, instead of by `x = -x`
  Modules/Bridge/VtkGlue/include/itkViewImage.hxx
  Modules/Core/Common/include/itkVariableLengthVector.hxx
  Modules/Core/Common/include/itkVariableSizeMatrix.hxx
  Modules/Core/Transform/include/itkRigid2DTransform.hxx
  Modules/Filtering/FFT/include/itkFFTShiftImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkHoughTransform2DLinesImageFilter.hxx
  Modules/Filtering/Smoothing/include/itkRecursiveGaussianImageFilter.hxx
  Modules/IO/BMP/src/itkBMPImageIO.cxx
  Modules/IO/ImageBase/include/itkImageFileReader.hxx
  Modules/IO/MINC/src/itkMINCImageIO.cxx
  Modules/IO/NIFTI/src/itkNiftiImageIO.cxx
  Modules/IO/PhilipsREC/src/itkPhilipsRECImageIO.cxx
  Modules/Nonunit/Review/include/itkDirectFourierReconstructionImageToImageFilter.hxx
  Modules/Numerics/Optimizers/src/itkFRPROptimizer.cxx
  Modules/Numerics/Optimizers/src/itkPowellOptimizer.cxx
  Modules/Numerics/Optimizersv4/include/itkPowellOptimizerv4.hxx
  Modules/Segmentation/Voronoi/include/itkVoronoiSegmentationRGBImageFilter.hxx
Labels: area:Bridge, area:Core, area:Filtering, area:IO, area:Segmentation, type:Style, area:Numerics

#5282 Doxygen bib cleanup
  Documentation/Doxygen/doxygen.bib
  Modules/Core/Common/include/itkAtanRegularizedHeavisideStepFunction.h
  Modules/Core/Common/include/itkHeavisideStepFunction.h
  Modules/Core/Common/include/itkHeavisideStepFunctionBase.h
  Modules/Core/Common/include/itkRegularizedHeavisideStepFunction.h
  Modules/Core/Common/include/itkSinRegularizedHeavisideStepFunction.h
  Modules/Filtering/ImageStatistics/include/itkBinaryProjectionImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkLabelOverlapMeasuresImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkMaximumProjectionImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkMeanProjectionImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkMedianProjectionImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkMinimumProjectionImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkProjectionImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkStandardDeviationProjectionImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkSumProjectionImageFilter.h
  Modules/Filtering/Thresholding/include/itkBinaryThresholdProjectionImageFilter.h
  Modules/Nonunit/Review/include/itkConstrainedRegionBasedLevelSetFunctionSharedData.h
  Modules/Nonunit/Review/include/itkMultiphaseDenseFiniteDifferenceImageFilter.h
  Modules/Nonunit/Review/include/itkMultiphaseFiniteDifferenceImageFilter.h
  Modules/Nonunit/Review/include/itkMultiphaseSparseFiniteDifferenceImageFilter.h
  Modules/Nonunit/Review/include/itkRegionBasedLevelSetFunction.h
  Modules/Nonunit/Review/include/itkRegionBasedLevelSetFunctionData.h
  Modules/Nonunit/Review/include/itkRegionBasedLevelSetFunctionSharedData.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseDenseLevelSetImageFilter.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseLevelSetFunction.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseLevelSetFunctionData.h
  Modules/Nonunit/Review/include/itkScalarChanAndVeseSparseLevelSetImageFilter.h
  Modules/Nonunit/Review/include/itkScalarRegionBasedLevelSetFunction.h
  Modules/Nonunit/Review/include/itkUnconstrainedRegionBasedLevelSetFunctionSharedData.h
Labels: area:Core, area:Filtering, area:Documentation

#5283 Global max threads during initialization
  Modules/Core/Common/src/itkMultiThreaderBase.cxx
  Modules/Core/Common/test/itkMultiThreaderBaseTest.cxx
Labels: type:Testing, area:Core

#5281 BUG: Remove check on WrapITK.pth existence in itk_python_add_test
  CMake/ITKModuleTest.cmake
Labels: type:Bug, type:Infrastructure

#5286 ENH: Remove dummy VNLInstantiation library
  Documentation/docs/migration_guides/itk_6_migration_guide.md
  Modules/Core/Common/itk-module.cmake
  Modules/Core/Common/src/CMakeLists.txt
  Modules/ThirdParty/VNLInstantiation/CMakeLists.txt
  Modules/ThirdParty/VNLInstantiation/itk-module.cmake
  Modules/ThirdParty/VNLInstantiation/src/CMakeLists.txt
  Modules/ThirdParty/VNLInstantiation/src/libraryplaceholder.cxx
Labels: type:Infrastructure, type:Enhancement, area:Core, area:ThirdParty, area:Documentation

#5289 Remove magic numbers `0xffffffff`, `4294967295`, and `4294967296` from MersenneTwisterRandomVariateGenerator
  Modules/Core/Common/include/itkMersenneTwisterRandomVariateGenerator.h
Labels: area:Core

#5291 DOC: Fix citations
  Modules/Nonunit/Review/include/itkMultiphaseSparseFiniteDifferenceImageFilter.h
  Modules/Segmentation/LevelSets/include/itkSparseFieldLevelSetImageFilter.h
Labels: type:Documentation, area:Segmentation

#5292 DOC: Fix Doxygen group name in math morphology class documentation
  Modules/Filtering/MathematicalMorphology/include/itkValuedRegionalMaximaImageFilter.h
Labels: type:Documentation, area:Filtering
