Repository InsightSoftwareConsortium/ITK, pull requests merged in 2025-05, with the labels that each got.

#5312 DOC: Update Wiki links to GitHub Pages archive
  Documentation/Maintenance/Release.md
  Documentation/docs/learn/faq.md
  Documentation/docs/releases/4.0.md
  Documentation/docs/releases/4.5.md
  Modules/Core/Common/CMakeLists.txt
  Modules/IO/ImageBase/include/itkImageFileReader.hxx
  Modules/IO/ImageBase/include/itkImageFileWriter.hxx
  Modules/IO/Meta/include/itkMetaImageIO.h
  Modules/IO/TransformBase/src/itkTransformFileReader.cxx
  Modules/IO/TransformBase/src/itkTransformFileWriterSpecializations.cxx
  Utilities/Debugger/ITK.natvis
  Utilities/Doxygen/DoxygenConfig.cmake
  Utilities/Maintenance/UpdateCopyrightStatementsInITK.py
Labels: type:Infrastructure, type:Documentation, area:Python wrapping, area:Core, area:IO, area:Documentation

#5340 DOC: Add table to describe MetaIO/MetaImage ElementType tag
  Documentation/docs/learn/metaio.md
Labels: type:Documentation, area:Documentation

#5338 COMP: Update LabelErodeDilate remote
  Modules/Remote/LabelErodeDilate.remote.cmake
Labels: type:Compiler, area:Remotes

#5347 COMP: Provide ITK_MSVC_STATIC_CRT to in-tree build
  CMake/ITKConfig.cmake.in
  CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#5348 STYLE: Replace `rand()` calls with `std::mt19937` in ImageAdaptor test
  Modules/Core/ImageAdaptors/test/itkComplexConjugateImageAdaptorTest.cxx
Labels: type:Testing, area:Core, type:Style

#5349 Replace `auto var = T{...}` with `T var{...}`
  Modules/Core/Common/include/itkGaussianKernelFunction.h
  Modules/Core/Common/include/itkVector.hxx
  Modules/Core/ImageFunction/include/itkMeanImageFunction.hxx
  Modules/Core/ImageFunction/include/itkSumOfSquaresImageFunction.hxx
  Modules/Core/ImageFunction/test/itkSumOfSquaresImageFunctionGTest.cxx
  Modules/Core/SpatialObjects/include/itkImageMaskSpatialObject.hxx
  Modules/Filtering/AnisotropicSmoothing/include/itkGradientNDAnisotropicDiffusionFunction.hxx
  Modules/Filtering/AnisotropicSmoothing/include/itkVectorAnisotropicDiffusionFunction.hxx
  Modules/Filtering/Colormap/include/itkCustomColormapFunction.hxx
  Modules/Filtering/ImageGradient/include/itkVectorGradientMagnitudeImageFilter.h
  Modules/Filtering/ImageGradient/test/itkGradientRecursiveGaussianFilterTest3.cxx
  Modules/Filtering/Smoothing/include/itkMeanImageFilter.hxx
  Modules/Filtering/Smoothing/test/itkMeanImageFilterGTest.cxx
  Modules/Filtering/Smoothing/test/itkMedianImageFilterGTest.cxx
  Modules/IO/TIFF/src/itkTIFFImageIO.cxx
  Modules/Segmentation/LevelSets/include/itkLevelSetFunctionWithRefitTerm.hxx
  Modules/Segmentation/LevelSets/include/itkNormalVectorDiffusionFunction.hxx
  Modules/Segmentation/LevelSets/include/itkSparseFieldFourthOrderLevelSetImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkSparseFieldLevelSetImageFilter.hxx
  Modules/Segmentation/RegionGrowing/include/itkConfidenceConnectedImageFilter.hxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Segmentation

#5346 FUTURE REMOVE `MersenneTwisterRandomVariateGenerator::Initialize`
  Modules/Core/Common/include/itkImageRandomNonRepeatingConstIteratorWithIndex.h
  Modules/Core/Common/include/itkMersenneTwisterRandomVariateGenerator.h
  Modules/Core/Common/src/itkMersenneTwisterRandomVariateGenerator.cxx
  Modules/Core/Common/test/itkCompensatedSummationTest.cxx
  Modules/Core/Common/test/itkMersenneTwisterRandomVariateGeneratorTest.cxx
  Modules/Filtering/ImageNoise/include/itkSaltAndPepperNoiseImageFilter.hxx
  Modules/Filtering/ImageNoise/include/itkShotNoiseImageFilter.hxx
  Modules/Filtering/ImageNoise/include/itkSpeckleNoiseImageFilter.hxx
  Modules/Numerics/Statistics/test/itkKdTreeTest1.cxx
  Modules/Numerics/Statistics/test/itkKdTreeTest3.cxx
  Modules/Numerics/Statistics/test/itkWeightedCentroidKdTreeGeneratorTest1.cxx
  Modules/Numerics/Statistics/test/itkWeightedCentroidKdTreeGeneratorTest8.cxx
  Modules/Numerics/Statistics/test/itkWeightedCentroidKdTreeGeneratorTest9.cxx
  Modules/Registration/Common/test/itkMeanSquaresImageMetricTest.cxx
Labels: type:Testing, area:Core, area:Filtering, area:Registration, area:Numerics

#5350 BUG: Fix random number in `RGBGibbsPriorFilter::GibbsTotalEnergy`
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkRGBGibbsPriorFilter.hxx
Labels: type:Bug, area:Segmentation

#5344 BUG: Allow rescaling int to uint of same size
  Modules/IO/GDCM/src/itkGDCMImageIO.cxx
  Modules/IO/GDCM/test/Baseline/itkGDCMImageIOTestIntToUint.mha.cid
  Modules/IO/GDCM/test/CMakeLists.txt
  Modules/IO/GDCM/test/Input/030658_001.dcm.cid
Labels: type:Bug, type:Infrastructure, type:Testing, area:IO

#5354 BUG: Make itkOptImageToImageMetricsTest04 not to fail on single-CPU s…
  Modules/Nonunit/Review/test/itkOptImageToImageMetricsTest2.h
Labels: type:Bug, type:Testing

#5356 ENH: Add printing of FileNames to ImageSeriesReader
  Modules/IO/ImageBase/include/itkImageSeriesReader.hxx
Labels: type:Enhancement, area:IO

#5360 ENH: Add valgrind suppression file for Ubuntu 22.04 LTS
  CMake/InsightValgrind-Ubuntu2204.supp
Labels: type:Infrastructure, type:Enhancement

#5359 Linux azure images ubuntu 20.04 deprecation
  Testing/ContinuousIntegration/AzurePipelinesBatch.yml
  Testing/ContinuousIntegration/AzurePipelinesLinux.yml
  Testing/ContinuousIntegration/AzurePipelinesLinuxPython.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOS.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
  Testing/ContinuousIntegration/AzurePipelinesWindows.yml
  Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml
Labels: type:Infrastructure, type:Testing

#5353 STYLE: Replace `std::rand()` with `std::mt19937` in IndexRangeGTest
  Modules/Core/Common/test/itkIndexRangeGTest.cxx
Labels: type:Testing, area:Core, type:Style

#4769 DOC: Clarify further remote module version bumps with ITK minor releases
  Documentation/Maintenance/Release.md
Labels: type:Documentation, area:Documentation

#5362 STYLE: Change `IOScanco` remote module GitHub organization
  Modules/Remote/IOScanco.remote.cmake
Labels: type:Style, area:Remotes

#5187 update remote modules ITKv6 support
  CMake/ITKConfig.cmake.in
  Modules/Remote/AdaptiveDenoising.remote.cmake
  Modules/Remote/AnalyzeObjectLabelMap.remote.cmake
  Modules/Remote/AnisotropicDiffusionLBR.remote.cmake
  Modules/Remote/BSplineGradient.remote.cmake
  Modules/Remote/BoneEnhancement.remote.cmake
  Modules/Remote/BoneMorphometry.remote.cmake
  Modules/Remote/Cleaver.remote.cmake
  Modules/Remote/Cuberille.remote.cmake
  Modules/Remote/FPFH.remote.cmake
  Modules/Remote/FastBilateral.remote.cmake
  Modules/Remote/FixedPointInverseDisplacementField.remote.cmake
  Modules/Remote/GenericLabelInterpolator.remote.cmake
  Modules/Remote/GrowCut.remote.cmake
  Modules/Remote/HASI.remote.cmake
  Modules/Remote/IOFDF.remote.cmake
  Modules/Remote/IOMeshMZ3.remote.cmake
  Modules/Remote/IOMeshSWC.remote.cmake
  Modules/Remote/IOOpenSlide.remote.cmake
  Modules/Remote/IOScanco.remote.cmake
  Modules/Remote/IsotropicWavelets.remote.cmake
  Modules/Remote/LabelErodeDilate.remote.cmake
  Modules/Remote/LesionSizingToolkit.remote.cmake
  Modules/Remote/MGHIO.remote.cmake
  Modules/Remote/MeshNoise.remote.cmake
  Modules/Remote/MeshToPolyData.remote.cmake
  Modules/Remote/MinimalPathExtraction.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/PerformanceBenchmarking.remote.cmake
  Modules/Remote/PhaseSymmetry.remote.cmake
  Modules/Remote/PolarTransform.remote.cmake
  Modules/Remote/PrincipalComponentsAnalysis.remote.cmake
  Modules/Remote/RLEImage.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SCIFIO.remote.cmake
  Modules/Remote/Shape.remote.cmake
  Modules/Remote/SimpleITKFilters.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/Strain.remote.cmake
  Modules/Remote/SubdivisionQuadEdgeMeshFilter.remote.cmake
  Modules/Remote/TextureFeatures.remote.cmake
  Modules/Remote/Thickness3D.remote.cmake
  Modules/Remote/TotalVariation.remote.cmake
  Modules/Remote/TubeTK.remote.cmake
  Modules/Remote/VkFFTBackend.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
Labels: type:Infrastructure, area:Examples, area:Remotes

#5365 BUG: fix GDCM crash due to malformed file
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmRAWCodec.cxx
Labels: type:Bug, area:ThirdParty
