Repository InsightSoftwareConsortium/ITK, pull requests merged in 2025-08, with the labels that each got.

#5351 BUG: Prevent integer overflow in potential vulnerable cloned functions
  Modules/ThirdParty/Expat/src/expat/xmlparse.c
Labels: type:Bug, area:ThirdParty

#5480 PERF: Replace itkExceptionMacro("...") w/ itkExceptionStringMacro("...")
  Modules/Core/Common/include/itkDomainThreader.hxx
  Modules/Core/Common/include/itkImageSource.hxx
  Modules/Core/Common/include/itkMacro.h
  Modules/Core/Common/include/itkSobelOperator.hxx
  Modules/Core/Transform/include/itkRigid3DPerspectiveTransform.h
  Modules/Filtering/DiffusionTensorImage/include/itkDiffusionTensor3DReconstructionImageFilter.h
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldTransform.h
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkSliceBySliceImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkObjectByObjectLabelMapFilter.hxx
  Modules/IO/GDCM/src/itkGDCMImageIO.cxx
  Modules/IO/MeshOFF/src/itkOFFMeshIO.cxx
  Modules/IO/NRRD/src/itkNrrdImageIO.cxx
  Modules/IO/TransformBase/src/itkTransformFileWriterSpecializations.cxx
  Modules/IO/TransformInsightLegacy/src/itkTxtTransformIO.cxx
  Modules/Nonunit/Review/include/itkMultiphaseSparseFiniteDifferenceImageFilter.hxx
  Modules/Numerics/Optimizers/src/itkLBFGSBOptimizer.cxx
  Modules/Numerics/Optimizersv4/include/itkGradientDescentOptimizerBasev4.hxx
  Modules/Numerics/Optimizersv4/include/itkObjectToObjectMetric.hxx
  Modules/Numerics/Optimizersv4/include/itkRegistrationParameterScalesEstimator.hxx
  Modules/Numerics/Optimizersv4/include/itkRegistrationParameterScalesFromShiftBase.hxx
  Modules/Numerics/Optimizersv4/src/itkLBFGSBOptimizerv4.cxx
  Modules/Numerics/Optimizersv4/src/itkLBFGSOptimizerv4Base.cxx
  Modules/Registration/Metricsv4/include/itkDemonsImageToImageMetricv4.hxx
  Modules/Registration/Metricsv4/include/itkImageToImageMetricv4.hxx
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4.hxx
  Modules/Registration/Metricsv4/include/itkObjectToObjectMultiMetricv4.hxx
  Modules/Registration/Metricsv4/include/itkPointSetToPointSetMetricWithIndexv4.hxx
  Modules/Video/BridgeOpenCV/include/itkOpenCVVideoCapture.h
  Modules/Video/Core/include/itkVideoStream.hxx
  Modules/Video/IO/src/itkFileListVideoIO.cxx
Labels: type:Performance, area:Core, area:Filtering, area:IO, area:Registration, area:Video, area:Numerics

#5487 ENH: Update IOScanco remote module
  Modules/Remote/IOScanco.remote.cmake
Labels: type:Enhancement, area:Remotes

#5491 STYLE: Remove trailing `std::endl` inserts from itkExceptionMacro calls
  Modules/Bridge/VTK/include/itkVTKImageImport.hxx
  Modules/Core/Transform/include/itkBSplineBaseTransform.hxx
  Modules/Core/Transform/include/itkCompositeTransform.hxx
  Modules/Core/Transform/include/itkMultiTransform.hxx
  Modules/Core/Transform/include/itkTransform.hxx
  Modules/Core/Transform/include/itkVersorRigid3DTransform.hxx
  Modules/Filtering/DisplacementField/include/itkTimeVaryingBSplineVelocityFieldTransform.hxx
  Modules/IO/MeshBYU/src/itkBYUMeshIO.cxx
  Modules/IO/MeshFreeSurfer/src/itkFreeSurferAsciiMeshIO.cxx
  Modules/IO/MeshFreeSurfer/src/itkFreeSurferBinaryMeshIO.cxx
  Modules/IO/MeshGifti/src/itkGiftiMeshIO.cxx
  Modules/IO/MeshOBJ/src/itkOBJMeshIO.cxx
  Modules/IO/MeshOFF/src/itkOFFMeshIO.cxx
  Modules/IO/PNG/src/itkPNGImageIO.cxx
  Modules/Numerics/Optimizersv4/include/itkObjectToObjectMetric.hxx
  Modules/Registration/Common/include/itkMattesMutualInformationImageToImageMetric.hxx
  Modules/Registration/Common/include/itkMeanSquaresImageToImageMetric.hxx
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4.hxx
Labels: area:Bridge, area:Core, area:Filtering, area:IO, area:Registration, type:Style, area:Numerics

#5495 BUG: Allow auto registering more than two factories in Python modules
  Wrapping/Generators/Python/itk/support/base.py
Labels: type:Bug, area:Python wrapping

#5499 STYLE: Remove variadic arguments (`...`) from ExceptionObject constructor
  Modules/Core/Common/include/itkExceptionObject.h
  Modules/Core/Common/src/itkExceptionObject.cxx
Labels: area:Core, type:Style
