Repository InsightSoftwareConsortium/ITK, pull requests merged in 2025-04, with the labels that each got.

#5246 STYLE: Enclose the majority of the main function in a try-catch block for Examples/SpatialObjects and Examples/RegistrationITKV4
  Examples/RegistrationITKv4/MultiResImageRegistration1.cxx
  Examples/RegistrationITKv4/MultiResImageRegistration2.cxx
  Examples/RegistrationITKv4/MultiResImageRegistration3.cxx
  Examples/RegistrationITKv4/MultiStageImageRegistration1.cxx
  Examples/RegistrationITKv4/MultiStageImageRegistration2.cxx
  Examples/RegistrationITKv4/ThinPlateSplineWarp.cxx
  Examples/SpatialObjects/BoundingBoxFromImageMaskSpatialObject.cxx
Labels: area:Examples, type:Style

#5294 ENH: Update Montage remote module mostly to fix warnings
  Modules/Remote/Montage.remote.cmake
Labels: type:Enhancement, area:Remotes

#5293 DOC: Corrected setting for `CASE_SENSE_NAMES`
  Utilities/Doxygen/DoxygenConfig.cmake
Labels: type:Infrastructure, type:Documentation, area:Documentation

#5297 ENH: Update MorphologicalContourInterpolation module to fix warnings
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
Labels: type:Enhancement, area:Remotes

#5296 STYLE: Let MersenneTwisterRandomVariateGenerator pass integers by value
  Modules/Core/Common/include/itkMersenneTwisterRandomVariateGenerator.h
Labels: area:Core, type:Style

#5299 COMP: Remove constexpr from check on runtime value in JPEGImageIO
  Modules/IO/JPEG/src/itkJPEGImageIO.cxx
Labels: type:Compiler, area:IO

#5301 Remove non-compilable PhiLattice get output
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldToBSplineImageFilter.h
  Modules/Filtering/DisplacementField/include/itkDisplacementFieldToBSplineImageFilter.hxx
Labels: area:Filtering

#5306 PERF: Use region iterator image ComposeBigVectorImageFilter
  Modules/Filtering/ImageCompose/test/itkComposeBigVectorImageFilterTest.cxx
Labels: type:Performance, type:Testing, area:Filtering

#5302 MersenneTwisterRandomVariateGenerator: Make larger member functions non-inline, move `twist` to cxx file and to unnamed namespace
  Modules/Core/Common/include/itkMersenneTwisterRandomVariateGenerator.h
  Modules/Core/Common/src/itkMersenneTwisterRandomVariateGenerator.cxx
Labels: area:Core

#5304 STYLE: Centralize exception handling in Statistics examples
  Examples/Statistics/BayesianClassifier.cxx
  Examples/Statistics/BayesianClassifierInitializer.cxx
  Examples/Statistics/ImageEntropy1.cxx
  Examples/Statistics/ImageHistogram1.cxx
  Examples/Statistics/ImageHistogram2.cxx
  Examples/Statistics/ImageHistogram3.cxx
  Examples/Statistics/ImageHistogram4.cxx
  Examples/Statistics/ImageMutualInformation1.cxx
  Examples/Statistics/ScalarImageKmeansClassifier.cxx
  Examples/Statistics/ScalarImageKmeansModelEstimator.cxx
  Examples/Statistics/ScalarImageMarkovRandomField1.cxx
Labels: area:Examples, area:Python wrapping, type:Style

#5305 ENH: Add named input to invert displacement field filter
  Modules/Filtering/DisplacementField/include/itkInvertDisplacementFieldImageFilter.hxx
Labels: type:Enhancement, area:Filtering

#5307 COMP: Include `itkNumericTraitsCovariantVectorPixel.h` file in test
  Modules/Core/Common/test/itkNumericTraitsTest.cxx
Labels: type:Compiler, type:Testing, area:Core

#5313 DOC: Consolidating doxygen config files
  Wrapping/DoxygenConfig.cmake
  Wrapping/macro_files/itk_end_wrap_module.cmake
Labels: type:Documentation, area:Python wrapping

#5316 STYLE: Remove `this->` on access to private data ResourceProbe
  Modules/Core/Common/include/itkResourceProbe.hxx
Labels: area:Core, type:Style

#5311 DOC: Add MetaIO documentation from the ITK Wiki
  Documentation/docs/index.md
  Documentation/docs/learn/faq.md
  Documentation/docs/learn/metaio.md
Labels: type:Documentation, area:Documentation

#5318 MersenneTwisterRandomVariateGenerator: Simplify `GetNextSeed()`, and other style improvements
  Modules/Core/Common/src/itkMersenneTwisterRandomVariateGenerator.cxx
Labels: area:Core

#5319 STYLE: Remove redundant input check from ExtractImageFilter
  Modules/Core/Common/include/itkExtractImageFilter.hxx
Labels: area:Core, type:Style

#5323 Use `SizeValueType` in `for` loops in BSplineDecompositionImageFilter and other style commits
  .github/workflows/itk_dict.txt
  Modules/Core/ImageFunction/include/itkBSplineDecompositionImageFilter.hxx
Labels: type:Infrastructure, area:Core

#5324 STYLE: Replace `static_cast<T>(Dimension)` with `T{ Dimension }`
  Modules/Core/Common/include/itkConstNeighborhoodIterator.hxx
  Modules/Core/Common/include/itkConstNeighborhoodIteratorWithOnlyIndex.hxx
  Modules/Core/Common/include/itkFiniteCylinderSpatialFunction.hxx
  Modules/Core/Common/include/itkImportImageFilter.hxx
  Modules/Core/ImageFunction/include/itkBSplineInterpolateImageFunction.hxx
  Modules/Filtering/BinaryMathematicalMorphology/include/itkObjectMorphologyImageFilter.hxx
  Modules/Filtering/DistanceMap/include/itkSignedMaurerDistanceMapImageFilter.hxx
  Modules/Filtering/DistanceMap/test/itkContourMeanDistanceImageFilterTest.cxx
  Modules/Filtering/DistanceMap/test/itkDirectedHausdorffDistanceImageFilterTest1.cxx
  Modules/Filtering/DistanceMap/test/itkHausdorffDistanceImageFilterTest.cxx
  Modules/Filtering/ImageFeature/include/itkHessianRecursiveGaussianImageFilter.hxx
  Modules/Filtering/ImageGradient/include/itkGradientRecursiveGaussianImageFilter.hxx
  Modules/Filtering/LabelMap/include/itkShapeLabelMapFilter.hxx
  Modules/Filtering/MathematicalMorphology/include/itkFlatStructuringElement.hxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest.h
  Modules/IO/NIFTI/test/itkNiftiImageIOTest3.cxx
  Modules/Registration/Common/include/itkRecursiveMultiResolutionPyramidImageFilter.hxx
  Modules/Registration/GPUPDEDeformable/include/itkGPUDemonsRegistrationFunction.hxx
  Modules/Registration/PDEDeformable/include/itkDemonsRegistrationFunction.hxx
  Modules/Registration/PDEDeformable/include/itkESMDemonsRegistrationFunction.hxx
  Modules/Registration/PDEDeformable/include/itkFastSymmetricForcesDemonsRegistrationFunction.hxx
  Modules/Registration/PDEDeformable/include/itkSymmetricForcesDemonsRegistrationFunction.hxx
  Modules/Segmentation/LevelSets/include/itkParallelSparseFieldLevelSetImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkSparseFieldFourthOrderLevelSetImageFilter.hxx
  Modules/Segmentation/LevelSets/include/itkSparseFieldLevelSetImageFilter.hxx
  Modules/Segmentation/Watersheds/include/itkWatershedSegmenter.hxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style

#5325 Allow initializing MersenneTwisterRandomVariateGenerator without mutex locking
  Modules/Core/Common/include/itkMersenneTwisterRandomVariateGenerator.h
  Modules/Core/Common/src/itkMersenneTwisterRandomVariateGenerator.cxx
Labels: area:Core

#5330 ENH: Test the `itk::ScaleTransform::SetIdentity` method
  Modules/Core/Transform/test/itkScaleTransformTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#5329 STYLE: Increase `itk::ColorTable` test argument check consistency
  Modules/Core/Common/test/itkColorTableTest.cxx
Labels: type:Testing, area:Core

#5328 STYLE: Increase NIfTI test argument check consistency
  Modules/IO/NIFTI/test/itkNiftiImageIOTest12.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest13.cxx
  Modules/IO/NIFTI/test/itkNiftiImageIOTest14.cxx
Labels: type:Testing, area:IO, type:Style

#5327 ENH: Exercise miscellaneous `itk::NiftiImageIO` methods
  Modules/IO/NIFTI/test/itkNiftiImageIOTest.cxx
Labels: type:Enhancement, type:Testing, area:IO

#5332 `BSplineDecompositionImageFilter::SetInitialCausalCoefficient`: Reduced scope of local `horizon` and other style commits
  Modules/Core/ImageFunction/include/itkBSplineDecompositionImageFilter.hxx
Labels: area:Core

#5331 MersenneTwisterRandomVariateGenerator: Remove Initialize and SetSeed overloads, remove commented out member functions
  Modules/Core/Common/include/itkMersenneTwisterRandomVariateGenerator.h
Labels: area:Core

#5335 Remove `MersenneTwisterRandomVariateGenerator::` prefixes within its implementation
  Modules/Core/Common/src/itkMersenneTwisterRandomVariateGenerator.cxx
Labels: area:Core

#5322 ENH: Update GHA macOS-Python to use CMake 4.0.1
  .github/workflows/macos-arm.yml
Labels: type:Infrastructure, type:Enhancement

#5308 BUG: GDCM destroy JPEG2000 structures on error
  Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFormat/gdcmJPEG2000Codec.cxx
Labels: type:Bug, area:ThirdParty
