Repository InsightSoftwareConsortium/ITK, pull requests merged in 2025-09, with the labels that each got.

#5505 COMP: Avoid PySequence_Fast_GET_ITEM - ITK 6
  Modules/Bridge/NumPy/include/itkPyBuffer.hxx
  Modules/Bridge/NumPy/include/itkPyVectorContainer.hxx
  Modules/Bridge/NumPy/include/itkPyVnl.hxx
Labels: type:Compiler, area:Bridge

#5507 STYLE: Remove unnecessary parentheses around dereferenced variables
  Modules/Core/Common/include/itkConstNeighborhoodIterator.hxx
  Modules/Core/Common/include/itkNeighborhoodAccessorFunctor.h
  Modules/Core/Common/include/itkPriorityQueueContainer.hxx
  Modules/Core/Common/include/itkVectorImageNeighborhoodAccessorFunctor.h
  Modules/Core/Common/test/itkMathRoundProfileTest1.cxx
  Modules/Core/GPUCommon/src/itkOpenCLUtil.cxx
  Modules/Core/ImageFunction/include/itkGaussianBlurImageFunction.hxx
  Modules/Core/ImageFunction/include/itkGaussianDerivativeImageFunction.hxx
  Modules/Core/ImageFunction/include/itkMedianImageFunction.hxx
  Modules/Core/Mesh/include/itkMesh.hxx
  Modules/Core/Mesh/test/itkMeshSpatialObjectIOTest.cxx
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshBaseIterator.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshFrontIterator.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshFrontIterator.hxx
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshPoint.hxx
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshToQuadEdgeMeshFilter.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshTopologyChecker.hxx
  Modules/Core/SpatialObjects/include/itkContourSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkPointBasedSpatialObject.hxx
  Modules/Core/SpatialObjects/include/itkSpatialObject.hxx
  Modules/Core/SpatialObjects/test/itkDTITubeSpatialObjectTest.cxx
  Modules/Core/SpatialObjects/test/itkTubeSpatialObjectTest.cxx
  Modules/Core/TestKernel/src/itkTestDriverInclude.cxx
  Modules/Core/Transform/include/itkCompositeTransform.hxx
  Modules/Filtering/Convolution/include/itkNormalizedCorrelationImageFilter.hxx
  Modules/Filtering/FFT/include/itkVnlComplexToComplex1DFFTImageFilter.hxx
  Modules/Filtering/ImageFeature/include/itkBilateralImageFilter.hxx
  Modules/Filtering/ImageFilterBase/include/itkMovingHistogramImageFilter.hxx
  Modules/Filtering/ImageLabel/include/itkBinaryContourImageFilter.hxx
  Modules/Filtering/ImageLabel/include/itkLabelContourImageFilter.hxx
  Modules/Filtering/ImageLabel/include/itkScanlineFilterCommon.h
  Modules/Filtering/MathematicalMorphology/include/itkMaskedMovingHistogramImageFilter.hxx
  Modules/Filtering/QuadEdgeMeshFiltering/include/itkCleanQuadEdgeMeshFilter.hxx
  Modules/IO/DCMTK/src/itkDCMTKImageIO.cxx
  Modules/IO/GDCM/src/itkGDCMImageIO.cxx
  Modules/IO/IPL/src/itkIPLFileNameList.cxx
  Modules/IO/ImageBase/include/itkImageSeriesWriter.hxx
  Modules/IO/ImageBase/src/itkArchetypeSeriesFileNames.cxx
  Modules/IO/TIFF/src/itkTIFFImageIO.cxx
  Modules/Nonunit/Review/include/itkRegionBasedLevelSetFunctionSharedData.h
  Modules/Numerics/FEM/include/itkFEMImageMetricLoad.hxx
  Modules/Numerics/FEM/include/itkFEMSolver.hxx
  Modules/Numerics/FEM/include/itkMetaFEMObjectConverter.hxx
  Modules/Numerics/FEM/src/itkFEMElement3DC0LinearTriangular.cxx
  Modules/Numerics/FEM/src/itkFEMElementBase.cxx
  Modules/Numerics/FEM/src/itkFEMLoadLandmark.cxx
  Modules/Numerics/Optimizers/src/itkFRPROptimizer.cxx
  Modules/Numerics/Optimizers/src/itkParticleSwarmOptimizerBase.cxx
  Modules/Numerics/Optimizersv4/test/itkMultiGradientOptimizerv4Test.cxx
  Modules/Registration/Common/include/itkLandmarkBasedTransformInitializer.hxx
  Modules/Registration/Common/include/itkMattesMutualInformationImageToImageMetric.hxx
  Modules/Registration/Common/include/itkMutualInformationImageToImageMetric.hxx
  Modules/Registration/Metricsv4/include/itkMattesMutualInformationImageToImageMetricv4.hxx
  Modules/Segmentation/KLMRegionGrowing/src/itkKLMSegmentationRegion.cxx
  Modules/Segmentation/LevelSets/include/itkSparseFieldLevelSetImageFilter.hxx
  Modules/Segmentation/Voronoi/include/itkVoronoiPartitioningImageFilter.hxx
  Modules/Segmentation/Voronoi/include/itkVoronoiSegmentationImageFilterBase.hxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Registration, area:Segmentation, type:Style, area:Numerics

#5506 STYLE: Remove accidentally duplicated `[[nodiscard]]` attributes
  Modules/Core/Common/include/itkSymmetricEigenAnalysis.h
  Modules/Core/QuadEdgeMesh/include/itkGeometricalQuadEdge.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdge.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshBaseIterator.h
  Modules/Core/QuadEdgeMesh/include/itkQuadEdgeMeshPoint.h
Labels: area:Core, type:Style

#5509 COMP: Update CastXML binaries to 2025.09.03
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#5513 STYLE: Remove accidentally duplicated words from comments
  Modules/Core/Common/include/itkBuildInformation.h
  Modules/Core/Common/include/itkDataObject.h
  Modules/Core/Common/include/itkDefaultConvertPixelTraits.h
  Modules/Core/Common/include/itkImageBase.h
  Modules/Core/Common/include/itkImageSource.h
  Modules/Core/Common/include/itkVectorNeighborhoodInnerProduct.h
  Modules/Core/Common/test/itkConstantBoundaryConditionTest.cxx
  Modules/Core/Common/test/itkImageDuplicatorTest.cxx
  Modules/Core/Common/test/itkPeriodicBoundaryConditionTest.cxx
  Modules/Core/Common/test/itkZeroFluxBoundaryConditionTest.cxx
  Modules/Core/SpatialObjects/include/itkSpatialObject.h
  Modules/Core/Transform/include/itkBSplineBaseTransform.h
  Modules/Core/Transform/include/itkKernelTransform.hxx
  Modules/Filtering/AnisotropicSmoothing/include/itkVectorGradientAnisotropicDiffusionImageFilter.h
  Modules/Filtering/Convolution/include/itkMaskedFFTNormalizedCorrelationImageFilter.h
  Modules/Filtering/DistanceMap/include/itkFastChamferDistanceImageFilter.hxx
  Modules/Filtering/FastMarching/include/itkFastMarchingQuadEdgeMeshFilterBase.hxx
  Modules/Filtering/ImageFilterBase/test/itkCastImageFilterTest.cxx
  Modules/Filtering/ImageGradient/include/itkGradientImageFilter.h
  Modules/Filtering/ImageGrid/include/itkBinShrinkImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.h
  Modules/Filtering/ImageGrid/include/itkShrinkImageFilter.hxx
  Modules/Filtering/ImageGrid/include/itkTileImageFilter.h
  Modules/Filtering/ImageStatistics/include/itkHistogramAlgorithmBase.h
  Modules/IO/ImageBase/include/itkImageFileWriter.h
  Modules/IO/MeshBase/include/itkMeshConvertPixelTraits.h
  Modules/Numerics/FEM/include/itkFEMLinearSystemWrapper.h
  Modules/Numerics/FEM/include/itkFEMPArray.h
  Modules/Numerics/FEM/include/itkFEMSolverCrankNicolson.h
  Modules/Numerics/FEM/include/itkFEMSolverCrankNicolson.hxx
  Modules/Numerics/Statistics/include/itkGaussianRandomSpatialNeighborSubsampler.h
  Modules/Numerics/Statistics/include/itkKdTree.h
  Modules/Numerics/Statistics/include/itkKdTreeGenerator.h
  Modules/Numerics/Statistics/include/itkRegionConstrainedSubsampler.h
  Modules/Numerics/Statistics/include/itkSpatialNeighborSubsampler.h
  Modules/Numerics/Statistics/include/itkSubsamplerBase.h
  Modules/Numerics/Statistics/include/itkUniformRandomSpatialNeighborSubsampler.h
  Modules/Numerics/Statistics/include/itkWeightedCentroidKdTreeGenerator.h
  Modules/Segmentation/LevelSets/include/itkBinaryMaskToNarrowBandPointSetFilter.h
  Modules/Segmentation/LevelSets/include/itkNarrowBandLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkSegmentationLevelSetImageFilter.h
  Modules/Segmentation/LevelSets/include/itkSparseFieldLevelSetImageFilter.hxx
  Modules/Segmentation/Watersheds/include/itkWatershedImageFilter.h
  Modules/Segmentation/Watersheds/include/itkWatershedSegmentTreeGenerator.hxx
  Modules/ThirdParty/TIFF/src/itktiff/libtiff/itk_tiff_mangle.h.in
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:Segmentation, area:ThirdParty, type:Style, area:Numerics

#5512 COMP: Fix error made by bcb6876: module vtkvtksys not available
  Modules/Bridge/VtkGlue/itk-module-init.cmake
Labels: type:Compiler, area:Bridge

#5514 ENH: Update remote modules using the script
  Modules/Remote/Cleaver.remote.cmake
  Modules/Remote/Cuberille.remote.cmake
  Modules/Remote/CudaCommon.remote.cmake
  Modules/Remote/IOScanco.remote.cmake
  Modules/Remote/Montage.remote.cmake
  Modules/Remote/MorphologicalContourInterpolation.remote.cmake
  Modules/Remote/RTK.remote.cmake
  Modules/Remote/SCIFIO.remote.cmake
  Modules/Remote/SkullStrip.remote.cmake
  Modules/Remote/SphinxExamples.remote.cmake
  Modules/Remote/SplitComponents.remote.cmake
  Modules/Remote/WebAssemblyInterface.remote.cmake
Labels: type:Enhancement, area:Examples, area:Remotes

#5517 COMP: Disable limited Python API for itkVtkGlue module wrapping
  Modules/Bridge/VtkGlue/wrapping/CMakeLists.txt
  Wrapping/macro_files/itk_end_wrap_module.cmake
Labels: type:Compiler, type:Infrastructure, area:Python wrapping, area:Bridge

#5519 DOC: Change version number in download.md from 5.4.3 to 5.4.4
  .github/workflows/itk_dict.txt
  Documentation/docs/download.md
Labels: type:Infrastructure, type:Documentation, area:Documentation

#5521 Declare ExceptionThrowingBoundsCheck static, let `Index`, `Offset`, `Size` each have its own `std::out_of_range` text
  Modules/Core/Common/include/itkIndex.h
  Modules/Core/Common/include/itkOffset.h
  Modules/Core/Common/include/itkSize.h
Labels: area:Core

#5524 FFTW 5.4 patches
  CMake/itkExternal_FFTW.cmake
Labels: type:Infrastructure

#5525 COMP: Use CastXML binaries built on windows-2022
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#5527 COMP: Update openjpeg to address cmake < 3.10 warning
  Modules/ThirdParty/OpenJPEG/UpdateFromUpstream.sh
  Modules/ThirdParty/OpenJPEG/src/openjpeg/CMakeLists.txt
  Modules/ThirdParty/OpenJPEG/src/openjpeg/src/lib/openjp2/jp2.c
  Modules/ThirdParty/OpenJPEG/src/openjpeg/src/lib/openjp2/libopenjp2.pc.cmake.in
  Modules/ThirdParty/OpenJPEG/src/openjpeg/src/lib/openjp2/openjpeg.h
Labels: type:Compiler, type:Infrastructure, area:ThirdParty, type:Data

#5530 COMP: Use CastXML Windows-11 built binaries
  Wrapping/Generators/CastXML/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure

#5532 DOC: Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: type:Documentation

#5535 COMP: Silence warning in Expat config
  Modules/ThirdParty/Expat/src/itkexpat/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:ThirdParty
