Repository InsightSoftwareConsortium/ITK, pull requests merged in 2025-01, with the labels that each got.

#5113 DOC: Fix miscellaneous Doxygen warnings
  Modules/Filtering/FastMarching/include/itkFastMarchingTraits.h
  Modules/Filtering/ImageGrid/include/itkOrientImageFilter.h
  Modules/Filtering/ImageGrid/include/itkResampleImageFilter.h
Labels: type:Documentation, area:Filtering

#5114 DOC: Fix multiple group Doxygen warnings
  Modules/Filtering/FFT/include/itkComplexToComplexFFTImageFilter.h
  Modules/IO/ImageBase/include/itkIOCommon.h
Labels: type:Documentation, area:Filtering, area:IO

#5118 DOC: Fix typo itkMRFImageFilter.hxx
  Modules/Segmentation/MarkovRandomFieldsClassifiers/include/itkMRFImageFilter.hxx
Labels: type:Documentation, area:Segmentation

#5097 ENH: Update CMake minimum support to 3.22.1
  CMakeLists.txt
Labels: type:Infrastructure, type:Enhancement

#5119 DOC: Fix various typos in Documentation/ directory
  Documentation/Doxygen/Iterators.dox
  Documentation/Doxygen/Modules.dox
  Documentation/Doxygen/Registration.dox
  Documentation/docs/contributing/document_itk.md
  Documentation/docs/learn/dicom.md
  Documentation/docs/learn/faq.md
  Documentation/docs/learn/fda_sw_development_guidelines.md
  Documentation/docs/migration_guides/itk_5_migration_guide.md
  Documentation/docs/migration_guides/itk_6_migration_guide.md
  Documentation/docs/scientific_ecosystem/itk_ecosystem.md
Labels: type:Documentation, area:Documentation

#5124 DOC: Remove datalad archive before regenerating
  Documentation/Maintenance/Release.md
Labels: type:Documentation, area:Documentation

#5120 DOC: Fix legacy methods `itk::Transform` Doxygen warnings
  Modules/Core/Transform/include/itkTransform.h
Labels: type:Documentation, area:Core

#5128 BUG: -1 was being returned in a function that returns bool
  Modules/Core/Common/include/itkHexahedronCell.hxx
  Modules/Core/Common/include/itkQuadrilateralCell.hxx
Labels: type:Bug, area:Core

#5126 BUG: Fixed strict weak ordering for itkIPLFileNameList.cxx descend co…
  Modules/IO/IPL/src/itkIPLFileNameList.cxx
Labels: type:Bug, area:IO

#5125 2nd round of cppcheck warning fixes
  Examples/RegistrationITKv4/ImageRegistrationHistogramPlotter.cxx
  Modules/Core/Common/test/itkFixedArrayTest.cxx
  Modules/Core/Common/test/itkMathRoundTest.cxx
  Modules/Core/Mesh/test/itkCellInterfaceTest.cxx
  Modules/Core/QuadEdgeMesh/test/itkQuadEdgeMeshCellInterfaceTest.cxx
  Modules/Core/TestKernel/include/itkTestDriverInclude.h
  Modules/Core/Transform/test/itkEuler2DTransformTest.cxx
  Modules/Core/Transform/test/itkRigid2DTransformTest.cxx
  Modules/Core/Transform/test/itkSimilarity2DTransformTest.cxx
  Modules/Filtering/BiasCorrection/test/itkN4BiasFieldCorrectionImageFilterTest.cxx
  Modules/Filtering/ImageIntensity/test/itkSymmetricEigenAnalysisImageFilterTest.cxx
  Modules/Filtering/Path/test/itkContourExtractor2DImageFilterTest.cxx
  Modules/IO/CSV/include/itkCSVFileReaderBase.h
  Modules/IO/ImageBase/test/itkImageFileWriterStreamingPastingCompressingTest1.cxx
  Modules/IO/Meta/test/testMetaImage.cxx
  Modules/IO/NRRD/test/itkNrrdImageIOTest.h
  Modules/IO/TIFF/test/itkTIFFImageIOTestPalette.cxx
  Modules/IO/TransformHDF5/test/itkIOTransformHDF5Test.cxx
  Modules/IO/VTK/test/itkVTKImageIO2Test.cxx
  Modules/IO/VTK/test/itkVTKImageIOFileReadTest.cxx
  Modules/IO/XML/src/itkDOMNode.cxx
  Modules/Numerics/Optimizersv4/test/itkAutoScaledGradientDescentRegistrationOnVectorTest.cxx
  Modules/Numerics/Optimizersv4/test/itkAutoScaledGradientDescentRegistrationTest.cxx
  Modules/Numerics/Optimizersv4/test/itkQuasiNewtonOptimizerv4Test.cxx
  Modules/Segmentation/ConnectedComponents/test/itkHardConnectedComponentImageFilterTest.cxx
Labels: area:Examples, type:Testing, area:Core, area:Filtering, area:IO, area:Segmentation, area:Numerics

#5129 BUG: Remove empty tests.
  Modules/IO/GDCM/test/CMakeLists.txt
  Modules/IO/GDCM/test/itkGDCMSeriesMissingDicomTagTest.cxx
  Modules/IO/GDCM/test/itkGDCMSeriesReadImageWriteTest.cxx
Labels: type:Bug, type:Infrastructure, type:Testing, area:IO

#5130 COMP: fixed compiler error
  Modules/Filtering/GPUSmoothing/include/itkGPUDiscreteGaussianImageFilter.hxx
Labels: type:Compiler, area:Filtering

#5117 ENH: switch upstream of nifti_clib to InsightSoftwareConsortium fork
  Modules/ThirdParty/NIFTI/UpdateFromUpstream.sh
Labels: type:Enhancement, area:ThirdParty

#5132 COMP: Update KWStyle
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Compiler, type:Infrastructure

#5133 COMP: Update KWStyle
  Utilities/KWStyle/BuildKWStyle.cmake
Labels: type:Compiler, type:Infrastructure

#5138 DOC: Update Doxygen footer link to tarballs
  Documentation/Doxygen/DoxygenFooter.html
Labels: type:Documentation, area:Documentation

#5140 Doxygen links for release
  Documentation/docs/contributing/documenting_itk.md
  Documentation/docs/index.md
  Documentation/docs/learn/dicom.md
  Documentation/docs/learn/faq.md
  Documentation/docs/migration_guides/itk_5_migration_guide.md
  Documentation/docs/releases/2.0.md
  Documentation/docs/releases/4.6.md
  Documentation/docs/releases/5.0.md
  Documentation/docs/releases/5.0a02.md
  Documentation/docs/releases/5.0b01.md
  Documentation/docs/releases/5.0rc02.md
  Documentation/docs/releases/5.1.md
  Documentation/docs/releases/5.3rc03.md
Labels: area:Documentation

#5139 DOC: Update maintenance branch for 5.4 series
  Documentation/docs/contributing/index.md
Labels: type:Documentation, area:Documentation

#5141 DOC: Revise class documentation, remove term 'experimental'
  Modules/Segmentation/ConnectedComponents/include/itkConnectedComponentImageFilter.h
Labels: type:Documentation, area:Segmentation

#5142 DOC: Release process updates with ITK 5.4.0
  Documentation/Maintenance/Release.md
Labels: type:Documentation, area:Documentation

#5143 ENH: Update ExternalDataVersion in CI to 5.4.0
  .github/workflows/macos-arm.yml
  .github/workflows/pixi.yml
  Testing/ContinuousIntegration/AzurePipelinesBatch.yml
  Testing/ContinuousIntegration/AzurePipelinesLinux.yml
  Testing/ContinuousIntegration/AzurePipelinesLinuxPython.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOS.yml
  Testing/ContinuousIntegration/AzurePipelinesMacOSPython.yml
  Testing/ContinuousIntegration/AzurePipelinesWindows.yml
  Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml
Labels: type:Infrastructure, type:Enhancement, type:Testing

#5145 DOC: Clarify MAJOR_VERSION is a variable
  Documentation/Maintenance/Release.md
Labels: type:Documentation, area:Documentation

#5146 DOC: Remove duplicate new author name (Matthieu LAURENDEAU)
  Documentation/docs/releases/5.4.0.md
Labels: type:Documentation, area:Documentation

#5070 add test to reproduce SimpleITK issue #2220
  Modules/Filtering/ImageCompose/test/CMakeLists.txt
  Modules/Filtering/ImageCompose/test/itkComposeBigVectorImageFilterTest.cxx
Labels: type:Infrastructure, type:Testing, area:Filtering

#5153 DOC: Update link to dashboard
  Documentation/docs/contributing/dashboard.md
Labels: type:Documentation, area:Documentation

#5148 STYLE: Remove whitespace before scope resolution operator
  Modules/Core/Common/test/ClientTestLibraryA.cxx
  Modules/Core/Common/test/ClientTestLibraryB.cxx
  Modules/Core/Common/test/ClientTestLibraryC.cxx
  Modules/Filtering/ImageCompose/include/itkJoinImageFilter.h
  Modules/Filtering/LabelMap/test/itkStatisticsLabelMapFilterGTest.cxx
  Modules/IO/ImageBase/test/itkFileFreeImageIO.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaContour.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaFEMObject.cxx
  Modules/ThirdParty/MetaIO/src/MetaIO/src/metaObject.cxx
  Modules/ThirdParty/VNL/src/vxl/core/vnl/tests/test_math.cxx
Labels: type:Testing, area:Core, area:Filtering, area:IO, area:ThirdParty, type:Style

#5161 DOC: Fix `defgroup` command in Doxygen `Modules` file
  Documentation/Doxygen/Modules.dox
Labels: type:Documentation, area:Documentation

#5165 BUG: Fix broken link on the contributing docs
  Documentation/docs/contributing/index.md
Labels: type:Bug, area:Documentation

#5152 ENH: fixed issue 4818 with itkMemoryProbesCollecterBaseTest
  Modules/Core/Common/test/itkMemoryProbesCollecterBaseTest.cxx
Labels: type:Enhancement, type:Testing, area:Core

#5150 STYLE: Modified Optimizer classes to avoid printing non-self member variables
  Modules/Numerics/Optimizers/src/itkGradientDescentOptimizer.cxx
  Modules/Numerics/Optimizers/src/itkRegularStepGradientDescentBaseOptimizer.cxx
  Modules/Numerics/Optimizersv4/src/itkLBFGSBOptimizerv4.cxx
  Modules/Numerics/Optimizersv4/src/itkLBFGSOptimizerv4.cxx
Labels: type:Style, area:Numerics

#5155 STYLE: Removed double semicolon in C++ and OpenCL files
  Modules/Core/Common/src/itkBuildInformation.cxx.in
  Modules/Filtering/GPUAnisotropicSmoothing/src/GPUGradientNDAnisotropicDiffusionFunction.cl
Labels: area:Core, area:Filtering, type:Style

#5166 BUG: Initialize miscellaneous local variables
  Modules/Filtering/ImageGrid/include/itkWarpImageFilter.hxx
  Modules/Registration/PDEDeformable/include/itkESMDemonsRegistrationFunction.hxx
Labels: type:Bug, area:Filtering, area:Registration

#5171 Vnl 2025 01 24
  Modules/ThirdParty/VNL/src/vxl/core/vnl/vnl_matlab_print.hxx
Labels: area:ThirdParty

#5160 ENH: COMP: Adding LinuxCxx20 job to Azure continuous integration.
  Testing/ContinuousIntegration/AzurePipelinesLinux.yml
Labels: type:Infrastructure, type:Enhancement, type:Testing

#5169 COMP: Fixed how Doxygen aliases are passed via CMake.
  Utilities/Doxygen/DoxygenConfig.cmake
  Wrapping/DoxygenConfig.cmake
Labels: type:Compiler, type:Infrastructure, area:Documentation

#5159 BUG: Enforce consistency between MultiResolutionPDEDeformableRegistration levels and iterations
  Modules/Registration/PDEDeformable/include/itkMultiResolutionPDEDeformableRegistration.h
  Modules/Registration/PDEDeformable/include/itkMultiResolutionPDEDeformableRegistration.hxx
  Modules/Registration/PDEDeformable/test/itkMultiResolutionPDEDeformableRegistrationTest.cxx
Labels: type:Bug, type:Testing, area:Registration

#5172 COMP: tagged some slow tests to hopefully allow them to pass on cdash
  Modules/Registration/Common/test/RegistrationITKv3/test/CMakeLists.txt
Labels: type:Compiler, type:Infrastructure, area:Registration

#5175 ENH: Import libLBFGS from upstream
  Modules/Numerics/Optimizersv4/include/itkLBFGS2Optimizerv4.h
  Modules/ThirdParty/libLBFGS/CMakeLists.txt
  Modules/ThirdParty/libLBFGS/UpdateFromUpstream.sh
  Modules/ThirdParty/libLBFGS/src/CMakeLists.txt
  Modules/ThirdParty/libLBFGS/src/itk_lbfgs.h
  Modules/ThirdParty/libLBFGS/src/itklbfgs/.gitattributes
  Modules/ThirdParty/libLBFGS/src/itklbfgs/CMakeLists.txt
  Modules/ThirdParty/libLBFGS/src/itklbfgs/COPYING
  Modules/ThirdParty/libLBFGS/src/itklbfgs/include/lbfgs.h
  Modules/ThirdParty/libLBFGS/src/itklbfgs/lib/arithmetic_ansi.h
  Modules/ThirdParty/libLBFGS/src/itklbfgs/lib/arithmetic_sse_double.h
  Modules/ThirdParty/libLBFGS/src/itklbfgs/lib/arithmetic_sse_float.h
  Modules/ThirdParty/libLBFGS/src/itklbfgs/lib/lbfgs.c
Labels: type:Infrastructure, type:Enhancement, area:ThirdParty, area:Numerics

#5188 COMP: Type matching for complex pixel data types
  Modules/Filtering/ImageCompose/include/itkComposeImageFilter.hxx
Labels: type:Compiler, area:Filtering

#5189 DOC: Fix doxygen warnings about setters not returning anything
  Modules/Core/FiniteDifference/include/itkFiniteDifferenceImageFilter.h
  Modules/Core/GPUFiniteDifference/include/itkGPUFiniteDifferenceImageFilter.h
Labels: type:Documentation, area:Core

#5186 DOC: Script to assist with migrating external apps
  Utilities/Maintenance/migrate-itk6-code-recommendations.sh
Labels: type:Infrastructure, type:Documentation

#5151 TEST: Fix unexercised tests for large image read/write
  Modules/IO/ImageBase/test/CMakeLists.txt
Labels: type:Infrastructure, area:IO

#5162 STYLE: Add historical bulk changes to git blame ignore
  .git-blame-ignore-revs
Labels: type:Style

#5198 Move empty member function definitions from "itk*.hxx" to "itk*.h"
  Modules/Core/Common/include/itkMapContainer.h
  Modules/Core/Common/include/itkMapContainer.hxx
  Modules/Core/Common/include/itkPyImageFilter.h
  Modules/Core/Common/include/itkPyImageFilter.hxx
  Modules/Core/Common/include/itkVectorContainer.h
  Modules/Core/Common/include/itkVectorContainer.hxx
  Modules/Core/Mesh/include/itkImageToMeshFilter.h
  Modules/Core/Mesh/include/itkImageToMeshFilter.hxx
  Modules/Filtering/Denoising/include/itkPatchBasedDenoisingImageFilter.h
  Modules/Filtering/Denoising/include/itkPatchBasedDenoisingImageFilter.hxx
  Modules/Numerics/FEM/include/itkFEMSolver.h
  Modules/Numerics/FEM/include/itkFEMSolver.hxx
  Modules/Numerics/NarrowBand/include/itkNarrowBandImageFilterBase.h
  Modules/Numerics/NarrowBand/include/itkNarrowBandImageFilterBase.hxx
  Modules/Segmentation/LevelSets/include/itkBinaryMaskToNarrowBandPointSetFilter.h
  Modules/Segmentation/LevelSets/include/itkBinaryMaskToNarrowBandPointSetFilter.hxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetDomainPartitionMesh.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetDomainPartitionMesh.hxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationAdvectionTerm.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationAdvectionTerm.hxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationBinaryMaskTerm.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationBinaryMaskTerm.hxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationCurvatureTerm.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationCurvatureTerm.hxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationLaplacianTerm.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationLaplacianTerm.hxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationOverlapPenaltyTerm.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationOverlapPenaltyTerm.hxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationPropagationTerm.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationPropagationTerm.hxx
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEvolutionBase.h
  Modules/Segmentation/LevelSetsv4/include/itkLevelSetEvolutionBase.hxx
Labels: area:Core, area:Filtering, area:Segmentation, area:Numerics

#5191 BUG: fixed test that made bad assumptions of GetGlobalDefaultNumberOf…
  Modules/Core/Common/test/itkDataObjectAndProcessObjectTest.cxx
  Modules/Core/Common/test/itkMultiThreaderExceptionsTest.cxx
  Modules/Core/Common/test/itkMultiThreadingEnvironmentTest.cxx
  Modules/Core/Common/test/itkThreadedIteratorRangePartitionerTest3.cxx
Labels: type:Bug, type:Testing, area:Core

#5195 DOC: Fix expansion of macros with ; by CMake for doxygen PREDEFINED
  Utilities/Doxygen/DoxygenConfig.cmake
  Wrapping/DoxygenConfig.cmake
Labels: type:Infrastructure, type:Documentation, area:Documentation

#5197 DOC: Remove HTML <br> tags in title section
  Utilities/Doxygen/DoxygenConfig.cmake
  Wrapping/DoxygenConfig.cmake
Labels: type:Infrastructure, type:Documentation, area:Documentation

#5196 ENH: Speed up documentation generation by using multiprocessing
  Utilities/Doxygen/DoxygenConfig.cmake
  Wrapping/DoxygenConfig.cmake
Labels: type:Infrastructure, type:Enhancement, area:Documentation

#5200 COMP: fixed compiler error with ITK_MAX_THREADS missing scope
  Modules/Core/Common/test/itkDataObjectAndProcessObjectTest.cxx
  Modules/Core/Common/test/itkMultiThreadingEnvironmentTest.cxx
Labels: type:Compiler, type:Testing, area:Core
